{% if first_name and last_name %}
<p>Helló {{ first_name }}!
</p>{% else %}<p>
Tisztelt Támogató!</p>
{%endif%}


{% if recurring %}
<p>
Szerencsésnek érzem magam, hogy köszönetet mondhatok a havi {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} adományért, mindazok nevében is, akik világszerte felhasználják a szabad tudást.
</p>

<p>
Támogatásod segít fenntartani a Wikipédia függetlenségét, havi rendszeres támogatásod pedig rendkívül fontos a hosszú távú tervezés érdekében, hiszen így előre láthatjuk, mi mindent valósíthat meg a Wikipédia az elkövetkező években. Havonta egy alkalommal, a Wikimedia Foundation {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} összeggel megterheli számládat mindaddig, amíg nem értesítesz bennünket lemondási szándékodról. <b>Minden év januárjában elküldjük az előző évben nyújtott támogatásaid összesítését.</b> Amennyiben a támogatás folyósítását bármilyen okból szeretnéd megszüntetni, kövesd az <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{ locale }}">egyszerű lemondást segítő útmutatónkat</a>.
</p>

{% else %}

<p>
Szerencsésnek érzem magam, hogy köszönetet mondhatok az {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} adományért, mindazok nevében is, akik világszerte felhasználják a szabad tudást.
</p>
{% endif %}

{% if "RecurringRestarted" in contribution_tags %}
<p>Nemrégiben megoldottunk egy kisebb műszaki jellegű problémát, amely egy időre megakadályozta egyes havi rendszeres hozzájárulások beérkezését.  Visszaállítottuk havi rendszeres támogatásai fogadásának lehetőségét, így a folyamat a jövőben megfelelően fog működni. A kimaradt hónapokra eső összeget nem számítjuk fel Önnek. Köszönjük türelmét és támogatását, és amennyiben bármilyen kérdése van, kérjük, lépjen velünk kapcsolatba a donate@wikimedia.org e-mail-címen.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Nemrégiben megoldottunk egy kisebb műszaki jellegű hibát, aminek következtében, néhány támogatónk nem kapott megerősítést támogatása beérkezéséről. Kérjük, fogadja ezt az e-mailt köszönetünk jeléül a(z) {{ receive_date }}. napján nyújtott támogatásáért. Nagyra értékeljük türelmét és támogatását, és amennyiben bármilyen kérdése van, kérjük, lépjen velünk kapcsolatba a donate@wikimedia.org e-mail-címen.</p>
{%endif%}

<p>
Minél tovább gondolkodom ezen, annál egyértelműbb számomra, hogy a Wikipédia nem pusztán egyetlen tapasztalatra épül. A kíváncsiság épp oly sokszínű, mint mi magunk, és mindannyiunk számára mást és mást jelent.
</p>

<p>
Reméljük, hogy amikor legközelebb ellátogatsz a Wikipédia oldalára, még inkább érezni fogod, hogy egy kicsit a tiéd is. Mert nélküled, és azon sok millió emberek szeretete és támogatása nélkül, akik minden nap visszatérnek hozzánk, nem tarthatnánk itt.
</p>

<p>
<b>Adományod erőt ad számunkra, és lehetővé teszi célunk megvalósítását. Köszönjük, hogy helyet adtál a Wikipédia számára az életedben!</b>
</p>

<p>Hálás köszönettel:</p>
<p>
Katherine <br><br>
Katherine Maher, ügyvezető igazgató<br>
Wikimedia Foundation
</p>

<p>Számos munkaadó nagyvonalúan megduplázza az alkalmazottak adományait: kérjük, érdeklődd meg munkaadódnál, hogy van-e <a class="external text" href="https://donate.wikimedia.org/wiki/Matching_Gifts">vállalati adománymegduplázó programjuk</a>.
</p>

{% if gift_source != "Donor Advised Fund" %}

<p>Az adományozás adatai: {{ receive_date }} napon tett, {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} adományod száma {{ transaction_id }}.
</p>

<p>Ez a levél az adományozásod visszaigazolásának tekinthető. A hozzájárulásod ellentételezéseként semmilyen árut vagy szolgáltatást – egészében vagy részleteiben – nem adtunk át. Címünk: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, Amerikai Egyesült Államok. Amerikai egyesült államokbeli adómentességi szám: 20-0049703
</p>

{%endif%}

<p>Ha nem szeretnél a jövőben adománygyűjtéssel kapcsolatos e-maileket kapni a Wikimedia Foundationtől, <a href="{{ unsubscribe_link | raw }}">azonnal leiratkozhatsz</a>. Kérjük, vedd figyelembe, hogy ennek ellenére küldünk neked ehhez hasonló visszaigazolásokat a jövőbeli adományozásaid esetén.
</p>

<!-- TI_BEGIN{"version":1,"name":"thank_you.he.html","revision":20200103}TI_END -->


