{% if first_name and last_name %}
<p>Здравствуйте, {{ first_name }}!
</p>{% else %}<p>
Уважаемый даритель!</p>
{%endif%}


{% if recurring %}
<p>
Я безумно рада, что мне выпал шанс поблагодарить вас за ежемесячное пожертвование  в размере {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} от имени всех, кто хочет получать свободные знания.
</p>

<p>
Ваше пожертвование помогает Википедии быть независимой, а ваша ежемесячная поддержка имеет огромное значение для долгосрочного планирования, — она помогает нам заглянуть в будущее и увидеть, чего Википедия может достичь в ближайшие годы. Один раз в месяц пожертвование в размере {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} будет списываться фондом Wikimedia Foundation до тех пор, пока вы не попросите прекратить списывать средства. <b>Мы будем отправлять вам сводные данные о ваших пожертвованиях за предыдущий год в январе каждого года.</b> Если по какой-либо причине вы хотите отменить пожертвования, выполните эти <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{ locale }}">простые инструкции по отмене</a>.
</p>

{% else %}

<p>
Я безумно рада, что мне выпал шанс поблагодарить вас за пожертвование в размере {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} от имени всех, кто хочет получать свободные знания.
</p>
{% endif %}

{% if "RecurringRestarted" in contribution_tags %}
<p>Недавно мы решили небольшую техническую проблему, которая приостановила некоторые ежемесячные пожертвования. Мы восстановили ваши регулярные пожертвования — они будут перечисляться в обычном режиме. Мы не взимаем плату за пропущенные месяцы. Спасибо за ваше терпение и поддержку! Если у вас остались какие-либо вопросы, пожалуйста, направляйте их по адресу donate@wikimedia.org.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Недавно мы решили техническую проблему, из-за которой небольшое количество дарителей не получили подтверждение своих пожертвований. Пожалуйста, примите это письмо как благодарность за ваше пожертвование от {{ receive_date }}. Мы искренне ценим ваше терпение и поддержку! Если у вас остались какие-либо вопросы, пожалуйста, направляйте их по адресу donate@wikimedia.org.</p>
{%endif%}

<p>
Чем дольше я занимаюсь этой работой, тем больше я понимаю, что каждый видит Википедию по-разному. Любопытство так же разнообразно, как и мы, и взгляд каждого из нас на него немного отличается.
</p>

<p>
Я надеюсь, что когда вы воспользуетесь Википедией  в следующий раз, вы еще сильнее почувствуете, что она принадлежит вам. Потому что без вас, без любви и поддержки миллионов людей, которые возвращаются к нам каждый день, мы были бы ничем.
</p>

<p>
<b>Ваше пожертвование дает нам силы действовать дальше для достижения нашей цели. Благодарим вас за то, что выделили место для Википедии в вашей жизни.</b>
</p>

<p>С огромной благодарностью,
</p>
<p>
Кэтрин <br><br>
Кэтрин Маэр (Katherine Maher), Исполнительный Директор,<br>
Wikimedia Foundation
</p>

<p>Многие работодатели могут удваивать пожертвования: выясните у вашего работодателя, имеется ли такая <a class="external text" href="https://donate.wikimedia.org/wiki/Matching_Gifts">программа корпоративных пожертвований</a>.
</p>

{% if gift_source != "Donor Advised Fund" %}

<p>Для вашей документации: Ваше пожертвование, номер {{ transaction_id }}, {{ receive_date }} на сумму {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.
</p>

<p>Это письмо может служить подтверждением вашего пожертвования. За этот взнос дарителю не было предоставлено никаких товаров или услуг, полностью или частично. Пишите нам по адресу: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA. Код налогового освобождения в США: 20-0049703
</p>

{%endif%}

<p>Если вы не хотите получать в будущем какие-либо электронные письма по сбору средств от Wikimedia Foundation, вы можете <a href="{{ unsubscribe_link | raw }}">немедленно отменить подписку</a>. Примите к сведению, что мы по-прежнему будем присылать вам такие квитанции для будущих пожертвований.
</p>

<!-- TI_BEGIN{"version":1,"name":"thank_you.ro.html","revision":20200103}TI_END -->
