public
drupal/sites/default/*settings.php
!drupal/sites/default/default.settings.php
drupal/sites/default/files
vendor
!drupal/sites/all/modules/civicrm/vendor
.version-stamp
drupal/sites/default/civicrm/extensions/cache
drupal/sites/default/civicrm.settings.d/pre.d/100-civirpow.php
drupal/sites/default/civicrm/extensions/org.wikimedia.omnimail/vendor
.idea
wmff.iml
.phpunit.result.cache
drupal/sites/all/modules/civicrm/bin/setup.conf
!core/packages/*/vendor
core/bin/setup.conf
private
ext/org.wikimedia.omnimail/tests/phpunit/Requests/ImportFiles/remote-upload*
