[submodule "civicrm"]
	path = civicrm
	url = https://gerrit.wikimedia.org/r/wikimedia/fundraising/crm/civicrm
[submodule "drupal"]
	path = drupal
	url = https://gerrit.wikimedia.org/r/wikimedia/fundraising/crm/drupal
