public
vendor
.version-stamp
.idea
wmff.iml
.phpunit.result.cache
!core/packages/*/vendor
core/bin/setup.conf
core/tests
core/distmaker
core/ext/*/tests
core/mixin/*/example
core/sql/GenerateData.README
core/sql/GenerateData.php
core/sql/GenerateGroups.php
core/sql/GenerateMailing.php
core/sql/GenerateReportData.php
core/sql/README.txt
core/sql/civicrm_case_sql.mysql
core/sql/civicrm_demo_processor.mysql
core/sql/civicrm_devel_config.mysql
core/sql/civicrm_dummy_processor.mysql
core/sql/civicrm_generated_report.mysql
core/sql/civicrm_sample_custom_data.mysql
core/sql/sample_data*.xml
core/sql/test_data*.mysql
core/sql/trigger.mysql
core/sql/webtest_data.mysql
core/sql/zipcodes.json
core/bin/setup.sh
private
ext/org.wikimedia.omnimail/tests/phpunit/Requests/ImportFiles/remote-upload*
