<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
  bootstrap="drupal/sites/default/bootstrap-phpunit.php"
  printerClass="clagiordano\PhpunitResultPrinter\ResultPrinter"
  backupGlobals="false">
  <php>
    <env name="PHPUNIT_PRETTY_PRINT_PROGRESS" value="true" />
  </php>
  <testsuites>
    <testsuite name="wmf-civicrm">
      <directory>drupal/sites/default/civicrm/extensions/wmf-civicrm/tests/phpunit</directory>
    </testsuite>
    <testsuite name="large_donation tests">
      <directory>drupal/sites/all/modules/large_donation/tests</directory>
    </testsuite>
    <testsuite name="offline2civicrm tests">
      <directory>drupal/sites/all/modules/offline2civicrm/tests</directory>
      <exclude>drupal/sites/all/modules/offline2civicrm/tests/includes/BaseChecksFileTest.php</exclude>
    </testsuite>
    <testsuite name="exchange_rates tests">
      <directory>drupal/sites/default/civicrm/extensions/exchange_rates/tests/phpunit</directory>
    </testsuite>
    <testsuite name="wmf_campaigns tests">
      <directory>drupal/sites/all/modules/wmf_campaigns/tests</directory>
    </testsuite>
    <testsuite name="contacteditor_tests">
      <directory>drupal/sites/default/civicrm/extensions/org.wikimedia.contacteditor/tests/phpunit</directory>
    </testsuite>
    <testsuite name="geocoder_tests">
      <directory>drupal/sites/default/civicrm/extensions/org.wikimedia.geocoder/tests/phpunit</directory>
    </testsuite>
    <testsuite name="forgetme_tests">
      <directory>drupal/sites/default/civicrm/extensions/org.wikimedia.forgetme/tests/phpunit</directory>
    </testsuite>
    <testsuite name="smashpig_tests">
      <directory>drupal/sites/default/civicrm/extensions/org.wikimedia.smashpig/tests/phpunit</directory>
    </testsuite>
    <testsuite name="dedupetools_tests">
      <directory>drupal/sites/default/civicrm/extensions/deduper/tests/phpunit</directory>
    </testsuite>
    <testsuite name="datachecks_tests">
      <directory>drupal/sites/default/civicrm/extensions/org.wikimedia.datachecks/tests/phpunit</directory>
    </testsuite>
    <testsuite name="wmffraud_tests">
      <directory>drupal/sites/default/civicrm/extensions/org.wikimedia.wmffraud/tests/phpunit</directory>
    </testsuite>
    <testsuite name="email_amender_tests">
      <directory>drupal/sites/default/civicrm/extensions/Email-Amender/tests/phpunit</directory>
    </testsuite>
    <testsuite name="thank_you_tests">
      <directory>drupal/sites/default/civicrm/extensions/wmf-thankyou/tests/phpunit</directory>
    </testsuite>
    <testsuite name="matchinggift_tests">
      <directory>drupal/sites/default/civicrm/extensions/matching-gifts/tests/phpunit</directory>
    </testsuite>
    <testsuite name="omnimail_tests">
      <directory>drupal/sites/default/civicrm/extensions/org.wikimedia.omnimail/tests/phpunit</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="\Civi\Test\WMFTestListener">
      <arguments/>
    </listener>
    <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
      <arguments>
        <array>
          <element key="slowThreshold">
            <integer>100</integer>
          </element>
          <element key="reportLength">
            <integer>25</integer>
          </element>
        </array>
      </arguments>
    </listener>
  </listeners>
</phpunit>
