<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
    bootstrap="sites/default/bootstrap-phpunit.php">

    <testsuites>
      <!-- FIXME: need to mock currency conversion
      <testsuite name="offline2civicrm tests">
        <directory>sites/all/modules/offline2civicrm/tests</directory>
      </testsuite>
      -->
      <testsuite name="queue2civicrm tests">
        <directory>sites/all/modules/queue2civicrm/tests/phpunit</directory>
      </testsuite>
      <testsuite name="recurring_globalcollect tests">
        <directory>sites/all/modules/recurring_globalcollect/tests</directory>
      </testsuite>
      <testsuite name="wmf_civicrm tests">
        <directory>sites/all/modules/wmf_civicrm/tests/phpunit</directory>
      </testsuite>
      <testsuite name="wmf_common tests">
        <directory>sites/all/modules/wmf_common/tests/phpunit</directory>
      </testsuite>
      <testsuite name="wmf_communication tests">
        <file>sites/all/modules/wmf_communication/tests/phpunit/CiviMailTest.php</file>
        <file>sites/all/modules/wmf_communication/tests/phpunit/CiviMailBulkTest.php</file>
        <file>sites/all/modules/wmf_communication/tests/phpunit/SilverpopImporterTest.php</file>
      </testsuite>
    </testsuites>
</phpunit>
