<p>
Hola {{name}},
</p>

<p>
M’alegra que aquest correu electrònic sigui una de les primeres coses que faig el {{year + 1}}. Són moltes, les coses que he de fer, i la Viquipèdia té un munt de projectes apassionants a l'horitzó, però donar-te les gràcies és la més important.
</p>

<p>
Les teves donacions ens ajuden a veure que la nostra feina és important, i que es mereix rebre suport. Gràcies.
</p>

<p>
Aquí tens un resum de totes les donacions que vas fer a la Wikimedia Foundation el {{year}}.
</p>

{% for total in totals %}
<p><b>
La teva donació total el [{{year}} va ser de {{total.currency}} {{total.amount}}.
</b></p>
{% endfor %}

{% for contribution in contributions %}
<p><b>
Donació {{contribution.index}}: {{contribution.amount}} {{contribution.currency}} {{contribution.date}}
</b></p>
{% endfor %}

{% if active_recurring %}
<p>
Si per qualsevol motiu vols cancel·lar la teva donació mensual, segueix aquestes <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{language}}">senzilles instruccions de cancel·lació</a>.
</p>
{% endif %}

<p>Moltes gràcies,</p>
<p>
  Katherine <br><br>
  Katherine Maher, directora executiva<br>
  Wikimedia Foundation
</p>

<p>Aquesta carta pot servir com a rècord de la vostra donació. Cap bé o servei va ser proporcionat, en sencer o en part, per aquesta contribució. La nostra adreça postal és:  Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA. U.S. tax-exempt number: 20-0049703
</p>
