<div id="bootstrap-theme" class="crm-container">
  <div crm-ui-debug="duplicatePairs"></div>
  <div crm-ui-debug="pagedPairs"></div>
  <div crm-ui-debug="skippedCount"></div>



    <div class="help">
      <div>{{ ts('Dedupe Rule') }}
        <input ng-model="ruleGroupID" title="Dedupe rule" crm-ui-select="{placeholder: ts('Select rule'), width: 300, data: ruleGroups, allowClear: false}" />
         {{ ts(' will be used to find matches for the first ')}} <a href="#" e-single e-clickable="true" editable-text="limit">{{limit}}</a> {{ ts(' contacts found matching the criteria below:') }}
      </div>
    </div>

    <div>

    <div class="clearfix" ng-repeat="(index, clause) in criteria">
      <input ng-model="clause[0]" ng-disabled="!fieldList.length" ng-class="{loading: !fieldList.length}" crm-ui-select="{placeholder: ts('Select criteria'), allowClear: true, data: fieldList}" />
      <input ng-model="clause[1]" ng-disabled="!fieldList.length" ng-class="{loading: !fieldList.length}" crm-ui-select="{placeholder: ts('Select criteria'), data: operators}" />
      <input ng-model="clause[2]" crm-search-selector="{entity: 'contact', field: clause[0], op: clause[1], isExtra: false, field_spec: contactFields}" />
      <span ng-show="(clause[1] === 'BETWEEN' || clause[1] === 'NOT BETWEEN')"> {{ ts('And')}}
      <input ng-model="clause[3]"  /></span>
    </div>
    <div class="clearfix">
      <input ng-model="newClause" title="Add a single clause" crm-ui-select="{data: fieldList, placeholder: 'Add clause'}" />
    </div>
  </div>

  <div>
    <button class="btn btn-primary" ng-show=!isMerging ng-disabled="!ruleGroupID || !limit || isSearching" ng-click="getDuplicates(hasSearched)"><span ng-show="hasSearched">{{ ts('Refresh results') }}</span><span ng-show="!hasSearched">{{ ts('Find duplicates') }}</span></button>
    <button class="btn btn-info"
            crm-confirm="{message: ts('Are you sure you want to batch merge these contacts?')}" on-yes="batchMerge()"
            ng-show="!isMerging && !hasSuppressedPairs"
            ng-disabled="!ruleGroupID || !limit"
            >{{ ts('Batch Merge') }}</button>
    <button class="btn btn-info" ng-show="!isMerging && foundCount && !hasSuppressedPairs" ng-disabled="!ruleGroupID || !limit" ng-click="notDuplicates()">{{ ts('Mark all not duplicates') }}</button>
    <button ng-show=isMerging>{{ ts('Bulk operation in progress - this could take a while.... enough time for you to stand up & do some stretches....') }}</button>
    <a href="{{url}}" target="_blank" class="btn btn-link" role="button">{{ts('Go To Merge screen')}}</a>
  </div>
  <div ng-show="!isMerging">
    <div ng-show="foundCount || hasSearched">{{ ts('Duplicate pairs matching criteria') }}: {{foundCount}}. Showing up to <a href="#" e-single e-clickable="true" editable-number="tilesToShow">{{tilesToShow}}</a> pairs at a time as <a href="#" e-title="Show merge tiles?" e-single editable-checkbox="deduperCntrl.showTiles">{{ deduperCntrl.showTiles && "merge tiles" || "Rows" }}</a>. </div>
    <div ng-show="mergedCount">{{ ts('Contacts merged') }}: {{mergedCount}}</div>
    <div ng-show="skippedCount">{{ ts('Skipped in automated merge attempt') }}: {{skippedCount}}</div>
    <div ng-show="exceptedCount">{{ ts('Contacts marked as exceptions') }}: {{exceptedCount}}</div>
  </div>

  <dir-pagination-controls
    max-size="10"
    direction-links="true"
    boundary-links="true"
    on-page-change="pageChanged(duplicatePairs, newPageNumber)"
  >
  </dir-pagination-controls>
    <div class="container">
  <div
    dir-paginate="mergePair in pagedPairs|itemsPerPage:tilesToShow track by ((mergePair.dstID * 1000) +  mergePair.srcID)"
    total-items="foundCount"
    current-page="currentPage"
  >
    <div class="row" ng-show="!deduperCntrl.showTiles">
      <div class='col-md-2'>{{mergePair['srcName']}}</div>
      <div class='col-md-2'>{{mergePair['dstName']}}</div>
      <div><a target="_blank" class="btn btn-link btn-sml" href="{{mergeURL}}&cid={{mergePair['dstID']}}&oid={{mergePair['srcID']}}">{{ ts('Manual Merge') }}</a></div>
    </div>

    <div class='panel panel-default' ng-show="deduperCntrl.showTiles">
      <div class="panel-heading">{{mergePair['srcName']}} vs {{mergePair['dstName']}}</div>
      <div class='panel-body' ng-show="deduperCntrl.showTiles">
        <contact-basic class='col-md-4' options="{contact_id: mergePair['srcID'], display_name : mergePair['srcName'], 'contact_url' : contactURL}"></contact-basic>

        <div class='col-md-4'>
          <conflict-basic options="{conflicts: mergePair['safe']['conflicts'], main_id : mergePair['srcID'], other_id : mergePair['dstID'], other_display_name : mergePair['dstName'],  main_display_name : mergePair['srcName'], equivalentNameSetting: equivalentNameSetting }">
          </conflict-basic>
          <button class="btn btn-success btn-block" id="retry-merge-{{mergePair['dstID']}}-{{mergePair['srcID']}}" ng-disabled=isRowMerging ng-click="retryMerge(mergePair['dstID'], mergePair['srcID'], mergePair, currentPage)">{{ ts('Safe Merge') }}</button>
          <button class="btn btn-primary btn-block" id="dedupe-exception-{{mergePair['dstID']}}-{{mergePair['srcID']}}" ng-disabled=isRowMerging ng-click="dedupeException(mergePair['dstID'], mergePair['srcID'], currentPage)">{{ ts('Mark non-dupe') }}</button>
          <button ng-show="exceptionRelationshipType" class="btn btn-primary btn-block" id="dedupe-relate-{{mergePair['dstID']}}-{{mergePair['srcID']}}" ng-disabled=isRowMerging ng-click="dedupeExceptionWithRelationship(mergePair['dstID'], mergePair['srcID'], currentPage)">{{ ts('Mark non-dupe but related') }}</button>
          <button class="btn btn-primary btn-block" id="delay-pair-{{mergePair['dstID']}}-{{mergePair['srcID']}}" ng-disabled=isRowMerging ng-click="delayPair(mergePair['dstID'], mergePair['srcID'], currentPage)">{{ ts('Ask me Later') }}</button>
          <button class="btn btn-danger btn-block" id="force-merge-{{mergePair['dstID']}}-{{mergePair['srcID']}}" ng-show="mergePair['safe']['conflicts']" ng-disabled=isRowMerging ng-click="forceMerge(mergePair['dstID'], mergePair['srcID'], currentPage)">{{ ts('Force Merge') }}</button>
          <div><a target="_blank" class="btn btn-link btn-block" href="{{mergeURL}}&cid={{mergePair['dstID']}}&oid={{mergePair['srcID']}}">{{ ts('Manual Merge') }}</a></div>
        </div>
        <contact-basic class='col-md-4' options="{contact_id: mergePair['dstID'], display_name : mergePair['dstName'], 'contact_url' : contactURL}"></contact-basic>
     </div>
    </div>

  </div>
  </div>
  <div class="clear"></div>

</div>
