  <div ng-if="!options.contact_id">
    {{ts('No contact id provided')}}
  </div>
  <div ng-if="options.contact_id"
    af-api4="['Contact', 'get', {select: ['first_name','last_name','is_opt_out','email_primary.email', 'email_primary.on_hold', 'email_primary.hold_date', 'middle_name', 'display_name', 'contact_type', 'nick_name', 'address_primary.street_address', 'address_primary.city', 'Partner.Partner', 'activity.id'],
    join: [['Activity AS activity', 'LEFT', ['activity.target_contact_id', '=', 'id'], ['activity.activity_type_id', '=', 220], ['activity.status_id', '=', 2], ['email_primary.email', '=', 'activity.subject']]],
    where: [['id', '=', options.contact_id]]}]"
    af-api4-ctrl="contact"
 >

    <form name="basicContact"
      onaftersave="
      crmApi4('Contact','update', {
        'where' :[['id','=', options.contact_id]],
        'values' : {
          'last_name': contact['result'][0].last_name,
          'first_name': contact['result'][0].first_name,
          'is_opt_out': contact['result'][0].is_opt_out,
          'middle_name': contact['result'][0].middle_name,
          'nick_name': contact['result'][0].nick_name,
          'Partner.Partner' : contact['result'][0]['Partner.Partner'],
        },
        chain: {'email':['Email', 'update', {
          'where':[['contact_id', '=', '$id'], ['is_primary', '=', true]],
          'values' : {'email' : contact['result'][0]['email_primary.email']}
        }]}
     })"
     onhide="contact.refresh()"
     editable-form crm-ui-id-scope>
    <h1 class="basic-contact-heading" ng-show="!contact['result'][0].display_name">{{options.display_name}}</h1>
    <div><h1 class="basic-contact-heading" ng-bind="contact['result'][0].display_name">{{contact['result'][0].display_name}}</h1></div>
    <div>
    </div>
    <div><strong class="basic-contact-field">{{ ts('First Name') }}</strong>: <span editable-text="contact['result'][0].first_name">{{contact['result'][0].first_name || ".."}}</span></div>
    <div><strong class="basic-contact-field">{{ ts('Middle Name') }}</strong>:<span editable-text="contact['result'][0].middle_name">{{contact['result'][0].middle_name || ".."}}</span></div>
    <div><strong class="basic-contact-field">{{ ts('Last Name') }}</strong>: <span editable-text="contact['result'][0].last_name">{{contact['result'][0].last_name || ".."}}</span></div>
    <div><strong class="basic-contact-field">{{ ts('Nick Name') }}</strong>: <span editable-text="contact['result'][0].nick_name">{{contact['result'][0].nick_name || ".."}}</span></div>
    <div><strong class="basic-contact-field">{{ ts('Partner') }}</strong>: <span
        editable-text="contact['result'][0]['Partner.Partner']">{{contact['result'][0]['Partner.Partner'] ||
      ".."}}</span></div>
    <div ng-class="contact['result'][0]['email_primary.on_hold'] ? 'text-danger': ''"><strong class="basic-contact-field">{{ts('Email')}}</strong>:
      <span editable-text="contact['result'][0]['email_primary.email']">{{contact['result'][0]['email_primary.email'] || ".."}}</span>
      <span ng-if="contact['result'][0]['email_primary.on_hold']">({{ts('On hold')}}) {{contact['result'][0]['email_primary.hold_date']}}</span></div>
    <div ng-show=contact['result'][0]['address_primary.street_address']><strong class="basic-contact-field">{{ts('Street Address')}}</strong>: <span>{{contact['result'][0]['address_primary.street_address']}}</span></div>
    <div ng-show=contact['result'][0]['address_primary.city']><strong class="basic-contact-field">{{ts('City')}}</strong>: <span>{{contact['result'][0]['address_primary.city']}}</span></div>
    <div><strong class="basic-contact-field">{{ts('Is Opt Out')}}</strong>:
      <span ng-if="contact['result'][0]['activity.id']" ng-style="{'display': 'inline-block !important'}">{{ts('Double Opt-In')}}</span>
      <span ng-if="!contact['result'][0]['activity.id']" ng-style="{'display': 'inline-block !important'}" editable-checkbox="contact['result'][0]['is_opt_out']" ng-class="contact['result'][0]['is_opt_out'] ? 'text-danger': ''">{{contact['result'][0]['is_opt_out'] ? "Yes" : "No"}}</span>
    </div>
    <div><strong class="basic-contact-field">{{ts('Contact ID')}}</strong>: <a target="_blank" ng-if="options.contact_url" href="{{options.contact_url}}{{contact['result'][0]['id']}}">{{contact['result'][0]['id']}}</a></div>

    <p></p>

    <div class="buttons">
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="basicContact.$show()" ng-show="!basicContact.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="basicContact.$visible">
        <button ng-disabled="basicContact.$waiting" class="btn btn-secondary">{{ts('Save')}}</button>
        <button type="button" class="btn btn-default" ng-disabled="basicContact.$waiting" ng-click="basicContact.$cancel()">
          Cancel
        </button>
      </span>
    </div>
    <div ng-if="options.contact_id"
       af-api3="['Contribution', 'get', {contact_id: options.contact_id, 'sequential': 1, return : 'receive_date', options: {limit: 1, sort: 'receive_date DESC'}}]"
       af-api3-ctrl="contribution">
    <div ng-show="contribution.result.values[0]"><div>{{ ts('Last Contributed on')}}</div><div></div><strong>{{contribution.result.values[0].receive_date}}</strong></div></div>
  </form>
</div>

