{% if first_name and last_name %}
<p>Dear {{ first_name }},</p>
{% else %}
<p>Dear donor,</p>
{% endif %}

<p>I spent a lot of time thinking about how to express my gratitude for your {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} gift to the Wikimedia Endowment. You did something that so few people do – made a gift – and it’s important I tell you how special that is to us.
</p>

<p>But in the end, I realized the best thing I could do is just say it: thanks, {% if first_name and last_name %}{{ first_name }}, {% endif %}from all of us at Wikipedia. Thank you for ensuring the future of free knowledge.
</p>

<p>Today, thanks to the support of millions of volunteer editors and donors, you can wander Wikipedia for hours. With more than 50 million articles, Wikipedia can answer almost any question, and take you places you’ve never been. We started the Wikimedia Endowment to make sure future generations have access to Wikipedia like we do today, for years to come.
</p>

<p>Your donation ensures that new generations will have this free gift of knowledge available at the touch of a button. There is no greater legacy you can leave to the future than knowledge of the present and the past.
</p>

<p>The essential story of Wikipedia is the story of an individual, like you, giving a little bit of themselves to keep the doors of discovery open. Wikipedia will continue to evolve, grow, and meet new challenges because of generosity just like yours.
</p>

<p>You helped us build this. And I'm committed to making sure Wikipedia is here for the long-term, for you.
</p>

{% if first_name and last_name %}
<p>{{ first_name }}, thank you for making sure Wikipedia has a bright future.</p>
{% else %}
<p>Thank you for making sure Wikipedia has a bright future.</p>
{% endif %}

<p>With gratitude,<br>
Jimmy Wales<br>
Wikipedia Founder
</p>

<p>Many employers will generously match employee contributions: please check with your employer to see if they have a <a class="external text" href="https://donate.wikimedia.org/wiki/Matching_Gifts">corporate matching gift program</a>.
</p>

<p>For your records: Your donation, number {{ transaction_id }}, on {{ receive_date }} was {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.
</p>

<p>This letter may serve as a record of your donation. No goods or services were provided, in whole or in part, for this contribution. Our postal address is: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA. U.S. tax-exempt number: 20-0049703
</p>

<p>If you do not wish to receive any future fundraising emails from the Wikimedia Endowment or the Wikimedia Foundation, you can <a href="{{ unsubscribe_link | raw }}">unsubscribe instantly</a>. Please note we will still send you receipts, like this one, for future donations.
</p>
