{% if first_name and last_name %}
<p>Dear {{ first_name }},</p>
{% else %}
<p>Dear donor,</p>
{% endif %}

<p>If recent months are teaching us anything, it’s that life can take wildly unexpected turns. We at Wikimedia hope you and your loved ones are supported to take care of yourselves now in whatever ways might be best, and we offer an especially heartfelt thank you for remembering us at this time with your gift of {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} to the Wikimedia Endowment.</p>

<p>This moment will pass – but it reminds us of the importance of being prepared for the uncertain. At Wikimedia, your support has <em>everything</em> to do with that. While all gifts to Wikimedia help us provide free knowledge to the world, your Endowment gift holds a special place in our hearts because it shows you're invested in sustaining our work well into the future, whatever it may hold. That is vital. Thank you.
</p>

Right now, thanks to donors and volunteers like you, the Wikimedia Foundation provides:
<ul style="margin-top:0px">
    <li>More than 50 million articles across 300 languages on Wikipedia;</li>
    <li>63 million media files on Wikimedia Commons;</li>
    <li>More than 5,200 articles produced in response to the COVID-19 pandemic;</li>
    <li>Content across our sites viewed by more than 6,000 visitors per second and accessed by over 1 billion devices every month.</li>
</ul>

<p>It’s clear: We are seeing a strong desire – a strong need – for an unbiased, free, reliable source of knowledge. Through your support of the Wikimedia Endowment, you are making that possible, now and tomorrow. And we are so grateful.</p>

<p>Warmly,<br>
Jimmy Wales,<br>
Wikipedia Founder
</p>

<p style="font-size:80%"><strong><em>This letter serves as a record of your gift {{ transaction_id }}, {{ receive_date }} for tax purposes, where applicable. No goods or services were provided, in whole or in part, for this contribution. The Wikimedia Endowment has been established, with an initial contribution by the Wikimedia Foundation (tax-exempt no: 51-0198509), as a Collective Action Fund at Tides Foundation. Tides is a public charity with a 40-year track record of holding and managing charitable funds for nonprofit organizations.
</em></strong></p>

<p style="font-size:80%"><strong><em>If you do not wish to receive future fundraising emails from the Wikimedia Endowment or the Wikimedia Foundation, you can <a href="{{ unsubscribe_link | raw }}">unsubscribe instantly</a>. Please note we will still send you receipts for future donations.
</em></strong></p>

<!-- TI_BEGIN{"version":1,"name":"endowment_thank_you.en.html","revision":20201027}TI_END -->
