{% if first_name and last_name %}
<p>{{ last_name }}様</p>
{% else %}
<p>寄付者の皆さま、</p>
{%endif%}
<p>私はあなたに深く感銘を受けて、2度目のメールをお送りしています。<br/>
  あなたはとても特別なことをしてくださいました。一度寄付するだけでなく、さらに{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}の継続的なご寄付の手続きをしてくださいました。ご寄付は、あなたが中止を希望されるまで、毎月{{ day_of_month }}日前後に引き落とされます。
  <br/><br/>
  ご寄付は、あなたが中止を希望されるまで、毎月引き落とされます。
</p>
<p>あなたの継続的なご支援が、かつてない成長を遂げるウィキペディアとその姉妹プロジェクトを支えてくださいます。あなたからのご寄付は、私たちが共に育んできた“無償の知識”の価値を理解してくださっていることの証です。</p>
<p>あなたの私たちへのコミットメント（献身）に、私たちも同じだけのコミットメントで応えます。私たちは常に無償であり続けます。私たちは常に中立です。私たちはあなたのご寄付を常に投資として扱い、ウィキペディアがあなたが永遠に頼れる情報源であり続けるために活かしていきます。</p>
<p>心から感謝を込めて</p>
<p>キャサリン</p>
<!-- TI_BEGIN{"version":1,"sourceUrl":"","name":"recurring_notification.ja.html","revision":20200624}TI_END -->
