{% if first_name and last_name %}
<p>Kære {{ first_name }},</p>

{% else %}
<p>Kære bidragyder,</p>
{% endif %}

<p>Du er bare fantastisk. TAK fordi du støtter Wikimedia Foundation, nonprofitorganisationen, der
driver Wikipedia og Wikipedias søsterprojekter.</p>

{% if "RecurringRestarted" in contribution_tags %}<p> Vi har for nylig løst et lille teknisk
problem, der standsede nogle månedligt tilbagevendende donationer. Vi har genstartet din
tilbagevendende donation, og den vil forløbe normalt herfra. Vi opkræver ikke for de måneder, der
er blevet sprunget over. Tak for din tålmodighed og støtte. Skriv endelig til
donate@wikimedia.org, hvis du har spørgsmål. </p>{% endif %}

<p>Din donation bidrager til at dække omkostningerne for din og andres brug af Wikipedia.</p>

<p>Så som den pensionerede landmand i den nordlige del af delstaten New York, der bruger Wikipedia
til videnskabelige studier af slam, og den studerende i Kuala Lumpur, der forsker i organisk kemi.
Den britiske mekaniker, som efter at have brækket ryggen ved en ulykke, anvendte Wikipedia til at
uddanne sig til webudvikler. Embedsmanden i Finland, som oprettede en offlineudgave af Wikipedia til
en lille skole i Ghana. Og den far i Mexico City, der tager sine små piger med på museum i
weekenden, og bruger Wikipedia til at hjælpe dem med at forstå alt hvad de ser.</p>

<p>Wikipedias arbejde består i at bringe summen af al menneskelig viden ud til alle i hele verden
på deres eget sprog. Det er en temmelig dristig målsætning, men med 30 millioner artikler og 287
sprog er det, takket være dig og andre som dig, at vi nærmer os målet.</p>

<p>På vegne af Wikimedia Foundation og en halv milliard andre Wikipedia-læsere i hele verden: Tak.
Det faktum, at du hjælper med at dække omkostningerne til at drive Wikipedia, betyder at den kan
forblive reklamefri og upartisk, udelukkende koncentreret om at hjælpe sine læsere. Præcis som
det bør være.</p>

<p>Du har måske bemærket, at vi i år for første gang har ændret vores indsamling på en sådan
måde, at de fleste kun ser bannerne nogle få gange og ikke i ugevis. Det er bevidst: vi ønsker
ikke, at folk bliver irriterede over for mange opfordringer. Men det betyder også, at færre
personer opdager, at vi er en nonprofitorganisation, og at vi har brug for deres hjælp. Derfor vil
jeg være taknemmelig, hvis du vil hjælpe med at sprede budskabet ved at sende denne email videre
til et par af dine venner.</p>

<p>I øvrigt ville det glæde mig, hvis du også prøver at hjælpe os med at skrive Wikipedia.
Wikipedia skrives udelukkende af frivillige - titusindvis af almindelige mennesker over hele verden,
præcis som os. Hvis du ser en slåfejl eller en lille fejltagelse i Wikipedia, så vær venlig at
rette den. Hvis du véd noget, som er værd at tilføje, så vær venlig at tilføje det. Nogle
finder det yderst tilfredsstillende, måske gælder det også dig.</p>

<p>Endnu en gang, tak. Jeg påskønner din tillid til os, og jeg lover, at vi vil anvende dit bidrag
på en god og fornuftig måde.</p>

<p>Tusind tak,<br/>
Sue</p>

<p>Sue Gardner Administrerende direktør,<br/>
Wikimedia Foundation<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Mange arbejdsgivere matcher ansattes donationer, hvilket fordobler dit bidrag: undersøg om din
arbejdsplads gør det samme. Du kan følge os på <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identical.ca</a> og <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, synes godt om os på <a
href="https://www.facebook.com/wikipedia">Facebook</a> og <a href="https://blog.wikimedia.org">læse
vores blog</a>. Her finder man <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Wikimedia
Foundations årsrapport for 2012-13</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">Wikimedia
Foundations årsplan for 2013-14</a> og <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Wikimedia
Foundations strategiske femårsplan</a>. Man kan nu også købe Wikipedia-merchandise på <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Til dit regnskab: Din donation, med nummer {{ transaction_id }}, den {{ receive_date }}, var på
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Denne donation er en del af en månedlig betaling, som vil blive trukket af
Wikimedia Foundation indtil du giver os besked om at den skal ophøre. Ønsker du at betalingerne
skal ophøre, så se vores <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">vejledning i hvordan man let standser betalingerne</a>. </p>{% endif %}

<p>Dette brev kan anvendes som kvittering for din donation. Ingen varer eller tjenesteydelser blev
helt eller delvist leveret i forbindelse med dette bidrag. Wikimedia Foundation, Inc., er en
nonprofitorganisation med skattefritagelse i USA under 501(c)(3). Vores adresse er 149 New
Montgomery, 3rd Floor, San Francisco, CA, 94105, USA. Skattefritagelsesnummer i USA: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Mulighed for at melde fra:</p>
  <p>Som bidragyder vil vi gerne holde dig informeret om vores fællesskabs aktiviteter og
pengeindsamlinger. Hvis du foretrækker ikke at modtage den slags e-mails fra os, så klik venligst
neden for, og vi fjerner dig fra listen.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Frameld</a></p>
  </div>
</div>

<p>Hjælp os med at <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">oversætte</a>
denne mail.</p>