<p>Għażiż/Għażiża {{contact.first_name}},</p>
<p>Grazzi għad-donazzjoni tiegħek lill-Fondazzjoni Wikimedja. M'hawnx
għalik!</p>
<p>Faċli li ma tagħtix kas tal-istrixxi fin-naħa ta' fuq tal-paġna dwar
il-ġbir tal-fondi, u jien ħadt gost ħafna li ma għamiltx hekk. Dan hu
l-mod kif il-Wikipedija tħallas l-ispejjeż tagħha --- mill-flus li
jagħtuna nies bħalek, biex inkunu nistgħu inżommu s-sit disponibbli bla
ħlas għal kullħadd madwar id-dinja.</p>
<p>In-nies jgħiduli li jagħtu l-flus lill-Wikipedija għax isibuha utli,
u jafdawha għax minkejja li mhijiex perfetta, jafu li hi miktuba
għalihom. Il-Wikipedija mhux qiegħda hemm biex tavvanza ir-RP ta' xi
ħadd jew timbotta xi idealoġija partikulari, jew biex tipperswadik temmen
xi ħaġa li mhijiex minnha. L-għan tagħna hu li ngħidu l-verità, u
nistgħu nagħmlu hekk minħabba l-għajnuna tiegħek. Id-donazzjoni
tiegħek iżżommna indipendenti u kapaċi li nipprovdulek li teħtieġ u
trid mill-Wikipedija. Hekk għandu jkun.</p>
<p>Għandek tkun taf: id-donazzjoni tiegħek ma tkoprix l-ispejjes tiegħek
biss. Donatur ordinarju jħallas għall-użu tiegħu tal-Wikipedijla,
flimkien mal-ispejjes ta' mijiet ta' nies oħra. Id-donazzjoni tiegħek
tagħmel il-Wikipedija disponibbli għal tifel ambizzjuż f'Bangalore li
qiegħed jitgħallem il-programmazzjoni tal-kompjuters waħdu. Mara tad-dar
ta' mezza età li għadha kief saret taf li għandha l-marda ta' Parkinson.
Rumanzier li qiegħed jirriċerka l-Ingilterra tas-snien 1850. Tifla ta' 10
snin f'San Salvador li għadha kemm skopriet Calrl Sagan.</p>
<p>F'isem dawn in-nies, u n-nofs miljun qarrejja oħra tal-Wikipedija u
tas-siti u l-proġetti aħwa magħha, nirringrazzjak talli ngħaqadt
mal-isforz tagħna biex nagħmlu t-total tal-għarfien uman disponibbli
għal kullhadd. Id-donazzjoni tiegħek tagħmel id-dinja aħjar.
Grazzi.</p>
<p>Il-parti l-kbira tan-nies ma jafux li l-wikipedija ma tgħamilx qliegħ.
Jekk jogħġbok ara tistax tgħaddi din l-e-mail lil xi ftit ħbieb biex
tħajjarhom jagħmlu donazzjoni huma wkoll. U jekk jinteressak, forsi
tista'tipprova żżid xi informazzjoni fuq il-Wikipedija. Jekk tara xi
żball fl-ortografija jew xi żball żgħir ieħor, jekk jogħġbok
irranġah, u jekk issib xi ħaġa nieqsa jekk jogħġbok żidha. [#edit
Hawn] tista' ssib ħoloq li jistgħu jgħinuk tibda. Tinkwitax jekk
tagħmel żball: dan jiġri 'l ħafna nies meta jibdew jeditjaw u jekk
jiġrilek hekk, dejjem ikun hemm Wikipedjani li lesti jirranġaw
l-iżball.</p>
<p>Napprezza l-fiduċja li għandek fina, u nwiegħdek li nużaw flusek
sewwa.</p>
<p>Grazzi<br/>
Sue</p>
<p>Sue Gardner<br/>
Direttur Eżekuttiv<br/>
Il-Fondazzjoni Wikimedja <a class="external autonumber"
href="https://donate.wikimedia.org">[1]</a></p>
<p>Tista' ssegwina fuq <a href="https://twitter.com/Wikipedia">Twitter</a>,
<a href="https://identi.ca/wikipedia">identi.ca</a> jew <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, tagħtina
<i>like</i> fuq <a href="https://www.facebook.com/wikipedia">Facebook</a> u
<a href="https://blog.wikimedia.org">taqra l-blogg tagħna</a>. Hawn ir-<a
href="https://wikimediafoundation.org/wiki/Annual_Report">rapport anwali
għal 2010-2011 tal-Fondazzjoni Wikimedja</a>, il-<a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">pjan
għas-sena 2012-2013 tal-Fondazzjoni Wikimedja</a> u l-<a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">pjan
strateġiku għal ħames snin tal-Fondazzjoni Wikimedja</a>. Barra minn
hekk issa tista' tixtri oġġetti bl-isem tal-Wikipedia minn fuq <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>
<p>Biex tista' żżomm kont: Id-donazzjoni tiegħek ta'
{{contribution.receive_date}} kienet
{{contribution.contribution_source|l10n_currency(locale)}}</p>
<p>Diżiskrizzjoni: Bħala donatur nixtiequ nżommuk informat dwar
l-attivitajiet tal-komunità u l-ġbir tal-fondi. Però jekk tippreferi li
ma tirċivix minn għandna e-mails ta' dan it-tip, jekk jogħġbok
ikklikkja hawn taħt u nneħħuk minnufih mil-lista.:</p>
<p><a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Neħħuni
mil-lista</a></p>
<p>Din l-ittra tista' sservi ta' prova għad-donazzjoni tiegħek. L-ebda
oġġett jew servizz ma ngħata għal din il-kontribuzzjoni. Il-Wikimedia
Foundation, Inc. hi organizzazzjoni ta' benefiċenza bla qliegħ
b'eżenzjoni fiskali 501(c)(3) fl-Istati Uniti. L-indirizz tagħna hu 149
New Montgomery, 3rd Floor, San Francisco, CA, 94105. S.U. Numru
tal-eżenzjoni fiskali (Stati Uniti): 20-0049703</p>