{% if first_name and last_name %}
<p>{{ first_name }} 様</p>

{% else %}
<p>ご寄付くださったみなさまへ</p>
{%endif%}

<p>ウィキメディア財団に{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}の寄附をお寄せ頂き、ありがとうございました。ウィキメディア財団は非営利組織で、ウィキペディアをはじめ、その他の自由な知識を無料で提供するプロジェクトをサポートしています。私たちの使命は、世界中で最もアクセスできる包括的で自由な知識の源を構築することです。</p>

<p>{% if "RecurringRestarted" in contribution_tags %} 毎月の定期寄付が引き落されないという技術的な問題が発生しておりましたが、先般これを解決いたしました。これからの寄付につきましては通常通り引き落とされます。停止期間の引き落としを改めて行うことは御座いません。皆様の辛抱とご支援に深く感謝致します。もし何かご質問がございましたら、どうぞ遠慮なく donate@wikimedia.org までお寄せください。 {%endif%}</p>

<p>{% if "UnrecordedCharge" in contribution_tags %} 一部の支援者様におきまして、お寄せいただきました寄付の確認をお受け取り頂けないという技術的な問題が発生しておりましたが、先ごろ解決致しました。このメールは $date にお寄せ下さいました寄付への感謝の手紙としてお受け取りください。皆様の辛抱とご支援に感謝いたします。もし何かご質問がございましたら、どうぞ遠慮なく donate@wikimedia.org までお寄せください。 {%endif%}</p>

<p>知識は基本的な人権であると私たちは考えています。人類がデジタルの未来に突入していることから、私たちには、オンラインで知識にアクセスするための、オープンで、アクセス可能で、公開されたスペースが必要です。ウィキメディアこそがそのスペースなのです。ウィキメディアは、地球上の何百もの言語で、人々により、人々に対して自由な知識をお届けしているのです。</p>

<p>年間を通じ、南極大陸を含めあらゆる大陸の人々がウィキペディアの編集に参加し、閲覧しています。およそ5億人の人々が、文化遺産の保護から、癌検知の改善、また宿題のリサーチまで、あらゆることを求めて、毎月ウィキペディアで調べています。皆、学ぶことが目的なのです。ウィキペディアを読み、発見するのです。</p>

<p>みんなが「ウィキペディアン」になれます。ウィキペディアで探しているものが見つからなければ、自分で作成できます<a rel="nofollow" class="external text" href="https:///ja.wikipedia.org/wiki/Special:UserLogin?type=signup&amp;campaign=lila2015">自身で作成</a>。様々な記事、言葉、画像、データは、知識を世界中で共有しようとする様々なボランティア達のコミュニティによって作成されているのです。</p>

<p>私たちはいつも、どうすれば自分たちのインパクトを高められるかを考え、明日のウィキペディアと姉妹プロジェクトが、今日よりもより正確で、情報豊かで、アクセス可能になるよう努力しています。皆様からのご寄附がそれを助けてくれるのです。</p>

<p>私たちがさらにもう一年成長し皆に良い影響力となるようご協力くださりありがとうございます。</p>

<p>ウィキメディア財団<br/>
事務長<br/>
ライラ・トレティコフ<br/></p>

<p>多くの会社で、従業員の寄付に対するマッチングを行っています。お勤め先が<a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">法人マッチング・ギフトプログラム</a>を実施しているかご確認ください。</p>

<p>お控え：あなたから {{ receive_date }} にいただいた寄付の金額は {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} で、寄付番号は {{ transaction_id }} です。</p>

{% if recurring %}<p> 今回の寄付は、毎月の定期寄付の一環として承りました。停止のご連絡をいただくまで、ウィキメディア財団への寄付金引き落としが継続します。停止を希望される方は、<a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">停止方法</a>をご覧ください。 </p>{%endif%}

<p>この書面はお寄せいただきました寄付の記録としてご利用いただけます。この寄付に関連し、物品やサービスの提供は一切無かったことを記します。ウィキメディア財団は非営利の慈善団体で、アメリカ合衆国において501条c項3号の非課税適用を受けています。所在地は149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S. 、アメリカ合衆国の連邦税減免団体番号は、20-0049703です。</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20150904/ja&oldid=13656138","name":"thank_you.ja.html","revision":13656138}TI_END -->