{% if first_name and last_name %}
<p>Estimado(a) {{ first_name }},</p>

{% else %}
<p>Querido(a) doador(a),</p>
{%endif%}

<p>Obrigada por apoiar a Wikipédia e a Fundação Wikimedia. Sua contribuição de {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} apoia a Wikipédia e ajuda a garantir o futuro do livre conhecimento para todos.</p>

{% if "RecurringRestarted" in contribution_tags %}
<p>Nós recentemente resolvemos um pequeno problema técnico que interrompeu algumas doações mensais recorrentes. Nós já restabelecemos a sua doação recorrente, e vamos processá-las normalmente daqui para frente. Não iremos cobrar os meses que foram ignorados. Obrigado pela sua paciência e apoio, e não hesite em enviar-nos um e-mail para donate@wikimedia.org se você tiver qualquer outra pergunta.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Recentemente resolvemos um problema técnico que causou com que um pequeno número de doadores não recebessem a confirmação de sua doação. Por favor, aceite este e-mail como forma de agradecimento pela sua doação de {{ receive_date }}. Nós realmente apreciamos a sua paciência e seu apoio, e não hesite em contactar-nos via donate@wikimedia.org se você tiver qualquer dúvida.</p>
{%endif%}

<p>
  <b>A Wikipédia é o resultado de uma ideia poderosa: que pessoas como você e eu podem participar na construção do conhecimento mundial e em torná-lo livremente disponível para todos, estejam onde estiverem.</b>
</p>

<p>Hoje, graças ao apoio de milhões de colaboradores e apoiadores voluntários, você pode navegar horas e horas na Wikipédia. Com mais de 40 milhões de artigos e 35 milhões de imagens com licença livre, a Wikipédia é capaz de responder a praticamente qualquer pergunta e levar você a lugares onde nunca esteve.</p>

<p>Sua doação ajuda a criar e compartilhar o livre conhecimento de forma real e prática. Ela nos permite fazer com que a Wikipédia seja rápida, segura e acessível às pessoas do mundo todo. Ela nos ajuda a oferecer livre acesso à Wikipédia em lugares onde os altos preços dos dados móveis poderiam impedir que as pessoas usassem a internet. Ela nos ajuda a prestar apoio àqueles que estão digitalizando conhecimentos atualmente limitados a arquivos analógicos. E ela protege a Wikipédia de ameaças ao livre conhecimento e à internet aberta.</p>

<p>Graças ao seu apoio, você pode encontrar as informações de que precisa em qualquer momento e lugar, ganhar aquela aposta feita com um amigo durante um jantar ou compreender melhor o mundo à nossa volta.</p>

<p>
  <b>Doar para a Wikipédia faz de você defensor de uma ideia poderosa.</b>
</p>

<p>A Wikipédia continuará evoluindo, crescendo e superando novos desafios. Queremos conquistar isso e muito mais, e sua doação nos ajudará a chegar lá. Temos muito a agradecer pelo seu apoio. Em nome da Fundação Wikimedia, muito obrigada por investir no nosso futuro e nos acompanhar nesta caminhada.</p>

<p>Katherine Maher<br/>
Diretora executiva, Fundação Wikimedia</p>

<p>Muitos empregadores podem generosamente coincidir com a contribuição dos seus funcionários; confirme com seu patrão para saber se sua empresa tem um <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">programa de doações</a>. Para os seus registos: A sua doação, número {{ transaction_id }}, em {{ receive_date }} foi de {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}
<p>Esta doação é parte de uma doação recorrente. Serão debitados pela Fundação Wikimedia pagamentos mensais até que nos notifique a fim de parar. Se desejar cancelar os pagamentos, por favor veja nossas instruções em <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">Instruções cancelamento fácil</a>.</p>
{%endif%}

<p>Esta carta pode servir como comprovante da sua doação. Nesta contribuição, não foram fornecidos bens ou serviços, seja integral ou parcialmente. Escreva para: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, EUA. Número de isenção fiscal nos EUA: 20-0049703</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20161128/pt-br&amp;oldid=17171692","name":"thank_you.pt-br.html","revision":17171692}TI_END -->