{% if first_name and last_name %}
<p>{{ first_name }} عزیز،</p>

{% else %}
<p>اهدا كننده عزيز</p>
{% endif %}

<p>شما خیلی فوق العاده هستید. از شما بخاطر پشتیبانی از
بنیاد ویکی مدیا که موسسه ای غیر انتفاعی بوده و ویکی
پدیا و پروژه های همنوع را اداره میکند.</p>

{% if contribution_tags.RecurringDamaged %}<p> اخيراَ، ما يك مشكل كوچك فني
كه باعث توقف بخشي از كمك هاي ماهانه مي شد را حل كرديم. ما
پرداخت كمكهاي ماهانه را به وضعيت سابق تثبيت كرديم و
فرآيند به روال سابق بازگشته است. ما شما را بابت پرداخت
صورت حساب ماه هاي از دست رفته الزام نمي كنيم. متشكر از
همكاري و صبرتان. همچنين در صورت داشتن هر گونه سوال،
نسبت به ارسال پيام به آدرس donate@wikimedia.org دريغ نفرماييد.
</p>{% endif %}

<p>کمک مالی شما نه تنها هزینه های استفاده خودتان از
ویکیپدیا را پوشش میدهد، بلکه پوشش دهنده ی هزینه های
سایر کسانی است که ویکی پدیا را مطالعه میکنند.</p>

<p>همانند کشاورز بازنشسته در شمال ایالت نیویورک که با
استفاده از ویکیپدیا به مطالعه علم لجن و دانش آموزی که
در کوالالامپور که به تحقیق در شیمی آلی میپردازد. مکانیک
انگلیسی که، پس از اینکه کمر او در یک تصادف شکسته شد با
استفاده از ویکیپدیا به آموزش مجدد خود به عنوان یک توسعه
دهنده وب پرداخت.</p>

<p>وظیفه ی ویکیپدیا این است که کل مجموع تمام دانش بشری
برای همه در سراسر جهان و برای هر کس به زبان خودش فراهم
آورد. این یک ماموریت متهوارنه است، لیکن با وجود 30
میلیون مقاله و 287 زبان، من میخواهم بگویم که سپاس گذار
شما و انسانهایی همچون شما باید باشیم زیرا ما در حال
دستیابی به آن هدف هستیم.</p>

<p>از طرف بنیاد ویکیمدیا، و نیم میلیارد خوانندگان
ویکیپدیا در سراسر جهان از شما تشکر میکنم. این حقیقت که
شما از طریق پرداخت هزینه های جاری ویکی پدیا به این
موسسه یاری می رسانید بدان معنی است که ویکی پدیا میتواند
همچنان بدون وجود تبلیغات تجاری و بدون جهت گیریهای خاص،
مستقل باقی بماند و صرفا بر روی کمک رساندن به خوانندگانش
تمرکز بنماید. و این دقیقا همان چیزی است که میبایست
باشد.</p>

<p>شما ممکن است به این نکته توجه کرده باشید که برای اولین
بار در سال جاری ما برنامه های جمع آوری کمک را به گونه ای
بهینه سازی کرده ایم که اکثریت افراد به جای اینکه هفته
ها شاهد این نوع آگهی ها باشند، تنها دفعات انگشت شماری
با آنها برخورد خواهند داشت. این یک عمل تعمدی است، ما نمی
خواهیم با تعداد زیادی از درخواست ها باعث عصبانیت مردم
شویم. که البته این حتما منجر به آن خواهد شد که تعداد
کمتری از افراد متوجه غیر انتفاعی بودن ما و این نکته که
ما به کمک آنها نیازمندیم خواهند شد. بنابراین اگر شما
مایل هستید، قدردان شما خواهم بود چنانچه بتوانید با
ارسال این نامه ی الکترونیکی به برخی از دوستانتان در
گسترش این مطلب به ما یاری برسانید</p>

<p>خوشحال می شویم اگر شما هم تمایل به نوشتن در ویکی پدیا
داشته باشید. تمامی نوشته های موجود در ویکی پدیا توسط
داوطلب ها نوشته می شوند، توسط ده ها هزار فرد معمولی از
سراسر دنیا درست مثل ما. اگر غلط املایی و یا اشتباه کوچکی
می بینید لطفا آن را تصحیح کنید. اگر مطلب ارزنده ای
میدانید انرا اضافه کنید، ممکن بعضی افراد آن را جالب و
راضی کننده بینند، شما هم همینطور</p>

<p>باز هم از شما متشکریم. من از اینکه شما به ما اعتماد
دارید بسیار سپاسگذارم و به شما تعهد می دهیم که از پول
شما با دقت و به خوبی استفاده کنیم.</p>

<p>با سپاس سو</p>

<p>سو گراندر مدیر اجرایی کمکهای مالی ویکی پدیا</p>

<p>بسیاری از کارفرمایان از نظر مشارکت همانند کارمندان
خود هستند، این امر باعث می شود کمک شما دوبرابر گردد.
لطفا با سازمان خود تماس بگیرد و سوال کنید که برنامه ای
برای کمک سازمانی دارند. شما می توانید ما را در تویتر <a
href="https://twitter.com/Wikipedia">Twitter</a>، <a
href="https://identi.ca/wikipedia">identi.ca</a> یا <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a> دنبال کنید ما را در <a
href="https://www.facebook.com/wikipedia">Facebook</a> و <a href="https://blog.wikimedia.org">read
our blog</a> لایک کنید. در اینجا گزارش سالیانه ویکی پدیا برای
سال 2012-2013 <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Wikimedia
Foundation annual report for 2012-13</a>، برنامه سالیانه ویکی پدیا برای
سال 2013-2014 <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">the Wikimedia
Foundation annual plan for 2013-2014</a> و طرح استراتژیک پنج ساله ویکی
پدیا <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Wikimedia
Foundation’s five-year strategic plan</a> را مطالعه کنید. همچنین شما می
توانید ویکی پدیای تجاری را از اینجا <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a> خریداری کنید.</p>

<p>جهت اطلاع شما: کمک مالی شما به شماره {{ transaction_id }}، در
تاریخ {{ receive_date }} به مبلغ {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}
بوده است.</p>

{% if recurring %}<p> این کمک مالی بخشی از هزینه اشتراک دوره‌ای
است. پرداخت ماهیانه تا زمانی که شما برای متوقف کردن آن
به ما اطلاع ندهید توسط بنیاد ویکی‌پدیا برداشت می‌شود.
در صورتی که مایل هستید پرداخت را لغو کنید لطفا
دستورالعمل ابطال را در <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">easy cancellation instructions</a> مطالعه فرمائید. </p>{% endif %}

<pre>
این نامه به عنوان رسید کمک ملی شما محسوب می‌گردد.
هیچگونه کالا یا خدمات به صورت کلی یا جزیی در قبال این
کمک مالی ارائه نگردیده است. بنیاد ویکی‌پدیا سازمانی
غیرانتفاعی و خیریه با معافیت مالیاتی  501(c)(3) مستقر در
ایالات متحده آمریکاست. نشانی ما به شرح زیر است: 
</pre>

<p>149New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S شماره تلفن معاف از
مالیات: 200049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>گزینه لغو:</p>
  <p>مایلیم شما را به عنوان یک حامی از فعالیت‌های خود و
جمع آوری اعانات مطلع کنیم. در صورتی که تمایلی برای
دریافت این گونه ایمیل ها از ما ندارید، می‌توانید گزینه
زیر را انتخاب کنید تا شما را از فهرست خود حذف کنیم.</p>
  <div style="margin: 0 25px">
    <p>لغو اشتراک <a href="{{ unsubscribe_link | raw }}">Unsubscribe</a></p>
  </div>
</div>

<p>لطفا ما را در ترجمه<a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">translate</a>
این نامه یاری کنید.</p>