<p>טייערער {{contact.first_name}}</p>

<p>איר זענט וואונדערבאר, א גרויסן ייש"כ פארן מנדב
זײַן צו דער וויקימעדיע פונדאציע! </p>

<p>מיט דעם קענען מיר אפצאלן אונזערע חובות --מיט
מענטשן ווי איר, וואס געבן פינף דאלאר, צוואנציק
דאלאר, הונדערט דאלאר. מיין באליבסטע נדבה פאר א יאר
איז געווען פינף  פונט פון א קליין מיידעלע אין
ענגלאנד, וואס האט איינגעבעטן אירע טאטע־מאמע צו
לאזן זי מנדב זיין איר וואכגעלט. מענטשן ווי איר,
צוזאמען מיט יענעם מיידל, שאפן די מעגלעכקייט פאר
וויקיפעדיע צו באזארגן אומזיסט פרייע צוטריט צו
אינפארמאציע פאר אלעמען ארום דער וועלט. פאר די אלע
וואס העלפן באצאלן דערפאר, און פאר די וואס קענען
נישט העלפן. א גרויסן ייש"כ.</p>

<p>כ'ווייס אז מען קען גרינג איגנארירן אונזערע
אפעלן, און איך פריי זיך אז איר האט אבער נישט. פון
מיר, און פון צו די צענדליקער טויזנטער וואלונטירן
וואס שרייבן וויקיפעדיע: א דאנק פאר העלפן אונז
מאכן די וועלט א בעסערן פלאץ. מיר וועלן ניצן אייער
געלט מיט פארזיכטיקייט, או איך דאנק אייך פאר אייער
צוטרוי אין אונז.</p>

<p>א דאנק,<br />
סו גארדנער<br />
וויקימעדיע פונדאציע עקסעקיוטיוו דירעקטאר</p>

<p>פאר אייערע אקטן: אייער נדבה פון {{contribution.receive_date}} איז געווען {{contribution.contribution_source}}.
{% if recurring %}
{% include 'recurring/yi.html' ignore missing %}
{% endif %}</p>

<p>דער בריוו איז א באווייז פון אייער נדבה. קיין שום
גוטן אדער דינסטן האט מען נישט באזארגט , אינגאנצן
אדער טיילווייז, פאר דער ביישטייערונג. די
וויקימעדיע פונדאציע, Inc. איז א נישט פאר ריווח צדקה
פירמע מיט 501(c)(3) שטייער־פריי סטאטוס אין די
פאראייניקטע שטאטן. אונזער אדרעס:</p>

<div dir=ltr>

<p>149 New Montgomery, 3rd Floor, San Francisco, CA, 94105.</p>

<p>U.S. שטייער־פריי נומער: 20-0049703</p>

</div>
<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>אפזאגן זיך ברירה:</i></p>

<p>מיר וועלן אייך דערמאנען נעקסטע יאר דורך ע־פאסט
צו באנייען אייער נדבה. טאמער איר ווילט נישט
באקומען אזא בליצבריוו פון אונז, קליקט אונטן און
מיר וועלן אראפנעמען אייך פון דער רשימה:</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Unsubscribe</a>

</div>
