<p>Benvolgut/da {{contact.first_name}},</p>
<p>Gràcies per fer un donatiu a la Wikimedia Foundation. És
meravellós!</p>
<p>És fàcil ignorar els nostres anuncis per a la recaptació de fons, i
me n'alegro que tu no ho fessis. És així com la Viquipèdia paga els seus
comptes: mitjançant gent com tu que dóna diners, podem mantenir la
pàgina lliure i disponible per a tothom.</p>
<p>La gent m'explica que dóna diners a la Viquipèdia perquè la troben
útil i hi poden confiar ja que, tot i no ser perfecta, saben que s'escriu
per a ells. La Viquipèdia no pretén promoure cap agenda de relacions
públiques, fomentar una ideologia en particular o presuadir-te a creure
quelcom fals. El nostre objectiu és dir la veritat, i podem fer-ho
gràcies a tu. El fet que financiïs la pàgina ens manté independents i
capaços per proporcionar-te el que necessites i vols de la Viquipèdia.
Exactament com ha de ser.</p>
<p>Hauries de saber: la teva donació no només cobreix els teus costs. El
donant mitjà paga pel seu propi ús de la Viquipèdia, més els costs de
centenars d'altres persones. La teva donació fa que la Viquipèdia sigui
disponible per a una ambiciosa nena a Bangalore que aprèn programació
informàtica de manera autodidacta. Una mestressa de casa de mitjana edat a
Viena a qui tot just li han diagnosticat l'Enfermetat d'Alzhèimer. Un
novel·lista a la recerca d'informació sobre la Gran Bretanya del 1850. Un
nen de 10 anys a San Salvador que tot just ha descobert en Carl Sagan.</p>
<p>En nom d'aquelles persones i dels 500 milions de lectors de la
Viquipèdia i les seves pàgines i projectes, et dono les gràcies per
unir-te a nosaltres en un esforç per fer que la totalitat del coneixement
de la humanitat estigui disponible per a tothom. La teva donació fa del
món un lloc millor. Gràcies.</p>
<p>La majoria de la gent no sap que la Viquipèdia no té afany de lucre,
així que planteja't enviar aquest correu electrònic a alguns dels teus
amics per tal que s'animin a contribuir ells també. Si t'interessa, pots
mirar d'afegir informació nova a la Viquipèdia. Si veus errors
tipogràfics o altres errors menors, si us plau corregeix-los, i si trobes
que falta informació, afegeix-la. Existeixen recursos [#edit aquí] que
poden ajudar-te a començar. No pateixis si comets errors: és normal quan
la gent comença a editar i si passa, altres Viquipedistes ho solucionaran
encantats.</p>
<p>Li agraïm que confiï en nosaltres, i li prometem que farem bon ús
dels seus diners.</p>
<p>Gràcies,<br/>
Sue</p>
<p>Sue Gardner<br/>
Director general,<br/>
Wikimedia Foundation <a class="external autonumber"
href="https://donate.wikimedia.org">[1]</a></p>
<p>Ens pots seguir a <a href="https://twitter.com/Wikipedia">Twitter</a>,
<a href="https://identi.ca/wikipedia">identi.ca</a> o a <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, clica a
"M'agrada" a <a href="https://www.facebook.com/wikipedia">Facebook</a> i <a
href="https://blog.wikimedia.org">llegeix el nostre blog</a>. Aquí està
l' <a href="https://wikimediafoundation.org/wiki/Annual_Report">informe
anual de la Fundació Wikimedia pel 2010-11</a>, el <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">pla
anual de la Fundació Wikimedia pel 2012-13</a> i el <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">pla
estratègic per cinc anys de la Fundació Wikimedia</a>. Ara també pots
comprar productes de la Viquipèdia a <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>
<p>Per a la teva informació: La teva donació amb data
{{contribution.receive_date}} va ser de
{{contribution.contribution_source|l10n_currency(locale)}}.</p>
<p>Dóna't de baixa: L'any que ve cap a aquestes dates et proposarem per
correu electrònic que repeteixis la donació. Si prefereixes no rebre cap
recordatori nostre per correu, si us plau prem a sota i et traurem de la
llista:</p>
<p><a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">donar-se
de baixa de la subscripció</a></p>
<p>Aquesta carta pot servir de prova de la teva donació. No es van
proporcionar béns ni serveis, en conjunt o en part, per aquesta
contribució. The Wikimedia Foundation, Inc. és una organització
benèfica sense afany de lucre exempta d'impostos als Estats Units. La
nostra direcció és 149 New Montgomery, 3r pis, San Francisco, CA, 94105.
Número d'exempció d'impostos als Estats Units; 20-0049703</p>