<p>Драги {{contact.first_name}}</p>

<p>Хвала на донацији Задужбини Викимедије. Заиста
сте дивни!</p>

<p>Лако је игнорисати наш банер за прикупљање
прилога, и јако ми драго да Ви то нисте урадили!
Ово је начин на који Википедија плаћа своје
рачуне --- људи попут Вас нам дају новац, а ми
можемо да задржимо сајт слободно доступним свим
људима широм света.</p>

<p>Људи ми говоре да донирају Википедији јер то
сматрају корисним, а верују јој, иако није
савршена, јер знају да је писана за њих.
Википедији није циљ да попуни дневни ред ПР
агенцијама, нити да заступа партикуларне
идеологије, као ни да Вас убеди да верујете у
нешто што није истина. Циљ нам је да говоримо
истину, и то можемо да урадимо захваљујући Вама.
Чињеница да сте донирали сајту одржава нас
независним и у могућности да Вам достављамо оно
што желите од Википедије. Управо онако како и
треба да буде.</p>

<p>Требало би да знате да овом донацијом не
покривате само своје трошкове. Просечан донатор
плаћа за своју употребу Википедије, као и за
трошкове стотине других људи. Ваша донација
одржава Википедију доступном и амбициозном
детету из Бангалора које се самообразује на тему
компјутерског програмирања. Средњовечној
домаћици из Беча којој је управо
дијагностикована Паркинсонова болест. Писцу
који истражује Британију из 1850-их.
Десетогодишњаку из Сан Салвадора који је управо
открио Карла Сагана.</p>

<p>У име тих људи и пола милијарде других читаоца
Википедије и њених сестринских сајтова и
пројеката, захваљујем Вам на придруживању нашем
труду да спојимо целокупно људско знање и
учинимо га доступним свима. Ваша донација чини
овај свет бољим местом. Хвала Вам.</p>

<p>Много људи не зна да је Википедија непрофитна.
Молимо Вас, размотрите слање ове поруке
неколицини пријатеља које бисте на тај начин
охрабрили да и они донирају. И, ако сте
заинтересовани, пробајте да додате неке нове
информације на Википедију. Уколико уочите
штампарску, или неку другу мању грешку, молимо
вас да је поправите, или уколико уочите да нешто
фали, молимо вас, додајте.</p>

<p>Ценим то што верујете у нас, и обећавам Вам да
ћемо Ваш новац искористити у праве сврхе.</p>

<p>Захвална,<br />
Сју</p>

<br />
<p>Сју Гарденер<br />
извршна директорка,<br />
Задужбине Викимедије</p>

<p>Све ваше донације: Ваша донација на
{{contribution.receive_date}} износила је
{{contribution.contribution_source|l10n_currency(locale)}}.{% if recurring %}{% include
'html/recurring/sr.html' ignore missing %}{% endif %}</p>

<p>Ово писмо може послужити као доказ ваше
донације. Никаква добра или услуге су пружене у
целини или делом за овај допринос. Задужбина
Викимедија је непрофитна, добротворна
организација из САД-а. Наша адреса је 149 New Montgomery,
3rd Floor, San Francisco, CA, 94105. U.S.</p>

<p>Можете нас пратити на <a
href="https://twitter.com/Wikipedia">Твитеру</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> или <a
href="https://plus.google.com/+Wikipedia/posts">Гугул+</a> или <a
href="https://www.facebook.com/wikipedia">Фејсбуку</a> и <a
href="https://blog.wikimedia.org">почитајтати наш блог</a>. Ово су
<a href="https://wikimediafoundation.org/wiki/Annual_Report">финансијски
извештај Задужбине Викимедије за 2010-11</a> и <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">годишњи
план за 2012-13</a> и <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">стратешки
петогодишњи план Задужбине Викимедије</a>. Сада
такође можете купити Википедијину робу на <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Опција изузећа</i></p>

<p>Пошто сте ви донатор ми бисмо волели да вас
информишемо о активностима заједнице и
прикупљању новца. Ако не желите да добијате
е-поруке од нас кликните испод и ми ћемо вас
уклонити са листе.</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Уклони ме са листе</a>

</div>

