<p>{{ contact.first_name }} عزیز</p>

<p>تو بی‌نظیری! سپاس فراوان بابت کمک به بنیاد
ویکی‌مدیا.</p>

<p>افرادی مانند تو پنج دلار، بیست دلار یا صد دلار
کمک می‌کنند و ما از این راه صورت‌حساب‌هایمان را
پرداخت می‌کنیم. موردی که دوستش دارم پنج پوندی بود
که پارسال دختربچه‌ای از انگلستان فرستاده بود. او
پدر و مادرش را مجاب کرده بود که اجازه بدهند
پول‌توجیبی‌اش را کمک کند. افرادی مانند تو و آن
دختربچه هستند که این امر را امکان‌پذیر می‌کنند
که ویکی‌پدیا هم‌چنان دسترسی آزاد و آسان به
اطلاعات بی‌طرفانه را برای تک‌تک افراد جهان
فراهم آورد. برای هرکسی که برای آن چیزی می‌پردازد
و آن‌هایی که توانایی کمک ندارد. سپاس فراوان.</p>

<p>می‌دانم که نادیده گرفتن درخواست‌های ما آسان
است و خوشحالم که تو آن‌ها را نادیده نگرفتی. از طرف
من و ده‌ها هزار داوطلبی که ویکی‌پدیا را
می‌نویسند: سپاس برای یاری‌ات، برای تبدیل جهان به
جایی بهتر. ما پول تو را به‌دقت خرج می‌کنیم و سپاس
که به ما اعتماد کردی.</p>

<p>سپاس،<br />
سو گاردنر<br />
رئیس انحصاری بنیاد ویکی‌مدیا</p>

<p>برای ثبت شخصی: کمک تو در تاریخ {{
contribution.receive_date|date("Y-m-d") }} و به مقدار{{
contribution.contribution_source }} بود.
{% if recurring %}
{% include 'html/recurring/fa.html' ignore missing %}
{% endif %}</p>

<p>این نامه به عنوان ثبت کمک شماست. در ازای این کمک
هیچ کالا یا خدماتی به صورت کلی یا جزئی ارائه
نشده‌است. بنیاد ویکی‌مدیا یک بنیاد ناسودبر با
امکان استفاده از منابع خیریه و تحت طبقه
مالیاتی501(c)(3) در ایالات متحدهٔ آمریکاست.</p>

<p>نشانی ما </p>

<p>149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S. tax-exempt number:
20-0049703</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Opt out option:</i></p>

<p>ما علاقه‌مندیم تو را به عنوان یک یاری‌رسان از
فعالیت‌های جمعمان آگاه سازیم. به هر حال اگر
نمی‌خواهی چنین ایمیل‌هایی را دریافت کنی، لطفا
بر روی علامت زیر کلیک کن تا از فهرست حذف شوی.</p>

<a style="padding-left: 25px;" href="{{ unsubscribe_link|raw }}">لغو اشتراک</a>

</div>
