<p>$familyname 様</p>

<p>ウィキメディア財団にご寄付いただきありがとうございました。</p>

<p>私どもの寄付お願いのバナーを無視するのはとても簡単なことです。にもかかわらず、あなたがそうしなかったことを大変うれしく思います。ウィキペディアはこのようにして日々の請求書を支払っているのです―つまりあなたのような方々から頂いたお金で、私たちはこのサイトを無料で全世界の皆さんにご利用いただけるよう維持していけるのです。</p>

<p>人々は私にこのように言います。私がウィキペディアに寄付するのは、それが有用であり、しかも完璧でないにしても信頼できることが分かったからです、ウィキペディアはみんなのために書かれたものだと分かったからです、と。誰かのPR計画を進めたり、特定の価値観を押し付けたり、あなたに何か正しくないことを信じさせようとしたりすることは意図していません。私たちの目的は真実を伝えることであり、あなたがいるからこそそれが可能になるのです。このサイトに資金提供をしたという事実こそが、私たちの独立性を維持し、あなたが必要とし、欲しているものをウィキペディアが提供することを可能にし続けているのです。まさにあるべき姿です。</p>

<p>あなたには以下のことを知っておいていただきたく思います。あなたの寄付は単に、あなた自身へのサービス提供コストをカバーするだけのものではありません。平均的な寄付者は自身がウィキペディアを利用するためだけでなく、他の何百人もが利用するためにも支払ってくれているのです。あなたの寄付によって、例えば次のような人々がウィキペディアを利用し続けられるようになります。プログラミングを独学で勉強している大志を抱いたバンガロールの子ども、パーキンソン病であると診断されたばかりのウィーンにいる中年の主婦、1850年代の英国について調べている小説家、カール・セーガンのことがたった今わかったサンサルバドルにいる10歳の子ども、といった人々です。</p>

<p>こうした方々を代表して、そしてウィキペディアとその他の姉妹プロジェクトの5億人にもおよぶ読者に代わって、全人類の叡智の総和をすべての人々に利用可能にしようという、私たちの試みに加わっていただいたことを感謝いたします。あなたのご寄付が世界をよりよい場所にします。ありがとうございます。</p>

<p>ほとんどの人たちは、ウィキペディアが非営利で運営されているとは知りません。このメールをあなたのご友人にシェアして、寄付するようお薦めすることもご検討ください。そしてもしご興味があれば、ウィキペディアになにか新しい情報を追加することもお試しいただければと思います。例えば誤記や小さな間違いを見つけたら、それを直してみてください。何か足りないと思う部分があれば、追加してみてください。</p>

<p>心より感謝申し上げます。ご寄付は必ず誠実に使用させていただきます。</p>

<p>ありがとうございます,<br />
スー</p>

<br />
<p>スー・ガードナー<br />
最高責任者,<br />
ウィキメディア財団</p>

<p>あなたが{{contribution.receive_date}}に行った寄付の金額は{{contribution.contribution_source|l10n_currency(locale)}}でした。{%
if recurring %}{% include 'recurring/ja.html' ignore missing %}{% endif %}</p>

<p>このレターはご寄付の控えとしてお使いいただけます。今回のご貢献につきましては、いかなる物品やサービスの、全部または一部も、提供されません。ウィキメディア財団はアメリカ合衆国における内国歳入庁501条(c)項(3)号に定める非営利慈善団体で、税免除の適用を受けています。財団の住所は
149 New Montgomery, 3rd Floor, San Francisco, CA, 94105.
で、アメリカ合衆国の税免除番号は 20-0049703 です。</p>

<p><a href="https://twitter.com/Wikipedia">Twitter</a>や<a
href="https://identi.ca/wikipedia">identi.ca</a>、<a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>でフォローできます。また<a
href="https://www.facebook.com/wikipedia">Facebook</a>にもページがあります。<a
href="https://blog.wikimedia.org">ブログ</a>もぜひご覧ください。 <a
href="https://wikimediafoundation.org/wiki/Annual_Report">ウィキメディア財団年次報告
2010-11</a>、<a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">ウィキメディア財団年次計画
2012-13</a>、<a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">ウィキメディア財団五カ年計画</a>をご覧になれます。
<a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>にてウィキペディアグッズをご購入いただけます。</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>ウィキメディア財団からのメールを受け取らない</i></p>

<p>ご寄付いただきました方には私たちの活動や募金活動についてご報告させていただいています。今後、このようなお知らせを受け取らないことをご希望される場合は、以下の項目をクリックしてください。</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">お知らせの購読をやめる</a>

</div>

