{% if first_name and last_name %}
<p>เรียน คุณ {{ first_name }}</p>

{% else %}
<p>เรียนท่านผู้บริจาค</p>
{% endif %}

<p>คุณเยี่ยมมาก "ขอบคุณ"
ที่สนับสนุนมูลนิธิวิกิมีเดีย
องค์กรไม่แสวงหากำไรที่ให้บริการวิกิพีเดีย
และโครงการพี่น้อง</p>

{% if contribution_tags.RecurringDamaged %}<p>
เราได้แก้ไขปัญหาทางเทคนิคบางประการที่ทำให้ต้องหยุดการบริจาคแบบรายเดือน
เราแก้ไขการบริจาครายเดือนของคุณแล้ว
และจะดำเนินการตามปกติ
จะไม่มีการเรียกเก็บเงินสำหรับเดือนที่เราข้ามไป
ขอบคุณสำหรับการสนับสนุของท่าน
หากมีคำถามกรุณาติดต่อทางอีเมล
donate@wikimedia.org ได้ทันที </p>{% endif %}

<p>การบริจาคของคุณไม่เพียงแต่จะครอบคลุมค่าใช้จ่ายของคุณในการใช้งานวิกิพีเดีย
แต่ยังรวมถึงค่าใช้จ่ายของผู้อ่านคนอื่นอีกด้วย</p>

<p>เช่นเดียวกันกับชาวนาวัยเกษียณทางตอนเหนือของนิวยอร์กที่ใช้วิกิพีเดียเพื่อศึกษาข้อมูลเชิงวิทยาศาสตร์เกี่ยวกับกากตะกอน
และนักศึกษาในกัวลาลัมเปอร์ที่ทำวิจัยเกี่ยวกับเคมีอินทรีย์
หรือช่างเครื่องชาวอังกฤษ
ซึ่งหลังจากประสบอุบัติเหตุที่ทำให้หลังของเขาหัก
ได้ใช้วิกิพีเดียเพื่อฝึกฝนตัวเองใหม่ในอาชีพนักพัฒนาเว็บไซต์
หรือข้าราชการในฟินแลนด์ซึ่งสร้างวิกิพีเดียเวอร์ชันออฟไลน์ให้โรงเรียนเล็กๆ
ในกานา
และคุณพ่อในเม็กซิโกซิตี้ที่พาลูกตัวน้อยของเขาไปพิพิธภัณฑ์ในวันหยุด
และใช้วิกิพีเดียช่วยให้ทั้งคู่เข้าใจทุกอย่างที่ตนเห็นในพิพิธภัณฑ์ได้</p>

<p>งานของวิกิพีเดียคือการรวบรวมความรู้ทั้งมวลของมนุษยชาติให้แก่มนุษย์ทุกคนบนโลกในภาษาของผู้อ่านแต่ละภาษา
นั่นเป็นภารกิจที่ค่อนข้างบ้าบิ่นทีเดียว
แต่ด้วยจำนวนบทความ 30 ล้านชิ้นใน 287
ภาษา
เราอยากจะขอบคุณคุณเองและคนอย่างคุณ
เรากำลังเคลื่อนเข้าใกล้จุดหมายนั้นเข้าไปทุกทีๆ</p>

<p>ในนามของมูลนิธิวิกิมีเดียและผู้อ่านวิกิพีเดียอีกครึ่งพันล้านคนทั่วโลก
เราขอขอบพระคุณยิ่ง
การที่คุณได้ช่วยเหลือค่าใช้จ่ายเพื่อให้วิกิพีเดียดำเนินต่อไปได้นั้นมีความหมายยิ่งในการทำให้วิกิพีเดียปราศจากโฆษณาและอคติ
และสามารถมุ่งมั่นกับการให้ความช่วยเหลือแก่ผู้อ่าน
โดยเป็นไปอย่างที่ควรจะเป็น</p>

<p>คุณอาจสังเกตเห็นว่าปีนี้เป็นปีแรกที่เราเปลี่ยนวิธีการระดมทุนทำให้ผู้อ่านส่วนใหญ่เห็นป้ายประกาศเพียงไม่มากครั้งแทนที่จะเห็นนานเป็นสัปดาห์
นั่นเป็นความจงใจของเรา
เราไม่อยากให้ผู้คนรู้สึกรำคาญจากคำร้องขอที่มากเกินไป
แต่นั่นย่อมทำให้มีคนจำนวนน้อยลงที่จะเข้าใจว่าเราเป็นองค์กรไม่แสวงหากำไร
และเราต้องการการช่วยเหลือจากพวกเขา
ดังนั้นถ้าคุณสมัครใจ
เราจะซาบซึ้งมากหากคุณช่วยเราด้วยการบอกต่อโดยการส่งต่ออีเมล์นี้ให้เพื่อนของคุณสักจำนวนหนึง</p>

<p>และเราจะยินดียิ่งหากคุณจะลองเข้ามาเป็นหนึ่งในผู้ร่วมเขียนวิกิพีเดีย
วิกิพีเดียถูกเขียนขึ้นโดยอาสาสมัครทั้งหมด
จากคนธรรมดาอย่างพวกเราหลายหมื่นคนทั่วโลก
หากคุณเห็นข้อความที่พิมพ์ผิดหรือข้อผิดพลาดเล็กๆ
น้อยๆ โปรดช่วยกันแก้ไข
หากคุณมีความรู้เกี่ยวกับสิ่งที่ควรค่าที่จะเขียนเพิ่มเติม
โปรดเขียนเพิ่มเข้าไป
บางคนพบว่าการทำเช่นนั้นทำให้เขารู้สึกพึงพอใจอย่างยิ่ง
บางทีคุณก็อาจเป็นเช่นนั้นด้วยเหมือนกัน</p>

<p>ขอบคุณอีกครั้ง
ดิฉันซาบซึ้งในความไว้วางใจที่คุณมอบให้เรา
และดิฉันขอสัญญาว่า
เราจะใช้เงินของคุณอย่างระมัดระวังและคุ้มค่า</p>

<p>ขอบคุณค่ะ<br/>
ซู</p>

<p>ซู การ์ดเนอร์<br/>
กรรมการบริหาร<br/>
มูลนิธิวิกิมีเดีย<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>ผู้จ้างหลายรายจะสนับสนุนเงินบริจาคของลูกจ้างเพิ่มเติม
ซึ่งจะทำให้ยอดบริจาคของคุณเพิ่มขึ้นเป็นสองเท่า
โปรดตรวจสอบกับบริษัทของคุณว่ามีนโยบายนี้หรือไม่
คุณสามารถติดตามเราได้ที่<a
href="https://twitter.com/Wikipedia">ทวิตเตอร์</a> <a
href="https://identi.ca/wikipedia">identi.ca</a> หรือ<a
href="https://plus.google.com/+Wikipedia/posts">กูเกิลพลัส</a>
กดไลค์เราได้บน<a
href="https://www.facebook.com/wikipedia">เฟซบุ๊ก</a> และ <a
href="https://blog.wikimedia.org">อ่านบล็อกของเรา</a>
นี่คือ<a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">รายงานประจำปี
2012-2013 ของมูลนิธิวิกิมีเดีย</a> <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">แผนประจำปี
2013-2014 ของมูลนิธิวิกิมีเดีย</a> และ<a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">แผนยุทธศาสตร์ห้าปีของมูลนิธิวิกิมีเดีย</a>
นอกจากนี้คุณยังสามารถซื้อสินค้าของมูลนิธิได้ที่
<a href="https://shop.wikimedia.org">shop.wikimedia.org</a></p>

<p>ประวัติการบริจาคของคุณ:
หมายเลขบริจาคของคุณ, {{ transaction_id }},
วันที่บริจาค {{ receive_date }} เป็นจำนวนเงิน {{
(currency ~ " " ~ amount) | l10n_currency(locale) }}</p>

{% if recurring %}<p>
เงินบริจาคนี้เป็นส่วนหนึ่งของการสั่งบริจาคแบบซ้ำ
ยอดเงินในแต่ละเดือนจะถูกตัดโดยมูลนิธิวิกิมีเดียจนกว่าคุณจะแจ้งเราให้หยุด
หากคุณต้องการยกเลิกการบริจาค
โปรดอ่าน <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">วิธีการบอกยยกเลิกแบบง่ายๆ</a>. </p>{%
endif %}

<p>จดหมายฉบับนี้สามารถใช้เป็นบันทึกประวัติการบริจาคของคุณ
การบริจาคดังกล่าวนี้ไม่เกี่ยวข้องกับการจัดหาสินค้าหรือบริการใดๆ
ทั้งสิ้น
ไม่ว่าจะสำหรับยอดเงินทั้งหมดหรือบางส่วน
มูลนิธิวิกิพีเดียเป็นองค์กรมูลนิธิที่ไม่แสวงหาผลกำไร
ภายใต้สถานะยกเว้นภาษีในประเทศสหรัฐฯ
501(c)(3) ที่อยู่ของเราคือ 149 New Montgomery, 3rd Floor, San
Francisco, CA, 94105 รหัสยกเว้นภาษีในสหรัฐ: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>การยกเลิกการรับข่าวสาร</p>
  <p>เราอยากให้คุณ ในฐานะผู้บริจาค
รับทราบความเคลื่อนไหวเกี่ยวกับกิจกรรมของกลุ่มและการระดมทุนในอนาคต
แต่ถ้าหากคุณไม่ประสงค์ที่จะรับอีเมล์ข่าวความเคลื่อนไหวดังกล่าวจากเรา
โปรดคลิกข้างล่างแล้วเราจะนำชื่อคุณออกจากรายการ</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw
}}">ยกเลิกการเป็นสมาชิก</a></p>
  </div>
</div>

<hr/>

<p>กรุณาช่วยเราเพื่อ <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">translate</a>
อีเมลฉบับนี้</p>