{% if first_name and last_name %}
<p>Vážený(á) {{ first_name }},</p>

{% else %}
<p>Vážená darkyňa, vážený darca,</p>
{%endif%}

<p>ďakujeme za príspevok v sume {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} pre Wikimedia Foundation. Wikimedia Foundation je nezisková organizácia, ktorá podporuje portál Wikipedia a ďalšie zdarma dostupné projekty. Naším cieľom je vybudovať dostupný a ucelený zdroj vedomostí na svete.</p>

<p>{% if "RecurringRestarted" in contribution_tags %} Nedávno sme vyriešili malý technický problém, ktorý pozastavil niektoré pravidelné mesačné dary. Možnosť pravidelných darov sa nám podarilo obnoviť a budú sa naďalej spracúvať bežným spôsobom. Nebudeme si účtovať poplatok za vynechané mesiace. Ďakujeme Vám za trpezlivosť a podporu. V prípade akýchkoľvek otázok nám bez váhania napíšte na adresu donate@wikimedia.org. {%endif%}</p>

<p>{% if "UnrecordedCharge" in contribution_tags %} Nedávno sme vyriešili technický problém, ktorý spôsobil, že niekoľko darcov nedostalo potvrdenie o svojom príspevku. Prijmite prosím tento email ako poďakovanie za Váš dar zo dňa $date. Skutočne si ceníme Vašu trpezlivosť a podporu. V prípade akýchkoľvek otázok nám bez váhania napíšte na adresu donate@wikimedia.org. {%endif%}</p>

<p>Sme presvedčení, že vzdelanie je základným ľudským právom. Keďže sa ľudstvo ponáhľa do digitálnej budúcnosti, potrebujeme otvorené, dostupné a verejné miesta, z ktorých by sme mohli on-line pristupovať k znalostiam. Wikimedia je tým pravým miestom. Wikipedia zdarma poskytuje používateľom znalosti od ľudí v stovkách jazykoch z celého sveta.</p>

<p>V priebehu roka upravujú a čítajú obsah Wikipedie ľudia zo všetkých kontinentov, vrátane Antarktídy. Každý mesiac navštívi stránky Wikipedie takmer pol miliardy ľudí, aby hľadali rôzne informácie, od zachovania kultúrneho dedičstva, cez vylepšovanie odhaľovania rakoviny až po pomoc s domácimi úlohami. Prichádzajú sa učiť. Zostanú a začínajú objavovať.</p>

<p>Každý z nás je potenciálny Wikipedian. Ak na Wikipedii nenájdete to, čo hľadáte, môžete <a rel="nofollow" class="external text" href="https:///sk.wikipedia.org/wiki/Special:UserLogin?type=signup&amp;campaign=lila2015">začať vytvárať obsah sami</a>. Články, slová, obrázky a dáta sú vytvárané rozmanitou komunitou ľudí, ktorí sú ochotní zdieľať svoje vedomosti s celým svetom.</p>

<p>Každý deň sa pýtame samých seba, ako môžeme vylepšiť náš dopad a zaistiť, že Wikipedia a jej sesterské projekty budú zajtra ešte presnejšie, bohatšie a dostupnejšie ako sú dnes. Vaše príspevky nám to pomáhajú dosiahnuť.</p>

<p>Ďakujeme, že nám umožňujete rásť a ovplyvňovať životy aj ďalší rok.</p>

<p>Lila Tretikovová<br/>
Výkonná riaditeľka<br/>
Wikimedia Foundation<br/></p>

<p>Mnohí zamestnávatelia prispievajú rovnakou čiastkou ako ich zamestnanci. Overte si prosím, či Vaša spoločnosť má <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">program podpory darcovstva.</a></p>

<p>Pre Vaše záznamy: Váš dar číslo {{ transaction_id }}, zo dňa {{ receive_date }} bol {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Tento dar je súčasťou pravidelne sa opakujúcich príspevkov. Mesačné platby budú pripisované na účet nadácie Wikimedia Foundation dovtedy, kým nepožiadate o ich zastavenie. Ak už nechcete ďalej prispievať, prečítajte si <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">naše jednoduché pokyny na zrušenie platieb</a>. </p>{%endif%}

<p>Tento dopis môže slúžiť ako záznam o príspevku. Za tento príspevok nebol poskytnutý žiadny tovar ani žiadna služba, či už celá alebo čiastočná. Nadácia Wikimedia Foundation, Inc. je nezisková charitatívna spoločnosť, oslobodená od platenia daní v Spojených štátoch amerických, spadajúca pod organizáciu 501(c)(3). Naša adresa je 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. Číslo evidencie oslobodenia od dane: 20-0049703</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20150904/sk&oldid=13541769","name":"thank_you.sk.html","revision":13541769}TI_END -->