<p>שלום {{ first_name }},</p>

<p>עשייתך יוצאת מן הכלל. תודה רבה על תמיכתך בויקימדיה,
ארגון ללא כוונות רווח המפעיל את אתר ויקיפדיה יחד עם
פרויקטים דומים.</p>

<p>תרומתך עוזרת לנו רבות במימון ויקיפדיה עבורך ועבור
משתמשים נוספים.</p>

<p>כמו איכרים בגמלאות המוצאים שימוש בויקיפדיה כדי ללמוד
מדע הטיפול בבוצה, או סטודנטים החוקרים נושאים בכימיה
אורגנית. המכונאי הבריטי, אשר לאחר שנפגע בגבו בתאונה,
אשר עשה שימוש בוויקיפדיה כדי ללמוד על פיתוח רשתות
אינטרנט כהסבת מקצוע. כך גם עובד ציבור פיני אשר יצר
גירסה לא אינטרנטית של ויקיפדיה על מנת ללמד בבתי ספר
קטנים בגאנה שבאפריקה. אבא אשר מבלה עם בנותיו בסופי שבוע
במוזיאון במקסיקו סיטי ונעזר בויקיפדיה על מנת לעזור להן
להבין את אשר הן ראו בתערוכה.</p>

<p>מטרתה של ויקיפדיה היא להפיץ את כלל הידע האנושי לכל
אדם בעולם, בשפתו שלו. זו היא אכן משימה נועזת, אך באמצעות
30 מיליון מאמרים ו-287 שפות, אנו יכולים לומר שתודות לך
ולאנשים כמותך אנו מתקדמים לקראת מימוש מטרה זו.</p>

<p>בשם ארגון ויקימדיה ובשם מאות מליוני הקוראים ברחבי
העולם כולו, תודה רבה. העובדה שאת/ה עוזר/ת למימון ההוצאות
של תפעול האתר, משמעותה שנוכל לשמר את האתר נטול מפרסום
ולשמרו כאתר בעל פרספקטיבה עצמאית לחלוטין, חסרת דעות
קדומות וחסרת השפעה של קבוצות פוליטיות או חברתיות
שונות.</p>

<p>יתכן והבחנת כי זו השנה הראשונה ששינינו במעט את אופן
ההתרמה על מנת, שרוב הקוראים יתקלו בפרסום הפניה לתרומה,
מספר מועט של פעמים במקום למשך שבועות שלמים. כוונתנו היא
להמנע מלהרגיז את הקוראים באמצעות פניות מרובות מידי.
אחת המשמעויות של שינוי זה היא שפחות אנשים יהיו מודעים
לעובדה שאנו ארגון ללא כוונות רווח ולכן אנו זקוקים
לעזרתם על מנת להתקיים. על כן, נשמח אם תשתף איתנו פעולה
בהפצת הידיעה לאנשים נוספים באמצעות שליחת מכתב זה
לחברייך.</p>

<p>אשמח אם תרצה להצטרף אלינו באמצעות כתיבת ויקיפדיה.
ויקיפדיה נכתבת על ידי מתנדבים בלבד, עשרות אלפי אנשים
כמוך מרחבי העולם, אנשים כמותנו. בכל רגע נתון במידה ואתה
מוצא באחד מערכי ויקיפדיה טעות כתיב או טעות אחרת, בבקשה
תקן. אם בידך מידע ששווה להוסיף, בבקשה הוסף. ישנם אנשים
רבים שמוצאים סיפוק רב והנאה מכך, אולי תגלה שגם אתה
כזה.</p>

<p>אני מודה לך שוב. אני מעריכה את האמון שנתת בנו ומבטיחה
לך שנעשה בכסף שתרמת שימוש זהיר ומושכל.</p>

<p>שוב תודות, סו</p>

<p>סו גרדנר מנהלת בפועל ארגון ויקימדיה</p>

<p>ישנם מעסיקים אשר יתעניינו להכפיל את סכום התרומה של
עובדיהם: נודה אם תברר אצל מעסיקך אם הינו משתתף בתוכנית
תרומה: הכפלת תרומתם של עובדיך. תוכל לעקוב אחרינו
באמצעות <a href="https://twitter.com/Wikipedia">twitter</a>, <a href="https://identi.ca/wikipedia">identica</a> או <a href="https://plus.google.com/+Wikipedia/posts">google</a>, סמן לנו לייק ב - <a href="https://www.facebook.com/wikipedia">facebook</a> ו- <a href="https://blog.wikimedia.org">blog</a>.
כאן תוכל למצוא דו"ח שנתי <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">annual</a>, <a href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">strategic</a>. ביכולתך גם לקנות
מוצרי ויקיפדיה <a href="https://shop.wikimedia.org">shop</a></p>

<p>עבור רישומך: תרומתך הינה מספר {{ transaction_id }}, בתאריך
{{ receive_date }} הינה
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}</p>

<p>{% if recurring %} תרומה זו הינה חלק מרשמה לתשלום חוזר. תשלום
חודשי יגבה על ידי הארגון ויקימדיה עד אשר תודיע לנו
להפסיק. אם ברצונך לבטל את המשך התשלומים תוכל
לראות<a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{ country }}&language={{ language }}">הוראות לביטול פשוט וקל</a> {% endif %}</p>

<p>מכתב זה יכול לשמש כהוכחה לתרומתך. לא סופקו טובין או
שירותים עבור חלק או כל הסכום של תרומה זו. קרן ויקימדיה
בע"מ הוא תאגיד צדקה ללא מטרות רווחת עם פטור ממס 501(3)(c)
בארצות הברית. הכתובת שלנו היא 149 New Montgomery, 3rd Floor, San Francisco,
CA, 94105. U.S. מספר פטור ממס: 20-0049703.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>להסרה מרשימת התפוצה:</p>
  <p>בהיותך תורם, אנו רוצים לשלוח אליך מידע על הפעילויות
הקהילתיות שלנו ועל ההתרמות שלנו. אם תעדיף לא לקבל
מכתבים כאלה, נא ללחוץ להלן ונסיר אותך מהרשימה.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">הסרה מרשימת התפוצה</a></p>
  </div>
</div>

<p>
  <br/>
</p>

<hr/>

<pre>
בבקשה עזור לנו <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">translate</a>
מכתב זה.
</pre>
