<p>عزيزي {{contact.first_name}}،</p>

<p>شكرا على التبرع لمؤسسة ويكيميديا. أنت شخص
رائع!</p>

<p>إنه من السهل تجاهل إعلانات حملة جمع التبرعات،
وأنا سعيد بأنك لم تقم بذلك. هكذا تقوم ويكيبيديا
بدفع فواتيرها --- إن أشخاص مثلك يقومون بمنحنا
النقود، لكي نبقي الموقع حرا ومجانيا ومتاحا
للجميع حول العالم.</p>

<p>يخبرني بعض الأشخاص بأنهم تبرعوا لويكيبيديا
لأنهم وجدوها مفيدة، وبأنهم يثقون بها لأنه على
الرغم من أنها ليست كاملة، فإنهم يعلمون بأنها
مكتوبة لهم. ليس الهدف من ويكيبيديا إشهار لائحة
عمل أحدهم أو الدفع بفكرة معينة، أو أن تحضك على
الإيمان بفكرة أن شيء ما حقيقي. نحن نأمل بأن نخبرك
الحقيقة، و نستطيع القيام ذلك بفضلك أنت. إن حقيقة
أنك تقوم بتمويل الموقع يبقينا مستقلين ويبقينا
نعمل على نشر ما نحتاجه ونريده من ويكيبيديا. تماما
كما ينبغي لها أن تكون.</p>

<p>ينبغي لك أن تعلم بأن تبرعاتك لا تغطي مصاريفك
فحسب. إن المتبرع المتوسط يقوم بتبرع مبلغ مقابل
استخدامه لويكيبيديا، بالإضافة إلى كلفة عدة مئات
آخرين من الناس. إن تبرعاتك تبقي ويكيبيديا متاحة
لطفلة متعطش للمعرفة في بنغالور حيث تقوم بتعليم
نفسها كيفية برمجة الحاسوب. وشخص متوسط العمر يقوم
بالإنتاج المنزلي في فيينا الذي تم تشخيصه بمرض
الباركنسون. و روائي يبحث عن بريطانيا في سنة 1850. و
طفل في العاشرة من عمره من سان سلفادور قام لتوه
باكتشاف كارل ساغان.</p>

<p>بالنيابة عن هؤلاء الأشخاص، ونصف بليون شخص آخر
من قراء ويكيبيديا ومشاريعها الشقيقة، أتوجه
بالشكر لكم لمشاركتكم لنا في الجهود لجعل مجموع
المعرفة الإنسانية متاحا للجميع. إن تبرعاتكم تجعل
العالم مكانا أفضل. شكرا لكم.</p>

<p>معظم الناس لا يدركون بأن ويكيبيديا تقوم على
منظمة غير ربحية. رجاء مراعاة مشاركة هذه الرسالة
مع بعض من أصدقائك لتشجيعهم على التبرع أيضا. وإن
كنت مهتما أيضا، ينبغي عليك أيضا إضافة معلومات
جديدة إلى ويكيبيديا. إن وجدت خطأ إملائيا أو أي
أخطاء صغيرة، رجاء قم بإصلاحها. وإن وجدت شيئا
مفقودا، بإمكانك إضافته.</p>

<p>أنا أقدر لكم ثقتكم بنا، وأعد بأننا سنستخدم
أموالك بحكمة.</p>

<p>شكرا،<br />
سو</p>

<br />
<p>سو غاردنر<br />
المديرة التنفيذية<br />
مؤسسة ويكيميديا</p>

<p>من أجل سجلاتك: كانت قيمة تبرعك {{contribution.source}}
بتاريخ {{contribution.receive_date}}.{% if recurring %}{% include
'recurring/de.html' ignore missing %}{% endif %}</p>

<p>يمكن لهذه الرسالة أن تشكل سجلا لتبرعك. لم تقدم
أي سلع أو خدمات، كليا أو جزئيا، لهذه المساهمة.
تعتبر شركة مؤسسة ويكيميديا، شركة خيرية غير ربحية
مع حالة الإعفاء الضريبي 501(c)(3) في الولايات
المتحدة. عنواننا هو 149 New Montgomery، الطابق الثالث،
سان فرانسيسكو، كالفورنيا، 94105. الولايات المتحدة.
رقم الإعفاء الضريبي: 20-0049703</p>

<p>بإمكانك متابعتنا على <a
href="https://twitter.com/Wikipedia">تويتر</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> أو <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, أن تعجب بصفحتنا
على <a href="https://www.facebook.com/wikipedia">Facebook</a> و <a
href="https://blog.wikimedia.org">أن تقرأ مدونتنا</a>. تجدون هنا <a
href="https://wikimediafoundation.org/wiki/Annual_Report">تقرير ويكيميديا
السنوي للعامين 2010-11</a>، <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">خطة
مؤسسة ويكيميديا السنوية للعامين 2012-13</a>، و <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">الخطة
الاستراتيجية الخمسية لمؤسسة ويكيميديا</a>.
بإمكانك أيضا شراء منتوجات ويكيبيديا على موقع <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>خيار عدم المشاركة</i></p>

<p>نأمل بأن نبقي ممولينا على اطلاع بأنشطة مجتمعنا
وأنشطة جمع التبرعات. إن كنت تفضل بأن لا تستلم
رسائل من قبلنا، رجاء الضغط على الزر أدناه وسنقوم
بإزالتك من القائمة</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">إلغاء الإشتراك</a>

</div>

