<p>Hyvä {{contact.first_name}},</p>

<p>Olet mahtava. KIITOS sinulle tuestasi voittoa tavoittelemattomalle Wikimedia-säätiölle, joka
pitää yllä Wikipediaa sekä sen sisarprojekteja.</p>

<p>Lahjoituksesi ei kata vain omia kulujasi, vaan antaa muillekin mahdollisuuden lukea
Wikipediaa.</p>

<p>Kuten eläköityneelle farmarille New Yorkissa, joka opiskelee sedimenttejä Wikipediassa. Sekä
opiskelijalle Kuala Lupurissa, joka tutkii orgaanista kemiaa. Brittiläiselle mekaanikolle, joka
murrettuaan kätensä opetteli uuden ammatin web-kehittäjänä Wikipedian avulla. Tai
siviilipalvelusmiehelle Suomessa joka tarjosi offline-kopion Wikipediasta pienelle koululle
Ghanassa. Tai meksikolaiselle isälle joka auttaa tyttäriään ymmärtämään viikonloppuisin
museoissa näkemäänsä.</p>

<p>Wikipedian tavoite on saada kaikki ihmiskunnan tietämys kaikkien saataville, kaikkien omalla
kielellä. Tavoite on valtava, mutta kasassa on 30 miljoonaa artikkelia ja 287 kieltä, joten
suurkiitos sinulle ja kaltaisillesi, jotka auttavat meitä kohti tavoitettamme.</p>

<p>Wikimedia-säätiön ja puolen miljardin lukijan puolesta haluan kiittää sinua.</p>

<p>Sinun ansiostasi Wikipedia pysyy mainoksettomana ja puolueettomana, keskittyen lukijoidensa
auttamiseen. Niin kuin kuuluukin olla.</p>

<p>Olet kenties huomannut, että tänä vuonna olemme ensimmäistä kertaa muuttaneet
varainkeruutamme siten, että useimmat ihmiset näkevät mainoksen vain muutaman kerran eivätkä
viikkojen ajan. Olemme tehneet sen tarkoituksellisesti: emme halua, että ihmiset ärsyyntyvät
liian monista anomuksista. Toisaalta tämä johtaa siihen, että harvemmat ihmiset ymmärtävät,
että olemme voittoa tuottamaton yhteisö ja että toivomme heidän apuaan. Sen vuoksi arvostaisin
sitä, että levität sanaa toiminnastamme lähettämällä tämän viestin muutamille
ystävillesi.</p>

<p>Ja toivon kovasti, että koettaisit liittyä joukkoomme ja kirjoittaisit Wikipediaan. Wikipedia
on kokonaan vapaaehtoisten kirjoittajien työn tulosta - kymmenien tuhansien meidän kaltaistemme
tavallisten ihmisten kirjoittama. Jos näet Wikipediassa kirjoitus- tai muun virheen, korjaa se. Jos
tiedät jotakin, joka kannattaisi lisätä, tee se. Joillekin ihmisille Wikipediaan kirjoittaminen
on todella tyydyttävää, ehkä se olisi sitä sinullekin!</p>

<p>Vielä kerran: suuret kiitokset. Arvostan kovasti sitä, että uskot meihin ja lupaan että
käytämme lahjoittamasi rahat huolellisesti ja hyvin.</p>

<p>Kiitos,<br/>
Sue</p>

<p>Sue Gardner<br/>
Executive Director (Toiminnanjohtaja),<br/>
Wikimedia Foundation<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Monet työnantajat lahjoittavat Wikipedialle saman summan kuin työntekijänsä: tarkista,
tekeekö työnantajasi näin. Voit seurata toimintaamme <a
href="https://twitter.com/Wikipedia">Twitterissä</a>, <a
href="https://plus.google.com/+Wikipedia/posts">Google+:ssa</a> ja <a
href="https://www.facebook.com/wikipedia">Facebookissa</a> sekä <a
href="https://blog.wikimedia.org">lukea blogiamme</a>. Voit lukea <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Wikimedia-säätiön
vuosikertomuksen kaudelta 2011-2012</a> ja <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">toimintasuunnitelman
kaudelle 2013-2014</a> sekä <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">viisivuotisstrategiamme</a>.
Voit myös ostaa Wikipedia-tuotteita osoitteesta <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Tiedoksesi: Lahjoituksesi, numero $contribution, päiväys {{contribution.receive_date}}, oli
suuruudeltaan {{contribution.contribution_source|l10n_currency(locale)}}.</p>

<p>{% if recurring %} Tämä lahjoitus on osa toistuvaa tukea. Wikimedia-säätiö veloittaa
kuukausittaiset maksut kunnes ilmoitat Wikipedia-säätiölle, että haluat lopettaa maksamisen. Jos
haluat lopettaa säännöllisen tuen, seuraa ohjeita sivulla <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">easy cancellation instructions</a>. {% endif %}</p>

<p>Tämä kirje toimii tositteena lahjoituksestasi. Mitään tuotteita tai palveluja ei toimitettu
tähän lahjoitukseen liittyen tai sen osana. The Wikimedia Foundation, Inc. on voittoa tuottamaton
hyväntekeväisyysjärjestö, jolla on verovapausstatus 501(c)(3) Amerikan Yhdysvalloissa.
Osoitteemme on New Montgomery, 3rd Floor, San Francisco, CA, 94105. US-verovapausnumero on
20-0049703.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Poisjättäytymisvaihtoehdot:</p>
  <p>Toivomme, että voimme pitää sinut ajan tasalla lähettämällä tietoa toiminnastamme ja
varainkeruustamme. Jos et kuitenkaan halua vastaanottaa meiltä sähköpostia, laita rasti
allaolevaan laatikkoon niin poistamme sinut sähköpostilistaltamme.</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">Peruuta tilaus</a></p>
  </div>
</div>

<hr/>

<p>Voit auttaa meitä tämän sähköpostiviestin <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">kääntämisessä</a>.</p>