<p>亲爱的 {{contact.first_name}},</p>
<p>您的行动是如此美妙。非常感谢您帮助负责运营维基百科及其姊妹基金会的非营利性机构——维基媒体基金会。</p>
<p>您的捐款不仅仅会用于抵偿您自己使用维基百科的成本，还会帮助其他的维基百科读者。</p>
<p>退休的农夫在纽约北郊使用维基百科学习污泥处理的知识，吉隆坡的学生正使用着维基百科研究有机化学。英国一位在事故中受背伤的技师在用维基百科接受再教育，学习网页制作。芬兰市政的工作人员为加纳的一所小学校设立了一个离线版的维基百科。墨西哥城里的一位父亲正带着他的小女儿趁着周末逛博物馆，而他正使用着维基百科来帮助他们理解所看到的的每一件藏品。</p>
<p>维基百科的任务是把人类所有的知识以大家各自不同的语言带给世界上每一个角落的每一个人。这是一项非常勇敢的任务，但凭着已有的超过3千万篇条目和287种语言，我想说：感谢您和许多和您一样的人们，因为你们，我们正在实现我们的梦想。</p>
<p>我谨代表维基媒体基金会以及世界上其他5亿维基百科的读者向您表示感谢。您捐款帮助我们解决维基百科运营成本的这一善举确保了它能够保持无广告，中立，以及全心全意服务其读者。它本就该如此。</p>
<p>您也许注意到了今年我们改变了一点募捐的策略，我们第一次使得绝大部分读者只会偶尔地看到几次募捐的标语，而不是持续数周看到。这样做是有原因的：我们不想让人们因为看到过多的捐款请求而不悦。但这同时也代表着将只有更少的人意识到我们是一个非盈利组织，意识到我们需要帮助。所以，如果您愿意把这封邮件转发给您的一些朋友的话，我会非常感激。</p>
<p>此外，我也希望您愿意来尝试加入我们帮助编写维基百科。维基百科是完全由志愿者编写的——全世界成千上万的普通人，就像你和我。如果你在维基百科里发现一个拼写或者其他小错误，请修改它。如果你知道还有其他值得加进的内容，请加入它。有一些人发现这种经历非常令人满足，希望您也会这么觉得。</p>
<p>再次感谢您！我非常感谢您对我们的信任，而我也对您保证：我们会审慎而合理的使用您的捐助。</p>
<p>谢谢，<br/>
Sue</p>
<p>Sue Gardner<br/>
执行总监,<br/>
维基百科基金会<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>
<p>很多雇主会匹配其员工的捐款从而使您的捐款翻倍，请去您的公司查看他们是否有合作匹配捐助项目。您可以在
<a href="https://twitter.com/Wikipedia">Twitter</a>、<a
href="https://identi.ca/wikipedia">identi.ca</a>、<a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>、<a
href="https://www.facebook.com/wikipedia">Facebook</a>和<a href="https://blog.wikimedia.org">read
our blog</a>上关注我们。这里是<a
href="https://wikimediafoundation.org/wiki/Annual_Report">维基媒体基金会年度报告
2011-12</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">维基媒体基金会年度规划
2013-2014</a>和 <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">维基媒体基金会五年战略规划</a>。您也可以在<a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>购买维基百科相关商品。</p>
<p>供您记录：您的捐款{{contribution.id}}金额是{{contribution.contribution_source|l10n_currency(locale)}}，于{{contribution.receive_date}}。</p>
<p>{% if recurring %}
这笔捐款是循环捐款的一部分。维基媒体基金会每月收到捐款直到您告知我们取消。如果您想取消捐款，请参见我们的<a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">简便取消捐款教程</a>. {% endif %}</p>
<p>这封信是您捐款的记录。没有任何商品或是服务因为或是部分因为这笔捐款而被提供。维基百科基金会是一个非营利性的慈善组织，在美国持501(c)(3)免税身份。我们的地址是149
New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S. 免税编号: 20-0049703</p>
<div style="border: 1px solid black; padding:0 10px 5px
10px;"><p>退订选项：</p><p>作为捐赠者，我们希望让您随时获悉我们的社区活动和募捐活动。如果您不希望收到这些邮件，请单击下面的按钮，我们会将您的邮箱地址从列表中移除。</p><div
style="margin: 0 25px"><p><a href="{{unsubscribe_link|raw}}">取消订阅</a></p></div></div>
<p><br/></p>
<hr/>
<p>请帮助我们<a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">翻译</a>这封邮件。</p>