{% if first_name and last_name %}
<p>Здравствуйте, {{ first_name }}!</p>

{% else %}
<p>Уважаемый спонсор!</p>
{% endif %}

<p>Спасибо Вам за неоценимый вклад в наше общее дело,
которое несет знания каждому человеку в мире.</p>

<p>Меня зовут Ляля Третикова, исполнительный директор
Фонда Викимедиа. За прошедший год такие пожертвования,
как Ваше, дали нам возможность строить энциклопедию на
287 языках и сделать её ещё более доступной во всем мире.
В первую очередь мы ориентируем нашу деятельность на
людей, у которых нет других путей доступа к
образованию. Мы несём знания таким жителям планеты
как, например, Акшайя Айенгар из города Солапур, Индия.
В этом маленьком текстильном городке Википедия
явилась основным источником знаний для подрастающей
девочки. Акшайя закончила колледж в Индии и теперь
работает специалистом по программному обеспечению в
США. Она считает, что Википедия открыла ей дорогу к
высшему образованию.</p>

<p>Эта история не единственная. Наша благородная миссия
— это борьба с невежеством, предрассудками и
домыслами. Многие пользователи Википедии удивляются,
когда узнают, что она управляется некоммерческой
организацией и обеспечивается пожертвованиями таких
людей, как Вы. Полученных средств оказывается
достаточно для того, чтобы постоянно наращивать этот
массив человеческих знаний и поддерживать его в
доступном состоянии для каждого пользователя сети
Интернет. Спасибо Вам за то, что Вы помогаете нам
обеспечивать эту возможность.</p>

<p>От имени полумиллиарда читателей Википедии, тысяч
редакторов-волонтеров, и сотрудников Фонда, я
благодарю Вас за поддержание Википедии и сохранение
для нее возможности быть свободной от
коммерциализации в этом году.</p>

<p>Благодарю вас,<br/></p>

<p>Ляля Третикова,<br/>
исполнительный директор<br/>
Фонда Викимедиа<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Многие работодатели предлагают удвоить
пожертвования работников. Пожалуйста, выясните,
действует ли в вашей компании подобная <a
href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">корпоративная
программа</a>. Помогите рассказать о нашем сборе
средств в <a href="https://www.facebook.com/wikipedia">Facebook</a>, <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> или <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, а также <a
href="https://blog.wikimedia.org">читайте наш блог</a>. Здесь вы найдете
<a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">годовой
отчет Фонда Викимедиа за 2012—2013 год</a>. Вы также можете
приобрести товары с символикой Википедии на сайте <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Для справки: ваше пожертвование № {{ transaction_id }} от {{
receive_date }} составило {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Ваше пожертвование является частью
регулярной подписки. Ежемесячные платежи будут
взиматься Фондом Викимедиа до тех пор, пока Вы не
известите нас об их прекращении. Если Вы желаете
остановить платежи, пожалуйста, ознакомьтесь с нашими
<a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">несложными инструкциями по отмене таких
платежей</a>. </p>{% endif %}

<p>Это письмо может служить подтверждением вашего
пожертвования. За этот вклад не были предоставлены
никакие товары или услуги, ни в целом, ни частично. Фонд
Викимедиа (The Wikimedia Foundation, Inc.) — некоммерческая
благотворительная корпорация со статусом
освобождения от налогов 501(c)(3) в Соединённых Штатах.
Наш адрес: Нью-Монтгомери-стрит, д. 149, 3 эт.,
Сан-Франциско, Калифорния, 94105 (149 New Montgomery, 3rd Floor, San
Francisco, CA, 94105). Номер освобождения от налогов США:
20-0049703.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Возможность отказаться от дальнейших
уведомлений:</p>
  <p><br/>
Мы хотели бы информировать вас как благотворителя о
наших действиях в сообществах и о сборах
пожертвований. Если вы предпочитаете не получать от
нас подобные сообщения, пожалуйста, нажмите на ссылку
ниже, и мы исключим ваш адрес из списка рассылки.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Отписаться</a></p>
  </div>
</div>

<hr/>

<p>Пожалуйста, помогите нам с <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20140606">переводом</a>
этого письма.</p>