{% if first_name and last_name %}
<p>Sayın {{ first_name }},</p>

{% else %}
<p>Değerli bağışçımız,</p>
{% endif %}

<p>Sen bir harikasın! Vikipedi ve benzeri projeleri yürüten ve kar amacı gütmeyen Wikimedia
Foundation'ı desteklediğin için ÇOK TEŞEKKÜR EDERİZ.</p>

{% if contribution_tags.RecurringDamaged %}<p> Kısa zaman önce, aylık periyoda sahip
bağışları duraklatan küçük bir teknik problemi giderdik. Tekrarlı-bağışınızı yeniden
aktif hale getirdik ve işlemleriniz bundan sonra her zamanki gibi devam edecek. Atlanmış olan
aylar için sizden ücret talebinde bulunmayacağız. Desteğiniz ve anlayışınız için
teşekkür ederiz. Herhangi bir sorunuz varsa lütfen donate@wikimedia.org adresine yazmaktan
çekinmeyin. </p>{% endif %}

<p>Bağışın, sadece senin Vikipedi kullanış maliyetini değil, başkalarınkini de
karşılıyor.</p>

<p>Örneğin, New York'ta yaşayan emekli çiftçinin, lâğım bilimi hakkında araştırmasını;
Kuala Lumpur'daki öğrencinin, Organik Kimya üzeri çalışmasını; İngiliz makine
mühendisinin, bir kazada belini kırdıktan sonra, web mühendisliğine girişmesini; Finlanda'daki
memurun, Gana'da küçük bir okul için hazırladığı çevrimdışı Vikipedi versiyonunu, ve
Meksika'daki babanın, hafta sonları küçük kızlarını müzeye götürdükten sonra orada
gördüklerini Vikipedi kullanarak kızına anlatabilmesini destekledin.</p>

<p>Vikipedi'nin görevi, beşerî bilimin tümünü bir araya getirip, dünyadaki her insana kendi
dilinde sunmaktır. Bu görev, çok cüretli. Ama 30 milyon madde ve 287 dil içeren bu görev,
senin ve senin gibilerin yardımları ile tamamlanıyor.</p>

<p>Wikimedia Foundation'un ve yarım milyar Vikipedi okuyucuların adına: teşekkürler.
Vikipedi'nın çalışması için bağış vermen, Vikipedi'nın reklamsız ve özgür, böylelikle
de sadece okuyuculara yardım etmekle odaklı kalmasını sağlıyor. Tamamiyle olması gerektiği
gibi.</p>

<p>Bu yıl, ilk kez olarak para toplama kampanyamızı düzenlediğimizin farkına varmış
olabilirsin. Böylece, çoğu kişi afişlerimizi, haftalar boyunca görmek yerine, sadece bir kaç
kere görmüştür. Bu ise, kasıtlıdır: Okuyucularımızı fazla afişlerle rahatsız etmek
istemedik. Maalesef bu durum, daha az insanın kâr gütmeyen bir vakıf olduğumuzun ve onların
yardımlarını istediğimizin farkında olmasına neden oluyor. Eğer istersen, arkadaşlarına
e-postayı ileterek, onları bu durumdan haberdâr et.</p>

<p>Ve Wikipedia'yı kaleme almamıza yardımcı olmak için aramıza katılmayı denemeni isterim.
Wikipedia tamamen gönüllüler tarafından yazılmaktadır - tüm dünyadan on binlerce sıradan
insan, aynen bizim gibi. Wikipedia üzerinde eğer yazım hatası veya küçük bir yanlış
görürsen, lütfen düzelt. Eğer eklemeye değer herhangi bir şey biliyorsan, lütfen ekle. Bazı
insanlar bunu oldukça tatmin edici bulabiliyor, ve belki sen de böyle bulabilirsin.</p>

<p>Tekrar teşekkür ederim. Bize olan güvenine çok minnettarım, ve sana söz veriyorum: paranı
dikkatlice ve iyi kullanacağız.</p>

<p>Teşekkürler,<br/>
Sue</p>

<p>Sue Gardner<br/>
Yönetici Direktör,<br/>
Wikimedia Vakfı<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Birçok işveren, yaptığınız bağışı ikiye katlayan, işveren katkı payını
uygulamaktadır. Lütfen firmanızın kurum ikramiye programını kullanıp kullanmadığını
kontrol edin. Bizi, <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> veya <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a> üzerinden takip edebilir, <a
href="https://www.facebook.com/wikipedia">Facebook</a> ve <a
href="https://blog.wikimedia.org">bloğumuz</a> üzerinden beğenebilirsiniz. <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Wikimedia
Foundation 2012-13 yıllık raporu</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">Wikimedia
Foundation 2013-2014 yıllık planı</a> ve <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Wikimedia
Foundation’ın beş yıllık stratejik planına</a> erişebilirsiniz. Ayrıca, Wikipedia
ürünlerini artık <a href="https://shop.wikimedia.org">shop.wikimedia.org</a> adresinden satın
alabilirsiniz.</p>

<p>Bilginize: {{ receive_date }} tarihli ve {{ transaction_id }} numaralı bağışınız, {{
(currency ~ " " ~ amount) | l10n_currency(locale) }} kadardır.</p>

{% if recurring %}<p> Bu bağış tekrar eden aboneliğin bir parçasıdır. Aylık ödemeler
Wikimedia Vakfı tarafından sizden bize durdurma bilgisi gelene kadar çekilecektir. Eğer
ödemeleri iptal etmek isterseniz lütfen <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">basit iptal talimatları</a>'na bakın. </p>{% endif %}

<p>Bu mektup bağışınızın bir kaydını teşkil eder. Bu katkı için, kısmen veya tamamen,
hiçbir ürün veya hizmet verilmemiştir. Wikimedia Foundation, Inc. 501(c)(3) ile Amerika
Birleşik Devletleri'nde vergiden muaf, hiçbir kar amacı gütmeyen bir yardım kuruluşudur.
Adresimiz 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. A.B.D. vergiden muaflık
numarası: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Ayrılma tercihi:</p>
  <p>Bağışta bulunan biri olarak seni topluluk etkinlikleri ve bağış toplantıları hakkında
bilgilendirmeye devam etmek isteriz. Eğer yine de bu gibi epostaları bizden almamayı tercih
edersen, lütfen aşağıya tıkla ve seni listeden çıkaralım.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Aboneliği iptal et</a></p>
  </div>
</div>

<p>Lütfen bu e-postayı kendi dilinize <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">çevirmeye</a>
yardım edin.</p>