{% if first_name and last_name %}
<p>عزيزي/ عزيزتي {{ first_name }}،</p>

{% else %}
<p>أعزاءنا المتبرعين،</p>
{% endif %}

<p>نشكركم على عطاياكم التي لا تقدر بثمن والتي توفر
المعرفة لكل إنسان في العالم.</p>

{% if "RecurringRestarted" in contribution_tags %}<p> لقد قمنا مؤخراً بحل
المشكلة الفنية الصغيرة التي تسببت في إيقاف بعض
التبرعات الشهرية المنتظمة. وقد قمنا بإعادة تفعيل
تبرعاتك المنتظمة، وستستمر بشكل طبيعي. ولن يتم احتساب
تبرعات الأشهر التي حدث فيها الخلل. نشكرك لتحليك بالصبر
ونشكرك لدعمك لنا، ولا تتردد بإرسال أي استفسار إلى
البريد الإلكتروني التالي: donate@wikimedia.org. </p>{% endif %}

<p>اسمي ليلا تريتيكوف، وانا المديرة التنفيذية لمؤسسة
ويكيميديا. خلال السنة الماضية، وبفضل عطاياكم أثمرت
جهودنا في توسيع الموسوعة إلى 287 لغة، وجعلتها متاحة
للوصول إليها من كافة أنحاء العالم. إننا نناضل من أجل
إيصال المعرفة إلى أولئك الذين ليس لديهم وسائل أخرى
للتعلم. إننا نقوم بإيصال المعرفة إلى أشخاص من أمثال
(أكشايا إينغار) من مدينة سولابور في الهند. والتي نشأت في
هذه المدينة الصغيرة التي تنتج المنسوجات، وكانت تستخدم
ويكيبيديا كمصدر أساسي للتعلم. بالنسبة للتلاميذ في تلك
المناطق، والتي تندر فيها الكتب، لكن ومع وجود الإنترنت
النقال، فإن ويكيبيديا هي المُنْجِد. واصلت (أكشايا)
تعليمها حتى تخرجت من الجامعة في الهند وتعمل الآن
مهندسة برمجيات في الولايات المتحدة. وتدين بنصف رصيدها
المعرفي لويكيبيديا.</p>

<p>هذه ليست القصة الوحيدة. إن رسالتنا نبيلة وتقدم العديد
من التحديات الضخمة. يندهش معظم مستخدمي ويكيبيديا عندما
يسمعون أنها تدار من قبل منظمة غير ربحية ويتم تمويلها من
تبرعاتكم. في كل سنة، يتبرع عدد كافٍ من الناس ليحافظوا
على استمرارية توفير مجموع المعارف الإنسانية للجميع.
نشكركم لتسهيل مهمتنا.</p>

<p>نيابة عن نصف مليار قارئ لموسوعة ويكيبيديا، وآلاف
المحررين المتطوعين، وطاقم العمل في المؤسسة، أتقدم
إليكم بالشكر الجزيل للمحافظة على استمرارية ويكيبيديا
على الإنترنت وبقائها خالية من الإعلانات لهذه السنة.</p>

<p>شكرا لكم،<br/>
ليلا</p>

<p>ليلا تريتيكوف<br/>
المديرة التنفيذية،<br/>
مؤسسة ويكيميديا<br/>
<a class="external text" href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>من أجل سجلاتكم: كان تبرعكم، برقم {{ transaction_id }}، في تاريخ
{{ receive_date }} بمبلغ وقدره {{ (currency ~ " " ~ amount) | l10n_currency(locale)
}}.</p>

{% if recurring %}<p> هذا التبرع جزء من اشتراك دوري. وسوف تخصم
دفعات شهرية من قبل مؤسسة ويكيميديا إلى أن تقوموا
بإشعارنا بإيقاف ذلك الخصم. إذا رغبتم في إلغاء الدفعات
يرجى قراءة <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">تعليمات عن كيفية الإلغاء</a>. </p>{% endif %}

<p>يمكنكم الإحتفاظ بهذه الرسالة كسجل لتبرعكم. لم يتم
تقديم أي سلع أو خدمات - كلياً أو جزئياً - مقابل هذه
المساهمة. إن مؤسسة ويكيميديا مؤسسة خيرية غير ربحية مع
حالة الإعفاء الضريبي 501(c)(3) في الولايات المتحدة.
عنواننا هو 149 New Montgomery نيو مونتغومري، الطابق الثالث،
سان فرانسيسكو، كالفورنيا، 94105. الولايات المتحدة. رقم
الإعفاء الضريبي: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>خيار عدم الاشتراك في القائمة البريدية:</p>
  <p><br/>
نود أن نبقيكم على إطلاع بأنشطة مجتمعنا وأنشطة جمع
التبرعات. إن كنتم تفضلون عدم استلام رسائل بريد
إلكتروني من هذا القبيل من طرفنا، يرجى النقر أدناه
وسنقوم بإزالتك من القائمة.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">إلغاء الإشتراك</a></p>
  </div>
</div>

<hr/>

<p>نرجو منكم مساعدتنا في <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20140606">ترجمة</a>
رسالة البريد الإلكتروني هذه.</p>