<p>Kedves {{ first_name }}!</p>

<p>Nagyszerű ember vagy. KÖSZÖNJÜK, hogy támogatod a Wikimedia Alapítványt, amely non-profit
módon működteti a Wikipédiát és testvéreit.</p>

<p>Az adományod nemcsak a saját Wikipédia-használatod költségeihez járul hozzá, hanem más
Wikipédia olvasókéhoz is.</p>

<p>Mint az a nyugdíjas gazda New York államban, aki a Wikipédiát használja, hogy a
szennyvízkezelés tudományát tanulmányozza, és az a tanuló, aki Kuala Lumpurban kutatja a
szerves kémiát. Az a brit szerelő, aki, - miután a háta megsérült egy balesetben - a
Wikipédiát használta arra, hogy átképezze magát weboldal-fejlesztővé. Az a köztisztviselő
Finnországban, aki létrehozta a Wikipédia offline változatát egy kis ghánai iskola számára.
És az az apa Mexikóvárosban, aki hétvégenként múzeumba viszi a kislányai, a Wikipédiát
használja arra, hogy segítsen megérteni mindent, amit ott láttak.</p>

<p>A Wikipédia feladata az, hogy az összes létező emberi tudást, a világon mindenki számára
elérhetővé tegye a saját nyelvén. Ez egy elég merész küldetés, de mégis, a 30 millió
cikket és 287 nyelvet együttvéve azt mondanám, hogy hála neked, és az olyan embereknek mint
te, közeledünk a célhoz.</p>

<p>A Wikimedia Alapítvány, és a világszerte további félmilliárd Wikipédia olvasó nevében:
köszönöm. Az a tény, hogy segítesz hozzájárulni a Wikipédia működési költségeihez, azt
jelenti, hogy hirdetésmentes és elfogultságtól független maradhat, továbbá csak az olvasók
megsegítésére tud majd koncentrálni. Pontosan úgy, ahogy annak lennie kell.</p>

<p>Az idén az adománygyűjtésre való felhívást mindenki csak néhány alkalommal fogja látni
a hirdetési szalagon, nem pedig heteken keresztül. Ez szándékos: nem akarjuk, hogy az embereket
irritálja a túl sok megjelenés. De ez nem jelenti azt, hogy kevesebb ember fog ráébredni arra,
hogy mi egy non-profit szervezet vagyunk, és a segítségüket akarjuk. Tehát, ha hajlandó vagy
rá, örülnék, ha segítenél terjeszteni a hírt azzal, hogy továbbítod ezt az e-mailt egy pár
barátodnak.</p>

<p>Nagyon szeretném, ha megpróbálnál csatlakozni hozzánk a Wikipédia cikkeinek írásában. A
Wikipédia teljes egészében önkéntesek által íródik - több tízezer hétköznapi ember
szerte a világon, pontosan olyan, mint mi. Ha látsz egy elírást, vagy egy kis hibát a
Wikipédián, kérlek javítsd ki. Ha tudsz valami érdemlegeset hozzátenni, kérjük, tedd meg.
Vannak, akik ezt rendkívül kielégítőnek találják, és talán te is annak fogod.</p>

<p>Még egyszer köszönöm. Nagyra értékelem az irántunk való bizalmat, és ígérem: a pénzed
gondosan és helyesen fogjuk felhasználni.</p>

<p>Köszönet,<br/>
Sue</p>

<p>Sue Gardner<br/>
Ügyvezető igazgató,<br/>
Wikimedia Alapítvány<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Sok munkaadó kiegészíti a dolgozói adományait, ami megduplázza az adományodat; érdemes
megkérdezned a cégnél, ahol dolgozol, hogy van-e munkatársi adományozói ("gift matching")
programjuk. Ha többet szeretnél tudni rólunk, kövess minket <a
href="https://twitter.com/Wikipedia">Twitteren</a>, <a
href="https://identi.ca/wikipedia">identi.ca-n</a> vagy <a
href="https://plus.google.com/+Wikipedia/posts">Google+-on</a>, lájkolj a <a
href="https://www.facebook.com/wikipedia">Facebookon</a> vagy <a
href="https://blog.wikimedia.org">olvasd a blogunkat</a>. Az aktuális jelentéseinket és
terveinket itt találod: <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">2012–13-as
éves jelentés</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">2013–2014-es
éves terv</a>, valamint <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">az ötéves
stratégiai tervünk</a>. Wikipédia pólókat és egyéb termékeket a boltunkban vásárolhatsz:
<a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Tájékoztatásul: A {{ transaction_id }} azonosítójú adományod
{{ receive_date }} időpontban:
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

<p>{% if recurring %} Ez az adomány egy ismétlődő adományozás része. Az adományt a
Wikimédia Alapítvány minden hónapban levonja a számládról, amíg értesítést nem küldesz
az adományozás lemondásáról. Ha le szeretnéd mondani az adományozást, kérlek kövesd <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">az egyszerű utasításokat a lemondáshoz</a>. {% endif %}</p>

<p>Ez a levél bizonylatként szolgál az adományozásodról. A hozzájárulásod
ellentételezéseként semmilyen áru vagy szolgáltatás - legyen az egész vagy rész - nem
került átadásra. A Wikipédia Alapítvány egy nonprofit közhasznú szervezet az USA-ban
501(c)(3)-as adómentes állapottal. Címünk: 149 New Montgomery, 3. emelet, San Francisco, CA,
94105. USA adómentességi szám: 20-0049703.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Leiratkozás</p>
  <p>Adományozóként szívesen értesítenénk a közösségi eseményeinkről és
gyűjtőkampányainkról. Ha mégsem szeretnél levelet kapni tőlünk, kattints az alábbi linkre,
és nem küldünk több levelet.</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">Leiratkozás</a></p>
  </div>
</div>

<p>Kérlek segíts nekünk lefordítani ezt az emailt.</p>
