<p>Почитуван(а) {{ contact.first_name }}</p>

<p>Чудесни сте, навистина Ви благодарам за
прилогот што го дадовте на Фондацијата
Викимедија! </p>

<p>Вака си ги плаќаме сметките -- со драгоцена
помош од луѓе како Вас, што даваат по пет, по
дваесет или по сто долари. Омилен момент од
ланската кампања ми се петте фунти од едно
девојченце од Англија кое ги замолило родителите
да ѝ дозволат да го даде својот џепарлак.
Википедија постои благодарение на луѓето како
Вас и девојченцето. Така, со Ваша помош, можеме и
понатаму да нудиме бесплатен и лесен пристап на
непристрасни информации, секому во светот. На
секој оној што помага во нејзиното финансирање,
но и на оние што не можат да си го дозволат тоа.
Навистина сум Ви благодарна.</p>

<p>Знам дека е лесно да се занемарат нашите молби и
повици, и мило ми е што не нè занемаривте. Од мене,
и од десетиците илјади доброволци што
учествуваат во пишувањето на Википедија: Ви
благодариме што ни помагате да го подобриме
светот. Вашите пари ќе бидат претпазливо
искористени, и Ви благодарам на довербата.</p>

<p>Ви благорадам,<br />
Сју Гарднер<br />
Извршен директор на Фондацијата Викимедија</p>

<p>За Ваша евиденција: Вашиот прилог на {{
contribution.receive_date|date("Y-m-d") }} изнесуваше {{
contribution.contribution_source }}.
{% if recurring %}
{% include 'recurring/mk.html' ignore missing %}
{% endif %}</p>

<p>Ова писмо може да Ви послужи како евиденција за
Вашиот прилог. Овој придонес е даден без возврат
од стока или услуги, целосно или делумно.
Фондацијата Викимедија (Wikimedia Foundation, Inc.) е
непрофитно добротворно здружение ослободено од
данок во САД согласно 501(c)(3) . Нашата адреса е 149 New
Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S. даночно-ослободен
број: 20-0049703</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Отпис:</i></p>

<p>Како наш дарител, ние би сакале да бидете
известени за активностите на заедницата и
иницијативите за средства. Доколку претпочитате
да не добивате вакви писма, тогаш стиснете на
врската подолу за да Ве отстраниме од списокот:</p>

<a style="padding-left: 25px;" href="{{ unsubscribe_link|raw }}">Откажи
претплата</a>

</div>
