<p>Kjære {{contact.first_name}}</p>
<p>Takk for din støtte til Wikimedia Foundation. Du er best!</p>
<p>Det er en enkel sak å se bort fra innsamlingsbannerne våre, men jeg er
veldig glad for at du ikke gjorde det. Det er på denne måten WIkipedia
betaler regningene sine --- gjennom at folk som deg gir oss penger, så vi
kan opprettholde nettstedet, fritt tilgjengelig for alle jordens
innbyggere.</p>
<p>Folk forteller meg at de donerer til Wikipedia fordi de finner
leksikonet nyttig; selv om de vet at det ikke er perfekt, føler de i stor
grad at innholdet er skrevet for dem. Wikipedia er ikke ment å fremme
noens PR-agenda eller en bestemt ideologi, og absolutt ikke for å
overbevise deg til å tro noe som ikke er sant. Vårt mål er å fortelle
sannheten, og det er takket være folk som deg at vi kan arbeide oss
nærmere dette målet. Gjennom å støtte nettstedet, bidrar du til å
holde det uavhengig og i stand til å levere det du trenger og ønsker –
som er akkurat slik det bør være!</p>
<p>Bare så det er helt klart: Ditt bidrag dekker ikke bare din egen bruk.
Gjennomsnittsdonoren dekker kostnaden for sin egen bruk av Wikipedia, men
også for hundrevis av andre. Din donasjon gjør Wikipedia tilgjengelig for
en ambisiøs ungdom i Bangalore som lærer seg selv dataprogrammering. For
en middelaldrende husmor i Wien som akkurat har blitt diagnostisert med
Parkinsons sykdom. For en romanforfatter som holder på å gjøre
bakgrunnsarbeid for 1850-tallets Storbritannia. For en 10-åring i San
Salvador som akkurat har oppdaget Carl Sagan.</p>
<p>Og på vegne av disse, og den halve milliarden andre lesere av Wikipedia
og søstersider, ønsker jeg å takke deg for å bli med oss i vår streben
etter å tilgjengeliggjøre summen av all menneskelig kunnskap for alle
mennesker. Din donasjon gjør verden til et bedre sted. Takk.</p>
<p>De fleste er faktisk ikke klar over at Wikipedia er drevet av en ideell
organisasjon. Hvis du føler for å spre dette budskapet, må du gjerne
dele denne eposten med noen av dine venner. Og hvis du ikke allerede har
prøvd å redigere Wikipedia, vil jeg absolutt oppfordre deg til å prøve
dette. Finner du en skrivefeil eller noe annet som ikke stemmer; se om du
ikke kan rette det opp. For å komme igang, finnes det hjelp [$url1 her].
Og ikke vær redd for å gjøre feil: alle normale mennesker gjør noen
feil i begynnelsen, men det er andre wikipedianere som følger med og
fikser det, og de er vant med at nybegynnere gjør feil. Det finnes
ressurser [$ur11 her] som kan hjelpe deg igang. Ikke vær redd for å
gjøre feil. Det skjer gjerne med nye brukere og andre Wikipedianere vil
med glede fikse opp feilen for deg.</p>
<p>Jeg er takknemlig for at du stoler på oss, og jeg lover at vi vil bruke
pengene dine på en best mulig måte.</p>
<p>Takk,<br/>
Sue</p>
<p>Sue Gardner<br/>
Administrerende direktør<br/>
Wikimedia Foundation <a class="external autonumber"
href="https://donate.wikimedia.org">[1]</a></p>
<p>Du kan følge oss på <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> eller <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, like oss på
<a href="https://www.facebook.com/wikipedia">Facebook</a> og <a
href="https://blog.wikimedia.org">lese vår blogg</a>. Her er Wikimedia
Foundations <a
href="https://wikimediafoundation.org/wiki/Annual_Report">årsoppgave for
2010-11</a>, <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">budsjett
for 2012-13</a> og <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">femårs
strategiplan</a>. Nå kan du også kjøpe Wikipedia-ting på <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>
<p>Status: Din donasjon den {{contribution.receive_date}} var
{{contribution.contribution_source|l10n_currency(locale)}}</p>
<p>Mulighet for avmelding: Som støttespiller vil vi gjerne holde deg
oppdatert om vårt fellesskaps aktiviteter og innsamlingsaksjoner. Hvis du
foretrekker å ikke motta den slags e-poster fra oss, så klikk på lenken
under, så fjerner vi deg fra listen.:</p>
<p><a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Avslutt
abonnement</a></p>
<p>Denne meldingen kan tjene som kvittering for din donasjon. Der er ikke
gitt noen hel eller delvis form for gjenytelse i forholdt til gaven. The
Wikimedia Foundation, Inc. er en non-profit veldedig organisasjon med
skattefradragsstatus i USA. Vår adresse er: 149 New Montgomery, 3rd Floor,
San Francisco, CA, 94105. U.S. skatteunntaksnummerr: 20-0049703</p>