<p>Dragi {{ first_name }},</p>

<p>Fantastični ste. HVALA, ker podpirate Fundacijo Wikimedia, neprofitno organizacijo, ki poganja
Wikipedijo in njene sestrske projekte.</p>

<p>Vaš prispevek ne pokriva samo stroška vaše uporabe Wikipedije, temveč tudi stroške drugih
bralcev.</p>

<p>Med njimi so upokojeni kmetovalec na severu New Yorka, ki uporablja Wikipedijo za študij mulja
in študent iz Kuala Lumpurja, ki raziskuje organsko kemijo. Britanski mehanik, ki si je v nesreči
zlomil hrbet, se je s pomočjo Wikipedije prekvalificiral za razvijalca spletnih storitev. Javni
uslužbenec s Finske, ki je vzpostavil lokalno različico Wikipedije za majhno šolo v Gani. In oče
iz Mexico Cityja, ki ob vikendih pelje svoje hčerke v muzej in jim nato z uporabo Wikipedije pomaga
razumeti, kaj so videli.</p>

<p>Naloga Wikipedije je dostaviti zbirko vsega človeškega znanja vsakomur na svetu, v njegovem
jeziku. Drzen podvig, ampak s 30 milijoni člankov v 287 jezikih bi rekla, da smo na dobri poti -
zahvaljujoč vam in ljudem kot ste vi.</p>

<p>V imenu Fundacije Wikimedia in pol milijarde drugih bralcev Wikipedije: hvala. Zato, ker pomagate
plačati stroške za poganjanje Wikipedije, lahko ostane brez oglasov in nepristranska,
osredotočena samo na pomoč svojim bralcem. Tako kot mora biti.</p>

<p>Mogoče ste opazili, da smo letos prvič optimizirali kampanjo zbiranja sredstev tako, da bo
večina ljudi videla pasice samo nekajkrat namesto več tednov zapored. Sprememba je namerna:
nočemo razdražiti ljudi z nenehnim pozivanjem. Vendar to pomeni, da bo manj ljudi spoznalo, da
delujemo neprofitno in da želimo njihovo pomoč. Zato bi vam bila hvaležna, če bi bili
pripravljeni posredovati to pismo nekaj vašim prijateljem.</p>

<p>Zelo fino bi bilo tudi, če bi se nam poskusili pridružiti pri pisanju Wikipedije. Wikipedijo v
celoti ustvarjajo prostovoljci -- desettisoči navadnih ljudi po vsem svetu. Če vidite tipkarsko
ali kakšno drugo drobno napako na Wikipediji, jo prosim popravite. Če veste nekaj, kar bi bilo
vredno dodati, prosim dodajte. Nekaterim je to v neznansko zadovoljstvo, mogoče bo tudi vam.</p>

<p>Vnovič hvala. Zelo cenim vaše zaupanje in vam obljubljam: vaš denar bomo porabili pazljivo in
v dober namen.</p>

<p>Hvala,<br/>
Sue</p>

<p>Sue Gardner<br/>
Izvršna direktorica,<br/>
Fundacija Wikimedia<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Mnogo delodajalcev se je zavezalo izenačiti prispevek svojih zaposlenih: prosimo preverite pri
svojem podjetju ali ima tak program. Sledite nam lahko na <a
href="https://twitter.com/Wikipedia">Twitterju</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> ali <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, nas všečnete na <a
href="https://www.facebook.com/wikipedia">Facebooku</a> ali <a
href="https://blog.wikimedia.org">preberete naš blog</a>. Tukaj je <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">letno
poročilo Fundacije Wikimedia za 2011-12</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">njen letni
načrt za 2013-2014</a> in <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">petletni
strateški načrt</a>. Zdaj lahko tudi naročite uradne izdelke na <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Za vašo evidenco: vaša donacija, št. {{ transaction_id }} na dan
{{ receive_date }} je znašala
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

<p>{% if recurring %} Ta donacija je del ponavljajoče naročnine. Fundacija Wikimedia vam bo do
vašega preklica mesečno trgala znesek z vašega računa. Če bi radi prekinili plačila, si
prosimo oglejte naša <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">navodila za preprosto prekinitev plačevanja</a> {% endif %}</p>

<p>Sporočilo velja za potrdilo o vaši donaciji. Wikimedia Foundation, Inc. je neprofitna,
dobrodelna korporacija, oproščena davkov po določilu 501(c)(3) zakonodaje ZDA. Naš naslov je 149
New Montgomery, 3rd Floor, San Francisco, CA, 94105. Številka davčnega izvzema ZDA: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Možnost odjave:</p>
  <p>Kot donatorja vas želimo obveščati o aktivnostih naše skupnosti in zbiranju sredstev v
prihodnje. Če ne želite prejemati tovrstnih e-sporočil od nas, prosim kliknite spodaj za
odstranitev s seznama.</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">Odjava</a></p>
  </div>
</div>

<p>
  <br/>
</p>

<hr/>

<p>Prosim, pomagajte nam <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">prevesti</a>
to sporočilo.</p>