<p>Geachte {{contact.first_name}}</p>

<p>Hartelijk dank voor uw donatie. Wij waarderen uw bijdrage!</p>

<p>Het is gemakkelijk om onze banner voor fondsenwerving te negeren, maar ik waardeer het
ten zeerste dat u dit niet heeft gedaan. Dit is dé manier waarop Wikipedia haar kosten
kan dekken. Mensen zoals u geven ons geld. Zo kunnen wij deze site vrij toegankelijk
houden voor iedereen, wereldwijd.</p>

<p>Mensen vertellen me dat zij aan Wikipedia een donatie geven omdat ze het project
waardevol vinden. Ook al is Wikipedia niet perfect, zij vertrouwen erop in de wetenschap
dat het voor hen geschreven is. Wikipedia heeft tenslotte geen PR-doelen ten aanzien van
derden, geen verborgen agenda en geen specifieke ideologie. Ook wil het de lezer geen
onwaarheden verkondigen. We proberen de waarheid te verkondigen en we kunnen dat dankzij
u. Uw donatie houdt ons onafhankelijk en in staat te leveren wat u nodig heeft. Exact
zoals het hoort.</p>

<p>U moet weten dat uw donatie niet alleen betrekking heeft op uw eigen kosten. De
gemiddelde donateur betaalt voor zijn of haar eigen gebruik van Wikipedia plus de kosten
van honderden andere mensen. Uw donatie houdt Wikipedia beschikbaar voor een ambitieuze
jongen in Bangalore, die zichzelf het programmeren van computers aanleert. Een huisvrouw
van middelbare leeftijd in Wenen die net gediagnosticeerd is met de ziekte van Parkinson.
Een romanschrijver die het Groot-Brittannië uit 1850 onderzoekt. Een 10-jarige in San
Salvador die net Carl Sagan ontdekt.</p>

<p>Namens deze mensen en de half miljard andere lezers van Wikipedia en haar zustersites
en projecten, bedank ik u voor uw hulp om de som van alle menselijke kennis voor iedereen
beschikbaar te maken. Uw donatie maakt de wereld een betere plek. Bedankt.</p>

<p>De meeste mensen weten niet dat Wikipedia door een niet op winst gerichte organisatie
wordt verzorgd. Stuur deze e-mail alstublieft door aan een aantal van uw vrienden en
moedig hun aan om ook de doneren. Als u Wikipedia interessant vindt, probeert dan ook eens
nieuwe informatie toe te voegen aan Wikipedia. Als u een tikfout of een andere kleine fout
ziet, corrigeer deze dan. Als u ziet dat er iets mist, voeg dat dan toe.</p>

<p>Ik wil u bedanken voor uw vertrouwen in ons en ik beloof dat we uw geld goed gaan
gebruiken.</p>

<p>Bedankt,<br />
Sue</p>

<br />
<p>Sue Gardner<br />
Executive director,<br />
Wikimedia Foundation</p>

<p>Voor uw boeken: uw heeft een donatie gemaakt op {{contribution.receive_date}} voor {{contribution.contribution_source}}.{% if recurring %}{% include 'recurring/nl.html' ignore missing %}{% endif %}</p>

<p>Deze brief dient als bewijsstuk voor uw donatie. Er zijn geen goederen of diensten
aangeboden, in het geheel of als deel van deze bijdrage. De Wikimedia Foundation, Inc. is
een non-profit organisatie met de belastingsvrijstellingsstatus 501(c) (3) in de Verenigde
Staten Van Amerika. Ons adres is Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S.
Tax-exempt number: 20-0049703.</p>

<p>U kunt ons volgen op <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> of <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, ons leuk vinden op <a
href="https://www.facebook.com/wikipedia">Facebook</a> en <a
href="https://blog.wikimedia.org">onze blog lezen</a>. Lees ook het <a
href="https://wikimediafoundation.org/wiki/Annual_Report">jaarverslag van de Wikimedia
Foundation over 2010-11</a>, het <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">jaarplan
van de Wikimedia Foundation voor 2012-13</a> en het <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">vijfjarenplan
van de Wikimedia Foundation</a>. U kunt nu ook leuke spullen kopen van Wikipedia op <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Uitschrijven</i></p>

<p>We willen u, als donateur, graag op de hoogte houden van onze maatschappelijke
activiteiten en fondsenwervingen. Als u deze e-mails liever niet van ons wilt ontvangen,
klik dan hieronder en wij halen u van de lijst.</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Uitschrijven</a>

</div>

