{% if first_name and last_name %}
<p>Вітаємо, {{ first_name }}!</p>

{% else %}
<p>Шановний благодійнику!</p>
{% endif %}

<p>Дякуємо за ваш безцінний внесок у розповсюдження
знань серед усіх жителів світу.</p>

{% if "RecurringRestarted" in contribution_tags %}<p> Ми нещодавно вирішили
незначну технічну проблему, яка призупиняла деякі
повторювані пожертви. Ми відновили вашу повторювану
пожертву, надалі вона буде оброблятися у нормальному
режимі. Ми не списуватимемо кошти за ті місяці, які
було пропущено. Дякуємо за ваші терпіння й підтримку.
І, будь ласка, не вагайтесь писати на адресу
donate@wikimedia.org, якщо у вас виникають будь-які запитання.
</p>{% endif %}

<p>Мене звуть Лайла Третіков і я виконавчий директор
Фонду Вікімедіа. Протягом минулих років ваші внески
підтримували наші зусилля в тому, щоб поширювати
енциклопедію на 287 мовах та робити її більш доступною в
усьому світі. Понад усе ми намагалися торкнутися тих, у
кого нема інших засобів для освіти. Ми несемо знання
таким людям, як Акшая Аєнгар з Солапура. Зростаючи в
цьому індійському місті, де виробляють текстиль, вона
використовувала Вікіпедію як своє основне джерело
знань. Для студентів цієї місцевості, де книги є
дефіцитом, але є мобільний інтернет, Вікіпедія
відіграє надважливу роль. Акшая закінчила коледж в
Індії і тепер працює спеціалістом з програмного
забезпечення у США. Вона вважає, що половиною своїх
знань зобов'язана Вікіпедії.</p>

<p>І це не єдина така історія. Наша висока місія — це
великий виклик. Більшість людей, які використовують
Вікіпедію, дивуються коли дізнаються що вона
підтримується некомерційною організацією і
забезпечується вашими пожертвуваннями. Кожен рік
достатня кількість людей жертвує, щоб скарб усіх
людських знань був доступний кожному. Дякую за те, що
Ви робите цю місію можливою.</p>

<p>Від імені півмільярда читачів Вікіпедії, тисяч
редакторів-волонтерів та від імені персоналу Фонду, я
дякую Вам за підтримку Вікіпедії в роботі та без
реклами цього року.</p>

<p>Із вдячністю,<br/>
Лайла</p>

<p>Лайла Третіков,<br/>
виконавчий директор<br/>
Фонду Вікімедіа<br/>
<a class="external text" href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Для довідки: ваша пожертва № {{ transaction_id }} за {{ receive_date
}} склала {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Ця пожертва є частиною регулярної
передплати. Щомісячні платежі будуть списуватися з
рахунку за запитом Фонду Вікімедіа, поки Ви не
повідомите про їх припинення. Якщо Ви хочете скасувати
платежі, будь ласка, ознайомтеся з нашими <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">простими інструкціями зі скасування платежів</a>.
</p>{% endif %}

<p>Цей лист може слугувати підтвердженням вашої
пожертви. За цей внесок не було надано жодних товарів
чи послуг, ні в цілому, ні частково. Фонд Вікімедіа (The
Wikimedia Foundation, Inc.) — некомерційна благодійна корпорація
зі статусом звільнення від податків 501(c)(3) у США. Наша
адреса: 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. Номер
звільнення від податків у США: 20-0049703.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Відмова від отримання повідомлень:</p>
  <p><br/>
Ми б хотіли тримати Вас, нашого благодійника, в курсі
нашої суспільної діяльності і добродійних акцій.
Проте, якщо Ви вважаєте за краще не отримувати від нас
подібні повідомлення, будь ласка, клацніть по
нижченаведеному посиланню, і ми вилучимо Вашу адресу
зі списку розсилки.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Відписатися</a></p>
  </div>
</div>

<hr/>

<p>Будь ласка, допоможіть нам <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20140606">перекласти</a>
цього листа.</p>