<p>Hörmətli {{contact.first_name}},</p>

<p>Vikimedia Fonduna göstərdiyiniz yardım üçün təşəkkürlər. Bu gözəl bir
işdir!</p>

<p>Bizim vəsait toplanması barədə bannerlərimizə əhəmiyyət verməmək çox sadə
idi və mən çox şadam ki, siz bunu etmədiniz. Məhz bu yolla Vikipediya öz
xərclərini ödəyir — bir çox insan sizin kimi bizə pul verir ki, biz bu saytı
dünyadakı hər kəs üçün azad formada saxlaya bilək.</p>

<p>İnsanlar mənə deyirlər ki, onlar Vikipediya üçün ianəni ona görə verirlər
ki, bu layihəni faydalı hesab edirlər, ona etibar edirlər, baxmayaraq ki, o
mükəmməl deyil, həm də ona görə ki, Vikipediyanın onlar üçün yazıldığını
bilirlər. Vikipediya kiminsə məşhurluğunu artırmaq, hansısa xüsusi ideologiyanı
yaymaq və ya sizi əslində həqiqətə uyğun olmayan nəyəsə inandırmaq üçün
nəzərdə tutulmayıb. Bizim məqsədimiz həqiqəti deməkdir və biz bunu sizin
sayənizdə edə bilərik. Bu saytın maddi müstəqilliyinin sizlərin dəstəyindən
asılı olması faktı bizə imkan verir ki, sizə lazım olan və sizin Vikipediyadan
gözlədiyiniz məlumatları sizə çatdırmağa imkan verir. Bu, elə belə də
olmalıdır.</p>

<p>Bilin ki, sizin ianəniz təkcə sizin şəxi ehtiyaclarınızın təmin edilməsi
xərclərini ödəmir. Orta ianəçi təkcə özünün Vikipediyadan istifadə
xərclərini yox, həm də yüzlərlə digər istifadəçinin xərclərini ödəyir. Sizin
ianəniz proqramlaşdırmanı sərbəst şəkildə öyrənən və öz məqsədinə can
atan Banqalorlu qızcığaza, yenicə Parkinson xəstəliyi diaqnozu qoyulmuş ortayaşlı
vyanalı inşaatçıya, 1850-ci illərin Britaniyasını tədqiq edən yazıçıya, Karl
Saqanı özü üçün yenicə kəşf etmiş San-Salvadorlu 10 yaşlı yeniyetməyə
Vikipediyanı əlçatan edir.</p>

<p>Bütün bu insanların və Vikipediyanın digər qohum saytlarının və
layihələrinin yarım milyard digər oxucusunun adından, bəşəriyyət tərəfindən
toplanmış bilikləri hər kəs üçün əlçatan etmək yolundakı səylərimizdə bizə
qoşulduğunuz üçün sizə təşəkkür edirəm.</p>

<p>İnsanların əksəriyyəti bilmirlər ki, Vikipediya qeyri-kommersiya layihəsidir.
Zəhmət olmasa, bu elektron məktubu bir neçə dostunuzla bölüşmək barədə
düşünün, bu onlara ianə bağışlamaya ilham verəcək. Əgər marağınız varsa,
siz də Vikipediyaya yeni məlumatlar əlavə edə bilərsiniz. Əgər səhifələrdə
səhv görürsünüzsə, lütfən onu düzəldin, əgər nəsə bir əskiklik görsəniz,
lütfən əlavə edin.</p>

<p>Mən sizin bizə olan etibarınızı qiymətləndirirəm və söz verirəm ki, biz
sizin pulunuzu düzgün istifadə edəcəyik.</p>

<p>Təşəkkürlər,<br />
Syu</p>

<br />
<p>Syu Qardner<br />
İcraçı direktor,<br />
Vikimedia Fondu</p>

<p>Məlumat üçün: Sizin {{contribution.receive_date}} tarixli ianənizin məbləği
{{contribution.contribution_source|l10n_currency(locale)}} təşkil etmişdir.{% if
recurring %}{% include 'html/recurring/az.html' ignore missing %}{% endif %}</p>

<p>Bu məktub sizin ianənizin təsdiqi kimi çıxış edə bilər. Bu ianə müqabilində
tam və ya qismən heç bir mal və ya xidmət təqdim edilməmişdir. Vikimedia Fondu
(The Wikimedia Foundation, Inc.) — ABŞ-da 501(c)(3) statuslu vergilərdən azad
olunmuş qeyri-kommersiya xeyriyyə korporasiyasıdır. Bizim ünvanımız:
Nyu-Monqomeri-strit, 149, 3-cü mərtəbə, San-Fransisko, Kaliforniya, 94105 (149 New
Montgomery, 3rd Floor, San Francisco, CA, 94105). ABŞ-da vergilərdən azad edilmə
nömrəsi: 20-0049703.</p>

<p>Siz bizi <a href="https://twitter.com/Wikipedia">Tvitterdə</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> və ya <a
href="https://plus.google.com/+Wikipedia/posts">"Google+"da</a> izləyə bilərsiniz, <a
href="https://www.facebook.com/wikipedia">"Facebook"da</a> bizi bəyənin və <a
href="https://blog.wikimedia.org">bloqumuzu oxuyun</a>. <a
href="https://wikimediafoundation.org/wiki/Annual_Report">2010-11-ci illər üçün
Vikimedia Fondunun illik hesabatı</a>, <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">2012-13-cü
illər üçün Vikimedia Fondunun illik planı</a> və <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Vikimedia
Fondunun beşillik strateji planı</a> ilə tanış ola bilərsiniz. İndi siz həm də
bizim <a href="https://shop.wikimedia.org">shop.wikimedia.org</a> mağazamızdan
Vikipediya ilə bağlı malları satın ala bilərsiniz.</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Xəbərdarlıqların alınmasından imtina etmək</i></p>

<p>Biz sizi bir xeyriyyəçi kimi, bizim ictimai fəaliyyətlərimiz və xeyriyyə
aksiyalarımız barədə xəbərdar etmək istəyərdik. Əgər siz bizdən belə
xəbərləri almamağa üstünlük verirsinizsə, onda aşağıdakı keçidi seçin və
biz sizin ünvanınızı siyahıdan çıxaracağıq.</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Abunəni ləğv et</a>

</div>

