{% if first_name and last_name %}
<p>Labdien, {{ first_name }}!</p>

{% else %}
<p>Cienījamais ziedotāj!</p>
{%endif%}

<p>Paldies par Jūsu sniegto atbalstu Wikipedia un Wikimedia Foundation. Jūsu ieguldījums {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} atbalsta Wikipedia un palīdz nākotnē nodrošināt brīvi pieejamas zināšanas ikvienam.</p>

{% if "RecurringRestarted" in contribution_tags %}
<p>Mēs nesen novērsām nelielu tehnisku problēmu, kuras dēļ daži ikmēneša ziedojumi tika apturēti. Mēs esam atjaunojuši Jūsu regulāro ziedojumu, un turpmāk tas tiks apstrādāts ierastajā veidā. Par mēnešiem, kas tika izlaisti, nauda netiks iekasēta. Pateicamies par Jūsu pacietību un sniegto atbalstu. Ja Jums ir kādi jautājumi, lūdzu, nosūtiet e-pasta ziņojumu uz adresi donate@wikimedia.org.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Mēs nesen novērsām nelielu tehnisku problēmu, kuras dēļ daži ziedotāji nesaņēma apstiprinājumu par veikto ziedojumu. Lūdzu, pieņemiet šo e-pasta ziņojumu kā pateicību par ziedojumu, ko veicāt {{ receive_date }}. Pateicamies par Jūsu pacietību un sniegto atbalstu. Ja Jums ir kādi jautājumi, lūdzu, nosūtiet e-pasta ziņojumu uz adresi donate@wikimedia.org.</p>
{%endif%}

<p>
  <b>Wikipedia var pastāvēt spēcīgas idejas dēļ: cilvēki, kā Jūs un kā es, var piedalīties pasaules zināšanu veidošanā un padarīt tās brīvi pieejamas ikvienam jebkurā pasaules vietā.</b>
</p>

<p>Šodien pateicoties miljoniem brīvprātīgo līdzdalībnieku un atbalstītāju Jūs varat klejot pa Wikipedia stundām. Wikipedia ar vairāk nekā 40 miljoniem rakstu un 35 miljoniem brīvi licencētu attēlu var atbildēt uz gandrīz ikvienu jautājumu un aizvest Jūs uz vietām, kur nekad neesat bijis.</p>

<p>Jūsu ziedojums atbalsta brīvi pieejamu zināšanu veidošanu un kopīgošanu reālos, praktiskos veidos. Tas palīdz mums padarīt Wikipedia ātru, drošu un pieejamu ikvienam visā pasaulē. Tas palīdz mums sniegt brīvu piekļuvi Wikipedia vietās, kur augstās mobilo datu izmaksas attur cilvēkus no došanās tiešsaistē. Tas palīdz mums atbalstīt cilvēkus, kuri digitalizē zināšanas, kas pašreiz vēl ieslēgtas analogos arhīvos. Tas aizsargā Wikipedia no draudiem brīvi pieejamām zināšanām un atvērtam internetam.</p>

<p>Jūsu atbalsts nozīmē, ka tagad Jūs varat atrast nepieciešamo informāciju, lai kur arī atrastos - lai izšķirtu derības ar draugu vakariņu laikā vai izprastu apkārtējo pasauli.</p>

<p>
  <b>Ziedošana Wikipedia padara Jūs par spēcīgas idejas aizstāvi.</b>
</p>

<p>Wikipedia turpinās attīstīties, augt un pieņemt jaunus izaicinājumus. Mēs pieņemam tos ar aizrautību, un vēl daudz vairāk. Jūsu ziedojums palīdzēs mums to sasniegt. Nav iespējams pateikties pietiekami par Jūsu sniegto atbalstu. Wikimedia Foundation mēs vēlamies Jums pateikt paldies, ka ieguldījāt mūsu nākotnē un uzņēmāties šo ceļu kopā ar mums.</p>

<p>Katherine Maher<br/>
Izpilddirektore, Wikimedia Foundation</p>

<p>Daudzi darba devēji dāsni pievienojas darbinieku ieguldījumiem: lūdzu, sazinieties ar Jūsu darba devēju, lai noskaidrotu, vai viņiem nav ieviesta <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">uzņēmuma saskaņotā dāvinājumu programma</a>. Jūsu pierakstiem: Jūsu ziedojums, numurs {{ transaction_id }}, tika veikts {{ receive_date }} par summu {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}
<p>Šis ziedojums ir daļa no regulāru ziedojumu plāna. Wikimedia Foundation reizi mēnesī iekasēs maksājumu, līdz saņemsim Jūsu pieprasījumu tos pārtraukt. Ja vēlaties atcelt maksājumus, lūdzu, <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">skatiet mūsu vienkāršos norādījumus par atcelšanu</a>.</p>
{%endif%}

<p>Šī vēstule var kalpot kā Jūsu ziedojuma apliecinājums. Par šo ieguldījumu ne pilnībā, ne daļēji netiks piešķirtas preces vai pakalpojumi.</p>

<p>Lūdzu, rakstiet uz: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, ASV. ASV nodokļu atvieglojuma numurs: 20-0049703</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20161128/lv&amp;oldid=16766968","name":"thank_you.lv.html","revision":16766968}TI_END -->