<p>Annwyl {{contact.first_name}},</p>

<p>DIOLCH YN FAWR i chi am gefnogi Sefydliad Wikimedia, y sefydliad di-elw sy'n gyfrifol am
Wicipedia a'i chwaer-brosiectau.</p>

<p>Mae eich rhodd yn talu am ein costau ni o gynnig gwybodaeth i chi a darllenwyr eraill
Wicipedia.</p>

<p>Mae darllenwyr Wicipedia yn cynnwys y ffermwr wedi ymddeol, yn nhalaith Efrog Newydd, sy'n
defnyddio Wicipedia i astudio gwyddor llaca, a'r myfyriwr yn Kuala Lumpur sy'n ymchwilio cemeg
organig. Mae'n cynnwys y peiriannydd o Brydain dorrodd asgwrn ei gefn mewn damwain, sy'n defnyddio
Wicipedia i ddysgu gwaith newydd datblygwr gwe iddo'i hun. Hefyd y gwas sifil yn y Ffindir a
ddyfeisiodd fersiwn all-lein o Wicipedia i'w ddefnyddio mewn ysgol yn Ghana. Ac hefyd y tad yn Ninas
Mecsico sy'n hebrwng ei ferched i'r amgueddfa ar benwythnos ac yn defnyddio Wicipedia i'w cynorthwyo
i ddeall yr hyn maent yn eu gweld yno.</p>

<p>Nod Wicipedia yw dod a holl wybodaeth dynolryw i bawb drwy'r byd yn eu mamiaith. Mae hynny'n her
anferth, ac eto gyda 30 miliwn o erthyglau mewn 287 o ieithoedd, fe ddwedwn ein bod, diolch i chi
a'ch tebyg, yn ateb yr her.</p>

<p>Ar ran Sefydliad Wikimedia, a'r hanner biliwn o ddarllenwyr eraill Wicipedia ym mhedwar ban byd:
diolch. Trwy eich bod yn cyfrannu at gostau Wicipedia, gallwn hepgor hysbysebion a chadw'n ddiduedd,
gan ganolbwyntio ar gynorthwyo'r darllenwyr yn unig. Mae hyn yn union fel ag y dylai fod.</p>

<p>Hwyrach i chi sylwi ein bod wedi newid yr ymgyrch codi arian fel bod y mwyafrif yn gweld y baneri
ychydig droeon yn unig, yn hytrach nag am wythnosau pen bwy gilydd. O fwriad mae hyn: dydy ni ddim
am boeni pobl o fynd ar ein gofyn o hyd ac o hyd. Ond mae hyn yn golygu y bydd llai o bobl yn deall
ein bod yn sefydliad di-elw, ac ein bod angen cymorth. Felly os ydych yn fodlon, fe fyddwn yn
gwerthfawrogi petaech yn gallu lledu'r gair drwy anfon yr e-bost hwn at rai o'ch ffrindiau.</p>

<p>Ac fe fyddwn yn falch petaech yn ymuno yn y gwaith o ysgrifennu Wicipedia. Mae'r gwaith o
ysgrifennu Wicipedia yn cael ei gynnal yn gyfangwbl gan wirfoddolwyr - degau o filoedd o bobl trwy'r
byd i gyd, pobl cyffredin fel ni. Os y sylwch ar gamsillafiad neu wall bach ar Wicipedia, mae croeso
i chi ei gywiro. Mae rhai yn cael boddhad mawr o wneud hyn, ac efallai y cewch chwithau'r un
boddhad.</p>

<p>Diolch eto. Rwyn gwerthfawrogi eich bod yn ymddiried ynom, ac yn addo hyn: fe fyddwn yn
defnyddio'ch arian yn gall ac yn ofalus.</p>

<p>Diolch,<br/>
Sue</p>

<p>Sue Gardner<br/>
Prif Weithredwr,<br/>
Sefydliad Wikimedia<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Mae rhai cyflogwyr yn ateb cyfraniadau eu gweithwyr, sydd yn dyblu eich cyfraniad: gallwch holi
i'ch cyflogwr a oes ganddynt gynllun cydweddu rhoddion. Gallwch ein dilyn ar <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.co</a> neu ar <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, ein hoffi ar <a
href="https://www.facebook.com/wikipedia">Facebook</a> a <a
href="https://blog.wikimedia.org">darllen ein blog</a>. Dyma <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">adroddiad
blynyddol Sefydliad Wikimedia am 2011-12</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">cynllun
blynyddol Sefydliad Wikimedia am 2013-14</a> a <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">chynllun
strategol 5 mlynedd Sefydliad Wikimedia</a>. Gallwch brynu nwyddau Wicipedia yn ein <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Dyma gofnod o'ch cyfraniad: Derbyniwyd rhodd o
{{contribution.contribution_source|l10n_currency(locale)}} gennych ar {{contribution.receive_date}}
gyda'r cyfeirnod CNTCT-{{contribution.contact_id}}.</p>

<p>{% if recurring %} Mae'r rhodd hon yn ran o danysgrifiad rheolaidd. Bydd taliadau misol yn cael
eu codi gan Sefydliad Wikimedia tan eich bod yn ein hysbysu i ymatal. Os hoffech ddiddymu'r taliadau
darllenwch ein <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">cyfarwyddiadau syml ar ddiddymu</a>. {% endif %}</p>

<p>Mae'r llythyr hwn yn gofnod o'ch rhodd. Ni gyflenwyd unrhyw nwyddau na gwasanaethau, yn rhannol
nac yn gyflawn, yn dâl am y cyfraniad hwn. Mae Wikimedia Foundation, Inc. yn gorfforaeth di-elw
elusennol ac iddi statws di-dreth 501(c)(3) yn Unol Daleithiau America. 149 New Montgomery, 3rd
Floor, San Francisco, CA, 94105 yw ein cyfeiriad. Rhif di-dreth yr UD: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Dewis peidio â derbyn e-byst:</p>
  <p>Hoffwn roi gwybod i chi am ddigwyddiadau ein cymuned ac am ymgyrchoedd codi arian eraill. Ond
os oes gwell gennych chi beidio â derbyn e-byst am hyn oddi wrthym, gallwch glicio isod ac fe'ch
tynnwn oddi ar y rhestr.</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">Dad-danysgrifio</a></p>
  </div>
</div>

<p>
  <br/>
</p>

<hr/>

<p>Gallwch ein cynorthwyo i <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">gyfieithu'r</a>
e-bost hwn, os gwelwch yn dda.</p>