{% if first_name and last_name %}
<p>Почитуван(а) {{ first_name }},</p>

{% else %}
<p>Драг дарителу,</p>
{%endif%}

<p>Ви благодариме за дадениот прилог од {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} за Фондацијата Викимедија. Фондацијата Викимедија е непрофитна организација која ја поддржува Википедија и другите проекти за слободно знаење. Нашата задача е да го составиме најпристапниот и најопфатниот извор на слободно знаење во светот.</p>

<p>{% if "RecurringRestarted" in contribution_tags %} Неодамна решивме еден мал технички проблем што ја запре уплатата на извесни месечни донации. Сега уплатите се во ред и нештата одат според планот. Нема да ви ги наплатиме прескокнатите месеци. Ви благодариме на трпението и поддршката, и слободно обратете ни се на donate@wikimedia.org ако имате некакви прашања. {%endif%}</p>

<p>{% if "UnrecordedCharge" in contribution_tags %} Неодамна решивме еден технички проблем што предизвика мал број на дарители да не добијат потврди за даруваното. Прифатете го писмово како благодарница за Вашата уплата на $date. Навистина го цениме Вашето трпение и Вашата поддршка, и слободно обратете ни се на donate@wikimedia.org ако имате некакви прашања. {%endif%}</p>

<p>Сметаме дека знаењето е основно човечко право. Со приближувањето на човештвото кон дигиталната иднина, ни требаат отворени и пристапни јавни простори како извор на информации на семрежјето. Викимедија е токму такво место. Википедија му нуди бесплатно знаење на народот, напишано од народот, на стотици јазици ширум светот.</p>

<p>Во текот на една година, Википедија ја уредуваат и читаат луѓе од секој континент, заклучно со Антарктикот. Секој месец имаме преку половина милијарда поединечни посетители, кои се интересираат на сите можни теми, од запазувањето на културното наследство, подобрувања во утврдувањето на ракот, па до истражување за домашна и семинарска работа. Сите тие доаѓаат да научат, а остануваат да откриваат и понатаму.</p>

<p>Секој еден човек е потенцијален википедијанец. Ако не го најдете она што го барате на Википедија, тогаш можете <a rel="nofollow" class="external text" href="https:///mk.wikipedia.org/wiki/Special:UserLogin?type=signup&amp;campaign=lila2015">почнете да го создавате самите</a>. Статиите, зборовите, сликите и податоците ги создава огромна и разновидна заедница кои доброволно работат да го споделат своето знаење со сиот свет.</p>

<p>Секој ден се преиспитуваме како да го зголемиме нашето влијание. Како Википедија и збратимените проекти да бидат уште поточни, побогати и подостапни отколку што се сега. Средствата што ни ги приложувате ќе ни помогнат да го оствариме тоа.</p>

<p>Ви благодариме за Вашиот придонес во нашиот развој и можноста да влијаеме на животите на многу луѓе уште една година.</p>

<p>Фондација Викимедија<br/></p>

<p>Многу работодавачи даваат истомерни прилози кога даруваат нивните вработени: проверете дали вашето претпријатие има <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">програм за истомерно дарување</a>.</p>

<p>За ваша евиденција: Вашиот прилог со бр. {{ transaction_id }} даден на {{ receive_date }} изнесуваше {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Оваа донација е дел од повторлива уплата. Фондацијата секој месец ќе одбива средства сè додека не нè известите да престанеме. Ако сакате да се откажете од ова, погледајте го <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">упатството за лесно откажување</a>. </p>{%endif%}

<p>Ова писмо може да Ви послужи како евиденција за Вашата донација. За донацијава не се доставени стоки или услуги, во целост или делумно. Фондацијата Викимедија (Wikimedia Foundation, Inc.) е непрофитна добротворна корпорација изземена од даночење во САД согласно 501(c)(3). Нашата адреса гласи: 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S. број на даночна изземеност: 20-0049703</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20150904/mk&amp;oldid=15425696","name":"thank_you.mk.html","revision":15425696}TI_END -->