{% if first_name and last_name %}
<p>Estimado/a {{ first_name }},</p>

{% else %}
<p>Estimado/a donante:</p>
{% endif %}

<p>Gracias por tu inestimable regalo de llevar el conocimiento a todos los rincones del mundo.</p>

{% if "RecurringRestarted" in contribution_tags %}<p> Hemos resuelto recientemente un pequeño
problema técnico que hizo que algunas donaciones mensuales recurrentes no se efectuaran. Hemos
restablecido tu donación periódica y de ahora en adelante se procesará normalmente. No
realizaremos cargos adicionales por los meses que se saltaron. Agradecemos tu paciencia y apoyo.
Escríbenos a donate@wikimedia.org si tienes alguna pregunta. </p>{% endif %}

<p>Me llamo Lila Tretikov, y soy la directora ejecutiva de la Fundación Wikimedia. Durante el año
pasado, donaciones como las tuyas apoyaron nuestros esfuerzos para expandir la enciclopedia a 287
idiomas y hacerla más accesible en todo el mundo. Nuestra prioridad principal son las personas que
no tienen otra forma de acceder a la educación. Brindamos conocimiento a personas como Akshaya
Iyengar de Solapur, India. Mientras crecía en un pequeño pueblo dedicado a la manufactura textil,
Wikipedia fue su fuente principal de aprendizaje. Wikipedia es esencial para los estudiantes de
estas regiones, donde escasean los libros pero existe acceso móvil a Internet. Akshaya continuó
sus estudios hasta obtener un título universitario en la India y actualmente trabaja como ingeniera
de <i>software</i> en los Estados Unidos. Ella afirma que la mitad de sus conocimientos proceden de
Wikipedia.</p>

<p>Esta historia no es la única. Nuestra misión es ambiciosa y presenta grandes desafíos. La
mayoría de los usuarios de Wikipedia se sorprende al saber que está dirigida por una organización
sin ánimo de lucro y que se financia mediante donaciones. Cada año justo las personas necesarias
hacen una donación para seguir manteniendo la totalidad del conocimiento humano disponible para
todos. Gracias por hacer posible esta misión.</p>

<p>En nombre de quinientos millones de personas que leen Wikipedia, de los miles de editores
voluntarios y del personal de la Fundación, te doy las gracias por mantener a Wikipedia en línea y
sin publicidad este año.</p>

<p>Gracias,<br/>
Lila</p>

<p>Lila Tretikov<br/>
Directora Ejecutiva,<br/>
Fundación Wikimedia<br/>
<a class="external text" href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Para tu registro: Tu donativo, número {{ transaction_id }}, el día {{ receive_date }} fue de {{
(currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Este donativo forma parte de una suscripción recurrente. La Fundación
Wikimedia cargará mensualmente la misma cantidad hasta que nos indiques lo contrario. Si deseas
cancelar tus aportaciones, lee estas <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">sencillas instrucciones de cancelación</a>. </p>{% endif %}

<p>Esta carta puede servir de comprobante de tu donativo. No se ofrecieron mercancías ni servicios
íntegros ni parciales a cambio de esta contribución. La Fundación Wikimedia, Inc. es una
organización benéfica sin fines de lucro exenta de impuestos bajo el estatuto 501(c)(3) en los
Estados Unidos. Nuestra dirección es 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105.
Número de exención de impuestos en Estados Unidos: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Opción para darse de baja:</p>
  <p><br/>
Como donante, nos gustaría mantenerte informado de nuestras actividades y campañas de recaudación
de fondos. Sin embargo, si prefieres no recibir este tipo de mensajes, pulsa abajo y te excluiremos
de la lista.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Darse de baja</a></p>
  </div>
</div>

<hr/>

<p>Ayúdanos a <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20140606">traducir</a>
este correo electrónico.</p>