{% if first_name and last_name %}
<p>Вітаємо, {{ first_name }}!</p>

{% else %}
<p>Шановний благодійнику!</p>
{%endif%}

<p>Дякуємо Вам за те, що пожертвували {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} Фонду «Вікімедіа». Фонд «Вікімедіа» — це неприбуткова організація, яка підтримує Вікіпедію та інші проекти, що сприяють безоплатному поширенню знань. Наша місія — створити найбільше безоплатне та загальнодоступне джерело знань у світі.</p>

<p>{% if "RecurringRestarted" in contribution_tags %} Ми нещодавно вирішили незначну технічну проблему, яка призупиняла деякі повторювані пожертви. Ми відновили вашу повторювану пожертву, надалі вона буде оброблятися у нормальному режимі. Ми не списуватимемо кошти за ті місяці, які було пропущено. Дякуємо за ваші терпіння й підтримку. І, будь ласка, не вагайтесь писати на адресу donate@wikimedia.org, якщо у вас виникають будь-які запитання. {%endif%}</p>

<p>{% if "UnrecordedCharge" in contribution_tags %} Нещодавно ми виправили невеличку технічну проблему, через яку декілька щомісячних пожертв відбулися без отримання податкової накладної. Цей лист є підтвердженням пожертв, зроблених раніше у 2014 році, і не свідчить про нову пожертву. Усі листи вдячності відтепер будуть відсилатися у нормальному режимі. Дякуємо за Вашу терплячість і підтримку і, будь ласка, не вагайтеся писати на donate@wikimedia.org, якщо у Вас виникають будь-які запитання. {%endif%}</p>

<p>Ми переконані: основне право кожної людини — це право на знання. Людство прямує у цифрове майбутнє, тож нам потрібні відкриті, доступні для всієї спільноти майданчики для отримання знань в Інтернеті. Саме таким майданчиком є Вікімедіа. Користувачі Вікіпедії безоплатно надають інформацію іншим користувачам сотнями мов у всьому світі.</p>

<p>Протягом року Вікіпедію редагують та читають люди на всіх континентах, навіть в Антарктиді. Щомісяця Вікіпедію відвідують майже півмільярда користувачів, щоб дізнатися про будь-що: захист культурної спадщини, сучасні способи діагностування раку або просто щоб виконати домашнє завдання. Ці люди прагнуть навчатися. Вони залишаються з Вікіпедією та здобувають нові знання.</p>

<p>Автором Вікіпедії може стати кожен. Якщо ви не знайшли певну інформацію у Вікіпедії, ви можете <a rel="nofollow" class="external text" href="https:///uk.wikipedia.org/wiki/Special:UserLogin?type=signup&amp;campaign=lila2015">додати її власноруч</a>. Статті, тексти, зображення та інші дані створюються спільнотою, до якої входить безліч різних людей, які безоплатно діляться знаннями зі світом.</p>

<p>Щодня ми питаємо себе, як можна посилити позитивний вплив Вікіпедії, як зробити так, щоб Вікіпедія та споріднені з нею проекти були в майбутньому що точнішими, багатшими та доступнішими, ніж вони є зараз. Ваша пожертва допоможе нам в цьому.</p>

<p>Дякуємо! Завдяки Вам ми продовжуємо зростати та змінювати життя людей ще один рік поспіль.</p>

<p>Лайла Третіков<br/>
виконавчий директор<br/>
Фонду «Вікімедіа»<br/></p>

<p>Чимало роботодавців долучаються до пожертв своїх працівників: будь ласка, перевірте, чи діє у Вашій компанії <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">корпоративна програма пожертвувань</a>.</p>

<p>Для довідки: ваша пожертва за № {{ transaction_id }} від {{ receive_date }} на суму {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Ця пожертва є частиною регулярної передплати. Щомісячні платежі будуть списуватися з рахунку за запитом Фонду Вікімедіа, поки Ви не повідомите про їх припинення. Якщо Ви хочете скасувати платежі, будь ласка, ознайомтеся з нашими <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">простими інструкціями зі скасування платежів</a>. </p>{%endif%}

<p>Цей лист може слугувати підтвердженням Вашої пожертви. За цю пожертву не було передано ніяких товарів чи послуг, повністю або частково. Фонд «Вікімедіа» — це неприбуткова благодійна організація, звільнена від оподаткування відповідно до ст. 501(с)(3) Податкового кодексу США. Наша адреса: 149, Нью-Монтгомері, 3-й поверх, Сан-Франциско, штат Каліфорнія, 94105. Код звільнення від оподаткування в США: 20-0049703</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20150904/uk&amp;oldid=13656217","name":"thank_you.uk.html","revision":13656217}TI_END -->