<p>Kjære {{ contact.first_name }}</p>

<p>Tusen takk skal du ha! Tusen takk for at du har donert penger til Wikimedia
Foundation!</p>

<p>Vi betaler regningene ved hjelp av folk som deg, som gir fem, tjue eller hundre dollar.
Favorittgaven min fra i fjor var fem pund fra ei lita jente i England, som hadde overtalt
foreldrene sine til å la henne gi lommepengene sine til oss. Det er folk som deg, i
likhet med denne jenta, som gjør det mulig for Wikipedia å fortsette å tilby fri, enkel
tilgang til nøytral informasjon, for folk over hele verden. For alle som hjelper til å
betale, og til alle som ikke har råd til det. Tusen takk.</p>

<p>Jeg vet at mange ignorerer meldingene våre, men jeg er glad for at du ikke gjorde det.
Fra meg, og fra de titusener av frivillige som skriver Wikipedia: takk for at du hjelper
oss med å gjøre verden til et bedre sted. Vi vil bruke pengene dine forsiktig, og jeg
takker for at du stoler på oss.</p>

<p>Takk,<br />
Sue Gardner<br />
Wikimedia Foundations daglige leder</p>

<p>Til senere bruk: Din gave {{ receive_date }} var på
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.
{% if recurring %}
{% include 'html/recurring/no.html' ignore missing %}
{% endif %}</p>

<p>Dette brevet kan brukes som kvittering på din gave. Ingen varer eller tjenester ble
gitt, helt eller delvis, for dette bidraget. Wikimedia Foundation, Inc. er en ideell
veldedig organisasjon med skattefradragsstatus 501(c)(3) i USA. Adressa vår er 149 New
Montgomery, 3rd Floor, San Francisco, CA, 94105. Skattefradragsnummer i USA:
20-0049703</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Utmelding:</i></p>

<p>Vi ønsker å holde deg som donor oppdatert om aktiviteter og innsamlingsaksjoner. Om
du ikke ønsker å motta slike e-poster fra oss, klikk på lenka under, så fjerner vi deg
fra lista:</p>

<a style="padding-left: 25px;" href="{{ unsubscribe_link|raw }}">Unsubscribe</a>

</div>
