{% if first_name and last_name %}
<p>Hei {{ first_name }},
</p>{% else %}<p>
Kjære giver,</p>
{%endif%}

{% if recurring %}

<p>JJeg er svært glad for gaven din på {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} per måned, og jeg vil takke deg på vegne av alle som ønsker fri kunnskap.
</p>

<p>Donasjonen din holder Wikipedia uavhengig, og din månedlige støtte er avgjørende for langsiktig planlegging og for å hjelpe oss med å se hva Wikipedia kan oppnå i årene fremover. Hver måned vil en donasjon pålydende {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} bli debitert til Wikimedia Foundation inntil du gir oss beskjed om å stoppe.<b>Vi sender deg et sammendrag hver januar over bidragene dine for det foregående året.</b> Hvis du av en eller annen grunn ønsker å kansellere donasjonen, følger du disse <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{ locale }}">enkle kanselleringsinstruksjonene</a>.</p>

{% else %}

<p>JJeg er svært glad for gaven din på {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} og jeg vil takke deg på vegne av alle som ønsker fri kunnskap.
</p>

{% endif %}

{% if "RecurringRestarted" in contribution_tags %}
<p>Nylig løste vi et mindre teknisk problem som midlertidig stanset noen månedlige bidrag. Vi har gjenopptatt ditt månedlige trekk og det vil bli behandlet som normalt i tiden som kommer. Vi vil ikke belaste deg for de foregående månedene. Takk for tålmodigheten og for støtten din. Send gjerne e-post til donate@wikimedia.org hvis du har spørsmål.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Nylig løste vi et teknisk problem som gjorde at en rekke små givere ikke fikk bekreftelse på sine donasjoner. Du mottar denne e-posten som en takk for din donasjon {{ receive_date }}. Vi setter virkelig pris på tålmodigheten og støtten din. Send gjerne e-post til donate@wikimedia.org hvis du har spørsmål.</p>
{%endif%}

<p>Når du nå bruker Wikipedia, håper jeg du får en enda sterkere følelse av det også tilhører deg. For uten deg og uten støtte fra millioner av mennesker som kommer tilbake til oss hver dag, ville ikke det være mulig å drive Wikipedia.
</p>

<p>Donasjonen din gir oss vind i seilene og gjør det mulig for oss å nå vårt mål. Takk for at du setter av plass til Wikipedia i ditt liv.
</p>


<p>Hjertelig takk,</p>


<p>Katherine<br/><br/>
<br/><br/>
Katherine Maher,<br/>
Administrerende direktør, Wikimedia Foundation
</p>

<p>Mange arbeidsgivere matcher gaver fra de ansatte, så sjekk gjerne med din bedrift om de har et <a class="external text" href="https://donate.wikimedia.org/wiki/Matching_Gifts">bedriftsprogram for å matche ansattes gaver</a>.
</p>

<p>Til informasjon: Din gave, nummer {{ transaction_id }}, den {{ receive_date }} var {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.
</p>

<p>Dette brevet er en bekreftelse på gaven. Det ble ikke levert noen varer eller tjenester, helt eller delvis, for dette bidraget. Send post til: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA. Amerikansk skattefritaksnummer: 20-0049703
</p>

<p>Ønsker du ikke å få e-poster om innsamlinger fra Wikimedia Foundation i fremtiden, <a href="{{ unsubscribe_link | raw }}">kan du melde deg av umiddelbart</a>. Merk at vi fremdeles vil sende deg kvitteringer, som denne, for fremtidige donasjoner.
</p>

<!-- TI_BEGIN{"version":1,"name":"thank_you.nb.html","revision":20200220}TI_END -->
