<p>Estimado {{contact.first_name}},</p>
<p>Gracias por donar a la Fundación Wikimedia. ¡Eres maravilloso!</p>
<p>Es fácil ignorar nuestros avisos para recaudar fondos y me alegro de
que tú no lo hicieras. Wikipedia paga sus cuentas gracias a gente como tú
que dona dinero para que podamos mantener la página disponible de forma
gratuita para todo el mundo.</p>
<p>La gente me dice que donan dinero a Wikipedia porque la encuentran útil
y confían en ella ya que, a pesar de no ser perfecta, saben que está
escrita para ellos. Wikipedia no está pensada para promover la agenda de
relaciones públicas de alguien, para fomentar una ideología en particular
o para persuadirte a creer algo que no es cierto. Nuestro objetivo es decir
la verdad y podemos hacerlo gracias a ti. El hecho de que financies la
página nos mantiene independientes y capaces de proporcionarte lo que
necesitas y quieres de Wikipedia. Exactamente como debe ser.</p>
<p>Debes saber que tu donación no está cubriendo solamente tus costes. El
donante medio está pagando por su propio uso de Wikipedia mas el coste de
otros cientos de personas. Tu donación hace que Wikipedia siga disponible
para: una ambiciosa niña en Bangalore que aprende programación
informática de forma autodidacta, una ama de casa de mediana edad en Viena
a quien le acaban de diagnosticar la Enfermedad de Parkinson, un novelista
buscando información sobre la Gran Bretaña de 1850 o un niño de 10 años
en San Salvador que acaba de descubrir a Carl Sagan.</p>
<p>En nombre de esas personas y de otros quinientos millones de lectores de
Wikipedia y de sus otros sitios y proyectos, te doy las gracias por unirte
a nosotros en un esfuerzo por hacer que la totalidad del conocimiento
humano esté disponible para todos. Tu donación hace del mundo un lugar
mejor. Gracias.</p>
<p>La mayoría de la gente no sabe que Wikipedia no tiene fines lucrativos.
Sería de gran ayuda que compartieras este correo electrónico con algunos
de tus amigos para animarles a hacer donaciones. También puedes ayudar
añadiendo información a Wikipedia o arreglando errores tipográficos u
otros fallos menores. Existen recursos [#edit aquí] que pueden ayudarte a
empezar. No te preocupes por cometer un error. Esto es normal cuando la
gente empieza a editar y además otros Wikipedistas lo arreglarán
encantados.</p>
<p>Aprecio tu confianza en nosotros y te prometo que usaremos bien tu
dinero.</p>
<p>Gracias,<br/>
Sue</p>
<p>Sue Gardner<br/>
Directora Ejecutiva,<br/>
Fundación Wikimedia <a class="external autonumber"
href="https://donate.wikimedia.org">[1]</a></p>
<p>Puedes seguirnos en <a href="https://twitter.com/Wikipedia">Twitter</a>,
<a href="https://identi.ca/wikipedia">identi.ca</a> o <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, hacer clic en
"Me Gusta" en <a href="https://www.facebook.com/wikipedia">Facebook</a> y
<a href="https://blog.wikimedia.org">leer nuestro blog</a>. Aquí está el
<a href="https://wikimediafoundation.org/wiki/Annual_Report">informe anual
de la Fundación Wikimedia para 2010-11</a>, el <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">plan
anual de la Fundación Wikimedia para 2012-13</a> y el <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">plan
estratégico a cinco años de la Fundación Wikimedia</a>. Ahora también
puedes comprar productos de Wikipedia en <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>
<p>Para tu información: tu donación a día {{contribution.receive_date}}
fue de {{contribution.contribution_source|l10n_currency(locale)}}.</p>
<p>Opta por una opción: Nos gustaría mantenerte informado de eventos para
recaudar fondos y de las actividades de nuestra comunidad. Sin embargo, si
prefieres no recibir nuestros correos haz clic abajo y te sacaremos de la
lista.:</p>
<p><a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Dar de
baja la suscripción</a></p>
<p>Esta carta puede servir como prueba de tu donación. No se
proporcionaron bienes o servicios, en su conjunto o en parte, por esta
contribución. Wikimedia Foundation Inc. es una organización benéfica sin
ánimo de lucro exenta de impuestos en los Estados Unidos. Nuestra
dirección es 149 New Montgomery, 3er Piso, San Francisco, CA, 94105.
Número de exención de impuestos en Estados Unidos: 20-0049703</p>