<p>Boas, {{contact.first_name}}:</p>

<p>Grazas por faceres unha doazón á Fundación Wikimedia. Que cousa tan marabillosa!</p>

<p>É doado ignorar os carteis da campaña de recadación de fondos, e alégrome de que ti
non o fixeses. Este é o xeito que ten a Wikipedia de pagar as facturas: xente coma ti
dándonos cartos para que o sitio poida manterse dispoñible gratuitamente para todas as
persoas do planeta.</p>

<p>A xente dime que doa á Wikipedia porque atopa que é un recurso útil e confía nela
porque, malia non ser perfecta, sabe que está escrita para ela. A Wikipedia non pretende
promover o programa de relacións públicas dunha persoa ou unha ideoloxía en particular,
ou persuadirte para que creas algo que non é certo. O noso obxectivo é contar a verdade;
e podemos facelo grazas a ti. O feito de que financies este sitio mantennos independentes
e capaces de transmitir o que ti necesitas e queres da Wikipedia. Exactamente como debe
ser.</p>

<p>Debes saber que a túa doazón non só cobre os teus custos. O doante medio está
pagando polo uso que el ou ela fai da Wikipedia, máis os custos de centos doutras
persoas. A túa doazón mantén a Wikipedia dispoñible para unha ambiciosa cativa
autodidacta de Bangalore que está aprendendo programación; unha ama de casa de mediana
idade en Viena que foi diagnosticada de párkinson; un novelista buscando información
sobre a Gran Bretaña do ano 1850; un neno de 10 anos en San Salvador que acaba de
descubir a Carl Sagan.</p>

<p>No nome desa xente, e das outras cincocentas millóns de persoas lectoras da Wikipedia
e os seus proxectos irmáns, douche as grazas por uníreste a nós no noso esforzo por
facer que a suma de todo o coñecemento humano estea dispoñible para todas as persoas. A
túa doazón fai deste mundo un lugar mellor. Grazas.</p>

<p>A maioría da xente non sabe que a Wikipedia está xestionada por unha organización
sen fins lucrativos. Considera compartir esta mensaxe de correo electrónico con algúns
dos teus amigos para animalos a doar. E, se tes interese, deberías intentar engadir
algunha información nova na Wikipedia. Se atopas un erro ou unha falta de ortografía,
corríxeo, e se descubres que falta algo, engádeo.</p>

<p>Agradezo a confianza que depositas en nós e prometo que habemos usar con xeito os teus
cartos.</p>

<p>Grazas,<br />
Sue</p>

<br />
<p>Sue Gardner<br />
directora executiva,<br />
Fundación Wikimedia</p>

<p>Para a túa información: A túa doazón o {{contribution.receive_date}} foi de
{{contribution.contribution_source|l10n_currency(locale)}}.{% if recurring %}{% include
'recurring/gl.html' ignore missing %}{% endif %}</p>

<p>Escta carta serve como proba da túa doazón. Non se proporcionaron bens ou servizos,
en todo ou en parte, por esta contribución. A Fundación Wikimedia, Inc. é unha
corporación sen fins lucrativos con estado 501(c)(3) libre de impostos con oficinas nos
Estados Unidos de América. O noso enderezo é: rúa New Montgomery, número 149, 3º
andar, San Francisco, California, 94105, Estados Unidos de América. Número de exención
de impostos: 20-0049703</p>

<p>Pódesnos seguir no <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> ou <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, facer clic en "Gústame" no
<a href="https://www.facebook.com/wikipedia">Facebook</a> e <a
href="https://blog.wikimedia.org">ler o noso blogue</a>. Aquí está o <a
href="https://wikimediafoundation.org/wiki/Annual_Report">informe anual da Fundación
Wikimedia do 2010-2011</a>, o <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">plan
anual da Fundación Wikimedia 2012-2013</a> e o <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">plan
estratéxico para os vindeiros cinco anos</a>. Tamén podes mercar produtos da Wikipedia
no enderezo <a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Cancelar a subscrición</i></p>

<p>Queremos que como doante teñas información das nosas actividades comunitarias e
campañas de recadación de fondos. Con todo, se prefires deixar de recibir as nosas
mensaxes, preme na ligazón inferior para retirar o teu nome da lista de destinatarios</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Cancelar a subscrición</a>

</div>

