<p>ถึง {{contact.first_name}}</p>

<p>ขอบคุณที่บริจาคให้มูลนิธิวิกิมีเดีย
คุณยอดมาก!</p>

<p>มันง่ายที่จะเพิกเฉยต่อพาดหัวเชิญชวนบริจาค
และฉันก็ดีใจที่คุณไม่ได้ทำเช่นนั้น
นี่เป็นวิธีที่ทำให้วิกิพีเดียยืนหยัดอยู่ได้
คนเช่นคุณให้เงินกับเรา
เราจึงสามารถทำให้วิกิพีเดียฟรีและเข้าถึงได้จากทุกคนบนโลกใบนี้</p>

<p>ผู้คนบอกกับฉันว่าที่เขาบริจาคให้วิกิพีเดียนั้น
เป็นเพราะเขาเหล่านั้นพบว่าวิกิพีเดียมีประโยชน์
 และเขาก็เชื่อใจมันแม้ว่ามันจะไม่สมบูรณ์แบบ
เขารู้ว่ามันถูกเขียนขึ้นเพื่อตัวเขา
วิกิพีเดียไม่ใช่ที่ที่จะให้ใครมาแอบแฝงโฆษณาหรือผลักดันแนวคิดใหม่ๆหรือโน้มน้าวให้คุณเชื่อในสิ่งที่ผิด
เรามุ่งหวังที่จะบอกกล่าวความจริง
และที่เราทำเช่นนั้นได้ก็เป็นเพราะคุณ
ความจริงที่ว่าคุณสนับสนุนเงินแก่เราทำให้เรามีอิสระและสามารถนำเสนอสิ่งที่คุณต้องการและจำเป็นได้อย่างถูกต้องอย่างที่มันควรเป็น</p>

<p>คุณควรรู้ว่าเงินบริจาคของคุณไม่ได้ครอบคลุมแค่ค่าใช้จ่ายของคุณเท่านั้น
ผู้บริจาคส่วนมากกำลังจ่ายเงินเป็นค่าใช้งานสำหรับตัวเขาเองและค่าใช้งานสำหรับคนอื่นๆ
อีกหลายร้อยคน
การบริจาคของคุณทำให้วิกิพีเดียสามารถเข้าถึงได้สำหรับเด็กที่ทะเยอทะยานในการเขียนโปรแกรมคอมพิวเตอร์ในบังกาลอร์
สำหรับแม่บ้านวัยกลางคนในเวียนนาที่เพิ่งถูกวินิจฉัยว่าเป็นโรคพาร์กินสัน
สำหรับนักเขียนนิยายที่กำลังค้นคว้าเกียวกับอังกฤษยุคทศวรรษ
1850 หรือสำหรับเด็ก 10
ขวบในซันซัลวาดอร์ที่เพิ่งรู้จักคาร์ล
เซแกนเป็นครั้งแรก</p>

<p>ในนามของคนเหล่านั้น
และในนามของผู้อ่านวิกิพีเดียและโครงการพี่น้องอื่นๆ
เราขอขอบคุณที่เป็นส่วนหนึ่งในความพยายามที่จะรวบรวมและทำให้ความรู้ทั้งมวลของมนุษยชาติสามารถเขาถึงได้แก่ทุกคน
การบริจาคของคุณทำให้โลกใบนี้งดงามขึ้น
ขอบคุณค่ะ</p>

<p>ผู้คนส่วนใหญ่ไม่รู้ว่าวิกิพีเดียถูกบริหารโดยองค์กรไม่แสวงหากำไร
โปรดพิจารณาส่งต่ออีเมล์ฉบับนี้กับเพื่อนๆ
ของคุณเพื่อสนับสนุนให้เขาบริจาคบ้าง
และถ้าหากคุณสนใจ
คุณอาจลองเพิ่มเติมข้อมูลใหม่ๆให้แก่วิกิพีเดีย
หากคุณพบข้อผิดพลาดทางการพิมพ์หรือความผิดพลาดเล็กๆ
น้อยๆ อื่นๆ โปรดช่วยแก้ไขมัน
และหากคุณพบว่ามีบางอย่างขาดหายไป
โปรดเพิ่มมันเข้าไป</p>

<p>ดิฉันซาบซึ้งในความเชื่อใจที่คุณมอบให้
ฉันสัญญาว่าเราจะใช้เงินของคุณอย่างคุ้มค่า</p>

<p>ขอบคุณค่ะ<br />
ซู</p>

<br />
<p>ซู การ์ดเนอร์<br />
กรรมการผู้จัดการ<br />
มูลนิธิวิกิมีเดีย</p>

<p>เพื่อเก็บเป็นหลักฐาน:
คุณบริจาคเมื่อวันที่ {{contribution.receive_date}}
เป็นจำนวนเงิน {{contribution.source}}{% if recurring %}{%
include 'recurring/de.html' ignore missing %}{% endif %}</p>

<p>จดหมายฉบับนี้ส่งมาเพราะว่าเป็นบันทึกของการบริจาคของคุณ
 ไม่มีสินค้าหรือบริการถูกจัดหา,
ในทั้งหมดหรือบางส่วน,
สำหรับการบริจาคนี้ 
มูลนิธิวิกิพีเดีย,
บริษัทที่ไม่แสวงหาผลกำไร กับ
501(c)(3)
ฐานะยกเว้นภาษีในประเทศสหรัฐฯ 
ที่อยู่ของพวกเราคือ 149 New Montgomery, 3rd Floor,
San Francisco, CA, 94105. U.S. tax-exempt number: 20-0049703</p>

<p>คุณสามารถติดตามเราได้ที่ <a
href="https://twitter.com/Wikipedia">Twitter</a> <a
href="https://identi.ca/wikipedia">identi.ca</a> หรือ <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>
กดถูกใจเราบน <a
href="https://www.facebook.com/wikipedia">Facebook</a> และ<a
href="https://blog.wikimedia.org">อ่านบล็อกของเรา</a>
นี่คือ <a
href="https://wikimediafoundation.org/wiki/Annual_Report">รายงานประจำปีมูลนิธิวิกิมีเดียประจำค.ศ.
2010-11</a> <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">แผนประจำปีของมูลนิธิวิกิมีเดียประจำค.ศ.
2012-13</a> และ<a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">แผนยุทธศาสตร์
5 ปีของมูลนิธิวิกิมีเดีย</a>
คุณสามารถซื้อสินค้าของวิกิพีเดียได้ที่
<a href="https://shop.wikimedia.org">shop.wikimedia.org</a></p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>การยกเลิกการรับข่าวสาร</i></p>

<p>เราอยากที่จะให้คุณ
ในฐานะของผู้บริจาค
ทราบความเคลื่อนไหวกิจกรรมของชุมชนหรือการระดมทุนในอนาคต
แต่ถ้าหากคุณไม่สะดวกใจที่จะรับอีเมล์ข่าวความเคลื่อนไหวดังกล่าวจากเรา
โปรดคลิกข้างล่างแล้วเราจะนำชื่อคุณออกจากรายการ</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">ยกเลิกการเป็นสมาชิก</a>

</div>

