<p>Caro(a) {{contact.first_name}}</p>

<p>Você é maravilhoso(a). Muito obrigado pelo seu donativo para a Fundação
Wikimedia!</p>

<p>É assim que pagamos as nossas contas -- são pessoas como você, doando cinco euros,
vinte euros, cem euros. O meu donativo favorito no ano passado foram cinco libras de uma
menina em Inglaterra, que havia persuadido os seus pais para que lhe permitissem doar a
sua semanada. São pessoas como você, juntamente com essa menina, que tornam possível
que a Wikipédia continue a disponibilizar o acesso gratuito e fácil a informação
imparcial, para toda a gente por todo o mundo. Para todos os que ajudam a pagá-la, e para
aqueles que não podem ajudar. Muito, muito obrigado.</p>

<p>Eu sei que é fácil ignorar os nossos apelos, e fico contente por você o não ter
feito. Em meu nome, e em nome das dezenas de milhares de voluntários que escrevem a
Wikipédia: obrigado por nos ajudar a fazer do mundo um lugar melhor. O seu dinheiro será
usado cuidadosamente, e quero agradecer-lhe a confiança que deposita em nós.</p>

<p>Obrigada,<br />
Sue Gardner<br />
Diretora Executiva da Fundação Wikimedia</p>

<p>Para os seus registos: O seu donativo de {{contribution.receive_date}} foi {{contribution.contribution_source}}.
{% if recurring %}
{% include 'recurring/pt.html' ignore missing %}
{% endif %}</p>

<p>Esta comunicação pode servir como registo do seu donativo. Não foram fornecidos
quaisquer bens ou serviços, completos ou parciais, em troca desta contribuição. A
Wikimedia Foundation, Inc. é uma organização sem fins lucrativos com estatuto de
isenção fiscal 501(c)(3) nos Estados Unidos. O nosso endereço é 149 New Montgomery,
3rd Floor, San Francisco, CA, 94105. Número de isenção de fiscal nos Estados Unidos:
20-0049703</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Opção de exclusão:</i></p>

<p>Como doador, gostaríamos de mantê-lo informado das nossas atividades comunitárias e
angariações de fundos. No entanto, se preferir não receber tais e-mails, por favor
clique abaixo e será removido da lista:</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link}}">Cancelar a subscrição</a>

</div>
