<p>Kara {{ first_name }},</p>
<p>Ni dankas vin pro donaco al la Vikimedia Fondaĵo. Vi estas brila!</p>
<p>Estas facile ignori la monkolektajn reklamilojn, kaj mi tre ĝojas ke vi
ne faris tion. Ĉar per tiu maniero Vikipedio pagas siajn kvitancojn ---
homoj kiel vi donas al ni monon, por ke ni povu teni la retejon libere
alirebla por ĉiu tra la mondo.</p>
<p>Oni diris al mi, ke homoj donacas al Vikipedio ĉar ili trovas ĝin
utila, kaj ke ili kredas ĝin ĉar, kvankam ĝi ne estas perfekta, ili
scias ke ĝi estas verkata por ili. Vikipedio ne celas antaŭenigi ies ajn
varbstrategion aŭ propagandi iun ajn konkretan ideologion, aŭ persvadi
vin por ekkredi ion kio ne estas vera. Ni intencas rakonti la veron, kaj ni
povas fari tion danke al vi. Pro tio, ke vi financas la retejon, ni povas
resti sendependaj kaj liveri al vi tion kion vi bezonas kaj volas de
Vikipedio. Estas ĝuste tiel kiel devus esti.</p>
<p>Sciu: via donaco ne estas nur kovro de viaj propraj kostoj. La averaĝa
donacanto pagas por sia propra uzo de Vikipedio, plus la kostojn de centoj
de aliaj homoj. Viaj donacoj helpas teni Vikipedion atingebla por la
ambicia infanino en Bangaloro kiu instruas al si komputilan programadon; la
mezaĝa hejmmastrumanto ĉe kiu oni ĵus diagnozis la malsanon de
Parkinson; romanverkisto kiu esploras la Brition de la 1850-aj jaroj; la
10-jara San-Salvadorano kiu ĵus malkovris Carl Sagan.</p>
<p>Je la nomo de tiuj homoj, kaj la duonmiliardo de aliaj legantoj de
Vikipedio kaj ĝiaj gefrataj retejoj kaj projektoj, mi dankas vin pro
aliĝo al nia klopodo igi la tuton de la homa scio alirebla al ĉiu. Via
donaco helpas plibonigi la mondon. Dankon.</p>
<p>Plej multaj homoj ne scias, ke Vikipedion administras senprofita
organizo. Bonvolu pripensi kundividi tiun ĉi retmesaĝon kun kelkaj amikoj
kaj kuraĝigi ilin donaci ankaŭ. Kaj, se vi interesiĝas, vi povas provi
aldoni iujn novajn informojn al Vikipedio. Se vi rimarkas tajperaron aŭ
alian etan misaĵon, bonvolu ripari ĝin, kaj se vi rimarkos ion mankantan,
bonvolu aldoni ĝin. [#edit Ĉi tie] vi trovos instrukciojn kiuj helpos al
vi fari tion. Ne timu fari eraron: estas normale, ke komencantoj faras
ilin, kaj se vi faras eraron, aliaj vikipediistoj volonte riparos ĝin
anstataŭ vi.</p>
<p>Mi aprezas vian fidon je ni, kaj promesas ke ni uzos vian monon por bona
celo.</p>
<p>Dankas,<br/>
Sue</p>
<p>Sue Gardner<br/>
Ekzekutiva direktoro,<br/>
Vikimedia Fondaĵo <a class="external autonumber"
href="https://donate.wikimedia.org">[1]</a></p>
<p>Vi povas sekvi nin ĉe <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> aŭ <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, ŝati nin ĉe
<a href="https://www.facebook.com/wikipedia">Facebook</a> aŭ <a
href="https://blog.wikimedia.org">legi nian blogon</a>. Jen la <a
href="https://wikimediafoundation.org/wiki/Annual_Report">jarraporto de
Vikimedia Fondaĵo por 2010—11</a>, la <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">jarplano
de Vikimedia Fondaĵo por 2012—13</a> kaj la <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">kvinjara
strategia plano de Vikimedia Fondaĵo</a>. Vi povas nun ankaŭ aĉeti
vikipediajn varbvarojn ĉe <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>
<p>Por via arĥivo: Via donaco farita je {{ receive_date }}
estis la sumo de
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>
<p>Permeso supozita: Ni ŝatus informadi vin, kiel donacinton, pri la
aktivaĵoj kaj monkolektoj de nia komunumo. Se vi preferas ne ricevadi
tiajn retmesaĝojn de ni, bonvolu klaki sube kaj ni forigos vin de la
listo.:</p>
<p><a style="padding-left: 25px;"
href="{{unsubscribe_link|raw}}">Malaboni</a></p>
<p>Tiu ĉi letero povas servi kiel pruvo pri via donaco. Neniuj varoj aŭ
servoj estis provizitaj, plene aŭ parte, kontraŭ tiu ĉi kontribuo.
Wikimedia Foundation, Inc. estas senprofita bonfara organizo kun
impost-escepta statuso 501(c)(3) en Usono. Nia adreso estas 149 New
Montgomery, 3rd Floor, San Francisco, CA, 94105. Usona impost-escepta
numero: 20-0049703</p>