<p>Annwyl {{contact.first_name}},</p>

<p>Diolch i chi am gyfrannu i Sefydliad Wicifryngau!</p>

<p>Rwy'n gwybod ei fod yn rhwydd anwybyddu ein hapêl, ac rwy'n falch na wnaethoch hynny.
Dyma sut y cadwn ddau ben llinyn ynghyd -- trwy'r bobl fel chi, sy'n rhoi arian i'n
galluogi i ddarparu gwasanaeth di-duedd, hawdd ei gael, yn rhad ac am ddim, i bob cwr o'r
byd, trwy'r wefan hon.</p>

<p>Mae cyfranwyr yn dweud wrthyf eu bod yn cyfrannu tuag at Wicipedia oherwydd ei fod yn
ddefnyddiol, a'u bod yn ymddiried ynddo serch nad yw'n berffaith, oherwydd y gwyddant ei
fod wedi ei ysgrifennu ar eu cyfer nhw. Nid modd o hybu agenda PR rhywun yw Wicipedia, nac
ychwaith modd o hybu rhyw ideoleg neu gilydd. Ein nod yw adrodd y gwirionedd, a gallwn
wneud hynny drwy'ch cymorth chi. Eich rhoddion chi sy'n cadw'n gwefan yn annibynnol ac yn
ein galluogi i gynnig gwasanaeth Wicipedia.</p>

<p>Gwyddwch nad eich costau chi yn unig y byddwch yn eu hariannu: mae'r cyfranwr yn talu
am ei ddefnydd ei hunan o Wicipedia, ac hefyd costau cannoedd o bobl eraill. Mae eich
cyfraniad yn rhoi Wicipedia ar gael i fyfyrwraig yn dysgu ysgrifennu rhaglenni
cyfrifiaduron ei hunan yn Bangalore. I wraig tŷ yn Fienna sydd newydd gael gwybod bod
ganddi glefyd Parkinson. I nofelydd yn ymchwilio i fywyd ym Mhrydain yn y 1850au. I
fachgen 10 mlwydd oed yn San Salfador sydd newydd ddod i wybod am Carl Sagan.</p>

<p>Ar ran y bobl hynny, a'r hanner biliwn o ddarllenwyr eraill Wicipedia a'i
chwaer-brosiectau, rwyn diolch i chi am ymuno yn yr ymdrech i roi gwybodaeth y ddynoliaeth
ar gael i bawb. Mae eich rhodd yn gwneud y byd yn well lle. Diolch.</p>

<p>Nid yw llawer o bobl yn sylweddoli mai mudiad di-elw sy'n cynnal Wicipedia. A fyddwch
gystal ag anfon yr e-bost hwn at rai o'ch ffrindiau i'w hannog hwythau hefyd i gyfrannu.
Ac os hoffech, gallwch fentro ychwanegu gwybodaeth at Wicipedia. Os y gwelwch gamgymeriad
yn y teipio neu'r ffeithiau, gallwch ei gywiro a chroeso. Os y gwelwch bod rhywbeth yn
eisiau, gallwch lanw'r bwlch.</p>

<p>Rwyn gwerthfawrogi eich bod yn ymddiried ynom, ac yn addo y byddwn yn gwneud defnydd da
o'ch rhodd.</p>

<p>Diolch,<br />
Sue</p>

<br />
<p>Sue Gardner<br />
Cyfarwyddwr Gweithredol,<br />
Sefydliad Wicifryngau,</p>

<p>Cofnod: Derbyniwyd rhodd o {{contribution.contribution_source|l10n_currency(locale)}}
gennych ar {{contribution.receive_date}}.{% if recurring %}{% include 'recurring/cy.html'
ignore missing %}{% endif %}</p>

<p>Mae'r llythyr hwn yn gofnod o'ch rhodd. Ni gyflenwyd unrhyw nwyddau na gwasanaethau, yn
rhannol nac yn gyflawn, yn dâl am y cyfraniad hwn. Mae Wikimedia Foundation, Inc. yn
gorfforaeth di-elw elusennol ac iddi statws di-dreth 501(c)(3) yn Unol Daleithiau America.
149 New Montgomery, 3rd Floor, San Francisco, CA, 94105 yw ein cyfeiriad. Rhif di-dreth yr
UD: 20-0049703</p>

<p>Gallwch ein dilyn ar <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> neu <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, ein hoffi ar <a
href="https://www.facebook.com/wikipedia">Facebook</a> a <a
href="https://blog.wikimedia.org">darllen ein blog</a>. Dyma <a
href="https://wikimediafoundation.org/wiki/Annual_Report">adroddiad blynyddol Sefydliad
Wicifryngau am 2010-11</a>, <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">cynllun
blynyddol Sefydliad Wicifryngau am 2012-13</a> a <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">chynllun
strategol pum mlynedd Sefydliad Wicifryngau</a>. Gallwch brynu cynnyrch Wicipedia nawr yn
<a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Dewis peidio â derbyn gwybodaeth</i></p>

<p>Hoffwn roi gwybod i chi am ddigwyddiadau ein cymuned ac am ymgyrchoedd codi arian
eraill. Ond os oes gwell gennych chi beidio â derbyn e-byst oddi wrthym, gallwch glicio
isod ac fe'ch tynnwn oddi ar y rhestr.</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Dad-danysgrifio</a>

</div>

