<p>เรียนคุณ {{contact.first_name}}</p>

<p>คุณเยี่ยมมาก "ขอบคุณ"
ที่สนับสนุนมูลนิธิวิกิมีเดีย
องค์กรไม่แสวงหากำไรที่ให้บริการวิกิพีเดียและโครงการพี่น้อง</p>

<p>การบริจาคของคุณไม่เพียงแต่จะครอบคลุมค่าใช้จ่ายของคุณในการใช้งานวิกิพีเดีย
แต่ยังเผื่อแผ่ถึงค่าใช้จ่ายของผู้อ่านคนอื่นอีกด้วย</p>

<p>เช่นเดียวกันกับชาวนาผู้เกษียณตัวเองทางตอนเหนือของนิวยอร์กที่กำลังใช้วิกิพีเดียเผื่อศึกษาในศาสตร์ของโคลน
และนักเรียนในกัวลาลัมเปอร์ที่กำลังวิจัยในเรื่องของเคมีอินทรีย์
หรือช่างเครื่องชาวอังกฤษ
ซึ่งหลังจากที่ประสบอุบัติเหตุจนหลังของเขาหัก
ได้ใช้วิกิพีเดียเพื่อฝึกฝนตัวเองใหม่ในอาชีพนักพัฒนาเว็บไซต์
หรือข้าราชการในฟินแลนด์ซึ่งสร้างวิกิพีเดียเวอร์ชันออฟไลน์ให้โรงเรียนเล็กๆ
ในกานา
และคุณพ่อในเม็กซิโกซิตี้ที่พาลูกตัวน้อยของเขาไปพิพิธภัณฑ์ในวันหยุด
และใช้วิกิพีเดียเพื่อช่วยให้ทั้งคู่เข้าใจทุกอย่างที่กำลังเห็นได้</p>

<p>งานของวิกิพีเดียของการรวบรวมความรู้ทั้งมวลของมนุษย์ไว้เพื่อให้กับมนุษย์ทุกคนบนโลกในภาษาของเขาคนนั้นเอง
นั่นเป็นภารกิจที่ค่อนข้างบ้าบิ่นทีเดียว
แต่ด้วยยอดบทความ 30 ล้านบทความใน 287
ภาษา
เราอยากจะพูดคำว่าขอบคุณคุณและคนที่เหมือนกับคุณ
เรากำลังก้าวไปสู่จุดหมายนั้น</p>

<p>ในนามของมูลนิธิวิกิมีเดียและผู้อ่านวิกิพีเดียอีกครึ่งพันล้านคนทั่วโลก
ขอบพระคุณ
ความจริงที่ว่าคุณได้ช่วยเหลือค่าใช้จ่ายเพื่อให้วิกิพีเดียดำเนินไปได้นั้นทำให้วิกิพีเดียไม่มีโฆษณา
ปราศจากอคติ
และมุ่งมั่นเพียงอย่างเดียวเพื่อช่วยเหลือผู้อ่าน
เป็นอย่างที่มันควรจะเป็น</p>

<p>คุณอาจสังเกตว่าปีนี้เป็นปีแรกที่เราเปลี่ยนวิธีการระดมทุนทำให้ผู้อ่านส่วนใหญ่เห็นป้ายประกาศเพียงไม่มากครั้งแทนที่จะเห็นเป็นอาทิตย์
นั่นเป็นสิ่งที่เราคิดอย่างรอบคอบ
เราไม่อยากให้ผู้คนเกิดการรำคาญอันเนื่องมาจากคำร้องขอที่มากเกินไป
แต่นั่นย่อมส่งผลว่าผู้คนน้อยลงจะเข้าใจว่าเราเป็นองค์กรไม่แสวงหากำไร
และเราต้องการการช่วยเหลือจากพวกเขา
ดังนั้นถ้าคุณสมัครใจ
เราจะซาวซึ้งมากหากคุณช่วยเราด้วยการบอกต่อโดยการส่งต่ออีเมล์นี้ให้เพื่อนของคุณสักจำนวนหนึง</p>

<p>และเราจะยินดียิ่งหากคุณจะลองเขียนวิกิพีเดียดู
วิกิพีเดียถูกเขียนขึ้นโดยอาสาสมัครทั้งหมด
จากคนธรรมดาหลายหมื่นคนทั่วโลก
เช่นเดียวกับพวกเรา
หากคุณเห็นข้อผิดพลาดเล็กๆ น้อยๆ
โปรดช่วยแก้ไข
หากคุณรู้อะไรที่ควรค่าแก่การเพิ่มเติม
โปรดเพิ่มมัน
คนบางคนพบว่านั่นทำฝห้เขาพึงพอใจอย่างยิ่ง
บางทีคุณก็อาจเป็นเช่นนั้น</p>

<p>ขอบคุณอีกครั้ง
ดิฉันซาบซึ้งถึงความเชื่อใจที่คุณมอบให้
และดิฉันขอสัญญา
เราจะใช้เงินของคุณอย่างระมัดระวังและคุ้มค่า</p>

<p>ขอบคุณค่ะ<br/>
ซู</p>

<p>ซู การ์ดเนอร์<br/>
กรรมการบริหาร<br/>
มูลนิธิวิกิมีเดีย<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>ผู้จ้างหลายรายจะเพิ่มเติมสนับสนุนเงินบริจาคของลูกจ้าง
ทำให้เพิ่มยอดบริจาคของคุณเป็นสองเท่า
โปรดตรวจสอบกับบริษัทของคุณว่ามีนโยบายนี้หรือไม่
คุณสามารถติดตามเราได้ที่<a
href="https://twitter.com/Wikipedia">ทวิตเตอร์</a> <a
href="https://identi.ca/wikipedia">identi.ca</a> หรือ<a
href="https://plus.google.com/+Wikipedia/posts">กูเกิลพลัส</a>
กดไลค์เราได้บน<a
href="https://www.facebook.com/wikipedia">เฟซบุ๊ก</a> และ <a
href="https://blog.wikimedia.org">อ่านบล็อกของเรา</a>
นี่คือ<a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">รายงานประจำปี
2012-2013 ของมูลนิธิวิกิมีเดีย</a> <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">แผนประจำปี
2013-2014 ของมูลนิธิวิกิมีเดีย</a> และ<a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">แผนยุทธศาสตร์ห้าปีของมูลนิธิวิกิมีเดีย</a>
นอกจากนี้คุณยังสามารถซื้อสินค้าของมูลนิธิได้ที่
<a href="https://shop.wikimedia.org">shop.wikimedia.org</a></p>

<p>เพื่อเก็บเป็นหลักฐาน:
คุณบริจาคเมื่อวันที่ {{contribution.receive_date}}
เป็นจำนวนเงิน
{{contribution.contribution_source|l10n_currency(locale)}}</p>

<p>{% if recurring %}
เงินบริจาคนี้เป็นส่วนหนึ่งของการสั่งบริจาคแบบซ้ำ
ยอดเงินในแต่ละเดือนจะถูกตัดโดยมูลนิธิวิกิมีเดียจนกว่าคุณจะแจ้งเราให้หยุด
หากคุณต้องการจะบอกเลิกการบริจาค
โปรดอ่าน <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language
}}">วิธีการบอกยยกเลิกแบบง่ายๆ</a>. {% endif %}</p>

<p>จดหมายฉบับนี้อาจใช้เป็นบันทึกของการบริจาคของคุณ
ไม่มีสินค้าหรือบริการถูกจัดหา
ไม่ว่าทั้งหมดหรือบางส่วน
สำหรับการบริจาคนี้
มูลนิธิวิกิพีเดียเป็นองค์กรมูลนิธิที่ไม่แสวงหาผลกำไร
ภายใต้สถานะยกเว้นภาษีในประเทศสหรัฐฯ
501(c)(3) ที่อยู่ของเราคือ 149 New Montgomery, 3rd Floor, San
Francisco, CA, 94105 รหัสยกเว้นภาษีในสหรัฐ: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>การยกเลิกการรับ</p>
  <p>เราอยากที่จะให้คุณ
ในฐานะของผู้บริจาค
ทราบความเคลื่อนไหวกิจกรรมของชุมชนหรือการระดมทุนในอนาคต
แต่ถ้าหากคุณไม่สะดวกใจที่จะรับอีเมล์ข่าวความเคลื่อนไหวดังกล่าวจากเรา
โปรดคลิกข้างล่างแล้วเราจะนำชื่อคุณออกจากรายการ</p>
  <div style="margin: 0 25px">
    <p><a
href="{{unsubscribe_link|raw}}">ยกเลิกการเป็นสมาชิก</a></p>
  </div>
</div>

<hr/>

<p>Please help us to <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">translate</a>
this email.</p>