<p>Почитуван(а) {{ first_name }},</p>

<p>Фантастични сте. Би сакала да искажам ГОЛЕМА
БЛАГОДАРНОСТ што ја поддржувате Фондацијата
Викимедија, непрофитната организација што раководи со
Википедија и нејзините збратимени проекти.</p>

<p>Со донацијата ги покривате не само Вашите трошоци за
користењето на Википедија, туку и трошоците на други
читатели.</p>

<p>Како земјоделецот некаде во државата Њујорк што ја
користи Википедија за подобро да ја осознае
агрономијата и студентот од Куала Лумпур што
истражува на полето на органската хемија. Британскиот
механичар кој си го скршил ’рбетот во незгода, па се
послужил со Википедија за да се преобучи и да стане
мрежен програмер. Чиновникот во Финска што направил
вонмрежна верзија на Википедија за мало училиште во
Гана. И таткото во градот Мексико што за викенд ги носи
ќеркичките во музеј, а кому Википедија му служи да им
го објасни она што тие го виделе во посетата.</p>

<p>Задачата на Википедија е да ја стави секому на
располагање севкупноста на сите човекови знаења, на
сите во светот, на нивниот мајчин јазик. Тоа е мошне
смел потфат, но со 30 милиони статии на 287 јазици, би
рекла дека сигурно се движиме кон целта, и тоа токму
поради луѓе како Вас.</p>

<p>Во името на Фондацијата Викимедија и половина
милијарда читатели на Википедија низ светот: Ви
благодариме. Чинот што ни помагате за да ги подмириме
работните трошоци на Википедија значи дека таа и
понатаму ќе нема реклами и ќе биде независна и
непристрасна — задржувајќи се исклучиво на задачата
да им се помогне на читателите. Баш како што треба да
биде.</p>

<p>Можеби забележувате дека годинава за првпат
направивме измени во прибирањето на средства, така што
највеќето ќе ги видат пораките само неколку пати, а не
со недели. Целта е јасна: не сакаме да ги нервираме
читателите со премногу обраќања. Но тоа значи и дека не
толку луѓе ќе сфатат дека сме непрофитна организација
и дека ни треба нивната помош. Затоа, ако имате желба и
можност, би ценела доколку можете да го препратите
писмово на неколку пријатели.</p>

<p>Би било прекрасно доколку сакате да ни се придружите,
и да ни помогнете во пишувањето на Википедија. Сето она
што стои на неа е наппишано исклучиво од доброволци --
десетици илјади обични луѓе ширум светот, исти како
нас. Ако видите некоја грешка или мала неточност на
Википедија, би ценеле ако ја поправите. Ако имате
некакви сознанија што мислите дека треба да се додадат
во статиите, тогаш најслободно додајте ги. Некои
уредувањето го доживуваат како нешто многу
исполнително. Можеби и Вие ќе го почувствувате така.</p>

<p>Ви благодарам уште еднаш. Многу го ценам тоа што ни
верувате. А јас Ви ветувам: Вашите пари ќе ги
искористиме внимателно и за најдобра цел.</p>

<p>Благодарам,<br/>
Су</p>

<p>Су Гарднер<br/>
Извршен директор,<br/>
Фондација Викимедија<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Многу работодавци даваат истомерна донација кога
нивните вработени даруваат средства: проверете дали
вашето претпријатие има таков програм. Можете да нè
следите на <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> или <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, да нè бендисате на <a
href="https://www.facebook.com/wikipedia">Facebook</a> и да го <a
href="https://blog.wikimedia.org">читате нашиот блог</a>. Еве го нашиот
<a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Годишен
извештај за 2012-13 г</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">Годишниот
план за 2013-2014 г</a> и <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Петгодишниот
стратешки план</a>. Можете и да купите производи со
нашите обележја на <a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>За Ваша евиденција: Донацијата со бр.
{{ transaction_id }} што ја направивте на
{{ receive_date }} изнесуваше
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

<p>{% if recurring %} Оваа донација е дел од повторлива уплата.
Фондацијата секој месец ќе одбива средства сè додека
не нè известите да престанеме. Ако сакате да се
откажете од ова, погледајте го <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">упатството за лесно откажување</a>.
{% endif %}</p>

<p>Писмово може да служи како евиденција за Вашата
донација. За овој Ваш придонес не сте надоместени со
стоки или услуги, целосно или делумно. Фондацијата
Викимедија е непрофитно добротворно правно лице
изземено од даночење (501(c)(3)) во САД. Нашата адреса гласи
149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. Број на даночна
изземеност: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Откажување:</p>
  <p>Како дарител, ние би сакале да бидете во тек со
нашите активности и прибирањето на средства. Меѓутоа,
доколку претпочитате повеќе да не добивате вакви
пораки од нас, стиснете на врската подолу за да Ве
отстраниме од списокот.</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">Откажете се</a></p>
  </div>
</div>

<hr/>

<p>Помогнете ни да го <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">преведеме</a>
писмово.</p>
