<p>尊敬的{{contact.first_name}}</p>

<p>您實在太棒了，十分感謝您爲維基媒體基金會捐款！</p>

<p>這就是我們得以繼續存在的方式——如同您一樣的人們，捐出五美元、二十美元、一百美元。去年讓我印象最深刻的，是勸說自己的父母允許她捐出自己的五英鎊零用錢的一名英國小女孩。正是像您一樣的人們，同那位小女孩一起，讓維基百科得以繼續為全世界的人們免費、便捷地提供無偏見的訊息。我要向所有幫助支持它的人們，以及那些有心卻無力支持的人們，說聲感激不盡。</p>

<p>我知道，要無視我們的呼籲很簡單，而我很高興您並沒有這麼做。我謹代表我個人，以及數以萬計的維基百科編撰志願者，感謝您協助我們，讓世界變得更美好。我們會謹慎使用您的捐款，並感謝您對我們的信賴。</p>

<p>感謝，<br />
Sue Gardner<br />
維基媒體基金會執行董事</p>

<p>您的捐贈訊息：您於{{contribution.receive_date}}進行捐款，總計{{contribution.contribution_source}}。
{% if recurring %}
{% include 'recurring/zh-hant.html' ignore missing %}
{% endif %}</p>

<p>這封信件可以作爲您捐款的證明。</p>

<p>捐款人並無因本次捐款而獲得任何維基媒體基金會所提供的實物或服務。維基媒體基金會是一家受美國稅務法501(c)(3)條款免稅的非營利慈善組織。我們的辦公地址是：149
New Montgomery, 3rd Floor, San Francisco, CA, 94105。美國免稅編號：20-0049703</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>免打擾選項：</i></p>

<p>作爲捐贈者，我們希望能夠持續告知您我們的社群活動和籌款訊息。如果您不想收到這些來自我們的郵件，請點擊下方連結，我們將把您從郵件名單中移除：</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">取消訂閱</a>

</div>
