<p>Salam sejahtera {{contact.first_name}},</p>

<p>Terima kasih kerana sudi menderma kepada Yayasan Wikimedia.</p>

<p>Memang senang untuk tidak mengendahkan sepanduk mengumpul derma kami, dan saya
benar-benar gembira kerana anda tidak endahkannya. Inilah caranya Wikipedia membayar
bil-bilnya --- orang-orang seperti anda memberikan kami wang supaya kami boleh memastikan
lama ini terus boleh dicapai secara percuma untuk semua orang di serata dunia.</p>

<p>Ada yang beritahu saya yang mereka menderma kepada Wikipedia kerana mereka rasa ia
berguna, dan mereka percayakannya sebab walaupun ia tidak sempurna, mereka tahu ia ditulis
untuk mereka. Wikipedia bukan ditulis untuk memajukan agenda hubungan awamnya, ataupun
untuk memajukan ideologi tertentu, ataupun untuk mendesak anda untuk mempercayai yang
sesuatu itu tidak benar. Kami bertujuan untuk memberitahu anda kebenaran, dan kami boleh
melakukannya kerana anda. Anda yang membiayai laman ini dan menjadikan kami terus bebas
dan boleh memberikan apa yang anda perlukan dan mahukan daripada Wikipedia. Seperti mana
yang sepatutnya.</p>

<p>Anda patut tahu: dermaan anda bukan sahaja merangkumi kos-kos anda. Penderma-penderma
biasa biasanya membayar untuk dia menggunakan Wikipedia, dan juga untuk kos-kos
beratus-ratus orang yang lain. Dermaan anda membolehkan Wikipedia ada untuk seorang
kanak-kanak yang bercita-cita tinggi di Bangalore yang cuba belajar pemprograman komputer.
Seorang pembuat rumah pertengahan umur di Vienna yang baru sahaja didiagnos dengan
penyakit Parkinson. Seorang penulis novel yang mengkaji Britain zaman 1850-an. Seorang
kanak-kanak 10 tahun di San Salvador yang baru sahaja tahu tentang Carl Sagan.</p>

<p>Bagi pihak mereka ini, dan juga separuh bilion pembaca Wikipedia dan projek-projek
saudaranya yang lain, saya berterima kasih kepada anda kerana menyertai kami dalam usaha
untuk membolehkan kesemua pengetahuan manusia boleh didapati oleh semua orang. Sumbangan
anda menjadikan dunia ini tempat yang lebih baik. Terima kasih.</p>

<p>Kebanyakan orang tidak tahu yang Wikipedia dijalankan oleh pertubuhan yang tidak
berasaskan keuntungan. Jika boleh, kongsilah e-mel ini dengan beberapa orang rakan-rakan
anda untuk menggalakkan mereka untuk menderma juga. Dan, jika anda berminat, anda patut
cuba menambahkan maklumat-maklumat baru ke Wikipedia. Jika anda terlihat
kesilapan-kesilapan ejaan atau sebarang kesilapan kecil, silalah baikinya, dan jika anda
mendapati ada apa-apa yang tidak cukup, silalah tambahkannya.</p>

<p>Saya hargai kepercayaan anda pada kami, dan saya berjanji yang kami akan menggunakan
wang anda degnan baik.</p>

<p>Terima kasih,<br />
Sue</p>

<br />
<p>Sue Gardner<br />
Pengarah Eksekutif,<br />
Yayasan Wikimedia</p>

<p>Untuk makluman anda: Derma anda pada {{contribution.receive_date}} ialah
{{contribution.source}}.{% if recurring %}{% include 'recurring/de.html' ignore missing
%}{% endif %}</p>

<p>Surat ini boleh menjadi rekod pendermaan anda. Tiada barangan atau perkhidmatan yang
disediakan, secara penuh atau separa, untuk sumbangan ini. Yayasan Wikimedia, Inc. ialah
satu perbadanan amal tanpa keuntungan dengan status pengecualian cukai 501(c)(3) di
Amerika Syarikat. Alamat kami adalah di 149 New Montgomery, 3rd Floor, San Francisco, CA,
94105. U.S.

nombor pengecualian cukai: 20-0049703</p>

<p>Anda boleh mengikuti kami di <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> atau <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, ''like'' kami di <a
href="https://www.facebook.com/wikipedia">Facebook</a> dan <a
href="https://blog.wikimedia.org">baca blog kami</a>. Di sini adalah <a
href="https://wikimediafoundation.org/wiki/Annual_Report">laporan tahunan Yayasan
Wikimedia untuk tahun 2010-2011</a>, <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">rancangan
tahunan Yayasan Wikimedia untuk tahun 2012-2013</a> dan juga <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">rancangan
strategik lima tahun Yayasan Wikimedia</a>. Anda juga boleh membeli
cenderamata-cenderamata Wikipedia di <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Pilihan tidak sertai (''opt out'')</i></p>

<p>Kami inginkan anda sebagai penderma untuk terus dimaklumkan tentang aktiviti-aktiviti
komuniti dan pengumpulan derma kami. Tetapi, jika anda tidak mahu menerima e-mel sebegitu
daripada kami, sila klik di bawah dan kami akan keluarkan anda daripada senarai</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Hentikan langganan</a>

</div>

