<p>Αγαπητέ/ή {{contact.first_name}},</p>
<p>Είστε φανταστικός/ή. ΣΑΣ ΕΥΧΑΡΙΣΤΟΥΜΕ πού
υποστηρίξατε το Wikimedia Foundation, την μη κερδοσκοπική
εταιρεία πού διαχειρίζεται το Wikipedia και τις αδερφές
εταιρείες.</p>
<p>Η δωρεά σας καλύπτει όχι απλά το δικό σας κόστος για
την χρήση της Wikipedia, αλλά και το κόστος άλλων
αναγνωστών της Wikipedia.</p>
<p>Όπως ο συνταξιοδοτημένος αγρότης από την άνω Νέα
Υόρκη που χρησιμοποιεί την Wikipedia για να διαβάσει
επιστημονικά άρθρα για την λάσπη, τον φοιτητή από την
Κουάλα Λουμπούρ που κάνει έρευνα στην οργανική χημεία.
Τον Βρετανό μηχανικό που, αφού έσπασε την μέση του σε
ένα ατύχημα, χρησιμοποίησε την Wikipedia για να
επανειδικεύσει τον εαυτό του σας προγραμματιστή
διαδικτυακών εφαρμογών. Τον δημόσιο υπάλληλο στην
Φινλανδία που έστησε μια εκτός δικτύου έκδοση της
Wikipedia για ένα μικρό σχολείο στην Γκάνα. Και την πατέρα
από την πόλη του Μεξικού που παίρνει τις κορούλες του
στο μουσείο τα Σαββατοκύριακα, και χρησιμοποιεί την
Wikipedia για να τις βοηθήσει να καταλάβουν όλα όσα βλέπουν
εκεί.</p>
<p>Η δουλειά της Wikipedia είναι να προσφέρει το σύνολο όλης
της ανθρώπινης γνώσης σε όλους στον κόσμο στην δική
τους γλώσσα. Ένας ιδιαίτερα φιλόδοξος στόχος, αλλά με 30
εκατομμύρια άρθρα σε 287 γλώσσες, θα λέγαμε ότι χάρη σε
εσάς και ανθρώπους σαν και εσάς πλησιάζουμε στον στόχο
μας.</p>
<p>Εκ μέρους του Wikimedia Foundation, και του μισού
δισεκατομμυρίου άλλων αναγνωστών της Wikipedia από όλον
τον κόσμο: σας ευχαριστούμε. Το γεγονός ότι βοηθάτε για
να πληρωθούν τα κόστη της Wikipedia σημαίνει ότι μπορεί να
παραμείνει χωρίς διαφημίσεις και ανεξάρτητη από
προκαταλήψεις, εστιάζοντας μόνο στο να βοηθάει τους
αναγνώστες της. Ακριβώς όπως θα έπρεπε.</p>
<p>Ίσως προσέξατε ότι για πρώτη φορά αυτόν τον χρόνο
προσαρμόσαμε τον έρανό μας έτσι ώστε οι περισσότεροι
να βλέπουν τις εκκλήσεις μας μόνο μερικές φορές, αντί
για ολόκληρες βδομάδες. Αυτό είναι σκόπιμο: δεν
θέλουμε οι αναγνώστες μας να εκνευρίζονται από
υπερβολικά πολλές εκκλήσεις. Αλλά αυτό επίσης
σημαίνει ότι λιγότεροι άνθρωποι συνειδητοποιούν ότι
είμαστε μη κερδοσκοπικός οργανισμός και χρειαζόμαστε
την βοήθειά τους. Επομένως, αν είστε διαθέσιμος/η, θα το
εκτιμούσαμε αν βοηθούσατε να διαδοθεί το μήνυμά μας
στέλνοντας αυτό το email σε μερικούς από τους φίλους
σας.</p>
<p>Και θα σας ήμουν ευγνώμων αν γίνετε μέλος στην
προσπάθειά μας να γράψουμε την Wikipedia. H Wikipedia είναι
γραμμένη αποκλειστικά από εθελοντές -- δεκάδες
χιλιάδες καθημερινοί άνθρωποι από όλον τον κόσμο,
ακριβώς σας εμάς. Αν δείτε κάποιο τυπογραφικό ή άλλο
λαθάκι στην Wikipedia, παρακαλώ διορθώστε το. Αν γνωρίζετε
κάτι που αξίζει να προστεθεί, παρακαλώ προσθέστε το.
Κάποιοι βρίσκουν την εμπειρία ιδιαίτερα
ικανοποιητική, και ίσως να την βρείτε και εσείς.</p>
<p>Σας ευχαριστώ και πάλι. Εκτιμώ ιδιαιτέρως την
εμπιστοσύνη σας σε μας, και σας υπόσχομαι: θα
χρησιμοποιήσουμε τα χρήματά σας προσεκτικά και
σωστά.</p>
<p>Ευχαριστώ,<br/>
Sue</p>
<p>Sue Gardner<br/>
Executive Director,<br/>
Wikimedia Foundation<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>
<p>Πολλοί εργοδότες θα ενισχύσουν την προσφορά των
εργαζομένων τους, διπλασιάζοντας έτσι την δωρεά σας:
παρακαλώ ελέγξτε την εταιρεία σας για να δείτε αν
είναι εγγεγραμμένη στο εταιρικό πρόγραμμα δωρεών.
Μπορείτε να μας ακολουθήσετε στο <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> ή <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, να μας κάνετε "μου
αρέσει" στο <a href="https://www.facebook.com/wikipedia">Facebook</a> και <a
href="https://blog.wikimedia.org">να διαβάσετε το ιστολόγιό μας</a>.
Παραθέτουμε την <a
href="https://wikimediafoundation.org/wiki/Annual_Report">ετήσια αναφορά του
Wikimedia Foundation για το 2011-12</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">το
ετήσιο σχέδιο του Wikimedia Foundation για το 2013-2014</a> και το <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">πενταετές
στρατηγικό σχέδιο του Wikimedia Foundation</a>. Επίσης μπορείτε
τώρα να αγοράσετε προϊόντα της Wikipedia στο <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>
<p>Για τα αρχεία σας: η δωρεά σας, υπαρίθ. {{contribution.id}}, την
{{contribution.receive_date}} ήταν
{{contribution.contribution_source|l10n_currency(locale)}}.</p>
<p>{% if recurring %} Αυτή η δωρεά είναι μέρος μιας τρέχουσας
συνδρομής. Μηνιαίες πληρωμές χρεώνονται στο Wikimedia
Foundation μέχρι να μας ειδοποιήσετε να σταματήσουν. Αν
επιθυμείτε να ακυρώσετε τις πληρωμές, παρακαλώ
συμβουλευθείτε τις <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">εύκολες εντολές ακύρωσης
πληρωμών</a>. {% endif %}</p>
<p>Αυτό το γράμμα μπορεί να χρησιμοποιηθεί ως αρχείο
για την δωρεά σας. Δεν προσφέρθηκαν αγαθά ή υπηρεσίες,
κατά μέρος ή καθ'ολοκληρίαν για αυτήν την προσφορά. Η
Wikimedia Foundation, Inc. είναι μια μη κερδοσκοπική φιλανθρωπική
εταιρία σε 501(c)(3) φοροαπαλλακτική θέση στις Ηνωμένες
Πολιτείες. Η διεύθυνσή μας είναι: 149 New Montgomery, 3rd Floor, San
Francisco, CA, 94105. Φοροαπαλλακτικός αριθμός ΗΠΑ: 20-0049703</p>
<div style="border: 1px solid black; padding:0 10px 5px 10px;"><p>Αποσύρετε την
συμμετοχή σας αν το επιθυμείτε:</p><p>Θα θέλαμε να σας
κρατάμε ενήμερο ως δωρητή για τις κοινωνικές
δραστηριότητες και εράνους μας. Αν δεν θέλετε να
λαμβάνετε τέτοια email από εμάς, παρακαλώ πατήστε το
παρακάτω και θα σας αφαιρέσουμε από την λίστα.</p><div
style="margin: 0 25px"><p><a href="{{unsubscribe_link|raw}}">Αφαίρεση</a></p></div></div>
<p><br/></p>
<hr/>
<p>Παρακαλώ βοηθήστε μας να <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">μεταφράσουμε</a>
αυτό το email.</p>