{% if first_name and last_name %}
<p>Caro/a {{ first_name }},</p>

{% else %}
<p>Caro/a donatore/trice,</p>
{% endif %}

<p>ti ringraziamo per il tuo inestimabile contributo nel diffondere la conoscenza a ogni essere
umano nel mondo.</p>

<p>Il mio nome è Lila Tretikov e sono la direttrice esecutiva di Wikimedia Foundation. Negli scorsi
anni, donazioni come la tua hanno alimentato i nostri sforzi per estendere l'enciclopedia in 287
lingue e renderla più accessibile in tutto il mondo. Ci battiamo soprattutto per raggiungere coloro
che altrimenti non avrebbero alcun accesso all'istruzione. Portiamo la conoscenza a persone come
Akshaya Iyengar a Solapur, in India. Crescendo in questo piccolo villaggio dedito alla produzione
tessile, ha utilizzato Wikipedia come sua principale fonte di apprendimento. Per gli studenti di
aree come questa, dove i libri sono scarsi ma esiste l'accesso ad Internet, Wikipedia è essenziale.
Akshaya si è poi laureata in un college indiano, adesso lavora come ingegnere informatico negli
Stati Uniti - e riconosce a Wikipedia il merito di aver contribuito ad almeno metà della propria
preparazione.</p>

<p>Questa storia è tutt'altro che l'unica. La nostra è una missione nobile e presenta grandi
sfide. La maggior parte delle persone che utilizzano Wikipedia si sorprendono nel venire a sapere
che è gestita da un'organizzazione senza scopo di lucro e finanziata dalle vostre donazioni. Ogni
anno, riceviamo donazioni da un numero di persone appena sufficiente per mantenere a disposizione di
tutti questo patrimonio di conoscenza libera. Grazie per rendere possibile tutto questo.</p>

<p>A nome di mezzo miliardo di persone che leggono Wikipedia, di migliaia di utenti volontari, e
dello staff della Fondazione, ti ringrazio per aver contribuito a mantenere Wikipedia online e senza
pubblicità anche per quest'anno.</p>

<p>Grazie,<br/>
Lila</p>

<p>Lila Tretikov<br/>
Direttrice esecutiva,<br/>
Wikimedia Foundation<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Per tua informazione: la tua donazione, numero {{ transaction_id }}, effettuata in data {{
receive_date }}, è stata di {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Questa donazione è parte di una sottoscrizione ricorrente. I pagamenti
mensili saranno accreditati alla Wikimedia Foundation finché non ci notificherai la richiesta di
interruzione. Se vuoi annullare il pagamento, per favore controlla le nostre <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">semplici istruzioni per l'annullamento</a>. </p>{% endif %}

<p>Questa lettera può fungere da certificazione per la tua donazione. Nessun bene o servizio è
stato erogato, del tutto o in parte, in cambio di questo contributo. La Wikimedia Foundation, Inc.
è una associazione benefica senza fini di lucro che gode dello status di esenzione fiscale
501(c)(3) negli Stati Uniti. Il nostro indirizzo è 149 New Montgomery, 3rd Floor, San Francisco,
CA, 94105. Numero di esenzione fiscale U.S.: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Opzioni per la cancellazione:</p>
  <p><br/>
Saremmo felici di aggiornarti, in quanto donatore, sulle attività della community e le raccolte
fondi. Se tuttavia preferisci non ricevere questo genere di email, clicca sul link sottostante e il
tuo nominativo sarà cancellato dalla lista.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Cancella iscrizione</a></p>
  </div>
</div>

<hr/>

<p>Per favore aiutaci a <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20140606">tradurre</a>
questa email.</p>