{% if first_name and last_name %}
<p>Kära {{ first_name }},</p>

{% else %}
<p>Kära donator,</p>
{% endif %}

<p>Du är så fantastisk. TACK för att du stöder Wikimedia Foundation, den ideella stiftelsen som
driver Wikipedia och dess systerprojekt.</p>

{% if contribution_tags.RecurringDamaged %}<p> Vi har upplevt ett mindre fel i vårt datorsystem som
har kommit att påverka månadsvis återkommande donationer. Detta orsakade en tillfällig paus i
din prenumeration, men vi har nu löst problemet och din prenumeration för att stödja Wikipedia
är åter aktiv. Du kommer inte att debiteras för de månader som uteblev. Vi tackar dig hjärtligt
för ditt tålamod och ditt stöd, om du har några frågor är du välkommen att kontakta oss via
donate@wikimedia.org </p>{% endif %}

<p>Din donation täcker inte bara dina egna kostnader för att använda Wikipedia, utan även
kostnader för andra Wikipediaanvändare.</p>

<p>Liksom den pensionerade jordbrukaren i delstaten New Yorks glesbygd som använder Wikipedia för
att studera vad vetenskapen har att säga om slam, och studenten i Kuala Lumpur som studerar
organisk kemi. Eller den brittiske mekanikern som efter att ha skadat ryggen i en olycka använde
Wikipedia för att omskola sig till webbutvecklare. Den finske tjänstemannen som upprättade en
offlineversion av Wikipedia för en liten skola i Ghana. Och pappan i Mexico City som besöker
muséer med sina små döttrar om helgerna, och använder Wikipedia för att hjälpa dem förstå
vad de tittar på under besöken.</p>

<p>Wikipedias mål är att samla all mänsklig kunskap och göra den tillgänglig för alla
världens människor, på deras eget språk. Detta är ett tämligen djärvt åtagande, men med 30
miljoner artiklar och 287 språk representerade, vågar jag påstå att tack vare dig och människor
som du, närmar vi oss målet.</p>

<p>Å Wikimedia Foundations och en halv miljard Wikipedialäsare världen över vägnar: Tack. Det
faktum att du hjälper till att betala kostnaderna för att driva Wikipedia betyder att vi kan
fortsätta vara reklamfria och opartiska, enbart fokuserade på att hjälpa våra läsare. Precis
som det ska vara.</p>

<p>Du har kanske märkt att vi från och med i år har förändrat vår insamling så att de flesta
endast ser våra banners ett fåtal gånger, istället för i flera veckor. Detta är avsiktligt: vi
vill inte att folk ska bli irriterade på grund av alltför många uppmaningar. Samtidigt innebär
detta att färre människor inser att vi är en ideell förening och att vi skulle behöva deras
hjälp. Så om du kan tänka dig det, skulle jag uppskatta om du kunde hjälpa till med att sprida
budskapet genom att vidarebefordra detta e-postbrev till några av dina vänner.</p>

<p>Och jag skulle verkligen uppskatta att du provade på att göra oss sällskap med att skriva
Wikipedia. Wikipedia skrivs helt och hållet av volontärer -- tiotusentals vanliga människor
världen över, precis som vi. Om du ser ett stavfel eller små misstag på Wikipedia, rätta gärna
till dem. Om du vet något värt att lägga till, gör gärna det. En del tycker att det är
anmärkningsvärt tillfredsställande, kanske gör du det också.</p>

<p>Tack igen. Jag uppskattar ditt förtroende för oss och jag lovar att vi kommer att använda dina
pengar väl.</p>

<p>Tack,<br/>
Sue</p>

<p>Sue Gardner<br/>
Verkställande direktör,<br/>
Wikimedia Foundation<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Många arbetsgivare har program där arbetsgivaren förbinder sig att donera motsvarande summa
som du själv donerat: Hör gärna efter med din arbetsgivare om ni har ett sådant program på din
arbetsplats. Du kan följa oss på <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">indenti.ca</a> eller <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, gilla oss på <a
href="https://www.facebook.com/wikipedia">Facebook</a> och <a
href="https://blog.wikimedia.org">läsa vår blogg</a>. Här finns <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Wikimedia-stiftelsens
bokslut för 2012-2013</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">Wikimedia-stiftelsens
årsplan för 2013-2014</a> och <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Wikimedia-stiftelsens
strategiplan för de kommande fem åren</a>. Nu kan du även köpa Wikipedia-prylar i vår webshop
<a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>För din bokföring: Din gåva, nummer {{ transaction_id }}, den {{ receive_date }} var {{
(currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Du har valt att skänka pengar regelbundet. Månatliga summor kommer att
skänkas till Wikimedia Foundation tills det att du meddelar oss att du vill sluta. Om du vill sluta
skänka pengar regelbundet finns det <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">enkla instruktioner här</a>. </p>{% endif %}

<p>Detta brev är ett kvitto för din gåva. Inga varor eller tjänster tillhandahölls, helt eller
delvis, i gengäld för denna gåva. Wikimedia Foundation, Inc. är en ideell organisation som är
skattebefriad som allmännyttig enligt paragraf 501(c)(3) i USA. Vår address är 149 New
Montgomery, 3rd Floor, San Francisco, CA, 94105. Skattebefrielsenummer i USA: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Jag vill inte ha fler brev</p>
  <p>Vi vill gärna hålla dig som skänkt pengar informerad om de aktiviteter som vår gemenskap
ordnar och om våra insamlingar. Om du föredrar att inte mottaga sådana e-brev från oss, klicka
nedan så tar vi bort dig från listan.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Avregistrera</a></p>
  </div>
</div>

<p>Hjälp oss att <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">översätta</a>
detta email.</p>