<p>$familyname先生／女士：</p>

<p>感謝您向維基媒體基金會捐款。您太棒了！</p>

<p>我們感謝您沒有忽略我們的籌款橫幅。維基百科的運行經費是經籌款所得
---
與您一樣的捐款，使我們免費提供此網站予世界各地的每個人。</p>

<p>人們告訴我他們之所以給維基百科捐款，是因為他們覺得其是有用的。且他們相信維基百科，即使其不是完美的，但他們知道這是為他們而寫的。維基百科並不是為了推進個人的公關議程，也不是為了推廣某種意識形態，更不是為了說服您相信某些錯誤的東西。我們的目標是說出真實，而之所以我們能這樣做，是因為有您。事實上，您的捐助保持了網站的獨立，並使維基百科能夠提供您需要及想要的內容。其確實如此。</p>

<p>您應該知道：您的捐款不只是負擔了您自己花費。平均每位捐款者除了支付了自己在維基百科的花費外，還支持了其他數百人的成本。您的捐款還讓維基百科能夠為許多人提供服務，包括班加羅爾的一個雄心勃勃想要自學計算機編程的孩子，維也納的一個剛剛被診斷出患有帕金森氏症的中年家庭主婦，正在研究19世紀50年代英國的小說家，及聖薩爾瓦多的一個剛剛認識卡爾·薩根的10歲孩童。</p>

<p>我謹代表這些人、還有維基百科及其姊妹網站、項目的約5億位讀者，感謝您為提供全世界知識的總和給每個人出一分力。您的捐款使世界變得更美好。謝謝。</p>

<p>大多數人並不知道維基百科是非牟利的。請將這封郵件與您的朋友分享，並鼓勵他們捐款予維基百科。您亦可為維基百科增加一些內容。如果您看到一個錯字或其他小錯誤，請更正它。如果您覺得少了什麼，請補全它。</p>

<p>我非常感謝您對我們的信任，並向您保證我們會善用捐款。</p>

<p>感激不盡！<br />
蘇</p>

<br />
<p>蘇·嘉納<br />
執行理事<br />
維基媒體基金會</p>

<p>供記錄：您於 {{contribution.receive_date}} 捐出
{{contribution.contribution_source|l10n_currency(locale)}}。{% if recurring %}{% include
'html/recurring/zh-hant.html' ignore missing %}{% endif %}</p>

<p>此函件為您的捐款的記錄。此捐獻不提供任何完整或部鈼的商品或服務。維基媒體基金會是在美國登記的501(c)(3)免稅、非牟利、慈善機構。地址：149
New Montgomery, 3rd Floor, San Francisco, CA, 94105。美國免稅號：20-0049703</p>

<p>您可以關注我們的<a href="https://twitter.com/Wikipedia">Twitter</a>、<a
href="https://identi.ca/wikipedia">identi.ca</a>、<a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>、<a
href="https://www.facebook.com/wikipedia">Facebook</a>或<a
href="https://blog.wikimedia.org">我們的博客</a>。 這裡是<a
href="https://wikimediafoundation.org/wiki/Annual_Report">維基媒體基金會2010至2011年年度報告</a>、<a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">維基媒體基金會2012至2013年年度計劃</a>和<a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">維基媒體基金會五年策略計劃</a>。
您現在可以在[URL10 shop.wikimedia.org]購買維基百科商品。</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>取消訂閱選項</i></p>

<p>我們希望讓您了解我們的社區和募捐活動。如果您不喜歡收到此類郵件，請點擊下面的連接取消訂閱</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">取消訂閱</a>

</div>

