{% if first_name and last_name %}
<p>Chère/Cher {{ first_name }},</p>

{% else %}
<p>Cher donateur, chère donatrice,</p>
{%endif%}

<p>Merci pour votre soutien à Wikipédia et la Wikimedia Foundation. Votre contribution de {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} aide Wikipédia et contribue à pérenniser l’avenir de la connaissance libre pour tous.</p>

{% if "RecurringRestarted" in contribution_tags %}
<p>Nous avons récemment résolu un petit problème technique qui interrompait certains dons mensuels. Nous avons rétabli votre don mensuel et il continuera désormais normalement. Nous ne vous facturerons pas les mois qui ont été omis. Nous vous remercions de votre patience et de votre soutien. N'hésitez pas à nous contacter à donate@wikimedia.org si vous avez une quelconque question.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Nous avons récemment résolu un problème technique ayant entraîné l’absence de confirmation de don pour un nombre restreint de donateurs. Veuillez accepter ce courriel en remerciement pour votre don du {{ receive_date }}. Nous apprécions votre patience et votre soutien et n’hésitez pas à nous écrire à donate@wikimedia.org si vous avez des questions.</p>
{%endif%}

<p>
  <b>Wikipédia est possible grâce à une idée forte : les personnes comme vous et moi peuvent participer au renforcement de la connaissance du monde et la mettre librement à disposition de tous et partout.</b>
</p>

<p>Aujourd’hui, grâce au soutien de millions de contributeurs bénévoles et sympathisants, vous pouvez explorer Wikipédia pendant des heures. Avec plus de 40 millions d’articles sur Wikipédia et 35 millions d’images sous licence libre, Wikipédia peut répondre à presque toutes vos questions et vous emmener là où vous n’êtes jamais allé(e).</p>

<p>Votre don soutient la création et le partage de connaissance libre de manière réelle et pratique. Il nous aide à rendre Wikipédia rapide, sûre et accessible à tous dans le monde entier. Il nous aide à assurer un accès libre à Wikipédia dans des lieux où les coûts élevés des données mobiles empêchent les gens de se rendre en ligne. Il nous aide à soutenir ceux qui numérisent les connaissances actuellement renfermées dans des archives analogiques. Il protège Wikipédia des menaces contre la connaissance libre et l’internet ouvert.</p>

<p>Votre soutien signifie que vous pouvez maintenant trouver les informations dont vous avez besoin, partout où vous vous trouvez, que ce soit pour gagner un pari avec un ami lors d’un dîner ou pour comprendre le monde qui nous entoure.</p>

<p>
  <b>Votre don à Wikipédia fait de vous le défenseur d’une idée forte.</b>
</p>

<p>Wikipédia continuera à évoluer, à se développer et à répondre à de nouveaux défis. Nous sommes enthousiastes et nous nous réjouissons de relever ces défis et de nombreux autres. Votre don nous aidera à y parvenir. Nous ne vous remercierons jamais assez pour votre soutien. Au nom de la Wikimedia Foundation, nous vous remercions d’investir dans notre avenir et de nous accompagner dans ce voyage.</p>

<p>Katherine Maher<br/>
Directrice exécutive de la Wikimedia Foundation</p>

<p>De nombreux employeurs doublent généreusement les contributions de leurs employés : veuillez consulter votre employeur pour déterminer s’il propose un <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">programme de doublement des dons par l’entreprise</a>. Pour votre dossier : votre don, numéro {{ transaction_id }}, le {{ receive_date }} a été de {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}
<p>Ce don fait partie d’un don régulier. Les dons mensualisés seront prélevés par la Wikimedia Foundation jusqu’à ce que vous nous demandiez d’arrêter. Si vous désirez arrêter les paiements, suivez simplement nos <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">instructions d’annulation</a>.</p>
{%endif%}

<p>Cette lettre peut justifier de votre don. Aucun bien ou service n’a été fourni, intégralement ou partiellement, en contrepartie de cette contribution. Notre adresse postale est la suivante : Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, États-Unis. Numéro d’exemption fiscale aux États-Unis : 20-0049703.</p>

<p><br/>
La Wikimedia Foundation est une organisation internationale à but non lucratif qui soutient des associations locales et indépendantes à travers le monde. Notre statut d'exonération varie selon la législation de chaque pays. Les dons à la Wikimedia Foundation ne sont pas déductibles des impôts en France. Si vous avez des questions au sujet des exonérations ou réductions fiscales, nous vous invitons à contacter donate@wikimedia.org.</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20161128/fr&amp;oldid=17258874","name":"thank_you.fr.html","revision":17258874}TI_END -->