<p>{{ first_name }},</p>

<p>TERIMA KASIH kerana menyokong Yayasan Wikimedia, sebuah badan bukan bermotif keuntungan yang
mengelolakan Wikipedia dan projek-projek saudaranya.</p>

<p>Derma anda bukan sahaja menanggung kos penggunaan Wikipedia, bahkan juga belanja pembaca-pembaca
lain yang menggunakannya.</p>

<p>Seperti petani yang bersara di pinggir negeri New York yang kini menggunakan Wikipedia untuk
mengkaji sains mendapan; pelajar di Kuala Lumpur yang mengkaji kimia organik; mekanik Inggeris yang
setelah patah belakang dalam kemalangan, menggunakan Wikipedia untuk melatih diri sebagai pemaju
web; pegawai awam di Finland yang menyediakan versi <i>offline</i> Wikipedia untuk sebuah sekolah
kecil di Ghana; dan seorang bapa di Bandaraya Mexico yang membawa anak-anak kecilnya ke muzium
setiap hujung minggu, dan menggunakan Wikipedia untuk membantu mereka memahami semua yang mereka
lihat di sana.</p>

<p>Wikipedia bertujuan untuk mengumpul segala pengetahuan manusia dan berkongsinya dengan penduduk
sedunia dalam bahasa mereka sendiri. Sememangnya ini merupakan suatu misi mencabar, tetapi dengan 30
juta rencana dalam 287 bahasa, kami ingin mengucapkan terima kasih kepada anda kerana telah membawa
kami ke arah tujuan ini.</p>

<p>Bagi pihak Yayasan Wikimedia dan separuh bilion pembaca-pembaca Wikipedia yang lain di seluruh
dunia: terima kasih. Berkat daripada sumbangan anda untuk membiayai kos pengelolaannya, membolehkan
Wikipedia kekal bebas daripada pengiklanan dan berkecuali, dengan misi untuk membantu para
pembacanya tanpa terpesong dari tujuan asalnya.</p>

<p>Mungkin anda telah merasakan bahawa buat kali pertama pada tahun ini, kami telah melakukan
sedikit perubahan kepada kempen kutipan derma kami. Orang ramai akan hanya dapat melihat sepanduk
kutipan derma untuk beberapa kali sahaja, dan bukannya selama berminggu-minggu. Hasrat kami adalah
untuk mengelakkan sesiapa daripada terasa diganggu oleh rayuan berkali-kali. Namun begitu, ini juga
bermakna bahawa semakin kurang pembaca akan sedar bahawa kami adalah sebuah badan bukan bermotif
keuntungan, dan kami amat memerlukan bantuan mereka. Sekiranya anda sudi, kami amat menghargainya
jika anda dapat berkongsi e-mel ini dengan rakan-rakan anda.</p>

<p>Sertailah kami dalam menyunting Wikipedia. Wikipedia merupakan hasil usaha puluhan ribu
sukarelawan dari serata dunia. Jika anda terjumpa kesilapan kecil pada Wikipedia, sila betulkannya.
Jika anda merasakan sesuatu wajar ditambahkan ke dalam Wikipedia, sila berbuat demikian. Sebahagian
pembaca merasakan sumbangan sebegini amat memuaskan diri mereka, bahkan mungkin juga diri anda
sendiri.</p>

<p>Sekali lagi, kami mengucapkan terima kasih. Kami amat menghargai kepercayaan anda terhadap kami,
dan berjanji akan menggunakan wang sumbangan anda dengan cermat dan sebaiknya.</p>

<p>Yang ikhlas,<br/>
Sue</p>

<p>Sue Gardner<br/>
Pengarah Eksekutif,<br/>
Yayasan Wikimedia<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Terdapat majikan yang akan menggandakan sumbanganan anda. Sila bertanya kepada majikan anda jika
mereka mempunyai program penggandaan sumbangan sebegini. Anda boleh mengikut kami di <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> atau <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, like kami di <a
href="https://www.facebook.com/wikipedia">Facebook</a> dan <a
href="https://blog.wikimedia.org">membaca blog kami</a>. Berikut merupakan <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Laporan
Tahunan Wikimedia untuk tahun 2011-12</a> dan <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Pelan
Strategik 5 tahun Yayasan Wikimedia</a>. Anda juga boleh membeli barangan cenderahati di <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a></p>

<p>Untuk makluman anda: Derma anda pada {{ receive_date }} ialah
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

<p>{% if recurring %} Sumbangan ini merupakan sebahagian daripada sumbangan bulanan yang telah
dilanggan. Yayasan Wikimedia akan mendebitkan sumbangan anda pada setiap bulan sehingga anda
menyatakan hasrat untuk kami memberhentikannya. Jika anda berhasrat untuk memberhentikan pembayaran,
sila lihat <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">langkah mudah</a> yang telah kami sediakan {% endif %}</p>

<p>Surat ini boleh menjadi rekod pendermaan anda. Tiada barangan atau perkhidmatan yang disediakan,
secara penuh atau separa, untuk sumbangan ini. Yayasan Wikimedia, Inc. ialah satu perbadanan amal
tanpa keuntungan dengan status pengecualian cukai 501(c)(3) di Amerika Syarikat. Alamat kami adalah
di 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S. nombor pengecualian cukai:
20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Pilihan untuk menyertai (<i>opt out</i>)</p>
  <p>Kami inginkan anda sebagai penderma untuk terus dimaklumkan tentang aktiviti-aktiviti komuniti
dan pengumpulan derma kami. Namun, jika anda tidak mahu menerima e-mel sebegitu daripada kami, sila
klik di bawah dan kami akan keluarkan anda daripada senarai</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">Hentikan langganan</a></p>
  </div>
</div>

<hr/>

<p>Sila bantu kami untuk <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">menterjemahkan</a>
email ini.</p>
