<p>Hea {{ contact.first_name }}</p>

<p>Oled üks tore inimene. Suur tänu, et Wikimedia Foundationile annetuse tegid! </p>

<p>Just nii me oma arved makstud saamegi – sinusuguste inimeste toel. Kes annetab meile
viis, kes kakskümmend, kes sada eurot. Eelmisel aastal oli minu lemmikannetus viis naela
pisikeselt inglise tüdrukult, kes rääkis vanemad pehmeks, et ta võiks annetada meile
oma taskuraha. Just tänu sinusugustele inimestele, kes tolle tüdrukuga ühinevad, suudab
Vikipeedia pakkuda kallutamata infot tasuta ja kergesti kättesaadavalt igaühele kogu
maailmas. Neile, kes aitavad selle kulusid kanda, nõndasamuti kui neile, kel pole raha,
et meid aidata. Tuhat tänu!</p>

<p>Ma tean, et meie abipalvet on lihtne eirata, ja olen tänulik, et sa seda ei teinud.
Koos minuga ütlevad teile kümned tuhanded Vikipeedia vabatahtlikud autorid: aitäh, et
aitad meil maailma paremaks teha. Me kasutame sinu raha hoolikalt ja ma tänan sind, et
meid usaldad.</p>

<p>Aitäh veel kord!<br />
Sue Gardner<br />
Wikimedia Foundationi tegevdirektor</p>

<p>Meelespidamiseks: sinu annetuskuupäev oli {{ contribution.receive_date|date("Y-m-d")
}} ja annetussumma {{ contribution.contribution_source }}.
{% if recurring %}
{% include 'html/recurring/et.html' ignore missing %}
{% endif %}</p>

<p>Käesolev kiri võib sobida kinnituseks sinu annetuse kohta. Selle eest ei pakutud
kaupu ega teenuseid ei täismahus ega ka osaliselt. Wikimedia Foundation on Ameerika
Ühendriikide maksuseadustiku lõike 501(c)(3) põhjal maksuvabastusega mittetulunduslik
heategevuslik organisatsioon. Meie aadress on 149 New Montgomery, 3rd Floor, San
Francisco, CA, 94105. Meie USA maksuvabastusnumber on 20-0049703.</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Teadetest loobumine:</i></p>

<p>Meile meeldiks, kui saaksime sinule kui annetajale saata teateid meie kogukonna
tegemiste ja rahakogumiskampaaniate kohta. Kui sa siiski ei taha sedasorti kirju saada,
klõpsa palun allpool ja me tõmbame sind nimekirjast maha:</p>

<a style="padding-left: 25px;" href="{{ unsubscribe_link|raw }}">Lõpeta tellimus</a>

</div>
