<p>{{contact.first_name}} 님께</p>

<p>당신은 최고입니다. 위키백과와 자매 프로젝트를 운영하는 위키미디어
재단을 후원해주셔서 정말 감사합니다.</p>

<p>귀하의 후원은 귀하의 위키백과 사용료 뿐만 아니라 다른 위키백과
독자들의 사용료까지 충당합니다.</p>

<p>이들은, 위키백과를 통해 침전물 과학을 공부하는 뉴욕의 은퇴한 농부나,
쿠알라룸푸르에서 유기화학을 연구하는 학생. 사고로 허리를 다친 후에
위키백과를 이용하여 웹 개발자로 재교육을 받은 영국인 정비공. 가나에
있는 작은학교를 위해 오프라인 버전의 위키백과를 만든 핀란드에 있는
공무원. 그리고 주말에 딸들을 박물관에 데려가서 위키백과를 사용하여
전시물을 설명해주는 멕시코 시티에 있는 아버지 같은 사람들입니다.</p>

<p>위키백과의 목표는 전세계 사람들이 자신들의 언어로된 지식들을 모으는
것입니다. 이것은 무척 대담한 목표지만 3천만개의 문서와 287개의 언어판을
통하여 감사하게도 우리의 목표를 이뤄가고 있습니다.</p>

<p>위키미디어 재단과 전 세계의 5억 위키백과 독자들을 대신하여
감사드립니다. 귀하가 위키백과 운영 비용에 도움을 주신 덕분에,
위키백과는 광고나 편향된 시각을 배제한 위키백과 본연의 모습을 유지할
수 있습니다.</p>

<p>이미 눈치 채셨겠지만 이번 해에는 이 배너를 대부분의 사람들에게 몇
주일씩이 아닌, 단지 몇 번만 노출되게 조정되었습니다. 이것은 의도된
것이며, 우리는 너무 잦은 후원 요구가 독자들을 거슬리게 하는 것을 원치
않습니다. 이는 다시 말하면 저희가 비영리이며 여러분의 도움이
필요하다는 것을 아는 사람이 적어진다는 뜻입니다. 따라서 가능하다면 이
편지를 귀하의 지인들에게 전달함으로써 저희의 뜻을 널리 퍼뜨려 주시면
감사하겠습니다.</p>

<p>그리고 귀하가 직접 위키백과를 작성함으로써 위키백과를 돕는 것 또한
환영하는 바입니다. 위키백과는 전적으로 전 세계의 우리와 같은 수만 명의
보통 사람들로 이루어진 자원봉사자들에 의해 작성됩니다. 만약 귀하가
위키백과에서 오타나 작은 실수를 찾으신다면 고쳐 주시길 부탁드립니다.
또 추가할 만한 내용을 아신다면 추가해 주십시오. 몇몇 사람들은 그 일에
대해 매우 만족하고, 아마 당신도 같을 것입니다.</p>

<p>다시 한번 감사드리며 저희를 믿어주셔서 고맙습니다. 그리고 귀하의
후원금은 신중하게 사용하도록 하겠습니다.</p>

<p>감사합니다.<br/>
Sue 드림.</p>

<p>위키미디어 재단<br/>
이사장<br/>
Sue Gardner<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>많은 회사들이 귀하께서 기부하신 금액을 똑같이 기부합니다: 귀하의
회사의 정책을 살펴서 이와같은 정책이 있는지 확인해주시길 바랍니다.
저희를 트위터나<a href="https://twitter.com/Wikipedia">Twitter</a>, , 구글플러스<a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, 또는 페이스북<a
href="https://www.facebook.com/wikipedia">Facebook</a>, 블로그 <a
href="https://blog.wikimedia.org">read out blog</a>에서 만나주세요. 여기에 <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">2012/2013년의
위키미디어 재단 연간 보고서</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">2013/2014년의
위키미디어 재단 연간 계획서</a>, 그리고 <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">위키미디어
재단 5년 전략 계획</a>이 있습니다. 그리고 이제 위키백과 상점에서 물건도
구매하실수 있습니다 <a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>기부번호 CNTCT-{{contribution.contact_id}}: 당신은 {{contribution.receive_date}} 에
{{contribution.contribution_source|l10n_currency(locale)}} 의 금액을 기부하셨습니다.</p>

<p>{% if recurring %} 이번 기부는 매달 이뤄지는 기부의 일부입니다. 귀하가
중단을 요청하기 전까지 매달 위키미디어 재단으로 송금이 될 것입니다.
기부를 중단하고 싶으시면 <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">간단한 중단 방법</a>을 참조하십시오. {% endif
%}</p>

<p>이 편지는 귀하의 기부의 기록으로 사용될 수 있습니다. 귀하의 기부금은
어떠한 다른 상업적 목적으로도 사용되지 않았습니다. 위키미디어 재단은
미합중국의 501(c)(3) 비과세 적용을 받는 비영리 공익 법인입니다. 저희의
주소는 다음과 같습니다: 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S.
면세 번호: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>더 받지 않기:</p>
  <p>저희는 귀하가 기부자 활동이나 모금 소식에 관심을 가져주시길
바랍니다. 그럼에도 불구하고 더 이상 이와 같은 이메일을 받고 싶지
않으시다면 하단의 링크를 클릭하시면 명단에서 제외됩니다.</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">수신 거부</a></p>
  </div>
</div>

<p>이 이메일을 <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">번역</a>하는
것을 도와주세요.</p>