<p>Estimado {{contact.first_name}}</p>

<p>¡Muchas gracias por aportar una donación a la Fundación Wikimedia!.</p>

<p>Gracias a tu generosa donación podemos pagar nuestras cuentas. Mi mayor alegria
ocurrió el año pasado cuando una niña de inglaterra aconsejo a sus padres aportar cinco
libras de su paga mensual. Gracias a gente como ella,wikipedia puede informar totalmente
gratis y una compresión fácil a todo el mundo. Desde la Fundación os damos las gracias
por ayudarnos.</p>

<p>Os prometemos que tu ayuda no será en vano y lo usaremos con cuidado, y de nuevo
gracias a Wikipedia.</p>

<p>Gracias,<br />
Sue Gardner<br />
Directora Ejecutiva de la Fundación Wikimedia</p>

<p>Para tus registros: tu donación en {{contribution.receive_date}} fue de {{contribution.contribution_source}}.
{% if recurring %}
{% include 'recurring/es-ar.html' ignore missing %}
{% endif %}</p>

<p>Esta carta puede servir como constancia de tu donación. Ningún producto o servicio
fue proporcionado, en todo o en parte, por esta contribución. Wikimedia Foundation, Inc.
es una corporación benéfica sin fines de lucro con régimen fiscal exento 501(c)(3) de
los Estados Unidos. Nuestra dirección es 149 New Montgomery, 3rd Floor, San Francisco,
CA, 94105. Número de la exención fiscal en los EE.UU.: 20-0049703</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Usted puede elegir:</i></p>

<p>Desde Wikimedia nos gustaría mantenerte informado sobre las actividades que realizamos
así como los fondos que recaudamos. Usted, sin embargo puede preferir no recibir nuestros
correos electrónicos, pulse debajo y le eliminaremos de la lista:</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link}}">Cancelar la suscripción</a>

</div>
