<p>Chèr {{contact.first_name}},</p>
<p>Gràsi d'aver duné a la Fundasiòun ed Wikimedia. Tì sté
magnific!</p>
<p>A' s' fà présti a fèr finta d'gnint cun la nòstra racòlta ed
fònda, mo a sun dimòndi cuntèinta che t'n'api mia fàt acsè. L'è in
cla manèra chè, infàti, che Wikipedia la pègha i so còunt: gìnta come
tè ca's'dà di sold, l'è acsè ca tgnòm el pàgini disponìbil
liberamèint per tùta la gìnta dal mònd.</p>
<p>Dàl persòuni j'm dìsen ch'j dòunen a Wikipedia perchè j'l càten
fàt bèin, e ch'j gh'àn fidùcia int dal progèt anch s'al n'è brìsa
perfèt, perchè l'è scrìt par lòr. Wikipedia la 'nn è mìa fàta pr'
ajùtèr 'na quèlch agènsìa ed Relasiòun Publìc o 'na quèlc
ideologìa, e gnanc la vòl persuadérèt int un quèl ch'al 'n'sìa brìsa
vér. Nuètr'a vlòm dìr la verité e al psòm fèr gràsi a te. Al fat
che t's' àpi dé di sòld al's permèt ed restèr indipendèint e psérèt
dèr quèl ch'at sèrvìs e ch'et vò da Wikipedia. Acsè cum'al dev
èser.</p>
<p>A' bsògna te sàpi ch' la tò dunasiòun la n' sèrv mia sòl pr'al
spési dal tò utilìs dal progèt. Al dunatòr médi al pèga i còst
pr'al pròpri utilìs ma ànca par l'utilìs d'ètri miliàia ed persòuni.
La tò dunasiòun la rènd Wikipedia disponibìl per: 'na putèina
ambisiòsa in Bangalore ch'la vòl imparèr da per lé a programèr al
computer; per 'na càsalìnga ed mèsa été èd Vièna chi gh'àpièn
apèina dianiòstìchè al Parkinson; pr' un scrìtòur ch'al vòl
cgnùsèr i romanz inglès ed mètè Otsèint; pr' un pùtèin ed dés àn
dal Salvadòr ch'l'à apèina imparé a cgnùsèr Carl Sagan.</p>
<p>A nòm ed chel pèrsòuni chè e dal mès milièrd ed lètour ed
Wikipedia e di sò progèt fradé, a't rìngràsi de stèr nòsc int dal
nòstèr sfòurs per mettr'a disposisioun ed tùt al savèr umàn. La tò
dunasiòun la rènd al mond un pòst più valìd.</p>
<p>Dimòundi persòuni i'n sàn brìsa che Wikipedia la funsiòuna cùma
'n' associasiòun no-profit. Te prèv difònder cla mail chè a di tò
amigh per incuragèr anca lor a fèr 'na dunassioun. Pò s'tì intèressé,
t'pò pruvèr anca te à zountèr 'na quelch informassioun nòva a
Wikipedia. S'te vèd un refùs o di èter eròr cìch, curèzi, e s'te càt
quèl ed sminghé, per piasér zountghèl. Chè te càt di élémèint
[#edit chè] ch'i t' pòlèn jùtèr a partìr. A'n préocùpèret brisa
s'te fé un quèlch eròur: l'è normèl quand la gint la cùmincia a
scrìver per la prìma vòlta, e s'al sùcèd, di ètèr wikipèdian ì
sràn cuntèint ed curésri al tò post.</p>
<p>A'iò dimòndi apprèssé la tò fidùcia in nuèter, e a't prumèt ch'a
druaròm i tò sold al mèj.</p>
<p>gràsi<br/>
Sue</p>
<p>Sue Gardner<br/>
Dìrètor Esécutiv,<br/>
Fundasiòun Wikimèdia <a class="external autonumber"
href="https://donate.wikimedia.org">[1]</a></p>
<p>Te'ss pò tgnir adré su <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> o anca <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, scrivèr
ch'a't piasòm su <a href="https://www.facebook.com/wikipedia">Facebook</a>
e <a href="https://blog.wikimedia.org">read our blog</a>. Chè d'séguìt
te tròv al <a
href="https://wikimediafoundation.org/wiki/Annual_Report">Ràport anuèl
d'la Fundasiòun Wikimedia per l'àn 2010-11</a>, al <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">Piàn
anuèl d'la Fundasiòun Wikimedia per l'àn 2012-13</a> e al <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Piàn
stràtégic ed sìnc àn d'la Fundasiòun Wikimedia</a>. Adèsa t'pò ànca
cumprèr i prodòt ed Wikipèdia int dal <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>
<p>Pr'al tò registrasiòun: La tò dunasiòun al dè £date l'è stèda ed
£amount.</p>
<p>Torès fòra d'l'iscrisiòun: A' te vrèven tgnìr infurmé, come
dunatòur, dagli ativité e dal racòlti d' fond d'la nòstra comunité. Ma
s'te preferìs an risèiver minga chi comunichè chè da pèrt nostra, e't
pò schisèr chè sòta e a't tulòm vìa dàla lìsta:</p>
<p><a style="padding-left: 25px;"
href="{{unsubscribe_link|raw}}">Unsubscribe|tò vìa l'iscrìsioun</a></p>
<p>Cla lèttra chè l'at pòl servir cùma 'na registrasiòun d'la tò
donasiòun. A'n t'òm brìsa furnì d'la ròba o di servìssi, in pèrt o
intèr, in cambi d'ch'i sòld chè. La Fundasiòun d'Wikimédia Inc. l'è
'n'asòsiasiòun sèinsa vlér guadàgnèr, giòm filàntròpica, ch'l'è
esentèda dal tàsi in di Stèt Unì cun l'Artìcol 501(c)(3). Al nòster
indiriss l'è: 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105.
U.S. tax-exempt number: 20-0049703</p>