{% if first_name and last_name %}
<p>Milý/á {{ first_name }},</p>

{% else %}
<p>Vážená dárkyně, vážený dárče,</p>
{% endif %}

<p>Jste senzační. DĚKUJI VÁM za podporu nadace Wikimedia - neziskové organizace, která
provozuje Wikipedii a její sesterské projekty.</p>

{% if "RecurringRestarted" in contribution_tags %}<p> Nedávno jsme odstranili malý technický
problém, který pozastavil vaše pravidelné měsíční dary. Vaše opakované dary jsou znovu
obnoveny a budou již nadále zpracovány normálně. Nebudeme Vám účtovat za měsíce, které
byly vynechány. Děkujeme Vám za vaši trpělivost a podporu. Pokud máte jakékoliv dotaz, tak
neváhejte napsat na donate@wikimedia.org </p>{% endif %}

<p>Váš příspěvek pomáhá krýt nejen ty výdaje, které je třeba vynaložit, aby byla
Wikipedie k dispozici Vám, ale i výdaje pro další čtenáře Wikipedie.</p>

<p>Například jistý penzionovaný farmář poblíž New Yorku může díky darům studovat nauku o
kalech. Student v Kuala Lumpur může bádat v oblasti organické chemie. Britský automechanik se
po úrazu páteře dokázal díky Wikipedii přeškolit na webového vývojáře. Finský úředník
sestavil offline verzi Wikipedie pro malou školu v Ghaně. Jistý otec v Mexico City zase s pomocí
Wikipedie pomáhá svým malým dcerkám detailně porozumět všemu, na co narazí při svých
pravidelných návštěvách muzeí.</p>

<p>Úkolem Wikipedie je zpřístupnit souhrn všech lidských vědomostí každému na celém
světě v jeho vlastním jazyce. Je to samozřejmě velmi odvážné poslání, ale se 30 miliony
článků ve 287 jazycích si myslím, že díky Vám a lidem jako jste Vy se nám to daří.</p>

<p>Jménem nadace Wikimedia a půl miliardy dalších čtenářů Wikipedie po celém světě:
Děkujeme. Díky tomu, že nám pomáháte pokrývat náklady na provoz, se Wikipedie obejde bez
inzerce a zůstává nezávislá na cizích zájmech, zaměřená výhradně na pomoc svým
čtenářům. Přesně tak, jak to má být.</p>

<p>Možná jste si všimli, že letos poprvé jsme pozměnili výběr finančních prostředků tak,
že většina lidí vidí naše bannery jen několikrát a ne celé týdny. To je záměrné:
nechceme lidi dráždit příliš častými výzvami. To ale znamená, že méně lidí zjistí, že
jsme nezisková společnost a že stojíme o jejich pomoc. Jestli tedy chcete, budeme rádi, když
tuto informaci pomůžete šířit přeposláním tohoto e-mailu nekolika svým přátelům.</p>

<p>A co takhle pokusit se k nám připojit a napsat něco do Wikipedie? To by bylo skvělé!
Wikipedii píšou pouze dobrovolníci – desetitisíce obyčejných lidí po celém světě, zrovna
jako já nebo Vy. Uvidíte-li někde překlep nebo nějakou chybu, prosím, opravte to. Víte-li o
něčem, co by stálo za doplnění, prosím, přidejte to. Některé lidi to ohromně naplňuje,
třeba to bude i Váš případ.</p>

<p>Ještě jednou děkuji. Vážím si toho, že nám věříte, a slibuji, že Vaše peníze
využijeme pečlivě a uvážlivě.</p>

<p>Díky,<br/>
Sue</p>

<p>Sue Gardnerová<br/>
výkonná ředitelka,<br/>
Nadace Wikimedia<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Mnoho zaměstnavatelů podporuje dobročinnost tím, že přispívá stejnou částkou jako
jejich zaměstnanci, a tím jejich dar zdvojnásobí. Ověřte si prosím, zda Váš zaměstnavatel
nemá podobný program podpory dárcovství. Můžete nás sledovat na <a
href="https://twitter.com/Wikipedia">Twitteru</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> nebo <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, přidat si nás na <a
href="https://www.facebook.com/wikipedia">Facebooku</a> a <a
href="https://blog.wikimedia.org">číst náš blog</a>. Zde je <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">výroční
zpráva Wikimedia Foundation za roky 2012–13</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">roční plán
Wikimedia Foundation pro roky 2013–2014</a> a <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">pětiletý
strategický plán Wikimedia Foundation</a>. Také již můžete nakupovat v našem obchodě na <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Pro Vaše záznamy: Váš příspěvek číslo {{ transaction_id }} ze dne {{ receive_date }}
činil {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Tento dar je součástí pravidelně opakovaných příspěvků. Měsíční
platby budou inkasovány nadací Wikimedia tak dlouho, dokud nepožádáte o jejich zastavení.
Nechcete-li již nadále přispívat, přečtěte si <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">jednoduché instrukce pro zrušení</a>. </p>{% endif %}

<p>Tento dopis slouží jako záznam o daru. Za tento příspěvek nebylo poskytnuto žádné
zboží ani služby, ať úplné či částečné. Nadace Wikimedia je nezisková charitativní
organizace, s osvobozením od daně (č. 20-0049703) ve Spojených státech amerických, dle
paragrafu 501(c)(3). Naše adresa je 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105,
USA.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Odhlášení newsletteru:</p>
  <p>Rádi bychom Vás jakožto dárce informovali o činnostech naší komunity a dalších
sbírkách. Pokud si ale takové zprávy nepřejete dostávat, klikněte, prosím, na odkaz níže a
my Vás ze seznamu příjemců vymažeme.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Odhlásit</a></p>
  </div>
</div>

<p>Pomozte nám preložit #translate tuto zprávu.</p>