<p>Xin chào $givename,</p>

<p>Cảm ơn bạn đã quyên tiền cho Wikimedia Foundation. Bạn thật tuyệt
vời!</p>

<p>Nhiều người dễ dàng làm ngơ với băng rôn kêu gọi đóng góp, nhưng
tôi rất mừng vì bạn đã không làm như vậy. Đây là cách Wikipedia chi
trả chi phí --- những người như bạn tặng tiền cho chúng tôi, để chúng
tôi có thể tiếp tục giữ cho trang web này luôn rộng mở tự do với tất
cả mọi người trên thế giới.</p>

<p>Nhiều người nói với tôi rằng họ tặng tiền cho Wikipedia vì họ
thấy nó có ích, rằng họ tin tưởng vào nó vì mặc dù nó không hoàn
hảo, họ biết rằng nó được viết nên để dành cho chính họ. Wikipedia
không dùng để quảng bá cho cá nhân nào, không thúc đẩy một tư tưởng
nào, cũng như không thuyết phục bạn tin tưởng vào những điều không
đúng. Chúng tôi hướng đến sự thật, và chúng tôi có thể làm được
điều đó chính vì bạn. Việc bạn đóng góp tiền cho trang web sẽ giữ
cho chúng tôi luôn độc lập và có thể mang đến những gì bạn cần và
mong mỏi từ Wikipedia. Đó chính xác là điều Wikipedia đang hướng
tới.</p>

<p>Có một điều bạn nên biết: số tiền mà bạn đóng góp không phải
chỉ để trả cho chi phí của riêng bạn. Một người quyên góp đang trả
tiền để cho họ sử dụng được Wikipedia, và số tiền đó còn để
trả cho việc sử dụng của hàng trăm người khác nữa. Số tiền của
bạn giúp cho Wikipedia luôn rộng mở đối với một cô bé đầy hoài bão
tại Bangalore, đang tự học cách lập trình trên máy tính. Một người
chủ gia đình ở tuổi trung niên ở Viên vừa được chẩn đoán mắc
bệnh Parkinson. Một người Anh chuyên nghiên cứu về tiểu thuyết thập
niên 1850. Một đứa trẻ 10 tuổi ở San Salvador vừa mới biết được Carl
Sagan là ai.</p>

<p>Thay mặt cho những người đó, và cho nửa tỷ người khác đã, đang và
sẽ đọc Wikipedia và các dự án liên quan, tôi xin cảm ơn bạn đã cùng
chúng tôi nỗ lực tạo nên kho kiến thức của nhân loại, dành cho nhân
loại. Sự quyên góp của bạn giúp cho thế giới này trở nên ngày càng
tốt đẹp hơn. Xin cảm ơn.</p>

<p>Phần lớn mọi người không biết rằng Wikipedia được vận hành bởi
một tổ chức phi lợi nhuận. Xin hãy chia sẻ email này đến vài người
bạn của bạn để khuyến khích họ cùng quyên góp. Và nếu quan tâm, bạn
nên thử viết một vài thông tin mới vào Wikipedia. Nếu bạn phát hiện
thấy có lỗi chính tả hay lỗi nhỏ nào khác, xin hãy sửa lại, và nếu
bạn thấy thiếu điều gì, hãy mạnh dạn bổ sung.</p>

<p>Tôi rất cảm kích trước sự tin tưởng của bạn dành cho chúng tôi,
và tôi xin hứa với bạn rằng chúng tôi sẽ sử dụng số tiền của bạn
thật tốt.</p>

<p>Xin cảm ơn,<br />
Sue</p>

<br />
<p>Sue Gardner<br />
Giám đốc điều hành,<br />
Quỹ Wikimedia [Wikimedia Foundation]</p>

<p>Thông tin để bạn lưu giữ: Bạn đã đóng góp
{{contribution.contribution_source|l10n_currency(locale)}} vào ngày
{{contribution.receive_date}}.{% if recurring %}{% include 'recurring/vi.html' ignore
missing %}{% endif %}</p>

<p>Bức thư này có thể làm bằng chứng cho việc quyên góp của bạn.
Chúng tôi không cung cấp hàng hóa hay dịch vụ nào, dù toàn phần hay một
phần, để đổi lại sự đóng góp này. Wikimedia Foundation, Inc. là một
tổ chức phi lợi nhuận được phép nhận tiền quyên góp theo luật miễn
trừ thuế 501(c)(3) của Hoa Kỳ. Địa chỉ của chúng tôi là 149 New
Montgomery, Lầu 3, San Francisco, CA, 94105. Hoa Kỳ. Mã số miễn trừ thuế:
20-0049703</p>

<p>Bạn có thể theo dõi thông tin của chúng tôi trên <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> hay <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, "thích" chúng tôi trên <a
href="https://www.facebook.com/wikipedia">Facebook</a> và <a
href="https://blog.wikimedia.org">xem blog</a>. Đây là <a
href="https://wikimediafoundation.org/wiki/Annual_Report">báo cáo thường niên của
Wikimedia Foundation năm 2010-11</a>, <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">Bản
kế hoạch thường niên của Wikimedia Foundation năm 2012-13</a> và <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Chiến
lược 5 năm của Wikimedia Foundation</a>. Bạn cũng có thể mua hàng hóa của
Wikipedia tại <a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Ngừng nhận thông tin</i></p>

<p>Chúng tôi muốn thường xuyên thông báo với bạn về các hoạt động
của cộng đồng và việc quyên góp tiền. Tuy nhiên, nếu bạn không muốn
nhận những email như vậy, xin vui lòng nhấn vào liên kết phía dưới và
chúng tôi sẽ đưa bạn ra khỏi danh sách</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Ngừng nhận tin</a>

</div>

