{% if first_name and last_name %}
<p>{{ last_name }}様
</p>{% else %}
<p>寄付者の皆さま、</p>
{%endif%}

{% if recurring %}
<p>自由な知識を求める世界中の人たちを代表してあなたにお礼が言えることを心から嬉しく思います。あなたからの毎月{{ (currency ~ " " ~ amount) | l10n_currency(locale) }} 円の贈り物に心から感謝しています。
</p>

<p>あなたのご寄付によってウィキペディアは独立性を保つことができます。あなたの毎月のご支援は、ウィキペディアの長期計画の実現に不可欠なのです。毎月、{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}円のご寄付がウィキメディア財団によって引き落としされます。これは、停止希望の連絡をいただかない限り継続されます。


  <b>毎年1月に前年分のご寄付の概要をお送りします。</b>
  何らかの理由でご寄付の停止を希望される場合は、
  <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{ locale }}">
    下記の簡単な方法に従ってください。</a>
</p>
{% else %}

<p>自由な知識を求める世界中の人たちを代表してあなたにお礼が言えることを心から嬉しく思います。あなたからの{{ (currency ~ " " ~ amount) | l10n_currency(locale) }} 円の贈り物に心から感謝しています。
</p>
{% endif %}
{% if "RecurringRestarted" in contribution_tags %}
<p>このたび、毎月の継続寄付中断の原因になっていた技術的問題が解決されました。今後、継続寄付は再開されます。停止期間のご請求を改めておこなうことはございません。皆さまのご協力とご支援に感謝いたします。ご質問等おありでしたら、お手数ですがdonate@wikimedia.orgまでお問い合わせください。</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>一部の寄付者の方に、ご寄付完了のメールが届かないという技術的問題が解決されました。本メールをもって{{ receive_date }}付のご寄付受領の御礼に代えさせていただきます。皆さまのご協力とご支援に感謝いたします。ご質問等おありでしたら、お手数ですがdonate@wikimedia.orgまでお問い合わせください。</p>
{%endif%}


<p>この仕事を長く続ければ続けるほど、ウィキペディアの体験は人それぞれだということに気づかされます。私たち一人ひとりがユニークであるのと同じように、その好奇心もまた多様なのです。
</p>


<p>次にウィキペディアを使うとき、ウィキペディアが他ならぬあなたのものであるということを強く実感してください。あなたがいなければ、そして毎日ウィキペディアを訪れる何十億もの人々の愛と支援がなければ、私たちは何ものでもないからです。</p>

<p><b>あなたのご寄付は私たちを突き動かし、目標の達成を後押ししてくれます。ウィキペディアをあなたの生活の一部にしてくださってありがとうございます。</b></p>

<p>感謝の気持ちを込めて</p>

<p>
  キャサリン・マー<br/>
  ウィキメディア財団　エグゼクティブディレクター　
</p>

<p>多くの雇用主の方が、寛大にも、従業員の寄付額に連動する寄付をしてくださっています。皆さまの雇用主が <a href="https://donate.wikimedia.org/wiki/Matching_Gifts">コーポレートマッチングギフト制度</a>に参画されているかご確認ください。
</p>

{% if gift_source != "Donor Advised Fund" %}

<p>受領記録：寄付番号{{ transaction_id }}、{{ receive_date }}付 {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}。
</p>

<p>この手紙は寄付の領収書代わりとなります。この寄付の全部または一部に対する見返りとして、物品やサービスは一切提供されていません。郵送先住所：Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA. 米国国内税免税番号：20-0049703
</p>

{%endif%}
<p>ご寄付に関するウィキメディア財団からの通知がご不用の場合は、<a href="{{ unsubscribe_link | raw }}">今すぐに配信停止の手続きをしていただけます</a>。その場合もこの通信のような受領通知は、今後もご寄付をいただいたときにご送付致します。
</p>

<!-- TI_BEGIN{"version":1,"name":"thank_you.ja.html","revision":20200529}TI_END →
