<p>I/E dashur {{ contact.first_name }}</p>

<p>Ju jeni një njeri i shkëlqyer, faleminderit shumë për kontributin tuaj në ndihmë
të Fondacionit Wikimedia. </p>

<p>Në këtë mënyrë i paguajmë ne faturat, janë njerëzit si ju që dhurojnë 5
dollarë, 20 dollarë, 100 dollarë. Kontributi me i veçantë për vitin që shkoi ishte
një dhuratë 5 paund nga një vajzë e vogël në Britaninë e Madhe, e cila i kishte
bindur prindërit që ta lejonin të dhuronte kuotën e saj. Njerëzit si ju, që
bashkohen me atë vajzën e vogël, bëjnë të mundur që Wikipedia të ofrojë
informacion falas, të asnjëanshëm dhe lehtësisht të arritshëm  për të gjithë
njerëzit në botë. Për të gjithë ata që ndihmojnë në pagesat dhe për të gjithë
ata që nuk mund të ndihmojnë. Shumë, shumë faleminderit.</p>

<p>Nuk është e vështirë t’i injorosh thirrjet tona për ndërgjegjësim, por unë
jam shume e lumtur që ju nuk e bëtë këtë gjë. Nga unë dhe nga dhjetëra mijëra
vullnetarët e Wikipedia-s, faleminderit që na ndihmoni ta bëjmë botën një vend më
të mirë. Ne do t’i përdorim paratë tuaja me kujdesin më të madh dhe unë ju
falënderoj për faktin që keni besim tek ne.</p>

<p>Faleminderit,<br />
Sue Gardner<br />
Drejtoresha ekzekutive e Fondacionit Wikimedia</p>

<p>Për të qene në dijeni: Kontributi juaj më datë {{
contribution.receive_date|date("Y-m-d") }} ishte {{ contribution.contribution_source }}.
{% if recurring %}
{% include 'html/recurring/sq.html' ignore missing %}
{% endif %}</p>

<p>Kjo letër mund t’iu shërbejë si  dokument për kontributin tuaj. Për këtë
kontribut nuk pati asnjë shpërblim në formën e të mirave materiale apo në formën e
shërbimeve, qofshin këto  të plota ose të pjesshme. Fondacioni Wikimedia, Inc. është
një organizatë jo fitimprurëse me status  501(c)(3) që e përjashton nga detyrimet
tatimore në Shtetet e Bashkuara të Amerikës. Adresa jone është 149 New Montgomery,
kati i tretë, San Francisco, CA, 94105. Numri i përjashtimit nga detyrimet tatimore
është: 20-0049703</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Mundësi per të zgjedhur:</i></p>

<p>Si kontribuues,  do të donim t’ju mbanim të informuar rreth aktiviteteve dhe
fushatave për thithjen e fondeve të komunitetit tonë. Por, nëse dëshironi që mos
t’iu dërgojmë lajme me postë elektronike, atëherë ju lutem klikoni më poshtë dhe
ne do t’iu përjashtojmë nga lista:</p>

<a style="padding-left: 25px;" href="{{ unsubscribe_link|raw }}">Çregjistrohuni</a>

</div>
