{% if first_name and last_name %}
<p>{{ first_name }} היקר(ה),</p>

{% else %}
<p>תורם יקר, תורמת יקרה,</p>
{% endif %}

<p>אנחנו כל־כך אוהבים אותך. תודה רבה על תמיכתך בקרן
ויקימדיה, מוסד ללא כוונת רווח המפעיל את אתר ויקיפדיה
יחד עם פרויקטים דומים.</p>

{% if "RecurringRestarted" in contribution_tags %}<p> פתרנו לאחרונה בעיה טכנית
קטנה שעצרה חלק מהתרומות החודשיות. הפעלנו מחדש את
תרומתך ועכשיו זה עובד כנדרש. אנו לא נחייב אותך על
החודשים שעברו. תודה על סבלנותך ותמיכתך. הרגש חופשי
לשלוח דוא"ל ל־donate@wikimedia.org אם יש לך שאלה כלשהיא. </p>{% endif %}

<p>תרומתך מכסה לא רק את העלות על השימוש שלך בוויקיפדיה,
אלא גם את העלות עבור קוראי ויקיפדיה אחרים.</p>

<p>כמו האיכר בגמלאות מצפון מדינת ניו־יורק שמשתמש
בוויקיפדיה כדי ללמוד את הצד המדעי של הטיפול בבוצה, או
הסטודנטית מקואלה לומפור שחוקרת כימיה אורגנית. המכונאי
הבריטי, שלאחר ששבר את גבו בתאונה, השתמש בוויקיפדיה כדי
לעשות הסבה מקצועים לפיתוח לאינטרנט. עובד המדינה הפיני
שיצר גרסה בלתי־מקוונת של ויקיפדיה בשביל בתי ספר קטנים
בגאנה. וכמו אבא במקסיקו סיטי, שלוקח את בנותיו בסופי
שבוע למוזיאון ומשתמש בוויקיפדיה כדי לעזור להן להבין את
מה שהם ראו שם.</p>

<p>העבודה של ויקיפדיה היא להביא את כלל הידע האנושי לכל
אדם בעולם בשפתו שלו. זו היא משימה נועזת למדי, אך באמצעות
30 מיליון ערכים ו־287 שפות, אנו יכולים לומר שבזכותך
ובזכות אנשים כמוך אנו מתקדמים לשם.</p>

<p>בשם קרן ויקימדיה ובשם חצי־מיליארד קוראי ויקיפדיה
ברחבי העולם כולו: תודה רבה. זה שעזרת לשלם את ההוצאות של
תפעול ויקיפדיה אומר שהיא יכולה להישאר חופשיה מפרסומות,
עצמאית ולא מוטית, ממוקדת רק בעזרה לקוראים שלה. בדיוק
כמו שזה צריך להיות.</p>

<p>ייתכן שהבחנת בכך שזאת השנה הראשונה ששינינו במעט את
אופן ההתרמה כך שרוב הקוראים ייתקלו בפרסום הבקשה לתרומה
רק מספר מועט של פעמים במקום למשך שבועות שלמים. עשינו
זאת בכוונה: איננו רוצים להטריד אנשים עם יותר מדי בקשות
כאלה. אבל אחת המשמעויות של זה היא שפחות אנשים יהיו
מודעים לעובדה שאנו ארגון ללא כוונת רווח, ושאנו זקוקים
לעזרתם כדי להתקיים. אם זה מתאים לך, נשמח לקצת שיתוף
פעולה מצדך על־ידי הפצת המכתב הזה לכמה מהחברים שלך.</p>

<p>עוד דבר שבו אנשים כמוך יכולים לעזור היא כתיבה
בוויקיפדיה. ויקיפדיה נכתבת על־ידי מתנדבים בלבד –
עשרות אלפי אנשים רגילים מרחבי העולם, אנשים כמונו. בכל
רגע נתון אם מצאת באחד מערכי ויקיפדיה שגיאת כתיב או טעות
אחרת, ביכולתך פשוט לתקן אותה. אם בידך מידע ששווה להוסיף,
צריך פשוט להוסיף אותו. ישנם אנשים רבים שמפיקים מכך
סיפוק והנאה מרובים, ואולי זה יתאים גם לך.</p>

<p>אני מודה לך שוב. אני מעריכה מאוד את האמון שנתת בנו
ומבטיחה לך: נעשה בכסף שתרמת שימוש זהיר ומושכל.</p>

<p>תודה,<br/>
סו</p>

<p>סו גרדנר<br/>
מנהלת בפועל,<br/>
קרן ויקימדיה<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>ישנם מעסיקים אשר יתעניינו להכפיל את סכום התרומה של
עובדיהם: נודה אם תברר אצל מעסיקך אם הינו משתתף בתוכנית
תרומה: הכפלת תרומתם של עובדיך. תוכל לעקוב אחרינו
באמצעות <a href="https://twitter.com/Wikipedia">טוויטר</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> או <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, תן לנו לייק ב-<a
href="https://www.facebook.com/wikipedia">פייסבוק</a> ו-<a
href="https://blog.wikimedia.org">קרא את הבלוג שלנו</a>. תוכל למצוא דו"ח
שנתי ב<a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">דו"ח
השנתי של קרן ויקימדיה</a> וכן <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">תוכנית
חומש של הקרן</a>. ביכולתך גם לקנות מוצרי ויקיפדיה ב<a
href="https://shop.wikimedia.org">shop.wikimedia.org חנות</a>.</p>

<p>עבור רישומך: תרומתך הינה מספר {{ transaction_id }}, בתאריך {{
receive_date }} הינה {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}</p>

{% if recurring %}<p> תרומה זו הינה חלק מרשמה לתשלום חוזר. תשלום
חודשי יגבה על ידי הארגון ויקימדיה עד אשר תודיע לנו
להפסיק. אם ברצונך לבטל את המשך התשלומים תוכל לראות<a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">הוראות לביטול פשוט וקל</a> </p>{% endif %}

<p>מכתב זה יכול לשמש כהוכחה לתרומתך. לא סופקו טובין או
שירותים עבור חלק או כל הסכום של תרומה זו. קרן ויקימדיה
בע"מ הוא תאגיד צדקה ללא מטרות רווחת עם פטור ממס 501(3)(c)
בארצות הברית. הכתובת שלנו היא 149 New Montgomery, 3rd Floor, San Francisco,
CA, 94105. U.S. מספר פטור ממס: 20-0049703.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>להסרה מרשימת התפוצה:</p>
  <p>בהיותך תורם, אנו רוצים לשלוח אליך מידע על הפעילויות
הקהילתיות שלנו ועל ההתרמות שלנו. אם תעדיף לא לקבל
מכתבים כאלה, נא ללחוץ להלן ונסיר אותך מהרשימה.</p>
  <div style="margin: 0 25px">
    <p>[$unsubscribeURL הסרה מרשימת התפוצה]</p>
  </div>
</div>

<hr/>

<p>בבקשה עזור לנו <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">לתרגם</a>
מכתב זה.</p>