{% if first_name and last_name %}
<p>Benvolgut/Benvolguda {{ first_name }},
</p>{% else %}<p>
Estimat/da donant,</p>
{%endif%}


{% if recurring %}
<p>
Tinc la sort de ser qui t’agraeix la teva donació mensual de {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} en nom de tot un món de persones que volen rebre coneixement gratuït.
</p>

<p>
La teva donació fa que la Viquipèdia segueixi sent independent, i el teu suport mensual és essencial per a la planificació a llarg termini, perquè ens ajuda a veure què pot assolir la Viquipèdia en els propers anys. Un cop al mes, la Wikimedia Foundation carregarà una donació de {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} al teu compte fins que ens notifiquis que parem. <b>Cada gener t’enviarem un resum de les teves contribucions de l’any anterior.</b> Si vols cancel·lar la donació per algun motiu, segueix aquestes <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{ locale }}">senzilles instruccions de cancel·lació</a>.
</p>

{% else %}

<p>
Tinc la sort de ser qui t’agraeix la donació de {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} en nom de tot un món de persones que volen rebre coneixement gratuït.
</p>
{% endif %}

{% if "RecurringRestarted" in contribution_tags %}
<p>Fa poc hem resolt un petit problema tècnic que va posar en pausa algunes donacions mensuals. Hem reinstaurat la teva donació periòdica i d’ara en endavantes processarà amb normalitat. No et cobrarem els mesos que no s’ha fet la donació. Gràcies per la teva paciència i suport i, en cas que tinguis preguntes, no dubtis a enviar un correu electrònic a donate@wikimedia.org.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Fa poc hem resolt un problema tècnic que va fer que un petit nombre de donants no rebessin la confirmació de la seva donació. Et preguem que acceptis aquest correu electrònic com un agraïment per la teva donació del {{ receive_date }}. Apreciem molt la teva paciència i suport i, en cas que tinguis preguntes, no dubtis a enviar un correu electrònic a donate@wikimedia.org.</p>
{%endif%}

<p>
Com més temps dedico a aquesta tasca, més m’adono que no hi ha una única experiència amb la Viquipèdia. La curiositat és tan diversa com nosaltres mateixos, i és una mica diferent per a cadascú de nosaltres.
</p>

<p>
El proper cop que facis servir la Viquipèdia, espero que sentis que et pertany encara més. Perquè, sense tu, i sense l’estima i el suport de milions de persones que tornen a visitar-nos cada dia, no seríem res.
</p>

<p>
<b>La teva donació ens dona força i ens permet complir el nostre propòsit. Moltes gràcies per incloure la Viquipèdia a la teva vida.</b>
</p>

<p>Moltes gràcies,</p>
<p>
Katherine <br><br>
Katherine Maher, directora executiva<br>
Wikimedia Foundation
</p>

<p>Moltes empreses doblen la donació que fan els seus treballadors: per favor, comproveu si la vostra empresa té <a class="external text" href="https://donate.wikimedia.org/wiki/Matching_Gifts">un programa similar</a>.
</p>

<p>Per a la vostra informació: La vostra donació, numero {{ transaction_id }} amb data {{ receive_date }} va ser de {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.
</p>

<p>Aquesta carta pot servir com a rècord de la vostra donació. Cap bé o servei va ser proporcionat, en sencer o en part, per aquesta contribució. La nostra adreça postal és:  Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA. U.S. tax-exempt number: 20-0049703
</p>

<p>Si no desitgeu rebre propers corrers electrònics sobre donacions de la Fundació Wikimèdia, podeu <a href="{{ unsubscribe_link | raw }}">cancel·lar la subscripció instantàniament</a>. Si us plau verifiqueu si encara us enviem informacions, per a donacions futures.
</p>




