{% if first_name and last_name %}
<p>Drogi/Droga {{ first_name }},</p>

{% else %}
<p>Drogi darczyńco,</p>
{%endif%}

<p>Dziękujemy za pomoc na rzecz Wikipedii i Wikimedia Foundation. Twój wkład o wysokości {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} stanowi wsparcie dla Wikipedii i pomoże w zapewnieniu wszystkim ludziom dostępu do bezpłatnego źródła wiedzy w przyszłości.</p>

{% if "RecurringRestarted" in contribution_tags %}
<p>Niedawno rozwiązaliśmy mały problem techniczny, który był przyczyną wstrzymania niektórych dotacji okresowych. Udało się nam w pełni uruchomić ponownie usługę dotacji okresowych, a proces przekazywania funduszy powinien przebiegać bez zakłóceń. Twoje konto, z którego pobierane były dostacje, nie zostanie obciążone wpłatami, które zostały pominięte. Dziękujemy za Twoją cierpliwość, wyrozumiałość i wsparcie. Jeżeli masz jakiekolwiek pytania, prosimy o kontakt pod adresem donate@wikimedia.org.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Rozwiązaliśmy niedawno problem techniczny, który powodował, że niewielka liczba darczyńców okresowych nie otrzymywała potwierdzenia do celów podatkowych. Potraktuj proszę tą wiadomość jako podziękowanie za darowiznę dokonaną dnia {{ receive_date }}. Dziękujemy za Twoją cierpliwość, wyrozumiałość i wsparcie. Jeżeli masz jakiekolwiek pytania, prosimy o kontakt pod adresem donate@wikimedia.org.</p>
{%endif%}

<p>
  <b>Wikipedia stała się rzeczywistością dzięki doniosłej idei: wszyscy ludzie, tacy jak Ty i ja, mogą uczestniczyć w szerzeniu wiedzy, czyniąc ją dostępną za darmo dla wszystkich ludzi, w każdym zakątku świata.</b>
</p>

<p>Dzięki wsparciu milionów współpracujących z nami ochotników Wikipedię można przeglądać dziś godzinami. Ponad 40 milionów artykułów i 35 milionów obrazów udostępnionych na podstawie wolnej licencji pozwala znaleźć na Wikipedii odpowiedź na praktycznie każde pytanie, a także dowiedzieć się o miejscach, o których istnieniu nie miało się wcześniej pojęcia.</p>

<p>Twoja darowizna wspiera tworzenie i propagowanie bezpłatnej wiedzy w realny i praktyczny sposób. Dzięki niej Wikipedia będzie działać jeszcze szybciej, będzie bezpieczniejsza, a dostęp do niej będzie miał każdy człowiek na Ziemi. Pomoże nam zapewnić wolny dostęp do Wikipedii w miejscach, w których wysokie koszty mobilnego przesyłania danych stanowią dla wielu barierę blokującą dostęp do Internetu. Dzięki niej będziemy mogli wspierać osoby przyczyniające się do cyfryzacji wiedzy, która do tej pory była zamknięta w analogowych archiwach. Będzie stanowić dla Wikipedii ochronę przed zagrożeniami dla bezpłatnej wiedzy i Internetu otwartego dla wszystkich.</p>

<p>Twoje wsparcie oznacza, że potrzebne informacje znajdujesz natychmiast, niezależnie od tego, gdzie jesteś – pomogą Ci zarówno w wygraniu zakładu ze znajomym podczas przyjęcia, jak i w lepszym zrozumieniu otaczającego nas świata.</p>

<p>
  <b>Wspieranie Wikipedii czyni Cię bohaterem, walczącym na rzecz tej wspaniałej idei!</b>
</p>

<p>Wikipedia nie przestanie rozwijać się, ewoluować i napotykać kolejne przeszkody, których pokonania nie możemy się już doczekać! Twoja darowizna pomoże nam to osiągnąć. Nie sposób wyrazić, jak bardzo jesteśmy Ci wdzięczni za wsparcie. W imieniu Wikimedia Foundation dziękujemy za inwestycję w naszą przyszłość i naszą wspólną drogę.</p>

<p>Katherine Maher<br/>
Dyrektor wykonawczy, Wikimedia Foundation</p>

<p>Wielu pracodawców z radością podwoi datki swoich pracowników: warto porozmawiać ze swoim pracodawcą, aby dowiedzieć się, czy wdrożył <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">korporacyjny program podwajania darowizn</a>. Informacje do Twojej dokumentacji: Twoja darowizna o numerze {{ transaction_id }} została złożona dnia {{ receive_date }} w kwocie {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}
<p>Ta wpłata jest częścią darowizny okresowej. Comiesięczne płatności będą pobierane z Twojego konta przez Wikimedia Foundation do momentu w którym poinformujesz nas o chęci rezygnacji. Jeśli chcesz anulować swoją darowiznę okresową, zapoznaj się z naszymi <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">instrukcjami rezygnacji</a>.</p>
{%endif%}

<p>Ta wiadomość może stanowić potwierdzenie dokonania darowizny. W zamian za ten datek nie zostały przekazane żadne towary lub usługi, w części ani w całości. Korespondencję prosimy przesyłać na adres: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA. Numer telefonu w sprawach zwolnień podatkowych w USA: 20-0049703</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20161128/pl&amp;oldid=16767574","name":"thank_you.pl.html","revision":16767574}TI_END -->
