<p>Estimado(a) {{contact.first_name}},</p>

<p>Usted es fantástico. GRACIAS por apoyar a la Fundación Wikimedia, la organización sin fines de
lucro que opera Wikipedia y sus proyectos hermanos.</p>

<p>Su donación cubre no sólo sus propios costos por usar Wikipedia, sino también los costos de
otros lectores de Wikipedia.</p>

<p>Como el agricultor jubilado del estado de Nueva York que está usando Wikipedia para estudiar la
ciencia de los lodos, y la estudiante en Kuala Lumpur que está investigando la química orgánica.
El mecánico británico que, después de que se rompió la espalda en un accidente, usó Wikipedia
para volver a entrenarse como un desarrollador web. El funcionario en Finlandia que instaló una
versión offline de Wikipedia para una pequeña escuela en Ghana. Y el padre en la Ciudad de México
que lleva a sus pequeñas hijas al museo los fines de semana, y usa Wikipedia para ayudarles a
entender todo lo que están viendo allí.</p>

<p>El trabajo de Wikipedia es el de agregar todo el conocimiento humano y llevarlo a todos en el
mundo, en su propio idioma. No es una misión fácil, pero con 30 millones de artículos y 287
idiomas, quiero decir que gracias a usted y a personas como usted lo estamos logrando.</p>

<p>De parte de la Fundacion Wikimedia, y los 500 millones de usuarios de Wikipedia, quiero darle las
gracias. El hecho de que está contribuyendo a pagar los costes de mantenimiento de Wikipedia
significa que ésta puede estar libre de publicidad y prejuicios, concentrada solamente en ayudar a
sus lectores. Exactamente como debe ser.</p>

<p>Tal vez haya notado que por primera vez este año hemos modificado nuestra recaudación de fondos
de modo que la mayoría de la gente sólo verá nuestros carteles unas pocas veces, en lugar de
durante semanas. Hacemos esto a propósito: no queremos que la gente se irrite con demasiadas
peticiones. Pero esto significa que menos gente se enterará de que somos una organización sin
fines de lucro, y que queremos su ayuda. Así que si está dispuesto, agradecería su ayuda para
darlo a conocer reenviando este correo a algunos de sus amigos.</p>

<p>Me encantaría que se uniese a nosotros para ayudarnos a escribir Wikipedia. Wikipedia está
escrita completamente por voluntarios, cientos de miles de personas como usted y como yo en todo el
mundo. Si ve una falta de ortografía o un pequeño error en Wikipedia, por favor corríjalo. Si
conoce algo que merezca ser añadido, añádalo. Mucha gente lo encuentra muy gratificante, quizá
usted también.</p>

<p>Le doy las gracias de nuevo. Aprecio mucho su confianza en nosotros, y le prometo que usaremos
bien y prudentemente su dinero.</p>

<p>Gracias,<br/>
Sue</p>

<p>Sue Gardner<br/>
Directora Ejecutiva,<br/>
Fundación Wikimedia<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Muchas empresas doblan la contribución de sus empleados: comprueba si tu empresa es una de ellas
y tiene un programa en este sentido. Puedes seguirnos en <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> o <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, hacernos un Me Gusta en <a
href="https://www.facebook.com/wikipedia">Facebook</a> y <a href="https://blog.wikimedia.org">leer
nuestro blog</a>. Aquí tienes el <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Informe
Anual 2011-12 de la Fundación Wikimedia</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">el Plan Anual
2013-14 de Fundación Wikimedia</a> y el <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Plan
Estratégico a 5 años de la Fundación Wikimedia</a>. También puedes comprar mercancía de
Wikipedia en <a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Para que quede constancia: Tu número de donación es CNTCT-{{contribution.contact_id}}, con
fecha de {{contribution.receive_date}} por un total de
{{contribution.contribution_source|l10n_currency(locale)}}.</p>

<p>{% if recurring %} Esta donación es parte de una suscripción. Cada mes la Fundación Wikimedia
cargará la misma cantidad en su cuenta hasta que nos notifique que no lo hagamos. Si desea cancelar
los pagos por favor lea estas <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">sencillas instrucciones</a>. {% endif %}</p>

<p>Esta carta puede servir como prueba de tu donativo. No se proporcionaron bienes o servicios, en
su conjunto o en parte, a cambio de esta contribución. La Fundación Wikimedia Inc. es una
organización benéfica sin ánimo de lucro exenta de impuestos en los Estados Unidos. Nuestra
dirección es 149 New Montgomery, 3er Piso, San Francisco, CA, 94105. Número de exención de
impuestos en Estados Unidos: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Opción de darse de baja:</p>
  <p>Nos gustaría mantenerlo/a informado/a de nuestras actividades comunitarias y recaudaciones de
fondos. Sin embargo, si Ud. prefiere no recibir tales mensajes de nosotros, por favor, haga click
abajo y lo/a sacaremos de la lista.</p>
  <div style="margin: 0 25px">
    <p>[$url11 Dar de baja su suscripción]</p>
  </div>
</div>

<p>
  <br/>
</p>

<hr/>

<p>Por favor, ayúdenos a <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">traducir</a>
este correo.</p>