{% if first_name and last_name %}
<p>שלום {{ first_name }}!
</p>{% else %}<p>
תורם יקר, תורמת יקרה</p>
{%endif%}


{% if recurring %}
<p>
זה כבוד גדול בשבילי להודות לך על תרומתך החודשית בסך {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}, בשמו של קהל גדול של אנשים המבקשים ידע חופשי.
</p>

<p>
תרומתך מאפשרת לוויקיפדיה להישאר עצמאית, ותמיכתך החודשית חיונית לשם תכנון ארוך־טווח. היא עוזרת לנו לראות לאן הישגיה של ויקיפדיה יכולים להגיע בשנים הבאות. פעם בחודש, יחויב חשבונך על־ידי קרן ויקימדיה בתרומה בסך {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}, עד שתגיע ממך בקשה להפסיק את החיובים. <b>אנחנו נשלח לך מדי חודש ינואר את סיכום התרומות שלך בשנה החולפת.</b> לביטול התרומה, מכל סיבה שהיא, יש לפעול על־פי <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{ locale }}">ההוראות הפשוטות האלה</a>.
</p>

{% else %}

<p>
זהו לי כבוד גדול להודות לך על תרומתך בסך {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}, בשמו של קהל גדול של אנשים המבקשים ידע חופשי.
</p>
{% endif %}

{% if "RecurringRestarted" in contribution_tags %}
<p>לאחרונה פתרנו בעיה טכנית קטנה שעצרה אחדות מהתרומות החוזרות החודשיות. חידשנו את התרומה החוזרת שלך, ומעכשיו והלאה היא תועבר כרגיל. לא נחייב אותך על החודשים הקודמים שבהם לא חויבת. אנו מודים לך על הסבלנות ועל התמיכה. באפשרותך ליצור איתנו קשר בכתובת הדוא”ל donate@wikimedia.org בכל שאלה.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>לאחרונה טיפלנו בבעיה טכנית שגרמה למספר מצומצם של תורמים להפסיק לקבל אישור לתרומתם. אנא ראה/י בהודעת דוא”ל זו אות תודה עבור התרומה שלך מ-{{ receive_date }}. אנו באמת מעריכים את הסבלנות והתמיכה שלך. באפשרותך ליצור איתנו קשר בדוא"ל donate@wikimedia.org בכל שאלה.</p>
{%endif%}

<p>
ככל שיש לי יותר ניסיון בעבודה הזאת, אני מגלה שאין חוויה אחת שאופיינית לוויקיפדיה. סקרנות היא דבר מגוון ממש כמונו, והיא מתבטאת באופן קצת שונה בכל אחת ואחד מאיתנו.
</p>

<p>
אני מקווה שבביקור הבא שלך בוויקיפדיה תהיה לך תחושה עמוקה יותר שהיא שייכת לך. בלי השתתפותך, ובלי האהבה והתמיכה של מיליוני אנשים שחוזרים אלינו מדי יום, לא היינו מתקיימים.
</p>

<p>
<b>תרומתך נותנת לנו כוח ומאפשרת לנו להגשים את מטרתנו. תודה שנתת לוויקיפדיה מקום בחייך.</b>
</p>

<p>בהוקרה רבה,</p>
<p>
קתרין <br><br>
קתרין מאהר, מנכ"לית<br>
קרן ויקימדיה
</p>

<p>מעסיקים רבים מבטיחים לתרום כמה שהעובדים שלהם תורמים: אנא בדקו אם בחברה שלכם יש <a class="external text" href="https://donate.wikimedia.org/wiki/Matching_Gifts">תכנית התאמת תרומות</a>.
</p>

{% if gift_source != "Donor Advised Fund" %}


<p>לידיעתך: תרומתך מספר {{ transaction_id }} ב־{{ receive_date }} הייתה בסך {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.
</p>

<p>מכתב זה יכול לשמש כעדות לתרומתך. לא סופקו כל טובין או שירותים, בין אם במלואם או בחלקם, בתמורה לתרומה זו. כתובת למשלוח דואר: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA. מספר פטור ממס בארה"ב: 20-0049703
</p>

{%endif%}

<p>אם אינך רוצה לקבל בעתיד מקרן ויקימדיה דוא"ל לגיוס כספים, <a href="{{ unsubscribe_link | raw }}">באפשרותך לבטל את ההרשמה באופן מיידי.</a> לידיעתך, אנחנו עדיין נשלח לך קבלות, בדומה לקבלה זו, עבור תרומות עתידיות.
</p>


<!-- TI_BEGIN{"version":1,"name":"thank_you.he.html","revision":20200103}TI_END -->


