{% if first_name and last_name %}
<p>Kære {{ first_name }},</p>

{% else %}
<p>Kære bidragsyder,</p>
{%endif%}

<p>Tak for din støtte til Wikipedia og Wikimedia Foundation. Din støtte på {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} understøtter Wikipedia og hjælper til med at sikre fri information for alle i fremtiden.</p>

{% if "RecurringRestarted" in contribution_tags %}
<p>Vi har for nylig løst et lille teknisk problem, der standsede nogle månedligt tilbagevendende donationer. Vi har genstartet din tilbagevendende donation, og den vil forløbe normalt fremover. Vi opkræver ikke for de måneder, der er blevet sprunget over. Tak for din tålmodighed og støtte. Skriv endelig til donate@wikimedia.org, hvis du har spørgsmål.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Vi har for nylig rettet en mindre teknisk fejl, der betød, at en mindre gruppe af donorer ikke modtog en kvittering for deres bidrag. Denne email er derfor en tak til dig for din donation fra {{ receive_date }}. Vi takker for din tålmodighed og støtte, og husk at du altid er altid velkommen til at emaile donate@wikimedia.org, hvis du har nogen spørgsmål.</p>
{%endif%}

<p>
  <b>En stærk idé danner grundlaget for Wikipedia: At folk som dig og mig kan være med til at opbygge vores fælles viden og gøre det frit tilgængeligt for alle, hvor som helst.</b>
</p>

<p>I dag, takket være støtten fra millioner af frivillige bidrags- og støtteydere, kan du surfe rundt på Wikipedia i timevis. Med over 40 millioner Wikipedia-artikler og 35 millioner gratis licenserede billeder kan Wikipedia besvare næsten ethvert spørgsmål og tage dig til steder, hvor du aldrig har været.</p>

<p>Din donation går til reelle og praktiske metoder til oprettelse og udbredelse af fri viden. Den hjælper os med at gøre Wikipedia hurtig, sikker og tilgængelig for alle i hele verden. Den hjælper os med at give fri adgang til Wikipedia på steder, hvor høje priser for mobildata forhindrer folk i at gå online. Den hjælper os til at støtte folk med at digitalisere viden, som ligger skjult i analoge arkiver. Den beskytter Wikipedia mod trusler mod fri viden og det åbne internet.</p>

<p>Din støtte betyder, at du kan finde de oplysninger, du har brug for, nu, uanset hvor du befinder dig - for at afgøre et væddemål med en ven eller for at forstå verden omkring os.</p>

<p>
  <b>En donation til Wikipedia gør dig til forkæmper for en stærk ide.</b>
</p>

<p>Wikipedia vil fortsætte med at udvikle sig, vokse og møde nye udfordringer. Vi ser frem til at møde disse og mere. Din donation vil hjælpe os frem dertil. Vi kan ikke takke dig nok for din støtte. Så på vegne af Wikimedia Foundation, tak for at du investerede i vores fremtid og følger os på denne rejse.</p>

<p>Katherine Maher<br/>
Administrerende direktør, Wikimedia Foundation</p>

<p>Mange arbejdsgivere vil gavmildt betale et beløb svarende til medarbejderes bidrag. Spørg din arbejdsgiver, om de har en <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">ordning om betaling af tilsvarende bidrag</a>. Til dine optegnelser: Din donation, nummer {{ transaction_id }}, den {{ receive_date }} var på {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}
<p>Denne donation er en del af en månedlig betaling. Månedlige bidrag vil blive trukket af Wikimedia Foundation, indtil du giver os besked om, at de skal ophøre. Ønsker du, at betalingerne skal ophøre, så se vores <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">vejledning i, hvordan du let standser betalingerne</a>.</p>
{%endif%}

<p>Dette brev kan bruges som dokumentation for din donation. Ingen varer eller tjenester blev givet, helt eller delvist, for dette bidrag. Send post til: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA. Amerikansk momsfritagelsesnummer: 20-0049703</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20161128/da&amp;oldid=16749241","name":"thank_you.da.html","revision":16749241}TI_END -->