<p>Halo {{contact.first_name}},</p>

<p>Anda sangat fantastis. TERIMA KASIH telah mendukung Wikimedia Foundation, yayasan nirlaba yang
menjalankan Wikipedia dan proyek lainnya.</p>

<p>Sumbangan Anda tidak hanya menutupi biaya penggunaan Anda menggunakan Wikipedia, namun juga biaya
pembaca Wikipedia lainnya.</p>

<p>Seperti seorang petani di New York yang telah pensiun yang menggunakan Wikipedia untuk
mempelajari ilmu dari lumpur, dan seorang pelajar di Kuala Lumpur yang meneliti tentang kimia
organik. Montir Inggris yang setelah mematahkan tulang belakangnya dalam sebuah kecelakaan
menggunakan Wikipedia untuk menjadi seorang pengembang web. Pewagai negeri sipil di Finlandia yang
mengadakan versi luring Wikipedia untuk sebuah sekolah kecil di Ghana. Dan seorang ayah di Meksiko
yang membawa anak-anaknya ke museum pada akhir pekan, dan menggunakan Wikipedia untuk membantu
mereka mengerti semua yang mereka lihat di sana.</p>

<p>Tugas Wikipedia adalah membawa seluruh pengetahuan manusia ke semua orang di seluruh dunia dalam
bahasanya. Misi ini cukup berani, namun dengan 30 juta artikel dan 287 bahasa, saya akan berterima
kasih kepada Anda dan orang-orang seperti Anda, kami sedang menuju ke sana.</p>

<p>Atas nama Wikimedia Foundation, dan setengah miliar pembaca Wikipedia lainnya di seluruh dunia:
terima kasih. Kenyataan bahwa Anda telah membantu membayar biaya jalannya Wikipedia berarti
Wikipedia dapat tetap bebas iklan dan tetap netral, terpusat hanya untuk membantu pembacanya. Persis
sebagaimana mestinya.</p>

<p>Anda dapat memerhatikan bahwa pada pertama kalinya tahun ini kami mengubah penggalangan dana agar
kebanyakan orang hanya akan melihat panji beberapa kali alih-alih berminggu-minggu. Ini hal yang
disengana: kami tidak ingin orang-orang terganggu dengan permintaan yang terlalu banyak. Tetapi ini
juga berarti bahwa makin sedikit orang yang akan mengetahui bahwa kami adalah organisasi nirlaba,
dan bahwa kami ingin bantuan mereka. Jadi jika Anda berkehendak, saya sangat menghargai jika Anda
membantu menyebarkan informasi ini dengan meneruskan surel ini ke beberapa teman-teman Anda.</p>

<p>Dan saya ingin Anda mencoba bergabung bersama kami untuk membantu menulis Wikipedia. Seluruh
Wikipedia ditulis oleh sukarelawan - puluhan ribu orang-orang biasa di seluruh dunia, persis seperti
kami. Jika Anda melihat adanya salah ketik atau kesalahan kecil lainnya di Wikipedia, mohon
diperbaiki. Jika Anda mengetahui apa pun yang bernilai untuk ditambahkan, mohon tambahkan. Beberapa
orang akan menemukan hal tersebut sangat memuaskan, dan mungkin Anda juga akan merasakan hal
tersebut.</p>

<p>Terima kasih sekali lagi. Saya sangat menghargai kepercayaan Anda kepada kami, dan saya
menjanjikan Anda: kami akan menggunakan uang Anda secara hati-hati dan baik.</p>

<p>Terima kasih,<br/>
Sue</p>

<p>Sue Gardner<br/>
Direktur Eksekutif,<br/>
Wikimedia Foundation<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Banyak pengusaha akan mencocokan kontribusi pekerja yang menggandakan sumbangan Anda: mohon
periksa dengan perusahaan Anda jika mereka memiliki program pemberian perusahaan yang sesuai. Anda
dapat mengikuti kami di <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a>, atau <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, menyukai kami di <a
href="https://www.facebook.com/wikipedia">Facebook</a>, dan <a
href="https://blog.wikimedia.org">membaca blog kami</a>. Berikut adalah <a
href="https://wikimediafoundation.org/wiki/Annual_Report">laporan tahunan Wikimedia Foundation untuk
tahun 2011-12</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">rencana
tahunan Wikimedia Foundation untuk tahun 2013-2014</a>, dan <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">rencana
strategis Wikimedia Foundation 5 tahun ke depan</a>. Sekarang, Anda juga bisa membeli barang-barang
souvenir Wikimedia di <a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Untuk sekadar catatan: Sumbangan Anda, bernomor CNTCT-{{contribution.contact_id}}, pada
{{contribution.receive_date}} berjumlah
{{contribution.contribution_source|l10n_currency(locale)}}.</p>

<p>{% if recurring %} Sumbangan ini merupakan bagian dari langganan berkala. Pembayaran bulanan akan
didebit oleh Wikimedia Foundation sampai Anda memberi tahu kami untuk menghentikannya. Jika Anda
ingin membatalkan pembayaran, silakan lihat <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">petunjuk pembatalan kami</a>. {% endif %}</p>

<p>Surat ini bisa dijadikan catatan donasi Anda. Tidak ada barang dan jasa yang diikutkan secara
keseluruhan atau sebagian untuk kontribusi ini. Wikimedia Foundation, Inc. adalah badan amal nirlaba
dengan status pengecualian pajak 501(c)(3) di Amerika Serikat. Alamat kami adalah 149 New
Montgomery, 3rd Floor, San Francisco, CA, 94105. Nomor pengecualian pajak A.S.: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Pilihan keluar:</p>
  <p>Kami ingin Anda selaku penyumbang terus terinformasikan mengenai aktivitas komunitas kami dan
penggalangan dana kami. Jika Anda ingin tidak menerima surel seperti itu dari kami, silakan klik di
bawah dan kami akan mencoret Anda dari daftar.</p>
  <div style="margin: 0 25px">
    <p>[$unsubscribe Berhenti berlangganan]</p>
  </div>
</div>

<p>
  <br/>
</p>

<hr/>

<p>Mohon bantuannya untuk <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">menerjemahkan</a>
surel ini.</p>