{% if first_name and last_name %}
<p>Liebe(r) {{ first_name }},</p>

{% else %}
<p>Sehr geehrte Spender/in,</p>
{% endif %}

<p>Du bist fantastisch. VIELEN DANK für die Unterstützung der Wikimedia Foundation, welche
gemeinnützig Wikipedia und ihre Schwesterprojekte unterhält.</p>

{% if "RecurringRestarted" in contribution_tags %}<p> Wir haben vor Kurzem ein kleines technisches
Problem behoben, auf Grund dessen einige monatliche Spendenabbuchungen eingestellt wurden. Wir haben
deine monatliche Spende wiedereingesetzt und werden wie gewohnt fortfahren. Wir werden die
ausgesetzten monatlichen Spenden nicht nachträglich einziehen. Danke für deine Geduld und
Unterstützung und zögere nicht, dich per E-Mail mit donate@wikimedia.org in Verbindung zu setzen,
wenn du Fragen hast. </p>{% endif %}

<p>Deine Spende deckt nicht nur die Kosten, die bei Deiner Nutzung der Wikipedia entstehen, sondern
auch die Kosten anderer Wikipedia-Nutzer.</p>

<p>Wie der pensionierte Farmer im Norden New Yorks, der mit Wikipedia die Wissenschaft des Schlamms
studiert, und der Student in Kuala Lumpur, welcher die Wissenschaft der organischen Chemie
erforscht. Der britische Mechaniker, der, nachdem er sich bei einem Unfall den Rücken brach,
Wikipedia verwendet, um sich zum Web-Entwickler umzuschulen. Oder der Beamte in Finnland, der eine
Offline-Version der Wikipedia für eine kleine Schule in Ghana entwickelt hat. Und der
Familienvater, der in Mexico City seine Töchter am Wochenende mit ins Museum nimmt und Wikipedia
als Hilfsmittel benutzt, zu verstehen, was sie dort sehen.</p>

<p>Die Aufgabe der Wikipedia ist es, alles menschliche Wissen jedem Menschen auf der Welt in seiner
Sprache zur Verfügung zu stellen. Dies ist ein sehr wagemutiges Vorhaben, aber mit 30 Millionen
Artikeln in 287 Sprachen kann ich sagen, dass wir dank Ihnen und vielen Menschen wie Ihnen auf einem
guten Weg sind.</p>

<p>Im Namen der Wikimedia Foundation und einer halben Milliarde Wikipedia-Lesern auf der ganzen
Welt: Danke. Weil du hilfst, die Betriebskosten zu decken, kann die Wikipedia werbefrei und
unabhängig bleiben, alleine darauf ausgelegt, ihren Lesern zu helfen. Genau wie es sein sollte.</p>

<p>Möglicherweise hast du bemerkt, dass wir unsere Spendenaktion dieses Jahr ein wenig
überarbeitet haben, so dass die meisten Leser unsere Banner nur einige Male sehen werden, anstatt
wochenlang. Dies haben wir bewusst getan, denn wir möchten unsere Leser nicht mit zu vielen
Anzeigen irritieren. Allerdings bedeutet dies, dass es weniger Menschen bewusst wird, dass wir eine
gemeinnützige Organisation sind und dass wir deren Unterstützung brauchen. Ich wäre dir deshalb
sehr dankbar, wenn du diese Mail an einige deiner Freunde weiterleiten könnten.</p>

<p>Ich würde mich sehr freuen, wenn du uns helfen könntest, für Wikipedia zu schreiben. Wikipedia
wird vollständig von ehrenamtlichen Mitarbeitern geschrieben - zehntausende normale Menschen auf
der ganzen Welt, "genau wie du und ich". Siehst du einen Rechtschreibfehler oder einen kleinen
inhaltlichen Fehler in der Wikipedia, korrigiere ihn doch bitte. Hast du zusätzliche Informationen?
Dann füge sie einfach hinzu. Viele Menschen finden es äußerst befriedigend und du vielleicht
auch.</p>

<p>Noch einmal herzlichen Dank. Ich schätze dein Vertrauen in uns sehr und verspreche dir, dass wir
dein Geld sorgfältig und sinnvoll verwenden werden.</p>

<p>Vielen Dank,<br/>
Sue</p>

<p>Sue Gardner<br/>
Geschäftsführerin,<br/>
Wikimedia Foundation<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Viele Arbeitgeber unterstützen ihre Angestellten bei ihren Beiträgen, was deinen Spendenbeitrag
verdoppeln würde: Kläre das doch bitte mit deiner Firma ab, ob sie dies auch tun. Du kannst uns
auch auf <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> oder <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a> folgen, uns auf <a
href="https://www.facebook.com/wikipedia">Facebook</a> "liken" und <a
href="https://blog.wikimedia.org">unseren Blog</a> lesen. Hier findest du den <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Wikimedia
Foundation Jahresbericht für 2012/13</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">den Wikimedia
Foundations Jahresplan für 2013 bis 2014</a> und den <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Wikimedia
Foundation’s Fünf-Jahres-Strategieplan</a>. Du kannst auch Merchandise-Artikel kaufen auf <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Für Deine Unterlagen: Deine Spende, Nummer {{ transaction_id }}, am {{ receive_date }} betrug {{
(currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Diese Spende ist Teil einer wiederkehrenden Zahlung. Die Wikimedia Foundation
belastet dein Konto monatlich bis zu deinem Widerruf. Falls Du die Zahlungen einstellen möchten,
lies bitte unsere <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">einfache Widerrufsanleitung</a>. </p>{% endif %}

<p>Dieser Brief kann als Bestätigung deiner Spende angesehen werden. Es wurden keine Waren oder
Dienste, weder als Ganzes noch in Teilen, als Gegenleistung für diesen Beitrag zur Verfügung
gestellt. Die Wikimedia Foundation Inc. ist eine nicht auf Gewinn ausgerichtete, gemeinnützige
Gesellschaft mit 501(c)(3)-Steuerbefreiungsstatus in den Vereinigten Staaten. Unsere Adresse ist 149
New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S. Steuerbefreiungsnummer: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Abmeldungsoption</p>
  <p>Wir würden dich als Spender gerne weiterhin über unsere Gemeinschafts-Aktivitäten und
Spendenaktionen informieren. Wenn du es bevorzugst, keine derartigen E-Mails von uns zu erhalten,
klicke bitte auf die unten stehende Schaltfläche, um dich aus dem Verteiler auszutragen.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Abmelden</a></p>
  </div>
</div>

<p>Bitte hilf uns, diese E-Mail <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">zu
übersetzen</a>.</p>