{% if first_name and last_name %}
<p>I dashur {{ first_name }},</p>

{% else %}
<p>I dashur dhurues,</p>
{% endif %}

<p>Falëminderit juve për dhuratën tuaj të paçmuar për përhapjen e diturisë tek çdo njeri
në të gjithë botën.</p>

<p>Emri im është Lila Tretikov, dhe unë jam Drejtoresha Ekzekutive e Wikimedia Foundation. Gjatë
vitit të kaluar, dhurata si kjo e juaja ka forcuar përpjekjet tona për të zgjëruar
enciklopedinë në 287 gjuhë dhe ta bëj atë të përdorueshme në të gjithë botën. Ne
përpiqemi që të ndikojmë ata që nuk kanë qasje në arsimim tjetër. Ne sjellim njohuri tek
njerëzit, si Akshaja Ijengar nga Solapuri i Indisë. Duke u rriturr në këtë qytet të vogël të
prodhimit të tekstilit, ajo e ka përdorur Wikipedia-në si burimin primar të të mësuarit. Për
studentët në këto zona, ku librat janë të pakëta, por qasja në internet ekziston, Wikipedia
është e dobishme. Akshaja diplomoi nga një universitet në Indi dhe tani punon si një inxhiniere
softwari në Shtetet e Bashkuara të Amerikës. Ajo i atribon Wikipedia-së gjysmën e njohurive të
saj.</p>

<p>Kjo ngjarje nuk është unike. Misioni ynë është i lartë dhe paraqet sfida të mëdha.
Shumica e njerëzve që përdorin Wikipedia-në janë të befasuar kur dëgjonë se është e
drejtuar nga një organizatë jo-fitimprurëse dhe financuar nga donacionet tuaja. Çdo vit, mjaft
njerëz dhurojnë për të mbajtur thelbin e të gjitha njohurive njerëzore në dispozicion për
të gjithë. Falëminderit juve që e bëni këtë mision të jetë i mundur.</p>

<p>Në emër të gjysmëm miliardë njerëzve që e lexojnë Wikipedia-në, mijëra redaktorëve
vullnetarë, dhe stafit të Fondacionit, unë ju falënderoj për mbajtjen e Wikipedia-së online
dhe ad-free këtë vit.</p>

<p>Falëminderit,<br/>
Lila</p>

<p>Lila Tretikov<br/>
Drejtoresha Ekzekutive,<br/>
Fondacioni Wikimedia<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Për të dhënat tuaja: Dhurimi juaj, me numrin {{ transaction_id }}, më {{ receive_date }} ka
qenë {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Ky donacion është pjesë e një abonim të përsëritur. Pagesat mujore do
të tërhiqen nga Fondacioni Wikimedia deri sa të na njoftoni për ta ndaluar. Nëse ju dëshironi
të anuloni pagesat, ju lutem shikoni <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">manualin e anulimit</a>. </p>{% endif %}

<p>Kjo letër mund të shërbejë si një rekord i dhurimin tuaj. Asnjë mall ose shërbim nuk
është siguruar, në tërësi ose në pjesë, për këtë kontribut. Fondacioni Wikimedia, Inc.
është një korporatë jo-fitimprurëse bamirëse me statusin tatimor të përjashtuara 501(c)(3)
në Shtetet e Bashkuara. Adresa jonë është 149 New Montgomery, 3rd Floor, San Francisco, CA,
94105. Numri i lirimit nga tatimet i SHBA-ve është 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Zgjedh nga opsionet:</p>
  <p><br/>
Ne do të donim që juve si dhurues të ju mbajmë të informuar për aktivitetet tona të
komunitetit dhe kontributet. Nëse ju megjithatë nuk preferoni të merrni e-mail të tillë nga ne,
ju lutemi klikoni më poshtë dhe ne do të ju largomë nga lista.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Anulo abonimin</a></p>
  </div>
</div>

<hr/>

<p>Ju lutem të na ndihmoni ta <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20140606">përkëthejmë</a>
këtë e-mail.</p>