<p>Mudane {{ first_name }}</p>
<p>Waad ku mahadsantahay kaalmada aad ugu deeqday Mu'asasada Wikimedia.
waxaa tahay qof wanaagsan!</p>
<p>Way kuu fududahay inaad iska iloowdo olo olaha uruurinta kaalmada, waan
ku faraxsanahay inaadan samaynin taa. Qaabkaas ayeey wikimedia iskaga
bixinaysaa biilasha --- dad sidaada oo kale ah ayaa nasiiya lacagta, si uu
bogga unoqdo mid xora bilaashna ah una suuroowda dadka aduunak jooga oo
dhan.</p>
<p>Dadka qaar waxay leeyihiin waxaan ku kaalmeenay lacagtaan Wikipedia
maxaa yeelay waxay arkeen in ay faaiido leedahay, wayna ku kalsoon yihiin
saas ay tahay mid aan dhamaystirneen, waxay ogyihiin in iyaga loo qoray.
Wikipedia looma samayn in ay taageerto wakaaladaha shaqada ama ay gadaal ka
riixdo fikrado gaar ah, ama raadinta ku raali gelinta waxyaaba ayna
aaminsaneen in ay rumeeyaan. Hadafkeeni waxa uu yahay waxa dhabta ah, waana
samayn karnaa adiga daraadaa. Run ahaantii howshaada ah maal galinta bogga
waxay ka digeysaa inaan xor ahaano waxaana sii wadi karnaa shaqadayna
taasoo ah soo bandhigista waxa aan dooneeyno ugana baahanahay Wikipedia.
Waana sida loo baahanyahay in ay sii ahaato.</p>
<p>Xususnoow: waxa aad bixisay xitaa ma dabooli karaan masaariiftaada. Isku
celceliska kaalmada waxay dobooleeysaa adeegsigaada xitaa adeegsiga
malaayiin kale ee wikipedia. Kaalmadaada waxay Wikipedia ka dhigaysaa meel
ay caruurta Bangalore isku baraan iskood borogaraaminta combiyuuterka.
Da'da dhexdhexaadka ah qof guri-joogta ah ee ku nool Fiyeenna ee la nool
cuduka Parkinson. Qof qoraa ah ee doonaya in uu wax ka barto ingriiska
1850. Wiil yer oo 10 jira ee u dhashay Salvador oo helay Carl Sagan.</p>
<p>Ka wakiil ahaansho dadkaas, iyo nus Bilyan kale oo dad ayaa ah kuwa
aqriya Wikipedia Iyo mashaariicda la bahda ah, waad ku mahadsan tihiin
kasoo qayb galka aad nalaga soo qayb gasheen dadaalkaan si loo soo uruuriyo
aqoon binaadanimo ah una furan dadka oo idil. Macaawinadaada waxay aduunka
kadhigaysaa meel wanaagsan. Waad mahadsan tihiin.</p>
<p>In badan oo dadka kamid ah ma oga in ay ahayn wikipedia mid dhaqaala
doon ah. Fadlan isku dar anaad ku xiriiriso e-mail kaan qaybo ka mid ah
saxaabtaada si aad ugu dhiiri geliso ina kaalmo ka gaystaan. Hadii aadba
tahay mid usoo xaytay, waxaad isku dayi kartaa inaad waxa ku kordhido
Wikipedia. Hadii aad aragto qoraal ama wax kaloo yer oo qalad ah, fadlan
sax, hadii ay jiraan wax la halmaamay, fadlan ku dar. Waxaa ku jira wax
xiriir la leh [#edit halkaan] taasoo kaa caawin karta hab biloowga. Haka
welwelin inaad qalad sameeyso: waa arin iska caadi ah qofka marka ugu
horaysa wax bedelka, Wikipediaha ayaa sixi doona.</p>
<p>Waa tix galinayaa kalsoonidiina, waxaana idinka balan qaadayaa
lacagtiina in loogu adeegi doono si wanaagsan.</p>
<p>Mahadsanid,<br/>
Sue</p>
<p>Sue Gardner<br/>
Maamulaha Fulinta,<br/>
Muasasada Wikimedia <a class="external autonumber"
href="https://donate.wikimedia.org">[1]</a></p>
<p>Waxaad nagala socon kartaa barta <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> ama <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, hadii ay ku
cajab galiyeen <a href="https://www.facebook.com/wikipedia">Facebook</a>
iyo <a href="https://blog.wikimedia.org">aqri qaybteena</a>. Halkani waa <a
href="https://wikimediafoundation.org/wiki/Annual_Report">Xog waranka
Mu'asasada Wikimedia sanadihii 2010-11</a>, <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">Qorshaha
Mu'asasada Wikimedia sanadihii 2012-13</a> iyo <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Qorshahii
istaraatiijiyada Mu'asasada Wikimedia shantii sano</a>. Sidoo kale waxaad
wikipedia ka iibsan kartaa wax yaabihii ay soo saartay <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>
<p>Heerkaada: Kaalmadaadu waa {{ receive_date }}
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>
<p>Dooqada inaadan ka qayb gelin: Waxaan rajaynaynaa in ay sii joogaa
maalgeliye yaasheena si loo tuso dhaqdhaqaaqa mujtamaceena iyo dhaqdhaqaaqa
dhamaan deeq bixiyeyaasha. Hadii aad door bideysid in uusan kuu imaan wax
e-mail ah, fadlan guji batoonkaan hoose waana kaa tirtireynaa liisaka:</p>
<p><a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Iga
jooji</a></p>
<p>Waxaa sruura gal ah fariintaan in ay ka dhigto deeqdaada heer. Ma
wanaagsan ama waxba sooma kordhin, qayb kamid ah, ka qayb qaadashadaan.
Mu'asasada Wikimedia, Inc. waa shirkada sama fal ah oo aan ahayn dhaqaale
doo kani waa 501(c)(3) canshuur dhaafka Maraykanka. ee ciwaankeena 149 New
Montgomery, dhismaha 3rd, San Francisco, CA, 94105. U.S. tirada canshuur
dhaafka: 20-0049703</p>