<p>Gerb. {{ contact.first_name }},</p>

<p>Esate nuostabus žmogus. Ačiū, kad paaukojote Wikimedia Foundation! </p>

<p>Štai, kaip mes apmokame savo sąskaitas – dėka tokių žmonių, kaip Jūs, kurie
paaukoja penkis dolerius, dvidešimt dolerių, šimtą dolerių. Man labiausiai patiko,
kai pernai viena maža mergaitė Anglijoje perkalbėjo savo tėvus, kad šie leistų jai
paaukoti savo dienpinigius – penkis svarus sterlingų. Jūs esate iš tų žmonių,
prisijungusių prie šios mergaitės, kurie leido Vikipedijai tęsti savo veiklą teikiant
nemokamą ir patogią prieigą prie nešališkos informacijos visiems pasaulio žmonėms.
Visiems, kurie padeda, ir visiems, kurie neišgali padėti. Širdingai AČIŪ!</p>

<p>Žinau, kad yra lengva ignoruoti mūsų prašymus, tačiau džiugu, jog Jūs
neignoravote. Nuo manęs ir dešimčių tūkstančių žmonių, kurie rašo Vikipediją:
ačiū už tai, kad padedate daryti pasaulį geresnį. Naudosime Jūsų pinigus
atsakingai, ir dėkoju, kad mumis pasitikite. </p>

<p>Ačiū,<br />
Sue Gardner<br />
Wikimedia Foundation direktorė</p>

<p>Jūsų įrašams: Jūsų {{ contribution.receive_date|date("Y-m-d") }} paaukota suma
buvo {{ contribution.contribution_source }}.
{% if recurring %}
{% include 'recurring/lt.html' ignore missing %}
{% endif %}</p>

<p>Šis laiškas gali būti laikomas Jūsų aukojimo įrašu. Už šią auką nebuvo
pateikta jokių, nei visiškai, nei iš dalies, prekių ar paslaugų. Wikimedia
Foundation, Inc. yra pelno nesiekianti labdaros korporacija, turinti 501(c)(3) mokesčių
išimties statusą Jungtinėse Amerikos Valstijose. Mūsų adresas yra 149 New Montgomery,
3rd Floor, San Francisco, CA, 94105. JAV mokesčių išimties numeris: 20-0049703</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Galimybė atsisakyti naujienlaiškių:</i></p>

<p>Norime Jus informuoti apie mūsų bendruomenės veiklą bei aukų rinkimo akcijas.
Tačiau jei nebenorite gauti panašių laiškų nuo mūsų, paspauskite nuorodą,
esančią žemiau, ir mes pašalinsime Jus iš gavėjų sąrašo:</p>

<a style="padding-left: 25px;" href="{{ unsubscribe_link|raw }}">Nutraukti
prenumeratą</a>

</div>
