{% if first_name and last_name %}
<p>Вітаємо, {{ first_name }}!</p>

{% else %}
<p>Шановний благодійнику!</p>
{%endif%}

<p>Дякую за Вашу підтримку Вікіпедії та Фонду Вікімедіа. Ваш внесок у розмірі {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} підтримує Вікіпедію й допомагає забезпечити вільні знання в майбутньому для всіх.</p>

{% if "RecurringRestarted" in contribution_tags %}
<p>Ми нещодавно вирішили незначну технічну проблему, яка призупиняла деякі повторювані пожертви. Ми відновили вашу повторювану пожертву, надалі вона буде оброблятися у нормальному режимі. Ми не списуватимемо кошти за ті місяці, які було пропущено. Дякуємо за ваші терпіння й підтримку. І, будь ласка, не вагайтесь писати на адресу donate@wikimedia.org, якщо у вас виникають будь-які запитання.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Нещодавно ми виправили невеличку технічну проблему, через яку декілька щомісячних пожертв відбулися без отримання податкової накладної. Цей лист є підтвердженням пожертв, зроблених раніше у 2014 році, і не свідчить про нову пожертву. Усі листи вдячності відтепер будуть відсилатися у нормальному режимі. Дякуємо за Вашу терплячість і підтримку і, будь ласка, не вагайтеся писати на donate@wikimedia.org, якщо у Вас виникають будь-які запитання.</p>
{%endif%}

<p>
  <b>Вікіпедія існує завдяки потужній ідеї: такі люди, як Ви та я, можуть брати участь у створенні знань і робити їх доступними для всіх по всьому світові.</b>
</p>

<p>Сьогодні, завдяки підтримці мільйонів добровольців і прихильників, Ви можете протягом багатьох годин «гортати» Вікіпедію. За рахунок більш ніж 40 мільйонів статей і 35 мільйонів безкоштовних ліцензійних зображень Вікіпедія може відповісти майже на будь-яке запитання й показати Вам місця, у яких Ви ніколи не були.</p>

<p>Ваша пожертва підтримує створення й спільне використання вільних знань на практиці. Вона допомагає нам зробити Вікіпедію швидкою, безпечною та доступною для всіх у світі. Вона допомагає нам забезпечити вільний доступ до Вікіпедії там, де висока вартість мобільної передачі даних не дозволяє людям вільно користуватися Інтернетом. Вона допомагає нам підтримувати тих, хто займається оцифруванням знань, які наразі «замкнені» в аналогових архівах. Вона захищає вільні знання Вікіпедії й відкритий Інтернет від загроз.</p>

<p>Ваша підтримка означає, що Ви відразу зможете знайти необхідну інформацію, де б Ви не знаходилися, — Ви можете виграти суперечку з другом на пікніку або краще зрозуміти світ навколо нас.</p>

<p>
  <b>Підтримка Вікіпедії робить Вас прихильником потужної ідеї.</b>
</p>

<p>Вікіпедія продовжуватиме розвиватися, рости й вирішувати нові завдання. Ми сповнені енергії й готові надалі виконувати нашу місію. Ваша пожертва допоможе нам в цьому. Ми не можемо не подякувати Вам за Вашу підтримку. Від імені Фонду Вікімедіа дякуємо Вам за інвестиції в наше майбутнє й запрошуємо Вас вирушити в тривалу подорож за знаннями разом з нами.</p>

<p>Кетрін Махер (Katherine Maher)<br/>
Виконавчий директор Фонду Вікімедіа</p>

<p>Багато роботодавців щедро підтримують пожертви співробітників: будь ласка, проконсультуйтеся з вашим роботодавцем на предмет наявності <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">програми корпоративної підтримки пожертв</a>. До Вашого відома: Ваша пожертва, номер {{ transaction_id }}, станом на {{ receive_date }} в розмірі {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}
<p>Ця пожертва є частиною регулярної передплати. Щомісячні платежі будуть списуватися з рахунку за запитом Фонду Вікімедіа, поки Ви не повідомите про їх припинення. Якщо Ви хочете скасувати платежі, будь ласка, ознайомтеся з нашими <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">простими інструкціями зі скасування платежів</a>.</p>
{%endif%}

<p>Цей лист може слугувати підтвердженням вашої пожертви. За цей внесок вкладникові не було, повністю або частково, надано жодних товарів або послуг. Будь ласка, пишіть на адресу: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA (США). Код податкового звільнення в США: 20-0049703</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20161128/uk&amp;oldid=16768364","name":"thank_you.uk.html","revision":16768364}TI_END -->