<p>Αγαπητέ {{ contact.first_name }}</p>

<p>Είστε καταπληκτικός, ευχαριστούμε πάρα πολύ
για τη δωρεά σας στο Ίδρυμα Wikimedia!</p>

<p>Αυτός είναι ο τρόπος με τον οποίο πληρώνουμε
τους λογαριασμούς μας - άνθρωποι όπως εσείς,
δίνουν πέντε, είκοσι, εκατό ευρώ. Η αγαπημένη μου
δωρεά πέρυσι ήταν πέντε λίρες από ένα κοριτσάκι
στην Αγγλία, που έπεισε τους γονείς του να το
αφήσουν να δωρήσει το χατζιλίκι του. Είναι
άνθρωποι όπως εσείς, μαζί με το κοριτσάκι, που
κάνουν δυνατό στη Βικιπαίδεια να συνεχίσει να
παρέχει δωρεάν, ελεύθερη πρόσβαση σε αμερόληπτες
πληροφορίες, σε όλους στον κόσμο. Σε οποιονδήποτε
που βοηθά να πληρώνουμε γι'αυτά, και γι'αυτούς που
δεν έχουν τη δυνατότητα να βοηθήσουν. Σας
ευχαριστούμε πάρα πολύ.</p>

<p>Ξέρω ότι είναι εύκολο να αγνοήσετε τις
εκκλήσεις μας, και είμαι χαρούμενη που δεν το
κάνατε. Από εμένα και από τους δεκάδες χιλιάδες
εθελοντές που γράφουν την Βικιπαίδεια:
ευχαριστούμε που μας βοηθάτε να κάνουμε τον
κόσμο ένα καλύτερο μέρος. Θα χρησιμοποιήσουμε τα
χρήματα σας με προσοχή και ευχαριστούμε για την
εμπιστοσύνη σας.</p>

<p>Ευχαριστούμε,<br />
Sue Gardner<br />
Εκτελεστική Διευθύντρια του Ιδρύματος Wikimedia</p>

<p>Για το αρχείο σας: Η δωρεά σας στις {{
contribution.receive_date|date("Y-d-m") }} ήταν {{ contribution.contribution_source
}}.
{% if recurring %}
{% include 'recurring/el.html' ignore missing %}
{% endif %}</p>

<p>Αυτή η επιστολή μπορεί να χρησιμοποιηθεί ως
απόδειξη της δωρεάς σας. Δεν παραχωρήθηκαν αγαθά
ή υπηρεσίες, στο σύνολο ή κατά μέρος, για αυτή τη
συνεισφορά. Το Wikimedia Foundation, Inc. είναι
μη-κερδοσκοπικός φιλανθρωπικός οργανισμός με
καθεστώς εξαίρεσης φορολογίας 501(c)(3) στις
Ηνωμένες Πολιτείες. Η διεύθυνσή μας είναι 149 New
Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S. tax-exempt number: 20-0049703</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Επιλογή εξόδου:</i></p>

<p>Θα θέλαμε, ως δωρητή, να σας κρατάμε ενήμερο για
τις δραστηριότητες της κοινότητας. Αν ωστόσο
προτιμάτε να μην λαμβάνετε τέτοια email από εμάς,
παρακαλούμε πατήστε παρακάτω και θα σας
αφαιρέσουμε από την λίστα:</p>

<a style="padding-left: 25px;" href="{{ unsubscribe_link|raw }}">Κατάργηση
εγγραφής</a>

</div>
