{% if first_name and last_name %}
<p>Cher/chère {{ first_name }},</p>

{% else %}
<p>Cher donateur, chère donatrice,</p>
{% endif %}

<p>Vous êtes tellement fantastique. Un grand MERCI pour votre soutien à la Fondation Wikimédia,
l’organisation à but non lucratif qui fait fonctionner Wikipédia et ses projets frères.</p>

{% if "RecurringRestarted" in contribution_tags %}<p> Nous avons récemment résolu un petit
problème technique qui interrompait certains dons mensuels. Nous avons rétabli votre don mensuel,
et il continuera désormais normalement. Nous ne vous facturerons pas pour les mois qui ont été
sautés. Nous vous remercions de votre patience et de votre soutien, et vous prions de ne pas
hésiter à contacter donate@wikimedia.org si vous avez des questions. </p>{% endif %}

<p>Votre don couvre non seulement les coûts liés à votre propre utilisation de Wikipédia, mais
aussi celle des autres lecteurs de Wikipédia.</p>

<p>Comme l’agriculteur à la retraite dans l’État de New York qui utilise Wikipédia pour
étudier la science de la boue. Comme l’étudiant à Kuala Lumpur qui fait de la recherche sur la
chimie organique. Comme le mécanicien britannique qui après s’être blessé au dos lors d’un
accident a utilisé Wikipédia pour se réorienter en tant que développeur Web. Ou le fonctionnaire
en Finlande qui a mis en place une version hors ligne de Wikipédia pour une petite école au Ghana.
Et comme le père de famille dans la ville de Mexico qui amène ses petites filles au musée le
weekend et utilise Wikipédia pour les aider à comprendre tout ce qu’ils y ont vu.</p>

<p>La mission Wikipédia est d’apporter à chacun, où qu’il soit dans le monde et dans sa
propre langue, la somme de toutes les connaissances humaines. C’est une mission assez audacieuse,
mais avec 30 millions d’articles dans 287 langues, je dirais que grâce à vous et à des gens
comme vous, nous sommes sur le bon chemin.</p>

<p>Au nom de la Fondation Wikimédia et d’un demi-milliard d’autres lecteurs de Wikipédia à
travers le monde : merci. Le fait que vous contribuiez à payer les coûts de fonctionnement de
Wikipédia signifie qu’elle peut rester sans publicité et impartiale, et ainsi viser uniquement
à aider ses lecteurs. Exactement comme il se doit.</p>

<p>Vous avez peut-être remarqué que pour la première fois cette année, nous avons modifié notre
collecte de fonds, afin que la plupart des gens ne voient les bannières qu’un certain nombre de
fois, plutôt que pendant plusieurs semaines. C’est délibéré : nous ne voulons pas que les
gens s’irritent par de trop nombreux rappels. Mais cela signifie que moins de gens sauront que
nous sommes une organisation à but non lucratif et que nous avons besoin de leur aide. Donc, si
vous êtes volontaire, je vous serais reconnaissant si vous aidiez à propager cette information en
transférant ce courriel à vos amis.</p>

<p>Et je serais ravie si vous essayiez de nous aider à rédiger le contenu de Wikipédia.
Wikipédia est entièrement écrite par des volontaires — des dizaines de milliers de personnes
ordinaires aux quatre coins du monde, tout comme vous et moi. Si vous repérez une faute de
typographie ou une erreur dans Wikipédia, s’il vous plaît corrigez-la. Si vous avez connaissance
de quelque chose pouvant enrichir un contenu, s’il vous plaît ajoutez-le. D’autres trouvent ces
ajouts fort judicieux, peut-être que vous aussi.</p>

<p>Merci encore. J’apprécie énormément la confiance que vous nous accordez et je vous le
promets : nous utiliserons votre don avec discernement et efficacité.</p>

<p>Merci,<br/>
Sue</p>

<p>Sue Gardner,<br/>
directrice générale,<br/>
Fondation Wikimédia<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Certains employeurs doublent la contribution que peuvent faire leurs salariés : voyez auprès
de votre entreprise si elle adopte un tel programme de dons jumelés. Vous pouvez nous suivre sur <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> ou <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, exprimer un « J’aime » sur <a
href="https://www.facebook.com/wikipedia">Facebook</a> et <a href="https://blog.wikimedia.org">lire
notre blog</a>. Vous trouverez également le <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">rapport
annuel de la Fondation Wikimédia pour 2012-2013</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">le plan
annuel de la Fondation Wikimédia pour 2013–2014</a> et le <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">plan
stratégique sur cinq ans pour la Fondation Wikimédia</a>. Vous pouvez également acheter biens et
accessoires griffés Wikipédia sur <a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Pour référence : votre don, numéro {{ transaction_id }}, du {{ receive_date }} était de {{
(currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Ce don fait partie d’un don régulier. Les dons mensualisés seront
prélevés chaque mois par la Fondation Wikimédia (<i>Wikimedia Foundation</i>) jusqu’à ce que
vous nous demandiez d’arrêter. Si vous désirez arrêter les paiements, veuillez suivre nos <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">simples instructions d’annulation ici</a>. </p>{% endif %}

<p>Ce message peut servir de preuve de votre don. Aucun bien ni service, quel qu’il soit, n’a
été fourni en contrepartie de cette contribution. La Fondation Wikimédia (enregistrée
officiellement sous le nom <i>Wikimedia Foundation, Inc.</i>) est une association à but
non-lucratif jouissant du statut 501(c)(3) d’exemption de taxes aux États-Unis. Notre adresse est
le 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105, USA. Numéro d’exonération fiscale
aux États-Unis : 20-0049703.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Désabonnement :</p>
  <p>En tant que donateur, nous aimerions vous tenir informé sur nos activités communautaires et
de nos collectes de fonds. Si vous préférez cependant ne pas recevoir de tels courriels de notre
part, veuillez cliquer sur le lien ci-dessous pour que nous vous retirions de la liste.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Se désinscrire</a></p>
  </div>
</div>

<hr/>

<p>Veuillez nous aider à <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">traduire</a>
ce courriel.</p>