{% if first_name and last_name %}
<p>Drogi/Droga {{ first_name }}</p>

{% else %}
<p>Drogi darczyńco,</p>
{% endif %}

<p>Dziękuję za Twój bezcenny dar, który pozwala zapewnić dostęp do sumy ludzkiej wiedzy osobom
z całego świata.</p>

<p>Nazywam się Lila Tretikov i jestem Dyrektorem Wykonawczym Wikimedia Foundation. Przez ostatni
rok dotacje takie, jak Twoja, wsparły naszą pracę mającą na celu rozbudowę istniejących 287
edycji językowych Wikipedii i ułatwienie dostępu do nich osobom z całego świata. Szczególnie
mocno staramy się oddziaływać na te regiony, w których nie ma dostępu do edukacji. Zapewniamy
dostęp do wiedzy osobom takim jak Akshaya Iyengar z miasta Solapur w Indiach. Dorastając w tym
niewielkim ośrodku przemysłu włókienniczego, Akshaya używała Wikipedii jako swojego
podstawowego źródła informacji. Dla uczniów w regionach, gdzie książki są rzadkością, ale
dostępny jest mobilny internet, Wikipedia odgrywa bardzo istotną rolę. Akshaya ukończyła
college w Indiach i pracuje teraz jako inżynier oprogramowania w Stanach Zjednoczonych. Jak
twierdzi, dzięki Wikipedii uzyskała połowę swojej wiedzy.</p>

<p>To nie jest jednorazowy przypadek. Nasza misja jest wzniosła i pełna wyzwań. Większość
osób korzystających z Wikipedii jest zaskoczona, gdy dowiadują się, że jest ona wspierana przez
organizację non-profit i utrzymywana dzięki dotacjom jej czytelników. Co roku wspiera nas tyle
osób, ile trzeba, byśmy mogli zapewnić dostęp do całości ludzkiej wiedzy dla całego świata.
Dziękuję, że pomagasz nam w tym działaniu.</p>

<p>W imieniu pięciuset milionów czytelników i czytelniczek Wikipedii, tysięcy ochotników ją
tworzących i wszystkich pracowników Wikimedia Foundation, dziękuję, że pomagasz pokryć koszty
utrzymania Wikipedii on-line i bez reklam.</p>

<p>Dziękuję,<br/>
Lila</p>

<p>Lila Tretikov<br/>
Dyrektor Wykonawczy<br/>
Wikimedia Foundation,<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Niektóre firmy prowadzą programy charytatywne, w ramach których mogą podwoić Twoją
darowiznę (tzw. <i>matching gifts</i>); sprawdź, czy Twoja firma jest jedną z nich. Pomóż nam
informować o naszej zbiórce na <a href="https://www.facebook.com/wikipedia">Facebooku</a>, <a
href="https://twitter.com/Wikipedia">Twitterze</a>, <a
href="https://twitter.com/Wikipedia">identi.ca</a> i <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>; odwiedź też <a
href="https://blog.wikimedia.org">naszego bloga</a>. Dostępny jest także <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">raport
Wikimedia Foundation za rok podatkowy 2012-2013</a>. Możesz również zakupić gadżety Wikipedii
na stronie <a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Dla Twojego użytku: Twoja darowizna o numerze {{ transaction_id }} została złożona w dniu {{
receive_date }} w wysokości {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Ta wpłata jest częścią darowizny okresowej. Comiesięczne płatności
będą pobierane z Twojego konta przez Wikimedia Foundation do momentu, gdy nie poinformujesz nas o
chęci rezygnacji. Jeśli chcesz anulować swoją darowiznę okresową, zapoznaj się z naszymi <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">prostymi instrukcjami rezygnacji</a>. </p>{% endif %}

<p>Ta wiadomość może służyć jako dowód złożenia przez Ciebie darowizny. Wikimedia
Foundation, Inc., jest organizacją non-profit zwolnioną od podatku na podstawie przepisów §
501(c)(3) federalnego kodeksu podatkowego Stanów Zjednoczonych. Nasz adres to 149 New Montgomery
St, 3rd Floor, San Francisco, CA, 94105. Numer identyfikacji podatkowej: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Rezygnacja z subskrypcji:</p>
  <p><br/>
Ponieważ jesteś naszym darczyńcą, chcielibyśmy informować Cię o niektórych
przedsięwzięciach społeczności Wikimedia i zbiórkach funduszy. Jeśli jednak nie chcesz
otrzymywać od nas takich wiadomości, kliknij na link poniżej, a my usuniemy Twój adres e-mail z
naszej listy subskrybentów.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Zrezygnuj z subskrypcji</a></p>
  </div>
</div>

<hr/>

<p>Pomóż nam <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20140606">przetłumaczyć</a>
tę wiadomość.</p>