<p>Estimáu/ada {{ first_name }},</p>
<p>Gracies por facer un donativu a la Fundación Wikimedia. ¡Ye
maraviyosu!</p>
<p>Ye cenciello escaecese de los cartelos de collecha de fondos, y prestame
enforma que vusté nun lo ficiere. Asina ye como Wikipedia paga les
factures --- la xente como vusté danos dineru, d'esti mou podemos caltener
esti sitiu disponible llibremente pa toles persones del mundu.</p>
<p>La xente cuentame que donen a Wikipedia porque alcuentrenla útil; y
tienen-y enfotu porque, anque nun ye perfeuta, saben que ta escrita pa
ellos. Wikipedia nun ta pensada p'ameyorar les rellaciones públiques de
naide o pa enantar una ideoloxía determinada, o pa convence-y de que crea
daqué que nun ye cierto. L'envís ye cuntar la verdá, y podemos facelo
gracies a vusté. El fechu de dar dineru a esti sitiu permitenos caltenenos
independientes y capaces d'ufrir lo que necesita y quier de Wikipedia. Tal
como tien de ser.</p>
<p>Tien de saber una cosa: el so donativu nun namái cubre los sos gastos.
El donante mediu paga pol so propiu usu de Wikipedia y los gastos de
cientos de persones más. El so donativu pon Wikipedia a disposición d'un
rapaza ansiosa de Bangalore que ta deprendiendo sola programación
informática. Un albañil mayor de Viena al que vienen de diagnosticar la
enfermedá de Parkinson. Un novelista que ta documentando la Gran Bretaña
de 1850. Un neñu de 10 años de San Salvador que recién descubrió a Carl
Sagan.</p>
<p>Nel nome d'estes persones, y de los quinientos millones de llectores
más de Wikipedia y los sos sitios y proyeutos hermanos, quiero da-y les
gracies por xunise al nuesu esfuerzu por poner a disposición de tol mundu
la suma del conocimientu humanu. El so donativu fai del mundu un llugar
meyor. Gracies.</p>
<p>La mayoría de la xente nun sabe que Wikipedia ta xestionada por una
organización ensin porgüeyu. Por favor, piense en compartir esti corréu
con dalgunos amigos p'afala-yos que tamién faigan el so donativu. Y, si
tien interés, podría probar a amestar dalguna información a Wikipedia.
Si ve una falta d'ortografía o otru pequeñu error, pue igualu; y si ve
que falta daqué, por favor, amiestelo. [#edit Equí] hai recursos que puen
ayuda-y colos primeros pasos. Nun s'esmoleza si s'enquivoca: eso ye normal
cuando la xente ye principiante editando y, si asocede, otros Wikipedistes
iguaran el fallu por vusté ensin problema.</p>
<p>Aprecio'l so enfotu pa con nós, y prometo-y qu'usaremos bien el so
dineru.</p>
<p>Gracies,<br/>
Sue</p>
<p>Sue Gardner<br/>
Direutora executiva,<br/>
Fundación Wikimedia <a class="external autonumber"
href="https://donate.wikimedia.org">[1]</a></p>
<p>Pue siguinos en <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> o <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, da-y a
prestame nel <a href="https://www.facebook.com/wikipedia">Facebook</a> y <a
href="https://blog.wikimedia.org">lleer el nuesu blog</a>. Esti ye l'<a
href="https://wikimediafoundation.org/wiki/Annual_Report">informe añal de
2010-11 de la Fundacion Wikimedia</a>, el <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">plan
añal pa 2012-13 de la Fundación Wikimedia</a> ya'l <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">plan
estratéxicu pa cinco años de la Fundación Wikimedia</a>. Agora tamién
pue mercar artículos de Wikipedia en <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>
<p>Pal so control: El donativu de {{ receive_date }} foi
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>
<p>Opción de baxa: Prestaríanos tene-y informáu como donante de les
nueses actividaes comunitaries y colleches de fondos. Sicasí, si prefier
nun recibir estos correos nuesos, faiga clic más abaxo y sacaremos-y de la
llista:</p>
<p><a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Dase de
baxa</a></p>
<p>Esta carta pue sirvir como recibu del donativu. Nun s'ufrieron bienes o
servicios, completos nin parciales, por esta collaboración. The Wikimedia
Foundation, Inc. ye una organización benéfica ensin ánimu de llucru col
estatutu de llibre d'impuestos 501(c)(3) nos Estaos Xuníos. Les nueses
señes son 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S.
númberu de lliberación d'impuestos: 20-0049703</p>