{% if first_name and last_name %}
<p>Sayın {{ first_name }}</p>

{% else %}
<p>Değerli bağışçımız,</p>
{% endif %}

<p>Dünyadaki her insana bilgi sunmaya yaptığınız bu çok kıymetli yardımınız için
teşekkür ederiz.</p>

<p>Ben Lila Tretikov, Wikimedia Vakfı'nın yetkili müdürüyüm. Önceki yıllarda, sizinki gibi
yardımlar sayesinde ansiklopedimiz 287 dile ulaştı ve tüm dünyada daha ulaşılabilir hâle
geldi. En çok da başka türlü bilgiye ulaşamayanlara etkide bulunabilmek için uğraşıyoruz.
Biz Akshaya Iyengar gibi insanlara bilgi sunuyoruz. Akshaya, Solapur, Hindistan'da yaşıyor.
Küçük bir dokuma kumaş imalatı yapan bir kasabada büyüyen Akshaya, Vikipedi'yi ana bilgi
kaynağı olarak kullanıyor. Kitapların sınırlı ama mobil internet erişiminin bulunduğu bu
bölgelerdeki öğrenciler için, Vikipedi çok etkili bir kaynak. Akshaya Hindistan'da eğitimini
sürdürüp orada üniversiteden mezun oldu ve şimdi Birleşik Devletler'de yazılım mühendisi
olarak çalışıyor. Vikipedi'den ise bilgilerinin yarısını edindiği bir kaynak olarak
bahsediyor.</p>

<p>Bu hikâye kendine mahsus değil. Bizim görevimiz ulvidir ve büyük zorluklar sunar.
Vikipedi'yi kullananların büyük bir kısmı bizim kâr amacı gütmeyen bir organizasyon olarak
çalıştığımızı ve sizlerin kaynaklarıyla finanse edildiğini duyunca büyük bir
şaşkınlık yaşıyorlar. Her yıl, ucu ucuna yetecek sayıda insan, bilginin herkese
ulaşabilmesini sağlamak amacıyla bağış yapıyor. Bu görevi yapabilmeyi mümkün
kıldığınız için size teşekkür ediyoruz.</p>

<p>Vikipedi'yi kullanan yarım milyar insan, gönüllü olarak katkıda bulunan binlerce kullanıcı
ve Vakıf çalışanları adına, size Vikipedi'yi bu sene açık ve reklamsız tuttuğunuz için
teşekkür ediyorum.</p>

<p>Teşekkürler,<br/>
Lila</p>

<p>Lila Tretikov<br/>
Yetkili müdür,<br/>
Wikimedia Vakfı<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Pekçok işveren eleman katkılarını eşleyecek, eğer şirketiniz eşleşen hediyeler şirket
hediyeler eşleştirme programına dahilse lütfen bunu keşfedin. <a
href="https://www.facebook.com/wikipedia">Facebook</a>, <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> ve ya <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>'da bağış toplayanların yayılmasına
yardımcı olun ve <a href="https://blog.wikimedia.org">blogumuzu okuyun</a>. Wikimedia Vakfı
2012-13 yıllık raporu ise <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">burada</a>.
Öte yandan, <a href="https://shop.wikimedia.org">shop.wikimedia.org</a> de, Vikipedi ürünlerini
alabilirsiniz.</p>

<p>Kendi kayıtlarınız için: Bağışınız {{ receive_date }} tarihinde {{ (currency ~ " " ~
amount) | l10n_currency(locale) }} kadardır.</p>

{% if recurring %}<p> Bu bağış tekrar eden aboneliğiniz gereğince yapılmıştır. Wikimedia
Vakfı, sizden bize durdurma isteği gelene kadar her ay hesabınızdan para çekecektir. Ödemeleri
durdurmak isterseniz, lütfen <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">kolayca iptal talimatları</a>na bakın. </p>{% endif %}

<p>Bu mektup sizin bağışınızın bir kaydı olarak görülebilir. Bu katkının tamamı ve ya
bir kısmı karşılığında herhangi bir mal ve ya hizmet sağlanmamıştır. Wikimedia Vakfı
anonim şirketi kâr amacı gütmeyen bir yardım vakfıdır, Birleşik Devletler'de 501(c)(3)
vergiden muaf durumundadır. Adresimiz: 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. ABD
vergi muafiyet numaramız: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Ayrılma tercihi:</p>
  <p><br/>
Bağışta bulunan biri olarak sizi topluluk etkinlikleri ve bağış toplantıları hakkında
bilgilendirmeye devam etmek isteriz. Yine de bu gibi e-postaları bizden almamayı tercih ederseniz,
lütfen aşağıdaki bağlantıyı tıklayın ve sizi listeden çıkaralım.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">İptal et</a></p>
  </div>
</div>

<p><br/>
Lütfen bu e-postanın kendi dilinize <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20140606">çevrilmesine</a>
yardımcı olun.</p>