{% if first_name and last_name %}
<p>Kaixo {{ first_name }},</p>

{% else %}
<p>Kaixo emaile hori,</p>
{% endif %}

<p>Marcos, adiskide:</p>

<p>Zinez berezia zara. ESKERRIK ASKO Wikipedia eta honen haurrideak bideratzen dituen Wikimedia
Fundazioari laguntza emateagatik.</p>

<p>Zure emaitzak ordaintzen ditu ez bakarrik zuk zeuk Wikipedia erabiltzeagatik sortzen dituzun
kostuak, baizik beste irakurleek sortzen dituztenak ere.</p>

<p>New Yorkeko Ipar aldeko nekazari erretiratuak lohiaren zientziak zer dioen jakin nahi duenean
Wikipedia erabiliz sortzen dituenak bezalakoak, edo Kuala Lampur-eko ikasleak, kimika organikoaz
ikertzen duenean, sortzen dituen bezalakoak. Edo britainiar mekanikoak, bere bizkarra istripu batean
hautsi eta sare sustatzaile gisan garatzeko Wikipedia erabiltzean sortu zituenak bezalakoak. Edo
Finlandiako funtzionario hark sortu zituenak bezalakoak, Ganako eskola txiki baterako Wikipediaren
offline bertsio bat sortu zuenean. Eta Mexico D.F.-eko aita hark eraginak bezalakoak, zeinek
eramaten baititu bere alaba txikiak museora asteburuetan, han zer gertatzen den jakiteko Wikipedia
erabili ondoren.</p>

<p>Wikipediak giza ezagutza osoa munduko bazter guztietara hedatu nahi du, erabiltzaile bakoitzaren
hizkuntzan gainera. Ez da hau erronka makala, baina zuri eta zu bezalako jendeari esker, bidean
gaudela esan daiteke, dagoeneko baditugu eta 30 milioi artikulu eta 287 hizkuntza.</p>

<p>Wikimedia Fundazioaren izenean, eta mundu osoko bost ehun mila milioi Wikipedia irakurleen
izenean: eskerrik asko. Zuk Wikipedia bideratzeko kostuak ordaintzen laguntzeak egiten du posible
Wikipediak burujabe segitzea, lotura gabea izatea, irakurleen interesen azpian bakarrik irautea.
Behar duen gisan, zehatz-mehatz.</p>

<p>Ohartuko zinen, beharbada, aurten lehenbiziko aldiz trinkotu dugula gure diru bilketa, jende
gehienak hemen jartzen ditugun iaragarkiak zenbait aldiz bakarrik ikusi ahal izateko, asteetan
zintzilik utzi beharrean. Nahita egin dugu hori: ez dugu behin eta berriz jendearen gainean egon
nahi, irakurleak haserretzeko moduan uzteko arriskuarekin gainera. Horrek ez du esan nahi, ordea,
jende gutxiagok ikusiko duela irabazirik gabeko elkartea garela, edo ez dugula haien laguntzarik
nahi. Beraz, laguntzeko asmorik izanez gero, biziki eskertuko genizuke honen berri ematea, eta gutun
hau zure adiskide eta lagunen artean banatzea.</p>

<p>Eta gauza ederra da zu gurekin elkartzea eta guri laguntza eskaintzea Wikipedia idazten.
Wikipedia boluntarioek idatzitako lana da, milaka eta milaka gu guztiok garen bezalako lagun
arruntek egina. Wikipedian hutsik atzematen baduzu, edo gauza okerrrak ikusi, mesedez, ahalegindu
zuzentzen. Hitzen bat gaineratu nahi baduzu, ekin lan horri, mesedez. Jende askori bereziki atsegina
izaten zaio hori, eta beharbada hala gertatzen da zurekin ere.</p>

<p>Mila esker berriz ere. Egiazki baloratzen dugu gugan erakusten duzun konfiantza, eta hauxe
segurtatzen dizugu: tentuz eta zuzen erabiliko dugu zure dirua.</p>

{% if "RecurringRestarted" in contribution_tags %}<p> Hilabeteroko dohaintza batzuk oztopatu dituen
arazo tekniko bat konpondu dugu orain dela gutxi. Berriro ezarri dugu zure aldizkako dohaintza, eta
hemendik aurrera martxan hasiko da berriro. Ez dizugu kobratuko galdutako hilabeteengatik. Mila
esker zure pazientziagatik eta laguntzagatik; edozein zalantza duzula, mesedez idatz eiguzu
donatewikimedia.org-era. </p>{% endif %}

<p>Zure dohaintzak ez ditu Wikipedia erabiltzeagatik zeure gastuak bakarrik kubritzen, baita beste
Wikipedia-irakurle batzuenak ere.</p>

<p>Adibidez, New Yorkeko herrixka bateko laborari erretiratu horrena bezala, lohiaren zientzia
ikasteko Wikipedia erabiltzen ari dena, edo Kuala Lumpurreko ikasle horrena, kimika organikoari
buruzko ikerkuntza egiten ari dena. Britain Handiko mekaniko batek bizkarrezurra apurtu zuen istripu
batean, eta Wikipediaren bitartez webguneak egiten ikasi du. Finlandiako funtzionario batek
Wikipediako offline bertsio bat sortu du Ghanako eskola txiki batentzat. Edo Mexicoko aita hori,
bere alabatxoak museora eramaten dituela asteburuetan eta Wikipedia erabiltzen du ikusitakoa haiei
ulertzen laguntzeko.</p>

<p>Gizartearen jakinduri guztia munduko pertsona bakoitzari bere hizkuntzan eskaintzea da
Wikipediaren lana. Erronka itzela da, baina 30 milioi artikulu 287 hizkuntzatan ditugula, zu eta zu
bezalako beste batzuei esker, helburura gerturatzen ari garela esango nuke nik.</p>

<p>Wikimedia Fundazioaren eta bilioi erdi Wikipedia erabiltzaileen izenean: mila esker. Zeuk
Wikimedia erabiltzearen kostuei aurre egiten laguntzen aritzeak zera esan nahi du, jarraitu
dezakegula iragarkirik gabe eta askatasunean lan egiten, erabiltzaileentzat lanean soilik. Behar den
bezalaxe.</p>

<p>Agian igerri duzu gure dohaintza-bilatzearen kanpaina aldatu dugula, beraz banner-ak tarteka
agertzen zaizkizula besterik ez, asteetan hor egon gabe. Nahita egin dugu: sarriegi eskaka aritzen
garelako jendea haserraraztea ez dugu nahi. Baina egia da jende gutxiago jabetuko dela irabazpiderik
gabe lan egiten dugula, eta jendearen laguntza behar dugu. Beraz, zeuk nahi baduzu, eskertuko nizuke
mezu hau zeure lagunetako batzuei zabaltzen baldin badiezu.</p>

<p>Asko poztuko ginateke baita ere Wikipedia idazten laguntzen badiguzu. Boluntarioek idazten dute
Wikipedia; milaka eta milaka pertsona arruntek munduaren bira osoan, zu eta ni bezalakoak. Akats
txikiren bat ikusten baduzu Wikipedian, zuzendu dezakezu. Eranstea pena merezi duen zeozer baldin
badakizu, jar ezazu. Askok plazer handia ateratzen dute hortik, agian baita zeuk erebai.</p>

<p>Eskertzen dut gugan jarri duzun konfiantza eta hitz ematen dizut zure dirua behar bezala
erabiliko dugula.</p>

<p>Eskerrik asko,<br/>
Sue</p>

<p>Sue Gardner<br/>
Zuzendari Exekutiboa,<br/>
Wikimedia Fundazioa<br/>
(#donate donate.wikimedia.org)</p>

<p>Enpresa askok beraien beharginek egindako dohaintzak bikoizteko prest egoten dira; behar bada
zure lantokian dohaintza korporatiboak egiteko aukera badago. Jarrai eiguzu (#twitter Twitter)en,
(#identica Identi.ca)n edo (#google Google+)en, emaiguzu Atsegin dut bat (#facebook Facebook)en edo
(#blog irakur ezazu gure bloga). Hemen dituzu ($urterokoTxostenaUrl Wikimedia Fundazioaren urteroko
txostena 2012-13rako), ($urterokoTxostenaUrl Wikimedia Fundazioaren urteroko txostena 2013-14rako)
eta ($planEstrategikoaUrl Wikimedia Fundazioaren bosturteko plan estrategikoa). Wikipediako gauzak
eros ditzazkezu baita ere ($dendaUrl)n.</p>

<p>Zeure ezagutzarako: zure dohaintzaren zenbakia {{ transaction_id }} da, {{ receive_date }} an
egina eta kopurua {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} izan da.</p>

{% if recurring %}<p> Dohaintza hau aldizkako dohaintza baten parte bat da. Wikimedia Fundazioak
hileroko kobrantza egingo dizkizu gelditzeko esaten diguzun arte. Ordainketak bertan behera utzi
nahi badituzu, ikus itzazu mesedez gure (#recurringCancel indargabetzeko argibide errazak). </p>{%
endif %}

<p>Gutun honek zure dohaintzaren froga bezala balio dezake. Inolako ondasun edo zerbitzu ez dira
eman, ez osorik ezta zatika, dohaintza honen truke. Wikimedia Fundazioa irabazpiderik gabeko
ongintzazko korporazioa da, 501(c)(3) zergatatik salbuetsitutako estatutuarekin EEBBetan. Gure
helbidea zera da, 149 New Montgomery, 3. pisua, San Francisco, CA, 94105. EEBBan zergatatik
salbuetsitutako zenbakia: 20-0049703.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Baja emateko:</p>
  <p>Dohaintza-emaile zarenez, gure komunitatearen jardunei buruz jakin gainean jarri nahi zaitugu.
Hala ere, horrelako gure mezuak jaso nahi ez badituzu, azpiko estekan klik egin eta zerrendatik
kenduko zaitugu.</p>
  <div style="margin: 0 25px">
    <p>Itzulpenak:Dirubilketa/Itzulpena/Eskertza mezua 20131202/18/eu</p>
  </div>
</div>

<p>Mesedez lagundu eiguzu mezu hau $itzultzenUrl</p>