<p>عزيزي/عزيزتي {{ first_name }}،</p>

<p>أنت في غاية الروعة. نشكرك جزيل الشكر على مساندة مؤسسة
ويكيميديا، المؤسسة غير الربحية التي تدير موقع
ويكيبيديا ومشروعاتها الشقيقة.</p>

<p>إن تبرعك لا يغطي تكلفة استخدامك لموقع ويكيبيديا
فحسب، بل أنه يغطي تكاليف قراء ويكيبيديا الآخرين.</p>

<p>مثل المزارع المتقاعد شمال ولاية نيويورك والذي يستخدم
ويكيبيديا كي يدرس علم الرسوبيات، والطالب المقيم في
كوالالمبور الذي يجرى أبحاثاً تتعلق بالكيمياء العضوية.
والميكانيكي البريطاني الذي استخدم ويكيبيديا - بعد أن
تعرض لكسر في ظهره في حادث - كي يدرب نفسه مرة أخرى ليصبح
مطور وب. وكذلك الموظف الحكومي المقيم في فنلندا الذي قام
بإعداد نسخة من ويكيبيديا غير متصلة بالإنترنت لمدرسة
صغيرة في غانا. وأيضا الأب المقيم في ميكسيكو سيتي الذي
يصطحب بناته الصغار إلى المتحف في عطلات نهاية الأسبوع
ويستعين بويكيبيديا كي يساعدهن في استيعاب كل ما يشاهدن
هناك.</p>

<p>إن مهمة ويكيبيديا هي توفير مجموع المعارف البشرية
للجميع في كافة أرجاء العالم بلغتهم. هذه المهمة جريئة
إلى حدٍ ما، ولكن في ظل 30 مليون مقالة و287 لغة، يمكنني أن
أقول أنه بفضلكم وبفضل من يساندوننا، فقد اقتربنا من
تحقيقها.</p>

<p>نيابة عن مؤسسة ويكيميديا، ونيابة عن نصف بليون قارئ
للموسوعة في جميع أنحاء العالم: شكرا لكم. حيث تعني حقيقة
أنكم تساعدون من خلال سداد تكاليف ويكيبيديا أنه
بإمكانها أن تظل خالية من الإعلانات وبعيدة عن التحيز،
وبالتالي تركز فقط على مساعدة قرائها. وهذا هو ما يجب أن
تقوم به تماما.</p>

<p>ربما أنكم قد لاحظتم أنه وللمرة الأولى هذا العام قمنا
بتعديلات على حملة جمع التبرعات حتى يرى الجميع الشريط
الدعائي بضع مرات فقط، بدلاً من عرضه لأسابيع. هذا الأمر
مقصود: نحن لا نرغب في أن يشعر الناس بالإزعاج بسبب
الكثير من الطلبات. إلا أن ذلك يعني أن عدداً أقل من
الأشخاص سيعلمون أننا جهة غير ربحية، وأننا في حاجة
لمساعدتهم. لذلك لو كانت لديكم الرغبة، سوف أقدر لكم أن
تساعدوا في نشر الخبر من خلال إعادة توجيه رسالة البريد
الإلكتروني هذه إلى عدد من أصدقائكم.</p>

<p>ولكم أود أن تحاول الانضمام إلينا والمساعدة في تحرير
ويكيبيديا. حيث أن موسوعة ويكيبيديا يتم نحريرها بالكامل
على يد متطوعين -- عشرات الآلاف من الأشخاص العاديين من
جميع أنحاء العالم، مثلنا تماماً. لذا لو رأيت خطأً
إملائياً أو خطأً طفيفاً على موسوعة ويكيبيديا، نرجوك أن
تصوبه. لو كنت تعلم أي شيء جدير بالإضافة، نرجوك أن تضيفه.
يجد البعض أن الأمر يبعث على الرضا بشكل كبير، وربما تشعر
بذلك أنت أيضا.</p>

<p>أشكركم مجدداً. أقدر لكم جزيل التقدير ثقتكم بنا،
وأعدكم: سوف نستغل أموالكم بشكل حصيف ورشيد.</p>

<p>شكراً لكم،<br/>
سو</p>

<p>سو غاردنر<br/>
المديرة التنفيذية،<br/>
مؤسسة ويكيميديا<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>سوف يتبرع العديد من أرباب الأعمال بما يساوي مساهمات
موظفيهم وهو ما يجعل من تبرعك مضاعفاً: يرجى الرجوع إلى
شركتك كي تتأكد إن كان لديهم برنامج مضاهاة منح مؤسسي.
يمكنك متابعتنا على <a href="https://twitter.com/Wikipedia">تويتر</a> أو <a
href="https://identi.ca/wikipedia">آيدنتيكا</a> أو <a
href="https://plus.google.com/+Wikipedia/posts">غوغل+</a> ويمكنك أن تعبر عن
إعجابك بنا على <a href="https://www.facebook.com/wikipedia">فيسبوك</a> و <a
href="https://blog.wikimedia.org">قراء مدونتنا</a>. وهذا هو <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">التقرير
السنوي لمؤسسة ويكيميديا للسنة المالية 2011-12</a> وكذلك <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">الخطة
السنوية لمؤسسة ويكيميديا للسنة المالية 2013-2014</a> وأيضاً
<a href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">الخطة
الاستراتيجية الخمسية لمؤسسة ويكيميديا</a>. يمكنك أيضا
الآن أن تشتري بضائع ويكيبيديا من <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>من أجل سجلاتك: كان تبرعك، برقم {{ transaction_id }}، في
تاريخ {{ receive_date }} بمبلغ وقدره
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

<p>{% if recurring %} هذا التبرع جزء من اشتراك متكرر. وسوف تخصم
دفعات شهرية من طرف مؤسسة ويكيميديا حتى تعلمنا بإيقاف
ذلك الخصم. إذا رغبت في إلغاء الدفعات يرجى قراءة <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">تعليمات عن كيفية الإلغاء</a>. {% endif
%}</p>

<p>يمكن لهذه الرسالة أن تشكل سجلاً لتبرعك. لم يتم تقديم
أي سلع أو خدمات - كلياً أو جزئياً - لهذه المساهمة. تعتبر
شركة مؤسسة ويكيميديا، شركة خيرية غير ربحية مع حالة
الإعفاء الضريبي 501(c)(3) في الولايات المتحدة. عنواننا هو
149 New Montgomery، الطابق الثالث، سان فرانسيسكو، كالفورنيا،
94105. الولايات المتحدة. رقم الإعفاء الضريبي: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>خيار عدم المشاركة:</p>
  <p>نود أن نبقيك على إطلاع بأنشطة مجتمعنا وأنشطة جمع
التبرعات. إن كنت تفضل ألا تستلم رسائل بريد إلكتروني من
هذا القبيل من طرفنا، يرجى النقر أدناه وسنقوم بإزالتك
من القائمة.</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">إلغاء الاشتراك</a></p>
  </div>
</div>

<p>
  <br/>
</p>

<hr/>

<p>نرجو منك مساعدتنا في <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">ترجمة</a>
رسالة البريد الإلكتروني هذه.</p>