{% if first_name and last_name %}
<p>Labdien, {{ first_name }}!</p>

{% else %}
<p>Cienījamais ziedotāj!</p>
{%endif%}

<p>Paldies par Jūsu {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} ziedojumu Wikimedia Foundation. Wikimedia Foundation ir bezpeļņas organizācija, kas atbalsta Wikipedia un citus bezmaksas zināšanu projektus. Mūsu misija ir izveidot vispieejamāko un visaptverošāko bezmaksas zināšanu avotu pasaulē.</p>

<p>{% if "RecurringRestarted" in contribution_tags %} Mēs nesen novērsām nelielu tehnisku problēmu, kuras dēļ daži ikmēneša ziedojumi tika apturēti. Mēs esam atjaunojuši Jūsu regulāro ziedojumu, un turpmāk tas tiks apstrādāts ierastajā veidā. Par mēnešiem, kas tika izlaisti, nauda netiks iekasēta. Pateicamies par Jūsu pacietību un sniegto atbalstu. Ja Jums ir kādi jautājumi, lūdzu, nosūtiet e-pasta ziņojumu uz adresi donate@wikimedia.org. {%endif%}</p>

<p>{% if "UnrecordedCharge" in contribution_tags %} Mēs nesen novērsām nelielu tehnisku problēmu, kuras dēļ daži ziedotāji nesaņēma apstiprinājumu par veikto ziedojumu. Lūdzu, pieņemiet šo e-pasta ziņojumu kā pateicību par ziedojumu, ko veicāt $date. Pateicamies par Jūsu pacietību un sniegto atbalstu. Ja Jums ir kādi jautājumi, lūdzu, nosūtiet e-pasta ziņojumu uz adresi donate@wikimedia.org. {%endif%}</p>

<p>Mūsuprāt, zināšanas ir fundamentālas cilvēktiesības. Cilvēcei traucoties digitālajā nākotnē, mums ir nepieciešamas atvērtas, pieejamas, publiskas vietas, lai piekļūtu zināšanām tiešsaistē. Wikimedia ir šāda vieta. Wikipedia ar cilvēku palīdzību sniedz bezmaksas zināšanas simtos valodu visā mūsu planētā.</p>

<p>Gada laikā Wikipedia ir rediģējuši un lasījuši cilvēki visos kontinentos, tai skaitā Antarktīdā. Gandrīz pusmiljards cilvēku apmeklē Wikipedia ik mēnesi, iegūstot informāciju par visdažādākajām tēmām - no kultūras mantojuma saglabāšanas līdz vēža diagnostikas uzlabošanai un pētnieciskiem mājas uzdevumiem. Viņi to dara, lai mācītos. Viņi uzkavējas un atklāj.</p>

<p>Ikviens ir potenciāls Wikipedia lietotājs. Ja neatrodat meklēto Wikipedia, varat <a rel="nofollow" class="external text" href="https:///lv.wikipedia.org/wiki/Special:UserLogin?type=signup&amp;campaign=lila2015">sākt to veidot pats</a>. Rakstus, vārdus, attēlus un datus veido dažādu cilvēku kopiena – brīvprātīgie, kuri vēlas dalīties savās zināšanās ar pasauli.</p>

<p>Ik dienu mēs sev jautājam, kā palielināt savu ietekmi un nodrošināt, lai rītdien Wikipedia un radniecīgie projekti būtu vēl precīzāki, bagātīgāki un pieejamāki nekā šodien. Jūsu ziedojums palīdzēs to īstenot.</p>

<p>Paldies, ka ļaujat mums augt un ietekmēt citu dzīves arī nākamajā gadā!</p>

<p>Lila Tretikova<br/>
izpilddirektore,<br/>
Wikimedia Foundation<br/></p>

<p>Daudzi darba devēji veic papildu ziedojumu par katru darbinieka ziedojumu: sazinieties ar savu uzņēmumu, lai uzzinātu, vai tajā ir programma, <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">kas paredz veikt korporatīvos ziedojumus atbilstoši darbinieku ieguldījumam</a>.</p>

<p>Jūsu lietvedībai: Jūs veicāt {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} ziedojumu Nr. {{ transaction_id }} šādā datumā: {{ receive_date }}.</p>

{% if recurring %}<p> Šis ziedojums ir daļa no regulāru ziedojumu plāna. Wikimedia Foundation reizi mēnesī iekasēs maksājumu, līdz saņemsim Jūsu pieprasījumu tos pārtraukt. Ja vēlaties atcelt maksājumus, lūdzu, <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">skatiet mūsu vienkāršos norādījumus par atcelšanu</a>. </p>{%endif%}

<p>Šī vēstule var kalpot kā Jūsu ziedojuma atskaite. Par šo ziedojumu nav sniegti pakalpojumi un preces, ne pilnībā ne daļēji. Wikimedia Foundation, Inc. ir bezpeļņas labdarības sabiedrība ar 501(c)(3) nodokļbrīvas personas statusu ASV. Mūsu adrese ir 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S. Nodokļbrīvas personas numurs: 20-0049703</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20150904/lv&oldid=13656146","name":"thank_you.lv.html","revision":13656146}TI_END -->