{% if first_name and last_name %}
<p>Beste {{ first_name }},</p>

{% else %}
<p>Beste donateur,</p>
{% endif %}

<p>U bent ronduit fantastisch. HARTELIJK DANK voor het steunen van de Wikimedia Foundation, de
non-profitorganisatie die Wikipedia en haar zusterprojecten beheert.</p>

{% if "RecurringRestarted" in contribution_tags %}<p> Kort geleden hebben we een klein probleem
opgelost waarbij maandelijkse donaties werden gepauzeerd. We hebben uw terugkerende donatie hervat.
Voor de maanden die overgeslagen zijn, zullen we niet alsnog geld innen. Bedankt voor uw geduld en
uw ondersteuning. Als u nog vragen heeft, voel u vrij om een email te sturen naar
donate@wikimedia.org. </p>{% endif %}

<p>Uw gift dekt niet alleen de kosten die gepaard gaan met uw eigen gebruik van Wikipedia, maar ook
de kosten van andere lezers van Wikipedia.</p>

<p>Zoals de gepensioneerde landbouwer in het noorden van New York die Wikipedia gebruikt om de
afzetting van slib te bestuderen, of de student in Kuala Lumpur die organische chemie onderzoekt. De
Britse monteur die bij een ongeluk zijn rug brak en Wikipedia gebruikt om het ontwerpen van websites
aan te leren. De ambtenaar in Finland die een offline versie van Wikipedia ontwerpt voor een kleine
school in Ghana. En de vader in Mexico-Stad die zijn kleine dochters tijdens het weekend meeneemt op
museumbezoek en Wikipedia gebruikt om hen alles te leren begrijpen wat ze daar zullen zien.</p>

<p>Wat Wikipedia wil bereiken, is alle menselijke kennis bereikbaar maken voor iedereen, over de
hele wereld, en dit in hun eigen taal. Dit is een zeer gewaagde opdracht, maar met 30 miljoen
artikelen en 287 talen durf ik te veronderstellen dat we, dankzij u en mensen zoals u, deze opdracht
kunnen verwezenlijken.</p>

<p>Uit naam van de Wikimedia Foundation, en de 500 miljoen andere Wikipedia-lezers over de hele
wereld, dank ik u. Uw bijdrage in de kosten van het beheer van Wikipedia betekent dat de site
reclamevrij en onafhankelijk kan blijven bestaan, uitsluitend gericht op het helpen van de lezers.
Precies zoals het zou moeten zijn.</p>

<p>U hebt misschien gemerkt dat we, voor de eerste keer dit jaar, de banners voor de fondswerving
slechts nu en dan laten verschijnen in plaats van vele weken achter elkaar. Dat is doelbewust: we
willen de mensen niet ergeren met te veel oproepen. Maar het betekent wel dat minder mensen
begrijpen dat we een non-profitorganisatie zijn en dat we hun hulp kunnen gebruiken. Dus, als u zou
willen, zou ik het op prijs stellen als u deze e-mail met een aantal van uw vrienden deelt.</p>

<p>Ik zou het erg waarderen als u helpt aan Wikipedia mee te schrijven. Wikipedia wordt enkel en
alleen door vrijwilligers geschreven - tienduizenden mensen, zoals u, van over de hele wereld. Als u
een schrijffout of een kleine vergissing op Wikipedia ziet, herstelt u deze dan alstublieft. Als u
extra informatie kunt toevoegen, voeg die dan alstublieft toe. Sommigen halen hier veel voldoening
uit, misschien is dat voor u ook het geval.</p>

<p>Ik wil u bedanken voor uw vertrouwen in ons, en ik beloof u: wij zullen uw donaties goed en
doordacht gebruiken.</p>

<p>Bedankt,<br/>
Sue</p>

<p>Sue Gardner,<br/>
Algemeen directeur,<br/>
Wikimedia Foundation<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Veel werkgevers doneren evenveel als hun werknemers doen, waardoor uw gift verdubbeld kan worden.
Kijk dus even na of uw werkgever misschien een overeenstemmend donatieprogramma heeft. U kunt ons
volgen op <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> of <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, deel ons op <a
href="https://www.facebook.com/wikipedia">Facebook</a> en <a href="https://blog.wikimedia.org">lees
onze blog</a>. Hier kan u het <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">jaarrapport
2012-2013</a>, het <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">jaarrapport
2013-2014</a> en het <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">vijfjarenplan
van de Wikimedia Foundation</a> vinden. U kunt ook de Wikipedia-merchandise kopen op <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Voor uw administratie: uw gift, nummer {{ transaction_id }}, op {{ receive_date }} bedraagt {{
(currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Deze gift maakt deel uit van een periodieke afschrijving. Maandelijkse
betalingen worden geïncasseerd door de Wikimedia Foundation tot u ons verzoekt te stoppen. Als u de
betalingen wenst te annuleren, zie onze <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">eenvoudige annuleringsinstructies</a>. </p>{% endif %}

<p>Dit bericht dient als bewijsstuk voor uw gift. Er zijn voor deze bijdrage geen goederen of
diensten geleverd. De Wikimedia Foundation, Inc. is een non-profitorganisatie vrijgesteld van
belasting onder sectie 501(c)(3) van de Internal Revenue Code in de Verenigde Staten. Ons adres is
149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. Belastingvrije status onder nummer:
20-0049703.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Mogelijkheid tot uitschrijven:</p>
  <p>We willen u, als donateur, graag op de hoogte houden van onze maatschappelijke activiteiten en
fondsenwervingen. Als u deze e-mails liever niet van ons wilt ontvangen, klik dan hieronder en wij
halen u van de lijst.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Uitschrijven</a></p>
  </div>
</div>

<hr/>

<p>Help ons a.u.b. met het <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">vertalen</a>
van deze e-mail.</p>