{% if first_name and last_name %}
<p>Sveiki, {{ first_name }}!
</p>

{% else %}
<p>Cienījamais ziedotāj!</p>
{%endif%}

<p>Pateicamies, ka atbalstīji Wikipedia un Wikimedia Foundation ar dāvinājumu {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}. Jūsu ieguldījums palīdz nodrošināt Wikipedia neatkarību. Es vēlos pastāstīt, kāpēc jūsu dāvinājums ir tik svarīgs.
</p>

{% if "RecurringRestarted" in contribution_tags %}
<p>Mēs nesen novērsām nelielu tehnisku problēmu, kuras dēļ daži ikmēneša ziedojumi tika apturēti. Mēs esam atjaunojuši Jūsu regulāro ziedojumu, un turpmāk tas tiks apstrādāts ierastajā veidā. Par mēnešiem, kas tika izlaisti, nauda netiks iekasēta. Pateicamies par Jūsu pacietību un sniegto atbalstu. Ja Jums ir kādi jautājumi, lūdzu, nosūtiet e-pasta ziņojumu uz adresi donate@wikimedia.org.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Mēs nesen novērsām nelielu tehnisku problēmu, kuras dēļ daži ziedotāji nesaņēma apstiprinājumu par veikto ziedojumu. Lūdzu, pieņemiet šo e-pasta ziņojumu kā pateicību par ziedojumu, ko veicāt {{ receive_date }}. Pateicamies par Jūsu pacietību un sniegto atbalstu. Ja Jums ir kādi jautājumi, lūdzu, nosūtiet e-pasta ziņojumu uz adresi donate@wikimedia.org.</p>
{%endif%}

<p>Wikipedia ir vispasaules projekts. Wikimedia Foundation inženieri un personāls dara visu, lai jūsu Wikipedia pieredze būtu noderīga un saistoša. Mēs strādājam, lai nodrošinātu Wikipedia pieejamību, izmantojot jebkādu interneta savienojumu, jebkurā ierīcē, neatkarīgi no jūsu atrašanās vietas. Mēs esam par brīvu internetu nākotnē un cīnāmies par jūsu privātuma aizsardzību. Mēs aizrautīgi vēlamies, lai zināšanas būtu brīvi pieejamas ikvienam uz mūsu planētas. Mēs esam neliela komanda, ko vieno liela misija. Tāpēc jūsu ieguldījums ir nozīmīgs.
</p>

<p>
  <b>Ik dienu jūs pieņemat kritiskus lēmumus, pamatojoties uz informāciju, ko lasāt internetā. Wikipedia ir nozīmīgs avots, jo tajā tiek piedāvāta bezmaksas, neitrāla un objektīva informācija, ko sagatavojuši cilvēki no visas pasaules.</b>
</p>

<p>Wikipedia pastāv, pateicoties mūsu lasītāju, redaktoru un tādu ziedotāju, kā jūs, kopīgai līdzdalībai. Jūsu atbalsts Wikipedia ļauj mums saglabāt neitralitāti, objektivitāti un pilnīgu neatkarību. Jūs zināt, ka varat paļauties uz mums, jo Wikipedia nevar uzpirkt. Mēs esam jums un jūs esat mums. 
</p>

<p>
  <b>Ziedojot, jūs nodrošināt cilvēces zināšanu apkopojumu tagad un nākamajām paaudzēm.</b>
</p>

<p>Pateicamies, ka atbalstāt Wikipedia. Mēs ceram, ka arī turpmāk atbalstīsiet zināšanas. 
</p>

<p>Pateicībā<br/>
Katherine Maher,<br/>
Wikimedia Foundation izpilddirektore
</p>

<p>Daudzi darba devēja dāsni atbalsta darba ņēmēju ziedojumus: lūdzu, precizējiet pie sava darba devēja, vai uzņēmumā ir <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts">korporatīvā atbilstīgu dāvinājumu programma</a>. 
</p>

<p>Jūsu uzskaitei: Jūsu ziedojums, numurs {{ transaction_id }}, {{ receive_date }} bija {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.
</p>

{% if recurring %}
<p>Šis ziedojums ir daļa no periodiska ziedojuma. Wikimedia Foundation piereģistrēs ikmēneša maksājumus līdz brīdim, kad Jūs mūs informēsiet par to pārtraukšanu.Ja Jūs vēlaties maksājumus pārtraukt, tad lūdzu iepazīstaties ar mūsu <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">easy cancellation instructions</a>.</p>
{%endif%}

<p>Šo vēstuli varat izmantot kā oficiālu ziedojumu apliecinošu dokumentu. Par šo ieguldījumu ne pilnībā, ne daļēji netika piešķirtas preces vai pakalpojumi. Lūdzu, rakstiet: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, ASV. ASV nodokļu atvieglojuma numurs: 20-0049703
</p>

<p>Ja vairs nevēlaties saņemt Wikimedia Foundation e-pasta ziņojumus saistībā ar līdzekļu vākšanu, <a href="{{ unsubscribe_link | raw }}">jūs varat anulēt abonementu</a>. Lūdzu, ņemiet vērā, ka saistībā ar turpmākiem ziedojumiem, mēs nosūtīsim tādu pašu apstiprinājuma paziņojumu, kā šis.
</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20171019/lv&amp;oldid=18149608","name":"thank_you.lv.html","revision":18149608}TI_END -->