<p>Здравствуйте, {{ contact.first_name }}!</p>

<p>Хочу выразить вам своё восхищение и огромную
благодарность за пожертвование в Фонд
Викимедиа!</p>

<p>Именно так мы оплачиваем наши счета: только
благодаря таким людям, как вы, тем, кто дарит пять
долларов, двадцать долларов, сто долларов. Моим
любимым взносом в прошлом году стали пять фунтов
от маленькой девочки в Англии, убедившей своих
родителей позволить ей внести свои карманные
деньги. Именно такие люди, как вы,
присоединившиеся к той девочке, позволяют
Википедии обеспечивать всех в мире свободным,
лёгким доступом к непредвзятой информации. Всех
тех, кто помогает оплачивать её, и тех, у кого нет
средств для помощи. Спасибо вам большое.</p>

<p>Я знаю, наши призывы легко проигнорировать, и я
рада, что вы этого не сделали. От себя лично и от
имени десятков тысяч добровольцев, пишущих
Википедию, я говорю вам: спасибо, что помогаете
нам делать мир лучше. Мы будем использовать ваши
деньги аккуратно и бережно, и я благодарю вас за
доверие к нам.</p>

<p>Спасибо,<br />
Сью Гарднер,<br />
исполнительный директор Фонда Викимедиа</p>

<p>Для вашего архива: ваш взнос от {{
contribution.receive_date|date("Y-d-m") }} составил {{
contribution.contribution_source }}.
{% if recurring %}
{% include 'recurring/ru.html' ignore missing %}
{% endif %}</p>

<p>Это письмо может служить подтверждением вашего
взноса. За этот вклад не было предоставлено
никаких товаров или услуг, ни в целом, ни
частично. Фонд Викимедиа (The Wikimedia Foundation, Inc.) —
некоммерческая благотворительная корпорация со
статусом освобождения от налогов 501(c)(3) в
Соединённых Штатах. Наш адрес:
Нью-Монтгомери-стрит, д. 149, 3 эт., Сан-Франциско,
Калифорния, 94105 (149 New Montgomery, 3rd Floor, San Francisco, CA, 94105).
Номер освобождения от налогов США: 20-0049703.</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Возможность отказа от подписки</i></p>

<p>Мы хотели бы информировать вас как
благотворителя о наших действиях в сообществах и
о сборах пожертвований. Если вы предпочитаете не
получать от нас подобную электронную почту,
пожалуйста, нажмите на ссылку ниже, и мы исключим
вас из списка.</p>

<a style="padding-left: 25px;" href="{{ unsubscribe_link|raw }}">Отписаться</a>

</div>
