<p>尊敬的$familyname{{contact.first_name}}：</p>
<p>感谢您资助维基媒体基金会。</p>
<p>忽略页面上方的筹款广告是件很容易的事，不过我们很高兴您并没有这么做。只有像您这样的人向我们捐款，维基百科才能够运作，才能够让全球各地的人自由访问。</p>
<p>人们告诉我，他们之所以支持维基百科，是因为他们认为它是有用的。同时，他们信任它，因为即使它不是完美的，但他们知道这是为他们而著的。维基百科并不是为了推进某人的公关议题、推动某种意识形态或是说服你相信某些虚假的东西。我们的目标是实事求是，而我们只有通过你的帮助才能做到。事实上，您的资助使得我们得以保持独立，并得以提供你想要的。事实的确如此。</p>
<p>您应该知道：您的捐款不仅仅负担了您个人的费用。每一个捐款者在负担他自己使用维基百科产生的费用的同时，也负担了其他数百位用户的费用。您的捐款也能使维基百科向任何人开放，包括自学计算机编程的班加罗尔孩子、一位刚刚被诊断为帕金森氏症的维也纳的中年家庭妇女、研究19世纪50年代英国的小说家及一位刚刚认识卡尔·萨根的圣萨尔瓦多10岁孩童。</p>
<p>我代表这些人和其他五亿维基百科和其姊妹站点及项目的读者们谢谢您加入我们，努力使全人类的知识都可传递给每一个人。您的捐赠使世界更加美好。谢谢您。</p>
<p>大多数人并不知道维基百科是非营利性的。请考虑将这封邮件与您的朋友分享，鼓励他们也给维基百科进行捐款。如果您有兴趣，您应该试着为维基百科增加一些内容。如果您看到了一个错字或其他小错误，请更正它。如果您觉得少了点什么，也请补全它吧。
[#edit 这里]所提供的资料能够帮助你入门。
不要担心犯错：首次编辑时在所难免，即便您犯错了，其他维基人也很乐意帮你修补。</p>
<p>我非常感谢您对我们的信任，同时我向您保证，我们会将您的捐款用到实处。</p>
<p>谢谢！<br/>
苏</p>
<p>苏·加德纳<br/>
执行董事<br/>
维基媒体基金会 <a class="external autonumber"
href="https://donate.wikimedia.org">[1]</a></p>
<p>您可以在<a href="https://twitter.com/Wikipedia">Twitter</a>、<a
href="https://identi.ca/wikipedia">identi.ca</a>或者<a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>上关注我们，在Facebook上喜欢我们，并阅读我们的博客。
这里是<a
href="https://wikimediafoundation.org/wiki/Annual_Report">维基媒体基金会的2010-11年度报告</a>、<a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">维基媒体基金会的2012-13年度计划</a>以及<a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">维基媒体基金会的五年战略计划</a>。
您现在还可以在<a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>上购买维基百科的周边产品。</p>
<p>在此提醒您：您于{{contribution.receive_date}}捐赠了{{contribution.contribution_source|l10n_currency(locale)}}。</p>
<p>退订选择:
我们希望作为捐助者的您关注我们的社群活动与筹款活动。但是如果您不希望再收到我们发来的此类邮件。请点击下方，我们将把您从我们的发送列表中去除。:</p>
<p><a style="padding-left: 25px;"
href="{{unsubscribe_link|raw}}">退订</a></p>
<p>这封信件可以作为您捐赠的书面记录。这次捐赠没有提供全部或部分的商品或服务。维基媒体基金会是一个非营利的慈善机构，根据美国税法501(c)(3)条款享受免税待遇。我们的地址是：149
New Montgomery, 3rd Floor, San Francisco, CA,
94105。美国税务豁免编号为：20-0049703</p>