<p>Kære {{contact.first_name}}</p>

<p>Tak for at du har givet penge til Wikipediafonden. Du er storsindet!</p>

<p>Det er let at se bort fra vore indsamlingsbannere, og jeg er virkelig glad for, at du
ikke gjorde det. Det er det, der skal til, for at Wikipedia kan betale sine regninger ---
at folk som du giver os penge, sådan at vi kan fastholde netstedet som frit tilgængeligt
for enhver på kloden.</p>

<p>Folk fortæller mig, at de giver penge til Wikipedia, fordi de anser den for at være
nyttig, og de har tillid til den, for selv om den ikke er perfekt, så ved de, at den er
skrevet for dem. Wikipedia skal ikke fremme nogens PR-mål eller støtte en bestemt
ideologi, og ej heller overtale dig til at tro på noget, som ikke er sandt. Vi sigter mod
at sige sandheden, og det kan vi gøre på grund af dig. Den kendsgerning, at du
finansierer netstedet, gør os uafhængige og i stand til at levere det, som du behøver
og ønsker dig fra Wikipedia. Præcis som det bør være.</p>

<p>Du skal vide: din gave dækker ikke bare dine egne udgifter. Den gennemsnitlige
bidragyder betaler for sin egen brug af Wikipedia plus omkostningerne for hundredevis af
andre. Din gave fastholder Wikipedias tilgængelighed for et stræbsomt barn i Bangalore,
som er i gang med at lære sig computerprogrammering. En midaldrende hjemmegående i Wien,
som netop har fået diagnosen Parkinsons syge. En romanforfatter, der undersøger
1850'ernes Storbritannien. En 10-årig i San Salvador, som netop har opdaget Carl
Sagan.</p>

<p>På disse menneskers vegne og for en halv milliard andre læsere af Wikipedia og dens
søster-netsteder og projekter takker jeg dig for at have sluttet dig til os i vores
anstrengelse for at stille summen af al menneskelig viden til rådighed for enhver. Din
gave gør verden til et bedre sted. Tak.</p>

<p>De færreste ved, at Wikipedia drives af en ikke-kommerciel organisation. Overvej
venligst at sende denne e-mail videre til nogle af dine venner for at få dem til også at
give et bidrag. Og hvis det interesserer dig, skulle du prøve at føje nye informationer
til Wikipedia. Hvis du ser en slåfejl eller en anden lille fejltagelse, så ret den
venligst, og hvis du opdager, at noget mangler, så tilføj det.</p>

<p>Jeg påskønner din tillid til os, og jeg lover, at vi bruger dine penge
ordentligt.</p>

<p>Tak,<br />
Sue</p>

<br />
<p>Sue Gardner<br />
Administrerende direktør<br />
Wikimedia fonden</p>

<p>Til dit regnskab: Din donation den {{contribution.receive_date}} var på {{contribution.contribution_source}}.{% if recurring %}{% include 'recurring/da.html' ignore missing %}{% endif %}</p>

<p>Dette brev er en kvittering for din donation. Ingen varer eller serviceydelser blev
byttet, helt eller delvist, for dette bidrag. Wikimedia Foundation, Inc. er en almennyttig
organisation med 501(c)(3) skattefrihedsstatus i USA. Vores adresse er 149 New Montgomery,
3rd Floor, San Francisco, CA, 94105. U.S. tax-exempt number: 20-0049703</p>

<p>Du kan følge os på <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> eller <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, synes om os på <a
href="https://www.facebook.com/wikipedia">Facebook</a> og <a
href="https://blog.wikimedia.org">læs vores blog</a>. Her er <a
href="https://wikimediafoundation.org/wiki/Annual_Report">Wikimediafondens årsopgørelse
for 2010-11</a>, <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">Wikimediafondens
budget for 2012-13</a> og <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Wikimediafondens
femårs strategiplan</a>. Nu kan du også købe Wikipedia-ting på <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Mulighed for fravalg</i></p>

<p>Som bidragyder vil vi gerne holde dig informeret om vores fællesskabs aktiviteter og
pengeindsamlinger. Hvis du foretrækker ikke at modtage den slags e-mails fra os, så klik
venligst neden for, og vi fjerner dig fra listen.</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">Frameld</a>

</div>

