<p>亲爱的{{ last_name }}{{ first_name }}，</p>

<p>感谢您向维基媒体基金会捐款。您太棒了！</p>

<p>无视我们的筹款横幅其实很容易，但我很感谢您没有那样做。这正是维基百科能够维持的方式——想您一样的人捐献钱款，使得我们可以让全世界的人都可以免费访问。</p>

<p>人们告诉我他们之所以给维基百科捐款，是因为他们觉得其是有用的。且他们相信维基百科，即使其不是完美的，但他们知道这是为他们而写的。维基百科并不是为了推进个人的公关议程，也不是为了推广某种意识形态，更不是为了说服您相信某些错误的东西。我们的目标是真实，而之所以我们能这样做，是因为有您。事实上，您的捐助保持了网站的独立，并使维基百科能够提供您需要及想要的内容。其确实如此。</p>

<p>您应该知道：您的捐款不只是负担了您自己花费。平均每个捐款者除了支付了自己在维基百科的花费外，还支持了其他数百人的成本。您的捐款还让维基百科能够为许多人提供服务，包括班加罗尔的一个雄心勃勃想要自学计算机编程的孩子，维也纳的一个刚刚被诊断出患有帕金森氏症的中年家庭主妇，正在研究19世纪50年代英国的小说家，及圣萨尔瓦多的一个刚刚认识卡尔·萨根的10岁孩童。</p>

<p>我谨代表这些人，还有维基百科及其姊妹网站、计划的约5亿读者，感谢您加入我们旨在让全人类的知识集合可以触及到每个人的努力中。您的捐款让这个世界变得更美好。谢谢您。</p>

<p>大多数人并不知道维基百科是非营利性的。请考虑将这封邮件与您的朋友分享，鼓励他们也给维基百科进行捐款。如果您有兴趣，您应该试着为维基百科增加一些内容。如果您看到了一个错字或其他小错误，请更正它吧。如果您觉得少了点什么，请补全它吧。</p>

<p>我非常感谢您对我们的信任。我也向您保证，我们会良好的使用您的捐款。</p>

<p>感激不尽！<br />
苏</p>

<br />
<p>苏·加德纳<br />
执行理事，<br />
维基媒体基金会</p>

<p>根据您的记录：您在{{ receive_date }}捐赠了{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}。{%
if recurring %}{% include 'html/recurring/zh-hans.html' ignore missing %}{% endif %}</p>

<p>这封信可以作为您捐款的记录。该贡献不会提供任何的商品或服务。维基媒体基金会是一个非营利501(c)(3)免税的美国慈善机构。我们的地址是149
New Montgomery, 3rd Floor, San Francisco, CA,
94105。美国的免税号：20-0049703。</p>

<p>您可以关注我们的<a href="https://twitter.com/Wikipedia">Twitter</a>、<a
href="https://identi.ca/wikipedia">identi.ca</a>或<a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>，在<a
href="https://www.facebook.com/wikipedia">Facebook</a>赞我们的专页，阅读<a
href="https://blog.wikimedia.org">我们的博客</a>。 这是<a
href="https://wikimediafoundation.org/wiki/Annual_Report">维基媒体基金会2010至2011年的年度报告</a>、<a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">维基媒体基金会2012至2013年的年度计划</a>及<a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">维基媒体基金会的五年战略计划</a>。
您也可以在<a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>购买维基商品。</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>退出选项</i></p>

<p>我们希望您以捐助者的身份了解我们的社群活动及筹款。如果您不想再收到此类邮件，请点击下面的链接，我们将把您从列表中移除。</p>

<a style="padding-left: 25px;" href="{{unsubscribe_link|raw}}">取消订阅</a>

</div>

