<p>Milý/á {{contact.first_name}},</p>

<p>Je to od Vás fantastické. DĚKUJI VÁM za podporu nadace Wikimedia, neziskové organizace,
která provozuje Wikipedii a její sesterské projekty.</p>

<p>Váš příspěvek pomáhá krýt náklady nejen Vašeho používání Wikipedie, ale i náklady
dalších čtenářů Wikipedie.</p>

<p>Jako zemědělce-důchodce v New Yorku, který s pomocí Wikipedie studuje vědu kalů a studenta
v Kuala Lumpuru, který zkoumá organickou chemii. Britského mechanika, který poté, co si zlomil
páteř při nehodě, použil Wikipedii k rekvalifikaci na webového vývojáře. Úředník ve
Finsku, který sestavil offline verzi Wikipedie pro malou školu v Ghaně. A otce v Mexico City,
který se svými dcerkami chodí o víkendech do muzea a používá Wikipedii, aby jim pomohl
pochopit vše, co je tam k vidění.</p>

<p>Úkolem Wikipedie je zpřístupnit souhrn všech lidských vědomostí každému na celém
světě v jeho vlastním jazyce. To je dost odvážné poslání, ale se 30 miliony článků a 287
jazyky bych řekla, že díky Vám a lidem jako jste Vy se nám to daří.</p>

<p>Jménem nadace Wikimedia a půl miliardy dalších čtenářů Wikipedie po celém světě:
děkujeme. Díky Vaší pomoci s úhradou nákladů na provoz se Wikipedie obejde bez inzerce a
zůstává nezávislá na cizích zájmech a zaměřená výhradně na pomoc svým čtenářům.
Přesně tak, jak to má být…</p>

<p>Možná jste si všimli, že poprvé v letošním roce jsme vylepšili náš fundraising tak, že
většina lidí uvidí naše bannery pouze několikrát, namísto po celé týdny. To je záměrné:
nechceme lidi dráždit příliš častými výzvami. Ale to znamená, že se méně lidí dozví,
že jsme neziskovka a že potřebujeme jejich pomoc. Takže pokud jste ochotní, ocenila bych Vaši
pomoc přeposláním tohoto e-mailu několika Vašim přátelům.</p>

<p>A co takhle pokusit se k nám připojit a napsat něco do Wikipedie? To by bylo skvělé!
Wikipedii píšou pouze dobrovolníci – desetitisíce obyčejných lidí jako my. Uvidíte-li
někde překlep nebo nějakou chybu, opravte to. Víte o něčem, co by stálo za to doplnit?
Udělejte to! Některé lidi to ohromně uspokojuje, třeba to bude i váš případ.</p>

<p>Ještě jednou děkuji. Vážím si toho, že nám věříte, a slibuji, že vaše peníze
využijeme pečlivě a dobře.</p>

<p>Díky,<br/>
Sue</p>

<p>Sue Gardnerová<br/>
výkonná ředitelka,<br/>
Nadace Wikimedia<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Mnoho zaměstnavatelů podporuje dobročinnost tím, že přispívá stejnou částkou jako
jejich zaměstnanci, a tím jejich dar zdvojnásobí. Ověřte si prosím, zda váš zaměstnavatel
nemá takovýto program podpory dárcovství. Můžete nás sledovat na <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> nebo <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, dát nám kredit na <a
href="https://www.facebook.com/wikipedia">Facebook</a> a <a href="https://blog.wikimedia.org">číst
náš blog</a>. Zde je <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Wikimedia
Foundation annual report for 2011-12</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">the Wikimedia
Foundation annual plan for 2013-2014</a> a <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Wikimedia
Foundation’s five-year strategic plan</a>. Nyní můžete též nakupovat v našem obchodě na <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Pro vaši informaci: Váš příspěvek číslo CNTCT-{{contribution.contact_id}} ze dne
{{contribution.receive_date}} činil {{contribution.contribution_source|l10n_currency(locale)}}.</p>

<p>{% if recurring %} Tento dar je součástí pravidelně opakovaných příspěvků. Měsíční
platby budou inkasovány nadací Wikimedia tak dlouho, dokud nepožádáte o jejich zastavení.
Nechcete-li už dále přispívat, přečtěte si <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">easy cancellation instructions</a>. {% endif %}</p>

<p>Tento dopis slouží jako záznam o daru. Žádné zboží ani služby, ať celé či
částečné, nebyly poskytnuty výměnou za tento dar. Nadace Wikimedia je nezisková charitativní
organizace, s daňovou výjimkou (č. 20-0049703) ve Spojených státech amerických, dle paragrafu
501(c)(3). Naše adresa je 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Odhlášení newsletteru</p>
  <p>Rádi bychom vás jakožto dárce informovali o činnostech naší komunity a dalších
sbírkách. Pokud si ale takové zprávy nepřejete dostávat, klikněte, prosím, na odkaz níže a
my vás ze seznamu příjemců vymažeme</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">Odhlásit</a></p>
  </div>
</div>

<hr/>

<p>Pomozte, prosím, <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">přeložit</a>
tento email.</p>