{% if first_name and last_name %}
<p>Sayın {{ first_name }},</p>

{% else %}
<p>Değerli bağışçımız,</p>
{% endif %}

<p>Dünyadaki her insana bilgi sunmaya yaptığınız bu çok kıymetli yardımınız için
teşekkür ederiz.</p>

{% if "RecurringRestarted" in contribution_tags %}<p> Kısa zaman önce, aylık periyodik
bağışları duraklatan küçük bir teknik problemi giderdik. Tekrarlı-bağışınızı yeniden
aktif hale getirdik ve işlemleriniz bundan sonra her zamanki gibi devam edecek. Yanlışlıkla
atlanmış olan aylar için sizden bağış talebinde bulunmayacağız. Desteğiniz ve
anlayışınız için teşekkür ederiz. Herhangi bir sorunuz varsa lütfen donate@wikimedia.org
adresine yazmaktan çekinmeyin. </p>{% endif %}

<p>Ben Lila Tretikov, Wikimedia Vakfı'nın yetkili müdürüyüm. Önceki yıllarda, sizinki gibi
yardımlar sayesinde ansiklopedimiz 287 dile ulaştı ve tüm dünyada daha ulaşılabilir hâle
geldi. En çok da başka türlü bilgiye ulaşamayanlara etkide bulunabilmek için uğraşıyoruz.
Biz Solapur, Hindistan'da yaşayan Akshaya Iyengar gibi insanlara bilgiyi sunuyoruz. Dokuma kumaş
imalatı yapan küçük bir kasabada büyüyen Akshaya, Vikipedi'yi ana bilgi kaynağı olarak
kullanıyor. Kitapların sınırlı ama mobil internet erişiminin bulunduğu bu bölgelerdeki
öğrenciler için, Vikipedi çok etkili bir kaynak. Akshaya Hindistan'da eğitimini sürdürüp
orada üniversiteden mezun oldu ve şimdi Birleşik Devletler'de yazılım mühendisi olarak
çalışıyor. Vikipedi'den ise bilgilerinin yarısını edindiği bir kaynak olarak bahsediyor.</p>

<p>Bu hikâye eşsiz değil. Bizim görevimiz yücedir ve büyük zorluklar sunar. Vikipedi'yi
kullananların büyük bir kısmı bizim kâr amacı gütmeyen bir organizasyon olarak
çalıştığımızı ve sizlerin bağışlarıyla finanse edildiğini duyduğunda büyük
şaşkınlık yaşıyorlar. Her yıl, ucu ucuna yetecek sayıda insan, bilginin herkese
ulaşabilmesini sağlamak amacıyla bağış yapıyor. Bu görevi yapabilmeyi mümkün
kıldığınız için size teşekkür ediyoruz.</p>

<p>Vikipedi'yi kullanan yarım milyar insan, gönüllü olarak katkıda bulunan binlerce kullanıcı
ve Vakıf çalışanları adına, size Vikipedi'yi bu sene açık ve reklamsız tuttuğunuz için
teşekkür ediyorum.</p>

<p>Teşekkürler,<br/>
Lila</p>

<p>Lila Tretikov<br/>
Yetkili müdür,<br/>
Wikimedia Vakfı<br/>
<a class="external text" href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Kendi kayıtlarınız için: {{ transaction_id }} numaralı bağışınız {{ receive_date }}
tarihinde {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} kadardır.</p>

{% if recurring %}<p> Bu bağış tekrar eden aboneliğiniz gereğince yapılmıştır. Wikimedia
Vakfı, sizden bize durdurma isteği gelene kadar her ay hesabınızdan ödeme çekecektir.
Ödemeleri durdurmak isterseniz, lütfen <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{
locale }}">kolayca iptal talimatları</a>na bakın. </p>{% endif %}

<p>Bu mektup sizin bağışınızın bir kaydı olarak görülebilir. Bu katkının tamamı veya bir
kısmı karşılığında herhangi bir mal ya da hizmet sağlanmamıştır. Wikimedia Vakfı anonim
şirketi kâr amacı gütmeyen bir yardım vakfıdır, Birleşik Devletler'de 501(c)(3) vergiden
muaf durumundadır. Adresimiz: 149 New Montgomery, 3. Kat, San Francisco, CA, 94105. ABD vergi
muafiyet numaramız: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Ayrılma tercihi:</p>
  <p><br/>
Bağışta bulunan biri olarak sizi topluluk etkinlikleri ve bağış kampanyalarımız hakkında
bilgilendirmeye devam etmek isteriz. Yine de bu gibi e-postaları bizden almamayı tercih ederseniz,
lütfen aşağıdaki bağlantıyı tıklayınız ve sizi listeden çıkarırız.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Aboneliği iptal et</a></p>
  </div>
</div>

<p><br/>
Lütfen bu e-postanın farklı dillere <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20140606">çevrilmesi</a>
için bize yardımcı olun.</p>