<p>Leew {{contact.first_name}},</p>

<p>Dü beest gewaltag. FÖL SOONK för Dan bidrach tu't Wikimedia Foundation, diar Wikipedia an noch
föl muar ööder projekten bedraft.</p>

<p>Mä dan bidrach wurd ei bluas a koosten för Di, man uk för ööder Wikipedia-brükern
draanj.</p>

<p>Diar as di büür üüb't ualendial uun't nuurden faan New York, of di student uun Kuala Lumpur,
di ham mä chemii befaadet. Of di ferünloket hoonwerker uun Ingelun, di nü mä halep faan
Wikipedia amskuulet. An do as diar en beamten uun Finlun, di en Wikipedia-werjuun ütjwerket hää
för en skuul uun Ghana, diar goor nian internet hää. Of di aatj uun Meksikoo, diar sin jongen
auer't wegaanj mä tu en museum namt an Wikipedia brükt, am dat jo ferstun, wat jo diar sä.</p>

<p>Wikipedia wal det weden faan a minsken uun hör aanj spriak saamle. An mä 30 miljuun artiikler
uun 287 spriaken san wi üüb en guden wai, auer minsken üs Dü üs halep.</p>

<p>Föl soonk uun a nööm faan't Wikimedia Foundation an en hualew miljard minsken trinjam a eerd.
Auer Dü mähalepst, komt Wikipedia saner rekloome ütj an komert ham bluas diaram, ööder lidj tu
halpen. Jüst so skul det wees.</p>

<p>Ferlicht as Di üübfäälen, dat wi üs uunfraag am spenden das juar en betj feranert haa. Dü
schochst det bluas noch dan an wan, an ei muar wegenloong. Wi wel Di diarmä jo uk ei piire, man Dü
küdst jo uk mähalep, an det uunfraag tu Din frinjer widjer schüür.</p>

<p>Ik wiar bliis, wan Dü üs bi't skriiwen faan Wikipedia halep küdst. Det woort faan
tjiindüüsenen faan freiwalagen trinjam a eerd skrewen, det san gans normool minsken so üs Dü an
ik. Heest Dü wat ferkiards fünjen? Do ferbeedre det. Of witjst Dü auer det ian of ööder noch
muar? Do skriiw det diartu. Diar san do föl öödern bliis auer. An Dü was uk.</p>

<p>Ik koon Di sai, dat wi sünag mä't jil amgung an besoonke mi noch ans.</p>

<p>Föl soonk,<br/>
Sue</p>

<p>Sue Gardner<br/>
Bedrifsfeerer,<br/>
Wikimedia Foundation<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Flook grater onernemen du wat diartu, wan hör uunstelden en bidrach du. Ferlicht dää Din
onernemen det jo uk. Dü könst üs uk üüb <a href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> of <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a> fulge, üs üüb <a
href="https://www.facebook.com/wikipedia">Facebook</a> en stem du an <a
href="https://blog.wikimedia.org">üüs blog</a> lees. Diar stäänt di <a
href="https://wikimediafoundation.org/wiki/Annual_Report">Wikimedia Foundation juarsberacht för
2011/12</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">di Wikimedia
Foundation juarsploon för 2013 bit 2014</a> an di <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Wikimedia
Foundation fiiw-juars-ploon</a>. Dü könst uk merchandise-artiikler kuupe üüb <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>För Din buken: Dan bidrach CNTCT-{{contribution.contact_id}}, di {{contribution.receive_date}}
wiar {{contribution.contribution_source|l10n_currency(locale)}}.</p>

<p>{% if recurring %} Detdiar sum as dial faan en wederkemenen bidrach. At Wikimedia Foundation
beläästet Din konto arke muun so loong üs Dü det wel. Wan Dü det ei muar wel, wees so gud an
lees, <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">hü Dü det kange</a> könst. {% endif %}</p>

<p>Didiar briaf koon üs bewis för Din spende uunsen wurd. Dü heest för Dan bidrach nian waaren
of siinsten füngen. Det Wikimedia Foundation Inc. as ei üüb't fersiinin ütj an as frei faan
stüüren efter di staatus 501(c)(3) uun a Ferianagt Stooten faan Ameerikoo. Üüs adres as 149 New
Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S. Stüürfreistelangsnumer: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Ufmeldin:</p>
  <p>Wi wel Di hal widjer auer at neist beskias sai. Wan Dü oober nian e-mails faan üs haa meest,
do trak oner üüb di knoop an wi strik Di ütj a ferdialer.</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">Ufmelde</a></p>
  </div>
</div>

<p>
  <br/>
</p>

<hr/>

<p>Halep mä an <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">auersaat</a>
det e-mail.</p>