<p>Dragi/draga {{ first_name }},</p>

<p>Svaka Vam čast. HVALA VAM sto podržavate Vikimedija Fondaciju, bezprofitnu organizaciju koja
održava Vikipediju i njene srodne projekte.</p>

<p>Vaša donacija pokriva ne samo troškove Vašeg ličnog korišćenja Vikipedije, nego i troškove
ostalih njenih korisnika.</p>

<p>Primeri korisnika Vikipedije su: penzionisani poljoprivrednik iz unutrašnjosti države Njujork
koji je koristi da proučava osobine otpadnih materijala kao i student iz Kuala Lumpura koji
istražuje organsku hemiju. Britanski mašinski radnik koji se, nakon nesrećne povrede kičme, uz
pomoć Vikipedije samostalno obučio da razvija web aplikacije. Javni službenik iz Finske koji je
pokrenuo samostalnu verziju Vikipedije u maloj školi u Gani. Kao i jedan otac iz Meksiko Sitija
koji tokom vikenda vodi svoje ćerkice po muzejima a onda koristi Vikipediju da bi im pomogao da
razumeju sve što su videle tamo.</p>

<p>Cilj Vikipedije je da ujedini svo ljudsko znanje i da ga načini pristupačnim svakome na svetu
na njegovom maternjem jeziku. To je jedna herojska misija, ali sa 30 miliona članaka na 287 jezika,
rekli bismo da se ona uz Vašu pomoć i pomoć ostalih poput Vas, ispunjava.</p>

<p>U ime Vikimedija Fondacije i u ime pola milijarde ostalih korisnika Vikipedije širom celog
sveta: hvala Vam. Činjenica da pomažete da se pokriju troškovi održavanja Vikipedije znači da
ona može i dalje prikazivati svoj sadržaj bez internet reklama i bez pristrasnosti, kompletno
koncentrisana na potrebe svojih korisnika. A upravo tako i treba da bude.</p>

<p>Možda ste primetili da smo ove godine po prvi put podesili metodu najave prikupljanja sredstava
tako da će većina ljudi videti obaveštenja o tome samo nekoliko puta umesto stalno i nedeljama.
To je uradjeno namerno: ne želimo da ljude nerviramo mnogobrojnim pozivima u pomoć. Ali to takodje
znači da će manje ljudi uvideti da Vikipedija ne zaradjuje novac i da nam treba njihova pomoć.
Prema tome, ako ste voljni, bili bismo vam zahvalni ako biste pomogli da se ti pozivi rašire tako
što ćete proslediti ovo pismo nekolicini Vaših prijatelja.</p>

<p>Takodje, bilo bi nam veoma drago da pokušate da nam se pridružite u pisanju članaka na
Vikipediji. Vikipediju su iskljucivo napisali dobrovoljci -- desetine hiljada običnih ljudi širom
sveta, poput nas. Ako uočite grešku u kucanju ili pogrešan podatak na Vikipediji, molimo Vas da
to ispravite. A ako posedujete bilo kakvo znanje vredno dodavanja, molimo Vas dodajte. Mnogim
ljudima to pruža i zadovoljstvo i verovatno će ga pružiti i Vama.</p>

<p>Još jednom hvala. Zaista cenim vaše poverenje u nas i obećavam Vam: upotrebićemo vaš novac
pažljivo i namenski.</p>

<p>Hvala,<br/>
Sju</p>

<p>Sju Gardner<br/>
Izvršna Direktorica,<br/>
Vikimedija Fondacija<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Mnogi poslodavci će duplirati Vašu donaciju: molimo Vas da proverite na mestu gde ste zaposleni
da li postoji takav program. Pratite nas na <a href="https://twitter.com/Wikipedia">Tviteru</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> ili <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, dajte nam Like na <a
href="https://www.facebook.com/wikipedia">Fejsbuku</a> i <a
href="https://blog.wikimedia.org">čitajte naš blog</a>. Ovde cete naci <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Godisnji
izvestaj Vikimedija Fondacije za 2011-12</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">Godisnji plan
Vikimedija Fondacije za 2013-14</a> i <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Petogodisnji
strateski plan Vikimedija Fondacije</a>. A ovde mozete kupiti i Vikipedija proizvode: <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>Za Vašu evidenciju: Vaš doprinos broj {{ transaction_id }}, na dan
{{ receive_date }} je bio {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}</p>

<p>{% if recurring %} Ova donacija je deo stalne pretplate. Mesečna rata će biti uplaćivana
Vikimedija Fondaciji sve dok nam ne javite da prekinemo. Pogledajte <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">uputstva za prekidanje</a> ako želite da prekinete sa
plaćanjem. {% endif %}</p>

<p>Ovo pismo može poslužiti kao dokument o vašoj donaciji. Nikakav fizički predmet (ili njegov
deo) niti konkretna usluga (ili njen deo) Vam nisu prodati na osnovu ove donacije. Vikimedija
Fondacija je bezprofitna 501(c)(3) korporacija koja je u Sjedinjenim Državama Amerike oslobodjena
plaćanja poreza. Naša adresa je: 149 New Montgomery, 3rd Floor, San Francisco, CA 94105. Broj za
oslobadjanje od poreza u SAD je: 20-0049703.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Podešavanje izbegavanja dobijanja ovog pisma:</p>
  <p>Kao jednog od donora, želimo da Vas i dalje obaveštavamo o našim aktivnostima i o budućim
donacijama. Medjutim, ako ne želite da primate takvu elektronsku postu od nas, molimo Vas da
kliknete na link odmah ispod i bićete uklonjeni sa tog spiska.</p>
  <div style="margin: 0 25px">
    <p>[$unsibscribeUrl Odjava]</p>
  </div>
</div>

<p>
  <br/>
</p>

<hr/>

<p>Molimo Vas da pomognete da se ovo pismo <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">prevede</a>
na više jezika.</p>
