<p>Хүндэт {{ first_name }},</p>
<p>Википедиа санд хандив өгсөнд
баярлалаа. Та бол гайхалтай хүн.</p>
<p>Манай хандивын сангийн зарлалыг
анзааралгүй өнгөрөхөд амархан. Гэвч
таныг анзаарч харсанд би их баяртай
байна. Википедиа тан шиг хүмүүсийн
мөнгөөр зардлуудаа төлөх чадвартай
болдог учраас бид дэлхийн бүх хүмүүст
энэ сайтаа байнга үнэ төлбөргүйгээр
хүргэдэг.</p>
<p>Хүмүүс Википедиаг амьдралд хэрэгтэй
учраас, төгс биш ч гэсэн түүнд итгэдэг
учраас, өөрт нь зориулж бичигдсэн
гэдгийг мэддэг учраас Википедиад хандив
өгдөг гэж хэлцгээдэг. Википедиа хэн
нэгний нэр хүндийг өсгөх, ямар нэг суртал
ухуулга хийх, үнэн биш зүйлд итгэхийг
ятгахад зориулж хийгдээгүй. Бид үнэнийг
хэлэхийг зорьдог ба зөвхөн таны
тусламжаар түүнийг хийдэг. Таны
хандиваар бид бие даан ажиллаж таны
Википедиагаас хүсч буй хэрэгцээт
бүхнийг хийж чаддаг. Энэ л бидний хүссэн
зүйл.</p>
<p>Таны хандив зөвхөн таны зардлыг
даадаггүй гэдгийг та мэдэх хэрэгтэй.
Дундаж хандив өгөгч өөрийн Википедиа
хэрэглээний зардлыг төлөхөөс гадна
бусад олон зуун хүний зардлыг төлж өгдөг.
Таны хандив Бангалорт өөртөө
компьютерийн програм зааж буй хичээнгүй
хүүхдэд, Венад дөнгөж Паркинсоны өвчтэй
гэж оношлуулаад байгаа дунд насны
ажилчинд, 1850 оны Британы талаар судалж
байгаа зохиолчид, Карл Саганы тухай олж
мэдэж буй арван настай хүүхдэд
Википедиад орох боломж өгч байна.</p>
<p>Тэдгээр хүмүүс, Википедиа болон
Википедиагийн салбар сайтууд,
төслүүдийг уншигч бусад хагас тэр бум
хүмүүсийн өмнөөс танд хүн төрөлтхтний
бүх мэдлэгийг хүн бүрт хүргэх бидний
зүтгэлд хамтран орж байгаад гүн талархал
илэрхийлж байна. Таны хандив дэлхийд тус
дэмээ хүргэж байна. Баярлалаа.</p>
<p>Олон хүмүүс Википедиаг ашгийн бус
ажилладаг гэдгийг мэддэггүй. Энэ
имэйлийг бусад найзууддаа илгээж хандив
өгөхийг уриалаарай. Хэрвээ та сонирхвол
өөрөө Википедиад шинэ мэдээ оруулж үзсэн
ч болно. Мөн ямар нэг үг үсгийн алдаа
болон бусад жижиг алдааг засаж өгч, ямар
нэг дутуу зүйлийг нэмж өгч болно. Танд
тэдгээрийг хийхэд туслах зөвлөмжүүд [#edit
here] бий. Алдаа гаргана гэж айх хэрэггүй.
Анх удаа редактор хийж байгаа хүмүүст
энэ энгийн үзэгдэл. Хэрвээ тийм зүйл
болвол бусад Википедиачууд эелдэгээр
засч өгөх болно.</p>
<p>Бидэнд итгэж байгаад их баяртай байна,
бид хандивийг чинь үр ашигтай хэрэглэнэ
гэдгээ амлаж байна.</p>
<p>Баярлалаа,<br/>
Сью</p>
<p>Сью Гарднер<br/>
Гүйцэтгэх Захирал,<br/>
Викимедиа Сан <a class="external autonumber"
href="https://donate.wikimedia.org">[1]</a></p>
<p>Биднийг дагаарай, <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a>, <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, лайк
дараарай, <a
href="https://www.facebook.com/wikipedia">Facebook</a>, <a
href="https://blog.wikimedia.org">read our blog</a>. Энд <a
href="https://wikimediafoundation.org/wiki/Annual_Report">Wikimedia
Foundation annual report for 2010-11</a>, <a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">Wikimedia
Foundation annual plan for 2012-13</a> мөн <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Wikimedia
Foundation’s five-year strategic plan</a> талаар байна. Та
мөн <a href="https://shop.wikimedia.org">shop.wikimedia.org</a>-аас
Википедиагийн бараа бүтээгдэхүүнийг
худалдан авч болно.</p>
<p>Тэмдэглэл: Таны {{ receive_date }} өдрийн
хандивын хэмжээ
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>
<p>Гарах сонголт: Бид таныг хандивлагчийн
хувьд манай хамт олон, сан байгуулагч
нарын талаар мэдээлэлтэй байлгахыг
хүсдэг. Гэсэн хэдий ч та иймэрхүү имэйл
хүлээн авахыг хүсэхгүй байвал доор дарна
уу, бид таныг жагсаалтаас хасах болно.:</p>
<p><a style="padding-left: 25px;"
href="{{unsubscribe_link|raw}}">Бүртгэлээс гарах</a></p>
<p>Энэ захианд зөвхөн таны хандивын
талаар бичсэн ба үүнд ямар нэгэн хагас
эсвэл бүтэн бараа бүтээгдэхүүн,
үйлчилгээ дагалдаагүй болно. Википедиа
Сан бол ашгийн бус сайн санааны
корпораци. Манай хаяг 149 Нью Монтгомери,
3н давхар, Сан Франциско, CA, 94105. U.S.</p>