{% if first_name and last_name %}
<p>Здравствуйте, {{ first_name }}!</p>

{% else %}
<p>Уважаемый спонсор!</p>
{%endif%}

<p>Благодарим Вас за пожертвование {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} Фонду Викимедиа. Фонд Викимедиа является некоммерческой организацией, которая поддерживает проект Википедия и другие бесплатные образовательные проекты. Наша миссия – создание самого доступного и всеобъемлющего источника свободной информации в мире.</p>

<p>{% if "RecurringRestarted" in contribution_tags %} Мы недавно решили маленькую техническую проблему, которая приостанавливала повторяющиеся пожертвования. Мы восстановили Ваше ежемесячное пожертвование, и в будущем оно будет обрабатываться нормально. Мы не возьмем с Вас средства за месяцы, которые были пропущены. Спасибо за Ваше терпение и за Вашу поддержку. Не стесняйтесь задавать любые вопросы по адресу donate@wikimedia.org. {%endif%}</p>

<p>{% if "UnrecordedCharge" in contribution_tags %} Мы недавно ликвидировали техническую проблему, из-за которой некоторые благотворители не получали подтверждение своего пожертвования. Примите это письмо как благодарность за ваше пожертвование $date. Мы по-настоящему ценим ваше терпение и поддержку. Пожалуйста, адресуйте любые возникающие вопросы на адрес электронной почты donate@wikimedia.org. {%endif%}</p>

<p>Мы верим в то, что знание является основополагающим правом каждого человека. По мере того, как человечество приближается к цифровому будущему, мы нуждаемся в открытых, публичных Интернет-ресурсах для получения знаний. Викимедиа является таким ресурсом. Википедия бесплатно предоставляет людям знания, собранные людьми на сотнях языках по всему миру.</p>

<p>В течение года люди на всех континентах, включая Антарктику, читают и редактируют Википедию. Почти полмиллиарда людей посещают Википедию каждый месяц для получения различной информации: от сохранения культурного наследия до диагностирования рака или для выполнения домашнего задания. Они приходят, чтобы что-то узнать. Они остаются и делают для себя новые открытия.</p>

<p>Каждый из нас является потенциальным создателем Википедии. Если вы не нашли в Википедии то, что искали, вы можете начать <a rel="nofollow" class="external text" href="https:///ru.wikipedia.org/wiki/Special:UserLogin?type=signup&amp;campaign=lila2015">собирать эту информацию сами</a>. Статьи, слова, иллюстрации и данные собираются огромным сообществом людей, которые добровольно делятся своими знаниями со всем миром.</p>

<p>Каждый день мы спрашиваем себя, каким образом мы можем усилить наше влияние на процесс распространения знаний и сделать так, чтобы завтра информация в Википедии и других родственных ресурсах стала более точной, полной и доступной, чем сегодня. Ваше пожертвование поможет приблизиться к этой цели.</p>

<p>Благодарим за ваш вклад в наше развитие и возможность влиять на жизнь людей в течение еще одного года.</p>

<p>Ляля Третикова,<br/>
исполнительный директор<br/>
Фонда Викимедиа<br/></p>

<p>Многие компании присоединяются к пожертвованиям своих сотрудников: узнайте в своей компании о существовании <a class="external text" href="https://wikimediafoundation.org/wiki/Matching_Gifts/form">корпоративной программы участия в пожертвованиях</a>.</p>

<p>Для справки: ваше пожертвование № {{ transaction_id }} от {{ receive_date }} составило {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

{% if recurring %}<p> Ваше пожертвование является частью регулярной подписки. Ежемесячные платежи будут взиматься Фондом Викимедиа до тех пор, пока Вы не известите нас об их прекращении. Если Вы желаете остановить платежи, пожалуйста, ознакомьтесь с нашими <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">несложными инструкциями по отмене таких платежей</a>. </p>{%endif%}

<p>Это письмо может служить подтверждением вашего пожертвования. За этот вклад не были предоставлены никакие товары или услуги, ни в целом, ни частично. Фонд Викимедиа (The Wikimedia Foundation, Inc.) — некоммерческая благотворительная корпорация со статусом освобождения от налогов 501(c)(3) в Соединённых Штатах. Наш адрес: Нью-Монтгомери-стрит, д. 149, 3 эт., Сан-Франциско, Калифорния, 94105 (149 New Montgomery, 3rd Floor, San Francisco, CA, 94105). Номер освобождения от налогов США: 20-0049703.</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20150904/ru&oldid=13646651","name":"thank_you.ru.html","revision":13646651}TI_END -->