{% if first_name and last_name %}
<p>Ciao {{ first_name }}!
</p>{% else %}<p>
Caro/a donatore/trice,</p>
{%endif%}

<p>sono estremamente felice che sia mio compito ringraziarti per il tuo contributo {% if recurring %}
mensile
{%endif%}di {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} a Wikipedia e alla Wikimedia Foundation. 
</p>

<p>La storia in breve di Wikipedia è la storia di un individuo, proprio come te, che dedica una piccola parte di se stesso per mantenere aperte le porte della scoperta. Il tuo contributo {% if recurring %}
mensile ricorrente
{%endif%}dimostra che lo spirito della nostra visione è vivo e vegeto.
</p>

{% if "RecurringRestarted" in contribution_tags %}
<p>Siamo riusciti a risolvere recentemente dei piccoli problemi tecnici che avevano messo in pausa alcune donazioni mensili ricorrenti. Abbiamo ripristinato la tua donazione ricorrente che verrà processata regolarmente d’ora in avanti. Non ti verranno addebitati i mesi di sospensione. Ti ringraziamo per la tua pazienza e per il tuo supporto, e se hai delle domande non esitare a scriverci al seguente indirizzo e-mail  donate@wikimedia.org.</p>
{%endif%}

{% if "UnrecordedCharge" in contribution_tags %}
<p>Siamo riusciti a risolvere recentemente dei problemi tecnici che hanno impedito ad un piccolo numero di donatori di ricevere la conferma della propria donazione. Ti preghiamo di accettare questa e-mail come ringraziamento della tua donazione del {{ receive_date }}. Ti ringraziamo tantissimo della tua pazienza e del tuo supporto e se hai delle domande non esitare a scriverci al seguente indirizzo e-mail:  donate@wikimedia.org.</p>
{%endif%}

{% if recurring %}
<p>La tua donazione permette a Wikipedia di rimanere indipendente e il tuo supporto mensile è essenziale per una progettazione di lungo termine, perché ci aiuta a vedere ciò che Wikipedia può raggiungere negli anni a venire. Una volta al mese, una donazione di {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} ti verrà addebitata fino a quando non ci chiederai di interromperla. <b>Ogni Gennaio ti invieremo un resoconto delle tue donazioni per l’anno precedente.</b> Se per qualsiasi ragione desiderassi cancellare la tua donazione, segui queste <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">istruzioni per annullare facilmente la tua donazione</a>.</p>
{%endif%}

<p>Probabilmente hai deciso di fare una donazione perché Wikipedia ti è utile. Questa è una delle principali spiegazioni che mi danno le persone a cui chiedo perché supportano Wikipedia. Ma ciò che può sorprenderti è che una delle prime ragioni per cui le persone non donano è che non possono permetterselo.
</p>

<p>Noi della Wikimedia Foundation crediamo che nessuno dovrebbe pagare per imparare. Crediamo che la conoscenza debba sempre essere libera e gratuita. Non chiederemo mai a nessuno di pagare per usare Wikipedia. Ma quindi, come possiamo sostenere l’infrastruttura di uno dei siti web più visitati al mondo?
</p>

<p>Grazie alla generosità di persone come te.
</p>

<p>Wikipedia è tua: per essere letta, per essere scritta, per perderti in essa. Non siamo la destinazione, siamo il principio.
</p>

{% if first_name and last_name %}
<p>{{ first_name }}, grazie per il tuo aiuto alla crescita della conoscenza libera.
</p>{% else %}<p>
Grazie per il tuo aiuto alla crescita della conoscenza libera.</p>
{%endif%}

<p>Katherine<br/><br/>
<br/><br/>
Katherine Maher<br/>
Direttrice esecutiva, Wikimedia Foundation
</p>

<p>Molti datori di lavoro verseranno con generosità gli stessi contributi dei propri dipendenti: verifica con il tuo datore di lavoro che questi abbiano un <a class="external text" href="https://donate.wikimedia.org/wiki/Matching_Gifts">programma aziendale di matching gift</a>.
</p>

<p>Dettagli della donazione: La tua donazione, numero {{ transaction_id }}, del {{ receive_date }}, è di {{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.
</p>

<p>Questa lettera può servire come copia di attestazione della tua donazione. Per questo contributo non sono stati forniti, in tutto o in parte, né beni né servizi. Inviare la corrispondenza a: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA. Numero per esenzione fiscale degli Stati Uniti: 20-0049703
</p>

<p>Se non desideri ricevere altre e-mail di raccolta fondi da Wikimedia Foundation, puoi <a href="{{ unsubscribe_link | raw }}">annullare subito la tua iscrizione</a>. Nota: continueremo a inviarti ricevute come questa per future donazioni.
</p>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_2018-10-01/it&amp;oldid=19073512","name":"thank_you.it.html","revision":19073512}TI_END -->