<p>親愛的$firstname，</p>

<p>維基有您真是太美好了。萬分感謝您願意支持：營運維基媒體與其他姊妹計畫的非營利組織，維基媒體基金會。</p>

<p>您的捐款能夠資助您和所有其他使用者在維基百科上活動的支出。</p>

<p>就像紐約州北部的退休農夫使用維基百科研究軟泥的知識；或是吉隆坡的學生研讀有機化學。一位英國的機械工程師在一場意外中摔斷了背部之後，使用維基百科把自己重新訓練成一位網站工程師。一位芬蘭的公務員為一所在迦納的小學校打造了一個離線版的維基百科。以及一位墨西哥市的父親，在周末帶他的小女兒們去博物館時，維基百科幫助他們瞭解他們在那裡看到的所有東西。</p>

<p>維基百科的目標是將全人類知識的總和帶給世界上的每個人。這實在是一個相當狂妄的計畫。但看看我們現在已經擁有三千萬筆條目和
287
種語言，我們想要感謝您和其他像您一樣的志願者，我們就快要達成這個狂妄的目標了。</p>

<p>謹代表維基媒體基金會，以及全球五億使用者，向您再次致謝。您的捐款代表維基百科能夠持續保持無廣告贊助及超然獨立，讓維基百科能專注在幫助它的讀者──而這正是維基百科應該做到的事。</p>

<p>您也許注意到今年我們首次更改了勸募的方式，大部分的人只會看到幾次勸募橫幅而不是連續幾週。我們做出的這個改變是不希望使用者被過度干擾。但這卻導致更多的使用者以為我們不是個非營利組織，而我們非常需要他們的幫忙。所以如果您願意的話，希望您能協助轉發這封郵件給您的親朋好友，我們十分感激。</p>

<p>同時我們也希望您能試著加入編寫維基百科的隊伍。維基百科是完全由志願者──成千上萬世界各地就像我們一樣的普通人們──編寫而成的。如果您在維基百科上看到錯字或是一些小錯誤，請幫忙修正。如果您知道任何值得加入的知識，請幫忙添加。會有很多人因此受益良多，而也許您也會。</p>

<p>再次感謝您。我們非常感謝您願意相信我們，並向您保證我們將會善用您的捐款。</p>

<p>萬分感謝，<br/>
Sue</p>

<p>Sue Gardner<br/>
執行長，<br/>
維基媒體基金會<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>許多公司會有員工捐款後，雇主再加倍的條款。請向您的公司詢問是否有此條款。您可以在
<a href="https://twitter.com/Wikipedia">Twitter</a>、<a
href="https://identi.ca/wikipedia">identi.ca</a>、<a
href="https://plus.google.com/+Wikipedia/posts">Google+</a> 上追蹤我們；或是在 <a
href="https://www.facebook.com/wikipedia">Facebook</a> 上給我們一個讚，也可以 <a
href="https://blog.wikimedia.org">參觀我們的官方部落格</a>。 這是<a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">維基媒體基金會在
2011 年 12 月發布的年度報表</a>、<a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">維基媒體基金會
2013-2014 年的年度計畫書</a> 以及<a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">維基媒體基金會的五年計畫書</a>。您也可以在<a
href="https://shop.wikimedia.org">shop.wikimedia.org 商店</a>購買維基百科商品。</p>

<p>供您紀錄：您於 {{ receive_date }} 捐出
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}。 捐贈號碼
{{ transaction_id }}</p>

<p>{% if recurring %}
此捐款是一份重複性的訂閱捐款。維基媒體基金會每月將會持續收到您的捐款，直到您通知我們停止。如果您想要取消此訂閱捐款，請參閱我們的<a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">簡易取消訂閱捐款指南</a>。 {% endif %}</p>

<p>這封信可以成為你捐款的一份紀錄。在這全部或一部份的建構中，沒有任何商品或服務被提供。維基媒體基金會，本公司在美國是一個免賦稅的非營利慈善團體。我們的地址位於美國94105加州舊金山新蒙哥馬利街149號3樓。免賦稅編號：20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>取消訂閱選項</p>
 
<p>我們希望讓您了解我們的社群和募捐活動。如果您不喜歡收到此類郵件，請點擊下面的連接取消訂閱。</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">取消訂閱</a></p>
  </div>
</div>

<p>
  <br/>
</p>

<hr/>

<p>請協助我們<a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">翻譯</a>這封郵件.</p>
