<p>Скъпи(а) {{ first_name }},</p>

<p>Ти си изключителен(на). БЛАГОДАРЯ ТИ за подкрепата на
Wikimedia Foundation, организацията с идеална цел, управляваща
Уикипедиа и другите сродни проекти.</p>

<p>Твоето дарение покрива не само разходите,
позволяващи ти да използваш Уикипедия, но също така и
разходите за други нейни читатели.</p>

<p>Kато пенсионираният фермер от Ню Йорк, който използва
Уикипедия, за да научи за глинените разтвори или
студентът от Куала Лумпур, който изучава органична
химия. Като британският механик, който след като
счупил гръбначния си стълб при катастрофа, използвал
Уикипедия, за да стане уеб разработчик. Държавния
служител от Финландия, който създал офлайн версия на
Уикипедия за малко училище в Гана. И бащата от Мексико
сити, който води дъщерите си на музей всеки уикенд и
после използва Уикипедия, за да им помогне да разберат
всичко, което са видяли там.</p>

<p>Работата на Уикипедиа е да предостави цялото
сумарното човешко познание на всеки по света и то на
неговия собствен език. Това е твърде дръзка мисия, но с
30 милиона статии и 287 езика, аз бих казал, че
благодарение на теб и хора като теб ние успяваме да го
постигнем.</p>

<p>От името на фондация Уикимедия и половин милиард
читатели на Уикипедия по света: сърдечни
благодарности. Фактът че помагаш на Уикипедия да
посрещне разходите си означава, че тя може да остане
безпристастна, независима и свободна от реклама,
фокусирана единствено върху задачата да помага на
читателите си. Точно така, както трябва да бъде.</p>

<p>Може би си забелязал, че тази година за пръв път
банерите за набиране на средства са така оптимирани,
че всеки потребител да ги вижда само отвреме навреме,
вместо непркъснато в продължение на седмици.
Направихме това с цел да не дразним хората със своите
молби. Но това от своя страна означава, че по малко хора
ще научат, че сме неправителствена организация и имаме
нужда от тяхната помощ. Така че, ако имаш желание,
помогни за разпространението на тази информация, като
препратиш този имейл на свои приятели.</p>

<p>Също така ще ти бъдем изключително благодарни ако се
присъединиш към нас и ни помогнеш с писането на
Уикипедия. Уикипедия се пише изцяло от доброволци-
десетки хиляди обикновени хора по света, точно като
теб и мен. Ако видиш някакви грешки в Уикипедия, моля те
поправи ги. Ако смяташ че има какво да добавиш, моля те
направи го. Някои хора намират това занимание за
изключително удовлетворяващо, може би ти ще станеш
един от тях.</p>

<p>Благодаря ти отново. Аз високо оценявам твоята вяра в
нас и ти обещавам: ние ще използваме парите ти добре и
внимателно.</p>

<p>Благодаря,<br/>
Сю</p>

<p>Сю Гарднър<br/>
Изпълнителен директор,<br/>
Wikimedia фондация<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Много работодатели компенсират даренията на
служителите си: моля провери дали компанията, за която
работиш има подобна програма. Можеш да ни следиш на <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> или <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, да ни харесаш на <a
href="https://www.facebook.com/wikipedia">Facebook</a> и <a href="https://blog.wikimedia.org">read
our blog</a>. Тук се намират <a
href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_Foundation/Annual_Report/2012-2013/Front">Wikimedia
Foundation annual report for 2011-12</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">the Wikimedia
Foundation annual plan for 2013-2014</a> и <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">Wikimedia
Foundation’s five-year strategic plan</a>. Също така можеш да закупиш
търговските продукти на Уикипедия тук <a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>

<p>За твое сведение: Твоето дарение {{ transaction_id }},
на {{ receive_date }} беше
{{ (currency ~ " " ~ amount) | l10n_currency(locale) }}.</p>

<p>{% if recurring %} Това дарение не е еднократно. Сумата на
дарението ти ще бъде теглена от сметката ти всеки
месец от фондация Уикимедия, докато не ни уведомиш, че
не желаеш да даряваш повече. Ако искаш да прекратиш
плащанията моля виж тук <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">easy cancellation instructions</a>. {% endif %}</p>

<p>Това писмо може да послужи като запис за вашето
дарение. За този принос нито изцяло, нито частично се
полагат някакви стоки или услуги. Фондация Уикимедия е
нестопанска благотворителна организация със статут
на освободена от данъци 501(c)(3)в САЩ, индекс 20-0049703.
Нашият адрес е 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. U.S.</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Опция за отписване</p>
  <p>Като наш дарител бихме искали да бъдеш информиран/а
за дейността на общността ни и за дарителските
кампании. Ако обаче предпочиташ да не получаваш
подобни писма от нас, моля, отбележи го в полето по-долу
и ще премахнем името ти от списъка</p>
  <div style="margin: 0 25px">
    <p><a href="{{unsubscribe_link|raw}}">Unsubscribe</a></p>
  </div>
</div>

<p>
  <br/>
</p>

<hr/>

<p>Моля помогни ни да <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">преведем</a>
това писмо.</p>