<p>Caro(a) {{contact.first_name}},</p>
<p>Você é tão fantástico(a). OBRIGADO por apoiar a Fundação Wikimedia, a ONG que administra a
Wikipedia e os seus projetos irmãos.</p>
<p>A sua doação cobre não só os seus próprios custos de usar a Wikipedia, mas também os custos
de outros leitores da Wikipédia.</p>
<p>Como o agricultor aposentado no norte do estado de Nova York que usa a Wikipedia para estudar a
ciência do lodo, e o estudante de Kuala Lumpur que pesquisa química orgânica. O mecânico
britânico que, depois que partir a coluna num acidente, usou a Wikipedia para aprender o ofício de
desenvolvedor da web. O funcionário público da Finlândia que instalou uma versão offline da
Wikipedia para uma pequena escola do Gana. E o pai dedicado da Cidade do México que leva as suas
duas filhas pequenas ao museu nos fins de semana, e usa a Wikipedia para ajudá-las a entender tudo
o que lá viram.</p>
<p>O trabalho da Wikipedia é o de trazer a soma total do conhecimento humano a todos em todo o
mundo na sua própria língua. Isto é uma missão bastante audaciosa, mas com 30 milhões de
artigos e 287 línguas, diria que graças a si e gente como você, estamos a chegar lá.</p>
<p>Em nome da Fundação Wikimedia, e de outros 500 milhões de leitores da Wikipedia ao redor do
mundo: obrigado. O facto de que você está a ajudar a pagar os custos de funcionamento da Wikipedia
significa que ela pode continuar sem anúncios e independente de preconceito, focada apenas em
ajudar os seus leitores. Exatamente como deve ser.</p>
<p>Poderá ter notado que pela primeira vez este ano sincronizamos perfeitamente a nossa
angariação de fundos de forma a que a maioria das pessoas veja estas notificações apenas algumas
vezes, em vez de por semanas a fio. Isto é deliberado: não queremos que as pessoas se irritem com
tantos apelos. Mas isto significa que menos pessoas ficarão a saber que somos uma ONG e que
queremos a ajuda delas. Então, se estiver disposto, gostaria muito que nos ajudasse a espalhar a
palavra, encaminhando esta mensagem para alguns dos seus amigos.</p>
<p>E adoraria se se tentasse juntar a nós ajudando a escrever a Wikipedia. A Wikipedia é escrita
inteiramente por voluntários -- dezenas de milhares de pessoas comuns ao redor do mundo, exatamente
como nós. Se notar um erro tipográfico, ou um pequeno erro na Wikipedia, por favor corrija-o. Se
sabe algo que valha a pena adicionar à Wikipedia, por favor, faça-o. Algumas pessoas consideram
isso fantasticamente recompensador, e talvez o mesmo se passará consigo.</p>
<p>Obrigado novamente. Aprecio muito a sua confiança em nós, e prometo: vamos usar seu dinheiro
cuidadosamente e bem.</p>
<p>Obrigada,<br/>
Sue</p>
<p>Sue Gardner<br/>
Diretora Executiva,<br/>
Fundação Wikimedia<br/>
<a href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>
<p>Muitos empregadores vão igualar a contribuição dos seus empregados, o que dobrará o seu
donativo: por favor verifique com a sua empresa se ela tem um programa de igualação de presente
corporativo (<i>corporate matching gift program</i>). Pode seguir-nos no <a
href="https://twitter.com/Wikipedia">Twitter</a>, <a
href="https://identi.ca/wikipedia">identi.ca</a> ou <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>, dar-nos um like no <a
href="https://www.facebook.com/wikipedia">Facebook</a> e <a href="https://blog.wikimedia.org">ler o
nosso blog</a>. Aqui está o <a href="https://wikimediafoundation.org/wiki/Annual_Report">relatório
anual da Fundação Wikimedia de 2011-12</a>, <a
href="http://wikimediafoundation.org/wiki/2013-2014_Annual_Plan_Questions_and_Answers">o plano anual
da Fundação Wikimedia para 2013-2014</a> e o <a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">plano
estratégico de cinco anos da Fundação Wikimedia</a>. Pode também comprar merchandising da
Wikimedia em <a href="https://shop.wikimedia.org">shop.wikimedia.org</a>.</p>
<p>Para os seus registos: A sua doação, número {{contribution.id}}, em
{{contribution.receive_date}} foi de {{contribution.contribution_source|l10n_currency(locale)}}.</p>
<p>{% if recurring %} Esta doação é parte de uma doação renovável. Pagamentos mensais serão
debitados pela Wikimedia Foundation, até que nos notifique para parar. Se desejar cancelar os
pagamentos, por favor veja nossas instruções em <a
href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&country={{
country }}&language={{ language }}">easy cancellation instructions</a>. {% endif %}</p>
<p>Esta carta pode servir como registo da sua doação. Nenhum produto ou serviço foi fornecido,
num todo ou em parte, por essa contribuição. A Wikimedia Foundation, Inc. é uma organização
caridosa sem fins lucrativos com o status de isenção de impostos 501(c)(3) nos Estados Unidos da
América. A nossa morada é 149 New Montgomery, 3rd Floor, San Francisco, CA, 94105. Número de
identificação de isenção de impostos: 20-0049703</p>
<div style="border: 1px solid black; padding:0 10px 5px 10px;"><p>Opção de sair da lista de
emails:</p><p>Gostaríamos de o manter como um doador informado sobre as nossas atividades da
comunidade e campanhas de angariação de fundos. Contudo, se preferir não receber os nossos
e-mails, por favor clique abaixo e será retirado da lista.</p><div style="margin: 0 25px"><p><a
href="{{unsubscribe_link|raw}}">Cancelar a subscrição</a></p></div></div>
<p><br/></p>
<hr/>
<p>Por favor ajude-nos a <a
href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=page-Fundraising%2FTranslation%2FThank_you_email_20131202">traduzir</a>
este e-mail.</p>