<p>尊敬的$familyname{{contact.first_name}}，</p>
<p>感谢您捐款予维基媒体基金会。非常感激！</p>
<p>我们的募捐条幅很容易会被忽略，我真的很高兴您没有这样做。维基百科这样来支付它的开销——向您一样的人们向我们捐款，因此我们能够使这个网站保持免费，向世界上所有人开放。</p>
<p>人们告诉我他们向维基百科捐款是因为他们认为它非常有用。并且他们信任它，因为他们知道它是为他们而写的，尽管它并不完美。维基百科并非为了提高某些人的知名度，推行某种观念，或者说服年相信某些错误的事情。我们致力于陈述事实，正式因为您我们才能做到这一切。您对此网站的支持让我们保持独立，让我们有能力提供您需要的内容。事实的确如此。</p>
<p>您应当悉知：您的捐款不仅用于自己的成本开销。一般的捐助者不仅支付了他（她）自己使用维基百科的成本，还有成百上千其他人的成本。您的捐款让维基百科能够被自学计算机编程的班加罗尔女孩，刚刚被诊断为帕金森氏症的维也纳主妇，研究19世纪50年代英国的小说家，刚刚接触卡尔·萨根的圣萨瓦尔多10岁少年，所有这些人，自由使用。</p>
<p>我代表这些人，和约5亿其他维基百科及其姊妹计划的读者，对您表示感谢。正是您的努力，帮助我们让每一个人都能分享人类知识的总和。您的捐款让世界变得更加美好。谢谢您。</p>
<p>大多数人不知道维基百科由一家非盈利机构运营。请考虑分享这封邮件给您的朋友来鼓励他们也进行捐款。如果您感兴趣，您也可以尝试为维基百科添加新内容。如果您看到错别字或者其他小错误，请修正它，如果您发现某些内容缺失，请补充。
您可以从[#edit 这里]得到帮助并开始。
不要担心会犯错误：这对于每一个开始第一次编辑的用户而言都是正常的。如果您犯错了，其他维基人会很乐意为您解决。</p>
<p>感谢您对我们的信任，我向您保证我们会合理使用您捐款。</p>
<p>谢谢，<br/>
Sue</p>
<p>Sue Gardner<br/>
执行董事<br/>
维基媒体基金会 <a class="external autonumber"
href="https://donate.wikimedia.org">[1]</a></p>
<p>您可以在<a href="https://twitter.com/Wikipedia">Twitter</a>，<a
href="https://identi.ca/wikipedia">identi.ca</a> 或 <a
href="https://plus.google.com/+Wikipedia/posts">Google+</a>上关注我们，在<a
href="https://www.facebook.com/wikipedia">Facebook</a>上加“喜欢”，或者<a
href="https://blog.wikimedia.org">阅读我们的博客</a>。 <a
href="https://wikimediafoundation.org/wiki/Annual_Report">维基媒体基金会2010-11年年报</a>，<a
href="http://upload.wikimedia.org/wikipedia/foundation/4/4f/2012-13_Wikimedia_Foundation_Plan_FINAL_FOR_WEBSITE.pdf">维基媒体基金会2012-13年年报</a>以及<a
href="https://wikimediafoundation.org/wiki/Wikimedia_Movement_Strategic_Plan_Summary">维基媒体基金会五年战略计划</a>在此。
现在您还可以在<a
href="https://shop.wikimedia.org">shop.wikimedia.org</a>上购买维基百科商品。</p>
<p>For your records: Your donation on {{contribution.receive_date}} was
{{contribution.contribution_source|l10n_currency(locale)}}.</p>
<p>停用选项:
我们希望让您作为捐赠者随时获悉我们的社区活动和募捐活动。如果您不希望接收这些邮件，请单击下面的按钮，我们会将您从列表中去掉:</p>
<p><a style="padding-left: 25px;"
href="{{unsubscribe_link|raw}}">取消订阅</a></p>
<p>这封信可以作为您捐款的记录。该贡献不会提供任何的商品或服务。维基媒体基金会是一个非营利501(c)(3)免税的美国慈善机构。我们的地址是149
New Montgomery, 3rd Floor, San Francisco, CA,
94105。美国的免税号：20-0049703。</p>