{% if first_name and last_name %}
<p>Drogi/Droga {{ first_name }}</p>

{% else %}
<p>Drogi darczyńco,</p>
{%endif%}

<p>Dziękuję za Twój cenny dar, który pozwala zapewnić dostęp do ogromnego zbioru wiedzy osobom z całego świata.</p>

<p>{% if "RecurringRestarted" in contribution_tags %} Niedawno rozwiązaliśmy mały problem techniczny, który był przyczyną wstrzymania niektórych dotacji okresowych. Udało się nam w pełni uruchomić ponownie usługę dotacji okresowych, a proces przekazywania funduszy powinien przebiegać bez zakłóceń. Twoje konto, z którego pobierane były dostacje, nie zostanie obciążone wpłatami, które zostały pominięte. Dziękujemy za Twoją cierpliwość, wyrozumiałość i wsparcie. Jeżeli masz jakiekolwiek pytania, prosimy o kontakt pod adresem donate@wikimedia.org. {%endif%}</p>

<p>{% if "UnrecordedCharge" in contribution_tags %} Rozwiązaliśmy niedawno problem techniczny, który powodował, że niewielka liczba darczyńców okresowych nie otrzymywała potwierdzenia do celów podatkowych. Potraktuj proszę tą wiadomość jako podziękowanie za darowiznę dokonaną dnia {{ receive_date }}. Ta wiadomość jest również potwierdzeniem złożenia darowizn we wcześniejszych miesiącach 2014 roku, jednakże nie może posłużyć jako potwierdzenie złożenia kolejnej darowizny po {{ receive_date }}. Dziękujemy za wyrozumiałość i wsparcie, a listy z podziękowaniami powinny być w przyszłości wysyłane bez zakłóceń. W razie jakichkolwiek pytań prosimy o kontakt pod adresem donate@wikimedia.org. {%endif%}</p>

<p>Nazywam się Lila Tretikov i jestem Dyrektorem Wykonawczym Wikimedia Foundation. Przez ostatni rok dotacje - takie jak Twoja - wsparły naszą pracę i pozwoliły na rozbudowę encyklopedii do 287 edycji językowych, a także ułatwienie dostępu do niej coraz większej liczbie osób z całego świata. Szczególnie mocno staramy się oddziaływać na te regiony, w których nie ma dostępu do edukacji. Zapewniamy dostęp do wiedzy osobom takim jak Akshaya Iyengar z miasta Solapur w Indiach. Dorastając w tym niewielkim ośrodku przemysłu włókienniczego, Akshaya używała Wikipedii jako podstawowego źródła informacji. W regionach, gdzie książki są rzadkością, ale dostępny jest mobilny internet, Wikipedia odgrywa bardzo istotną rolę. Akshaya ukończyła uczelnię wyższą w Indiach i pracuje teraz jako inżynier oprogramowania w Stanach Zjednoczonych. Jak twierdzi, dzięki Wikipedii uzyskała połowę swojej wiedzy.</p>

<p>To nie jest jednorazowy przypadek. Nasza misja jest wzniosła i pełna wyzwań. Większość osób korzystających z Wikipedii jest zaskoczona, gdy dowiadują się, że jest ona wspierana przez organizację pożytku publicznego i utrzymywana dzięki dotacjom jej czytelników. Co roku wspiera nas tyle osób, ile trzeba, byśmy mogli zapewnić dostęp do całości ludzkiej wiedzy dla całego świata. Dziękuję, że pomagasz nam w tym działaniu.</p>

<p>W imieniu pół miliarda czytelników i czytelniczek Wikipedii, tysięcy ochotników ją tworzących i wszystkich pracowników Wikimedia Foundation, dziękuję za pomoc w pokryciu kosztów utrzymania Wikipedii on-line i bez reklam.</p>

<p>Dziękuję,<br/>
Lila</p>

<p>Lila Tretikov<br/>
Dyrektor Wykonawczy,<br/>
Wikimedia Foundation<br/>
<a class="external text" href="https://donate.wikimedia.org/">donate.wikimedia.org</a></p>

<p>Dla Twojego użytku: Twoja darowizna o numerze {{ transaction_id }} w wysokości {{ (currency ~ " " ~ amount) | l10n_currency(locale) }} została złożona w dniu {{ receive_date }}.</p>

{% if recurring %}<p> Ta wpłata jest częścią darowizny okresowej. Comiesięczne płatności będą pobierane z Twojego konta przez Wikimedia Foundation do momentu w którym poinformujesz nas o chęci rezygnacji. Jeśli chcesz anulować swoją darowiznę okresową, zapoznaj się z naszymi <a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_payments&basic=true&language={{ locale }}">instrukcjami rezygnacji</a>. </p>{%endif%}

<p>Ta wiadomość stanowi dowód złożenia przez Ciebie darowizny. Wikimedia Foundation, Inc. jest organizacją użyteczności publicznej zwolnioną z podatku na podstawie przepisów § 501(c)(3) federalnego kodeksu podatkowego Stanów Zjednoczonych. Nasz adres to 149 New Montgomery St, 3rd Floor, San Francisco, CA, 94105. Numer identyfikacji podatkowej: 20-0049703</p>

<div style="border: 1px solid black; padding:0 10px 5px 10px;">
  <p>Rezygnacja z subskrypcji:</p>
  <p><br/>
Ponieważ jesteś naszym darczyńcą, chcielibyśmy informować Cię o niektórych przedsięwzięciach społeczności Wikimedia i zbiórkach funduszy. Jeśli jednak nie chcesz otrzymywać od nas takich wiadomości, kliknij na link poniżej, a my usuniemy Twój adres e-mail z naszej listy subskrybentów.</p>
  <div style="margin: 0 25px">
    <p><a href="{{ unsubscribe_link | raw }}">Zrezygnuj z subskrypcji</a></p>
  </div>
</div>

<!-- TI_BEGIN{"version":1,"sourceUrl":"https://meta.wikimedia.org/w/index.php?title=Fundraising/Translation/Thank_you_email_20140606/pl&oldid=9822333","name":"thank_you.pl.html","revision":9822333}TI_END -->