<p>Minamahal na {{ contact.first_name }}</p>

<p>Isa kang kamangha-manghang tao at maraming salamat po sa inyong pagkakaloob sa
Pundasyong Wikimedia!</p>

<p>Ganito naming binabayaran ang aming mga gastusin -- sa pamamagitan ng mga taong tulad
mo na nagbibigay ng limang dolyar, dalawampung dolyar, sandaang dolyar.  Ang
pinakapaborito kong kaloob mula sa nakaraang taon ay mula sa isang batang babae mula sa
Inglatera noong na nagbahagi ng limang libra, na nakiusap pa sa kaniyang mga magulang na
payagan siyang ipagkaloob ang kaniyang baon.  Ang mga taong tulad mo, na nakisali sa
batang babaeng iyon, ang dahilan kung bakit posibleng gawin ng Wikipedia ang pagbabahagi
ng malaya at mapag-aabutang impormasyon nang walang kinikilingan, para sa lahat ng tao sa
mundo.  Sa lahat ng mga tumutulong sa amin na mabayaran ang mga ito, at kahit na sa ibang
tunay na walang kakayahang makatulong, maraming salamat po.</p>

<p>Alam kong napakadaling huwag pansinin ang aming mga pakiusap, at natutuwa kami na hindi
mo ito ipinagwalang-bahala.  Mula sa inyong lingkod, at sa mahigit 10,000 mga kusang-loob
na nagsususlat ng Wikipedia: maraming salamat sa iyong pagtulong na gawing mas magandang
lugar ang mundong ito.  Maingat naming gagamitin ang inyong kaloob at nagpapasalamat kami
sa ibinigay ninyong pagtitiwala sa amin.</p>

<p>Maraming salamat po,<br />
Sue Gardner<br />
Direktora ng Tagapagpaganap, Pundasyong Wikimedia</p>

<p>Para sa inyong kabatiran: ang inyong kaloob na ginawa noong {{
contribution.receive_date|date("Y-m-d") }} ay may halaga na {{
contribution.contribution_source }}.
{% if recurring %}
{% include 'recurring/tl.html' ignore missing %}
{% endif %}</p>

<p>Ang sulat na ito ay maaaring magsisilbing patunay ng inyong pagkakaloob.  Walang
anumang produkto o serbisyo, maging sa kabuuan o ilang bahagi lamang, ang ibinigay na
kapalit ng ambag na ito. Ang Pundasyong Wikimedia (<i>Wikimedia Foundation, Inc.</i>) ay
isang korporasyong 'di-kumikinabang at mahabagin na may kalagayang 501(c)(3) puwera sa
buwis sa Estados Unidos. Ang aming lihaman ay 149 New Montgomery, 3rd Floor, San
Francisco, CA, 94105. Bilang ng pagkakapuwera sa buwis sa Estados Unidos: 20-0049703</p>

<div style="padding:0 10px 5px 10px; border:1px solid black;">

<p><i>Opsiyon sa 'di-pagsali:</i></p>

<p>Bilang isang tagapagkaloob, nais naming ipagpaalam sa inyo ang lahat ng aming mga
gawaing pampamayanan at paglalagom-puhunan (<i>fundraiser</i>). Kung ayaw niyong
makatanggap ng ganitong uri ng e-liham mula sa amin, i-klik lamang ang buton sa ibaba
upang matanggal kayo sa aming talaan:</p>

<a style="padding-left: 25px;" href="{{ unsubscribe_link|raw }}">Unsubscribe</a>

</div>
