<div class="crm-container">
  <div crm-ui-debug="currentContact"></div>
  <div crm-ui-debug="contactMetadata"></div>
  <div crm-ui-debug="forgotten"></div>

  <h1 crm-page-title><a href="{{currentContactViewUrl}}">{{currentContact.display_name}}</a></h1>

  <button class="btn btn-primary" ng-print print-element-id="all-the-stuff"><i class="fa fa-print"></i> Print</button>

  <form name="myForm" crm-ui-id-scope>
    <div class='crm-grid-table' id="all-the-stuff">
      <div ng-repeat="(currentKey, currentValue) in currentContact" class="crm-grid-row">
        <div ng-show="(currentValue !== '')" class="crm-grid-cell">{{contactMetadata[currentKey]['title']}}</div>
        <div ng-show="(currentValue !== '')" class="crm-grid-cell">{{currentValue}}</div>
      </div>
    </div>
    <input
        crm-ui-id="myForm.reference"
        name="reference"
        class="crm-form-text"
        placeholder="{{ts('Reference')}}"
        ng-model="reference"
    />
    <div>
      <button ng-click="forget()" ng-disabled="formSubmitted">{{ts('Forget')}}</button>
    </div>
    <div ng-show="(forgotten)">
      <div>{{ts('The following data has been forgotten')}}</div>
      <div class='crm-grid-table'>
        <div ng-repeat="forgot in forgotten" class="crm-grid-row">
          <div class="crm-grid-cell">{{forgot}}</div>
        </div>
      </div>
    </div>
  </form>

</div>
