/* Set the height of the editor */
.ck-editor__editable_inline {
  min-height: 20px;
}

/* Set the width of the editor */
.ck.ck-editor {
  max-width: 95%;
}

/* Place elfinder above CiviCRM popup */
.ui-front.dialogelfinder {
  z-index: 9000;
}

.image.image-style-align-center {
  margin: 0 auto;
}

.image.image-style-align-left {
  float: left;
  margin-right: 1em;
}

.image.image-style-align-right,
.image.image-style-side {
  float: right;
  margin-left: 1em;
}

/* CKEditor does not support dark theme, so override the dark theme's white text on CKEditor's white background. */
html body .ck.ck-editor__main * {
  color: black;
}
