%no-border-radius {
  border-radius: 0 !important;
}

// Remove padding for accordions in accordions
details details {
  padding: 0;
}

// These extra selectors are a transition for 5.69
// hopefully we can cleanup one day

.crm-accordion-header,
.crm-accordion-bold > summary {
  @include accordion-header;
  &:not(.crm-master-accordion-header) {
    border-bottom: 1px solid $crm-grayblue-dark;
    font-size: $font-size-base !important;
    font-weight: $crm-font-weight-h3;
    padding: 16px 20px !important;
  }

  .crm-close-accordion {
    margin-top: 5px;
    position: absolute;
    right: 7px;
    top: 7px;
  }

  .helpicon {
    color: $brand-primary;
    opacity: 1;
    float: right;

    &:hover {
      color: $brand-primary;
      opacity: 0.8;
    }
  }
}

.crm-master-accordion-header,
.crm-accordion-light > summary {
  color: $crm-white !important;
  background: $brand-primary !important;
  font-size: $font-size-base !important;
  line-height: 18px;
  padding: 16px 20px !important;
  border-radius: $border-radius-base $border-radius-base 0 0 !important;
  font-weight: $crm-font-weight-h3 !important;

  &::before {
    padding-right: 10px;
  }

  .helpicon {
    color: white;
    font-size: $font-size-base;
    opacity: 1;
    padding-left: 15px;
  }
}

// Exception for accordions on Administer > System Settings > Manage Extensions
.crm-extensions-label > .crm-accordion-light > summary {
  color: inherit !important;
  background: inherit !important;
}

.crm-master-accordion-wrapper,
.crm-accordion-wrapper,
details {
  border-radius: 0;
  margin-bottom: 0;

  &.collapsed .crm-master-accordion-header,
  &.crm-accordion-light[open] {
    border-radius: $border-radius-base !important;
  }
}

.crm-master-accordion-header + .crm-accordion-body,
.crm-accordion-light > .crm-accordion-body {
  border-radius: 0 0 $border-radius-base $border-radius-base !important;
}

.crm-accordion-header:not(.crm-master-accordion-header) + .crm-accordion-body,
.crm-accordion-bold > .crm-accordion-body {
  box-shadow: $crm-box-shadow-inset;
  padding: 15px !important;

  td {
    &.label {
      color: $gray-darker;
      font-weight: $crm-font-weight-h3;
      padding-left: 0;

      label {
        padding: 0;
      }
    }

    label {
      position: relative;
    }
  }
}

.crm-accordion-body {
  @extend %no-border-radius;
  background: $crm-white;
  // using important fixes the New Contact page
  border: 0 !important;
  color: $gray-darker;
  font-family: $font-family-base;
  font-size: $font-size-base;

  .form-item,
  .form-item > table {
    margin: 0;
  }

  td {
    border-right-width: 0;
  }

  > table {
    &,
    td,
    th,
    tr {
      background: none !important;
    }
  }

  .helpicon {
    color: $brand-primary;
    font-size: $font-size-base;
    opacity: 1;
  }

  span,
  div {
    &.description {
      display: block;
      line-height: 1.5em;
    }
  }
}
