/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id, scss/at-extend-no-missing-placeholder, property-no-vendor-prefix */

.help,
#help {
  background: initial;
  border: none;
  color: $text-color;
  padding: 10px 0;
  font-size: 1em;

  a {
    color: darken($brand-primary, $crm-darken-percentage);
  }
}
