.civirpow-container {
  z-index: 100;
  overflow: auto;
  position: fixed;

  left: 1em;
  bottom: 1em;

  min-width: 30%;
  max-width: 50%;
  max-height: 80%;

  margin: 0 auto;
  border: 1px solid black;
  padding: 0.5em;

  /*text-align: center;*/
}

.civirpow-container table td {
  vertical-align: top;
}

.civirpow-ro { background: #9ae; }
.civirpow-rw { background: #dd9; }
.civirpow-container h4 {
  text-align: center;
  font-weight: bold;
}