<div ng-if="!options.conflicts">

</div>
<div ng-if="options.conflicts">

  <h3>{{options.main_display_name}} vs {{options.other_display_name}}</h3>
  <div ng-repeat="(entity, conflicts) in options.conflicts">
    <div ng-repeat="(key, conflict) in conflicts">
      <span ng-if="conflict['title']">{{conflict['title']}}</span>
      <span ng-if="!conflict['title']">{{key}}</span>
      <span ng-if="!conflict['display']"><del>{{conflict[options.main_id]}}</del> <strong>{{conflict[options.other_id]}}</strong></span>
      <div ng-if="conflict['display']"><div></div><del>{{conflict['display'][options.main_id]}}</del></div><div> <strong>{{conflict['display'][options.other_id]}}</strong></div></div>
    </div>
  </div>

</div>
