// Display of FormBuilder (afform) forms on the backend
#crm-main-content-wrapper > crm-angular-js > form#bootstrap-theme {
  // Based on .crm-form-block
  background: #fff;
  box-shadow: 0 3px 18px 0 rgba(48,40,40,0.25);
  border-radius: 2px !important;
}

#crm-main-content-wrapper > crm-angular-js > form#bootstrap-theme {
  >h1 {
    font-size: 2em;
    padding: 0.5em 0.5em;
  }

  fieldset {
    box-shadow: none;
    padding: 0;
    margin: 0;

    // Space out between fieldsets, but not after the h1 page title
    +fieldset {
      margin: 1em 0;
    }

    legend {
      // Similar to this, but we do not want the collapsible icons
      // @include accordion-header;
      position: inherit;
      background: $crm-accordion-header-color !important;
      color: $gray-darker;
      font-weight: $crm-font-weight-bold;
      line-height: 18px;
      padding: 16px 20px;
      width: 100%;
    }

    // Padding for elements in the fieldset (but not the legend)
    >div,
    >button {
      margin: 0 1em;
    }
  }

  .af-repeat-copy-btn, .af-repeat-add-btn, .af-repeat-remove-btn {
    &:hover {
      color: $crm-white;
    }
  }
}

// Widgets
#crm-main-content-wrapper > crm-angular-js > form#bootstrap-theme .crm-af-field,
#crm-main-content-wrapper > crm-angular-js > form#bootstrap-theme .af-field-type-select,
#crm-main-content-wrapper > crm-angular-js > form#bootstrap-theme .select2-container {
  max-width: 600px;
}
#crm-main-content-wrapper > crm-angular-js > form#bootstrap-theme .crm-form-date {
  display: inline-block;
  max-width: 200px;
}

// Primary submit button is outside any wrapper
#crm-main-content-wrapper > crm-angular-js > form#bootstrap-theme af-form > .af-button {
  margin: 1em;
}
