<h2 class="visible">Wikimedia Foundation unsubscribe</h2>
<div id="logo"></div>
<div id="unsub-body">
    <p id="unsub-text">Are you sure you want to unsubscribe <b>{{ contact.email }}</b>?</p>
    <p id="unsub-warning">This will opt you out of e-mails from the Wikimedia Foundation sent to you as a donor. You may still receive e-mails to this e-mail address if it is associated with an account on one of our projects. If you have any questions, please contact <a href="mailto:donations@wikimedia.org">donations@wikimedia.org</a>.</p>
    <br />
    <form id="unsub" method="post">
        <input type="hidden" name="h" value="{{ hash }}">
        <input type="hidden" name="c" value="{{ contribution_id }}">
        <input type="submit" value="Unsubscribe">
    </form>
</div>