<h2 class="visible">Cancelar la subscripción a la Fundación Wikimedia</h2>
<div id="logo"></div>
<div id="unsub-body">
    <p id="unsub-text">Has sido eliminado correctamente de nuestra lista de correo</p>
    <p id="unsub-warning">Puede tardar hasta cuatro 4 días que los cambios surtan efecto. Nos disculpamos por los correos electrónicos que pueda recibir durante este tiempo. Si tiene alguna duda, póngase en contacto con <a href="mailto:donations@wikimedia.org">donations@wikimedia.org</a></donations@wikimedia.org></p>
</div>