// ckeditor5 extension
.ck-editor__editable_inline {
  max-height: 450px;
}

#{$outside-namespace-marker} {
  // Oddly otherwise transparent
  .elfinder.dialogelfinder {
    background: #fff;
  }

  // Displays the file extension, and very clutter-ish
  .elfinder-cwd-icon::before {
    display: none;
  }
}

// Fixes for the summernote editor
.crm-container .note-editor button.note-btn {
  color: #333;
  background-color: #fff;
  border: 1px solid #dae0e5;
  padding: 5px 10px;
}

// Fix reply-to in civimail
// https://github.com/civicrm/org.civicrm.shoreditch/issues/531
.crm-mosaico-page {
  .select2-container .select2-choice {
    min-height: 26px !important;
  }
}

// Claro: Remove container margin (3em)
@media screen and (min-width: 38em) {
  body.toolbar-tray-open:not(.toolbar-vertical) > .page-wrapper > div.layout-container,
  body:not(.toolbar-tray-open) > .page-wrapper > div.layout-container {
    margin-right: 1em;
    margin-left: 1em;
  }
}

// Claro: Remove green shadow on focus
body .page-wrapper :focus,
body .ui-dialog :focus {
  box-shadow: none;
}
