.ui-select-container:not(.civihr-ui-select) {
  &:not(.ui-select-multiple) {
    .btn {
      &.ui-select-toggle {
        border-color: $input-border;
        height: $input-height-base;
        padding: $crm-ui-select-top-padding 10px;
        text-transform: none;
      }

      &:hover {
        background: $crm-white;
      }
    }

    .dropdown-menu {
      border: 1px solid $input-border;
      border-top: 1px solid transparent;
    }

    .ui-select-match-text {
      color: $gray;
      padding-right: 3em;

      span {
        text-overflow: ellipsis;
      }
    }

    .ui-select-match a {
      margin-right: 14px !important;
    }

    .glyphicon-remove {
      font-size: 10px;
    }

    .caret {
      display: none;
    }

    input {
      border: 1px solid $input-border !important;
      box-shadow: none !important;
      height: $input-height-base;
    }

    &::after {
      @include search-icon();
    }
  }

  .text-muted {
    color: $crm-copy;
  }
}

.ui-select-multiple:not(.civihr-ui-select) {
  border: 1px solid $input-border;
  min-height: $input-height-base;
  padding: 3px !important;

  .ui-select-match-item {
    border: 1px solid #ccc;
    padding: 1px 5px;
    text-transform: none;
  }

  .ui-select-search {
    padding-left: 6px !important;
  }

  &::after {
    @include search-icon();
  }
}

.ui-select-bootstrap .ui-select-choices-row:not(.civihr-ui-select) {
  > span {
    color: $gray;
    font-size: $font-size-small;
    padding: 3px 10px;
  }

  &.active > span {
    background: #eeeded;
    color: $gray;
  }
}
