<p>
Ciao {{name}},
</p>

<p>
Sono entusiasta che questa e-mail per te sia uno dei primi punti della mia to-do list del {{year + 1}}. Sia ben chiaro, quella lista è lunga – Wikipedia ha tanti progetti straordinari all’orizzonte – ma ringraziarti è al primo posto.
</p>

<p>
Le tue donazioni ci dimostrano che il nostro lavoro conta e che merita di essere sostenuto. Grazie.
</p>

<p>
Qui trovi un riepilogo di tutte le donazioni che hai fatto alla Wikimedia Foundation nel {{year}}.
</p>

{% for total in totals %}
<p><b>
Il tuo totale per il {{year}} è di {{total.amount}} {{total.currency}}.
</b></p>
{% endfor %}

{% for contribution in contributions %}
<p><b>
Donazione {{contribution.index}}: {{contribution.amount}} {{contribution.currency}} {{contribution.date}}
</b></p>
{% endfor %}

<p>
Se per qualunque ragione desiderassi cancellare la tua donazione mensile, segui queste <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{language}}">semplici istruzioni</a>.
</p>
