<p>
Szanowny/a {{name}},
</p>

<p>
Cieszę się, że ta wiadomość e-mail jest jedną z pierwszych rzeczy na mojej liście zadań w {{year + 1}} roku. Przyznam, że ta lista jest długa – Wikipedia ma tak wiele niesamowitych projektów na horyzoncie, ale podziękowanie Tobie znajduje się na pierwszym miejscu.
</p>

<p>
Twoje darowizny pokazują nam, że nasza praca ma znaczenie i jest warta wsparcia. Dziękujemy.
</p>

<p>
Oto podsumowanie wszystkich darowizn przekazanych Wikimedia Foundation w {{year}} roku.
</p>

{% for total in totals %}
<p><b>
Całkowita suma w roku {{year}} wynosi {{total.amount}} {{total.currency}}.
</b></p>
{% endfor %}

{% for contribution in contributions %}
<p><b>
Darowizna {{contribution.index}}: {{contribution.amount}} {{contribution.currency}} {{contribution.date}}
</b></p>
{% endfor %}

{% if active_recurring %}
<p>
Jeśli z jakiegokolwiek powodu chcesz zrezygnować z comiesięcznej darowizny, postępuj zgodnie z <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{language}}">poniższymi instrukcjami dotyczącymi jej anulowania</a>.
</p>
{% endif %}
