<p>
Bonjour {{name}},
</p>

<p>
L'année {{year + 1}} s'annonce bien remplie pour Wikipédia, mais c'est avec un plaisir non dissimulé que je la commence en prenant un instant pour vous remercier pour votre importante contribution à la plateforme du savoir libre.
</p>

<p>
Vos dons nous montrent que notre travail compte pour vous et que vous le soutenez. Du fond du coeur, merci.
</p>

<p>
Voici une fiche récapitulative des dons que vous avez effectués en {{year}}.
</p>

{% for total in totals %}
<p><b>
Le montant total de vos dons en {{year}} s'élève à {{total.amount}} {{total.currency}}.
</b></p>
{% endfor %}

{% for contribution in contributions %}
<p><b>
Don {{contribution.index}}: {{contribution.amount}} {{contribution.currency}} {{contribution.date}}
</b></p>
{% endfor %}

{% if active_recurring %}
<p>
Si vous souhaiter annuler votre don mensuel, suivez <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{language}}">easy ces instructions</a>.
</p>
{% endif %}
