<p>
Beste {{name}},
</p>

<p>
Ik ben blij dat deze e-mail aan u één van de eerste dingen op mijn takenlijst in {{year + 1}} is. Zeker, die takenlijst is lang - Wikipedia heeft zo veel geweldige projecten in het verschiet - maar u bedanken staat bovenaan de lijst.
</p>

<p>
Uw donaties tonen aan dat ons werk belangrijk is en het waard is om ondersteund te worden. Dank u wel.
</p>

<p>
Hier is een overzicht van alle donaties die u in {{year}} aan de Wikimedia Foundation heeft gedaan.
</p>

{% for total in totals %}
<p><b>
Uw totaal in {{year}} was {{total.amount}} {{total.currency}}.
</b></p>
{% endfor %}

{% for contribution in contributions %}
<p><b>
Donatie {{contribution.index}}: {{contribution.amount}} {{contribution.currency}} {{contribution.date}}
</b></p>
{% endfor %}

{% if active_recurring %}
<p>
Als u om welke reden dan ook uw maandelijkse donatie wilt annuleren, volg dan deze <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{language}}">eenvoudige annuleringsinstructies</a>.
</p>
{% endif %}

<p>Deze brief kan dienen als bewijs van uw donatie. Er werden geen gehele of gedeeltelijke goederen of diensten geboden voor deze bijdrage. Ons postadres is: Wikimedia Foundation, Inc., P.O. Box 98204, Washington, DC 20090-8204, USA. Nummer voor vrijstelling van belasting in de Verenigde Staten: 20-0049703.
</p>