<p>
Kære {{name}},
</p>

<p>
Jeg er meget glad for, at denne e-mail til dig er en af de første ting på min huskeliste i {{year + 1}}. Den huskeliste er temmelig lang – Wikipedia har så mange fantastiske projekter undervejs – men at sige tak til dig har meget høj prioritet.
</p>

<p>
Dine donationer viser os, at vores arbejde betyder noget, og at det er værd at støtte. Tak.
</p>

<p>
Her er en oversigt over alle de donationer, du har givet til Wikimedia Foundation i {{year}}.
</p>

{% for total in totals %}
<p><b>
Dit samlede beløb for {{year}} var {{total.amount}} {{total.currency}}.
</b></p>
{% endfor %}

{% for contribution in contributions %}
<p><b>
Donation {{contribution.index}}: {{contribution.amount}} {{contribution.currency}} {{contribution.date}}
</b></p>
{% endfor %}

{% if active_recurring %}
<p>
Hvis du af den ene eller anden grund vil annullere din månedlige donation, skal du følge disse <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{language}}">enkle instruktioner for annullering</a>.
</p>
{% endif %}
