<p>
Привіт, {{name}}!
</p>

<p>
Мені приємно, що цей електронний лист вам є однією з перших речей у моєму списку справ у {{year + 1}} році. Зрозуміло, що цей список справ довгий, адже у Вікіпедії є багато дивовижних проєктів, проте подяка вам — це найголовніше завдання.
</p>

<p>
За допомогою ваших важко зароблених грошей ми оплачуємо рахунки, запускаємо сервери та набираємо найрозумніших людей у світі для того, щоб Вікіпедія завжди була стабільним джерелом для навчання. Ваші пожертви свідчать про те, що наша робота має велике значення і що її варто підтримувати. Дякуємо вам!
</p>

<p>
Ось підсумок всіх пожертв, які ви зробили у фонд Wikimedia Foundation {{year}} року.
</p>

{% for total in totals %}
<p>
Усього у {{year}} році було пожертвувано {{total.amount}} {{total.currency}}.
</p>
{% endfor %}

{% for contribution in contributions %}
<p>
Пожертва № {{contribution.index}}: {{contribution.amount}} {{contribution.currency}} {{contribution.date}}
</p>
{% endfor %}

{% if active_recurring %}
<p>
Якщо з будь-якої причини ви хочете скасувати щомісячні пожертвування, дотримуйтесь цих <a href="https://donate.wikimedia.org/wiki/Special:LandingCheck?landing_page=Cancel_or_change_recurring_giving&basic=true&language={{language}}">простих інструкцій щодо скасування</a>.
</p>
{% endif %}
